.topbar {
    font-family: 'Open Sans';
    }
    
.topbar > #topbar_responsive_holder .right .notify .notify-window {
    position: absolute;
    top: 104%;
    right: auto;
    bottom: auto;
    left: -84px;
    z-index: 10;
    margin-left: 4px;
    width: 360px;
    /* opacity: 0; */
    /* height: 0; */
    overflow: hidden;
    padding: 0 5px 5px;
}

.no_notifications_container{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Avenir;
    font-size: 2.2em;
    color: #575757;
    letter-spacing: -1.8px;
    width: 181px;
    height: 184px;
    text-align: center;
    margin-top: 50px;
    background-repeat: no-repeat;
    font-weight: 900;
    margin-left: 85px;
    background-image: url(../../../assets/post_it_notices.png);
}

.noti_header_hint{
    border-bottom: 1px solid #DBDBDB;

    display: block;
    font-family: Avenir;
    font-size: 13px;
    text-align: left;
    height: 41px;
    font-weight: 100;
    color: #999;
    padding-right: 52px;
    padding-top: 9px;
    width: 306px;
    line-height: 40px;
}

.topbar > #topbar_responsive_holder .right .notify .notify-window .wedge {
    position: absolute;
    top: 0;
    right: 165px;
    bottom: auto;
    left: auto;
    z-index: auto;
    height: 12px;
    width: 14px;
    background-image: url(../../../assets/noti_sprite.png);
    background-position: 23px 34px;
    z-index: 2;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window {
    margin-top: 8px;
    background-color: #fff;
    border-radius: 3px;   
    border: 1px solid #d6d6d6; -webkit-box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.13); -moz-box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.13); box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.13);
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window * {
    /* opacity: 0; */
    -moz-transform: scale(.99);
    -ms-transform: scale(.99);
    -o-transform: scale(.99);
    /* transform: scale(.99); */
    -webkit-transition: opacity .1s, transform .2s;
    -moz-transition: opacity .1s, transform .2s;
    -o-transition: opacity .1s, transform .2s;
    -ms-transition: opacity .1s, transform .2s;
    transition: opacity .1s, transform .2s;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .header {
    text-align: center;
    padding: 18px 14px 15px;
    font-family: 'Avenir';
    font-weight:  500;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    font-size: 14.8px;
    color: #575757;
    text-transform: capitalize;
    font-family: Avenir;
    text-transform: uppercase;
    float: left;
    margin-left: 43px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable {
    overflow: auto;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    height: auto !important;
    max-height: 300px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li {
    border-bottom: 1px solid #e6e5e6;
    background-color: #fff;
    position: relative;
    padding-bottom: 5px;
    overflow: auto;
    overflow-x: hidden;
    min-height: 62px;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    transition: background-color .3s;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li:last-child {
    border-: none;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li>.icon {
    float: left;
    width: 40px;
    margin: 8px 8px 0 8px;
    height: 40px;
    background-image: url(../../../assets/noti_sprite.png);
    border-radius: 1000px;
    background-size: cover;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li>.icon.text {
    background-position: 35px 0;
    color: #fff;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li>.icon.text div {
    font-size: 65%;
    text-align: center;
    margin-top: 11px;
    text-transform: uppercase;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li>.icon.date {
    background-position: 0 0;
    color: #fff;
    background: #777;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li>.icon.date div {
    text-align: center;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li>.icon.date div.month {
    font-size: 10px;
    line-height: 11px;
    font-family: Avenir;
    margin-top: 5px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li>.icon.date div.day {
    font-size: 14px;
    line-height: 17px;
    font-family: Avenir;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .message {
    font-size: 12.25px;
    margin-top: 8px;
    font-weight:  400;
    color: #575757;
    margin-left: 54px;
    display: block;
    width: 229px;
    white-space: pre-line;
    letter-spacing: .2px;
    word-break: initial;
    word-wrap: normal;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .time {
    /* clear: left; */
    margin-left: 50px;
    color: #999;
    font-family: Avenir;
    font-size: 13px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .time .icon {
    height: 12px;
    float: left;
    background-image: url(../../../assets/noti_sprite.png);
    margin: 1px 3px;
    display: none;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .time .stamp {
    margin-top: 4px;
    font-size: 11.5px;
    font-weight: 400;
    font-family: Avenir;
    margin-bottom: 0px;
    margin-left: 6px;
    color: #999;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right {
    text-align: right;
    float: right;
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 0px;
    width: 70px;
    bottom: 0px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right * {
    font-size: 85%}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right .follow {
    font-size: 75%;
    font-weight: 500;
    padding: 3px 5px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right .follow.btn {
    border-radius: 4px;
    border: 1px solid #eee; border-bottom-color: #E4E4E4; background-color: #fcfcfc; background-image: -webkit-linear-gradient(#fafafa, #f8f8f8); background-image: linear-gradient(#fafafa, #f8f8f8); color: #575757!important;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right .follow.btn:hover {
border-color: #E4E4E4;
-moz-box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);
-webkit-box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);
box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 border-bottom-color:#DDD;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right .follow.btn:active {

-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(12, 232, 152, 0.5);
-moz-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(12, 232, 152, 0.5);
background: #EEE;
box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(12, 232, 152, 0.5);

}

.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right .follow.msg {
    color: #000;
    font-weight: 600;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right .dismiss, .topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .close {
    margin-top: 2px;
    color: #222;
    opacity: .5;
    visibility: hidden;
    float: right;
    clear: both;
    cursor: pointer;
    font-size: 10px;
}

.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .close > span{
    color: #868383;

    font-family: Avenir;
    font-weight: 200;
    top: -2px;
    font-size: 11.5px;
    position: relative;
    margin-left: 11px;
}

.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .content .right .dismiss:hover, .topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .close:hover {
    opacity: 1;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li .close {
    height: 8px;
    width:  8px;
    background-image: url(../../../assets/noti_sprite.png);
    background-position: 0px -174px;
    background-size:  auto;
    position: absolute;
    left: 11px;
    top: 52px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li:not(.done):hover {
    background-color: rgba(245, 245, 245, 0.43);
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li:not(.done):hover .right .dismiss, .topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li:not(.done):hover .close {
    visibility: visible;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li.eve .time .icon {
    width: 24px;
    background-position: -20px -70px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li.tdo .time .icon {
    width: 12px;
    height: 10px;
    background-position: -8px -70px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li.qus .time .icon {
    width: 12px;
    height: 15px;
    background-position: 0 -81px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li.inf .time .icon {
    width: 11px;
    height: 13px;
    background-position: -12px -82px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li.per .time .icon {
    width: 11px;
    background-position: -23px -82px;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .noti-scrollable .entries li.done {
    opacity: .75;
    background-color: #f5f5f5;
    border-top-color: #e6e5e6;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .footer {
    text-align: center;
    padding: 14px;
    font-family: 'Avenir';
    border-top: 1px solid #d4d4d4;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .footer:hover {
    text-decoration: underline;
}
.topbar > #topbar_responsive_holder .right .notify .notify-window .window .footer img {
    margin-bottom: -3px;
}
.topbar > #topbar_responsive_holder .right .notify.board .notify-window {
    left:  -186px;
}
.topbar > #topbar_responsive_holder .right .notify.board .notify-window .wedge {
    right: 44px;
}
.topbar > #topbar_responsive_holder .right .notify.board .notify-window .window .noti-scrollable {
    bottom: 0;
}
.topbar > #topbar_responsive_holder .right .notify.active .notify-window {
    opacity: 1;
    height: auto;
    width: 380px;
}
.topbar > #topbar_responsive_holder .right .notify.active .notify-window .window * {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


.accept_invite_button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(22, 206, 122, 1);
    width: 72px;
    color: #FFF;
    font-size: 11.5px;
    font-weight: 600;
    line-height: 25px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
    z-index: 1000;
    text-align: center;
}


.notification {
    overflow-y: hidden !important;
}


.notification_link * {
    cursor: pointer;
}

.notification_link .message {
    cursor: pointer;
}

.notification_link div.stamp  {
    cursor: pointer;
}

.notification_link .time {
    cursor: pointer;
}


.notification_follow_button {
    float: right;
    right: 0px;
    width: 72px;
    position: absolute;
    margin: 0;
    color: #FFF;
    font-size: 11.5px!important;
    top: 0px;
    text-align: center;
    line-height: 42px;
    bottom: 0px;
    font-weight: 600!important;
    background: rgba(226, 52, 79, 1);
    text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
}

.notification_follow_button:hover{
    background: rgba(253, 63, 92, 1);

}

.notification_follow_button:active{
    
}

.notification_follow_button.following{
cursor: default;!important;
background: rgba(226, 52, 79, .5);
}

.notification_follow_button.following:hover{
background: rgba(226, 52, 79, .5);
}

.notification_follow_button.following:active{
background: rgba(226, 52, 79, .5);  
}

span.actor_name{
    font-weight: 600;

    font-size: 12.25px;
    color: #222;
}

div.message.member{
    
}

li.notification span.join_group_icon{
    background-image: url(../../../assets/noti_action_icons.png); 
    background-position: 4px -66px; width: 58px; 
    height: 38px; display: block; position: relative; left: 8px; 
    top: 8px; background-repeat: no-repeat;
    cursor: pointer;
    
}

li.notification div.suggestion_btn_wrapper a.group_join_button, li.notification div.suggestion_btn_wrapper a.suggested_user_follow_button{
    background: none;

    color: #FFF!important;
    text-align: center;
    border: none;
    display: block;
    font-size: 11.5px!important;
    margin-top: -1px;
    line-height: 34px;
    box-shadow: none!important;
}

li.notification div.suggestion_btn_wrapper a.group_join_button{

}

li.notification div.suggestion_btn_wrapper a.group_join_button:hover{

}

li.notification div.suggestion_btn_wrapper a.group_join_button:active{

}

li.notification div.suggestion_btn_wrapper .follow_icon{
    background-image: url(../../../assets/noti_action_icons.png);

    background-position: 4px 0px;
    width: 58px;
    height: 28px;
    display: block;
    position: relative;
    left: 13px;
    top: 15px;
    cursor: pointer;
}

li.notification div.suggestion_btn_wrapper .follow_icon.following{
    background-position: -59px 0px;
    width: 39px;
    cursor: default!important;
}

li.notification div.suggestion_btn_wrapper a.suggested_user_follow_button:hover{

}

li.notification div.suggestion_btn_wrapper a.suggested_user_follow_button:active{

}

li.notification span.added_to_cal_icon{
    background-image: url(../../../assets/noti_action_icons.png); 
    background-position: -57px -36px; 
    width: 56px; 
    height: 30px; position: relative; display: block;
    left: 14px; 
    top: 14px; cursor: pointer;

    background-repeat: no-repeat;
}

li.notification div.add_to_calendar_button span.add_to_cal_icon{
    background-image: url(../../../assets/noti_action_icons.png);   
    background-position: 4px -36px;   width: 58px;   height: 28px;   display: block;   
    background-repeat: no-repeat;
    position: relative;   left: 13px;   top: 15px;   cursor: pointer;

    margin-bottom: 13px;
}

li.notification div.add_to_calendar_button{
    height: 100%;

    width: 72px;
    margin-left: -2px;
    color: #FFF;
    text-align: center;
    background: #029acf;
}

li.notification div.add_to_calendar_button:hover{

}

li.notification div.add_to_calendar_button:active{

}

div.message.event_added{
    position: absolute;

    right: 0px;
    top: 0px;
    margin: 0!important;
    bottom: 0px;
    background: rgba(2, 154, 207, 0.5);
    text-align: center;
    width: 72px!important;
    line-height: 36px;
    color: #FFF!important;
    font-family: 'Open Sans', sans-serif; 
    font-size: 11.5px!important; 
    font-weight: 600!important;
}

div.message.full{
    width: 300px!important;

}

span.actor_name > a{
    font-size: 12.5px;

    font-weight: 600;
    color: #222;
}