@import "../../calendar/less/import/prefixer";
@import "../../calendar/less/import/common";

.topbar {
    font-family: 'Open Sans';

    > .right {
        .notify {
            @sprite-image: url(../../../assets/noti_sprite.png);

            .notify-window {
                .absolute(75%,auto,auto,-185px,10);
                width: 0;
                opacity: 0;
                height: 0;
                overflow: hidden;
                padding: 0 5px 5px;

                .wedge {
                    .absolute(0,165px);
                    height: 12px;
                    width: 14px;
                    background-image: @sprite-image;
                    background-position: 23px 34px;
                    z-index: 2;
                }

                .window {
                    margin-top: 8px;
                    background-color: white;
                    border-radius: 5px;
                    box-shadow: 0 0 10px -1px #999;

                    & * {
                        opacity: 0;
                        .transform(scale(.99));
                        @trans: opacity .1s, transform .2s;
                        .transition(@trans);
                    }

                    .header {
                        text-align: center;
                        padding: 14px;
                        border-bottom: 2px solid @border-color;
                        font-family: 'san_francisco';
                    }

                    .noti-scrollable {
                        overflow: auto;

                        .entries {
                            .absolute(0,0,0,0);
                            height: auto !important;
                            max-height: 300px;

                            li {
                                border-top: 1px solid @border-color;
                                background-color: #FFF;
                                position: relative;
                                overflow: auto;
                                .transition(background-color .3s);

                                &:first-child {
                                    border-top: none;
                                }

                                > .icon {
                                    float: left;
                                    width: 34px;
                                    margin: 11px 8px 0 12px;
                                    height: 34px;
                                    background-image: @sprite-image;
                                    background-position: 35px -35px;
                                    border-radius: 5px;

                                    &.text {
                                        background-position: 35px 0;
                                        color: #FFF;

                                        div {
                                            font-size: 65%;
                                            text-align: center;
                                            margin-top: 11px;
                                            text-transform: uppercase;
                                        }
                                    }

                                    &.date {
                                        background-position: 0 0;
                                        color: #FFF;

                                        div {
                                            text-align: center;

                                            &.month {
                                                font-size: 10px;
                                                line-height: 11px;
                                                margin-top: 3px;
                                            }

                                            &.day {
                                                font-size: 16px;
                                                line-height: 17px;
                                            }
                                        }
                                    }
                                }

                                .content {
                                    .message {
                                        font-size: 85%;
                                        margin-top: 12px;
                                    }

                                    .time {
                                        clear: left;
                                        margin-left: 50px;

                                        .icon {
                                            height: 12px;
                                            float: left;
                                            background-image: url(../../../assets/noti_sprite.png);
                                            margin: 1px 3px;
                                        }

                                        .stamp {
                                            font-family: 'Roboto';
                                            margin-top: 4px;
                                            font-size: 75%;
                                            color: #888;
                                            margin-bottom: 12px;
                                        }
                                    }

                                    .right {
                                        & * {
                                            font-size: 85%;
                                        }

                                        .follow {
                                            font-size: 75%;
                                            font-weight: 500;
                                            padding: 3px 5px;

                                            &.btn {
                                                color: #333;
                                                border: 1px solid #DDD;
                                                border-color: #e5e5e5 #ccc #ccc;
                                                .gradient(#EEE,#FFF,#EEE);
                                                border-radius: 4px;
                                                box-shadow: 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);

                                                &:hover {
                                                    color: #000;
                                                    box-shadow: 0 1px 3px rgba(0, 0, 0, .15), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(248, 248, 248, 1), inset 0 -1px 0 rgba(248, 248, 248, .5), inset 1px 0 0 rgba(248, 248, 248, 1);
                                                }
                                            }

                                            &.msg {
                                                color: #000;
                                                font-weight: 600;
                                            }
                                        }

                                        .dismiss, .close {
                                            margin-top: 2px;
                                            color: #222;
                                            opacity: 0.65;
                                            visibility: hidden;
                                            float: right;
                                            clear: both;
                                            font-size: @ideal-grid-font-size;

                                            &:hover {
                                                opacity: 1;
                                            }
                                        }

                                        .close {
                                            height: 10px;
                                            width: 8px;
                                            background-image: @sprite-image;
                                            background-position: 0 -70px;
                                        }

                                        text-align: right;
                                        float: right;
                                        margin: 0 12px 0 5px;
                                        overflow: auto;
                                        position: relative;
                                        z-index: 10;
                                    }
                                }

                                &:not(.done):hover {
                                    background-color: #F5F5F5;

                                    .right {
                                        .dismiss, .close {
                                            visibility: visible;
                                        }
                                    }
                                }

                                &.eve {
                                    .time .icon {
                                        width: 24px;
                                        background-position: -20px -70px;
                                    }
                                }

                                &.tdo {
                                    .time .icon {
                                        width: 12px;
                                        height: 10px;
                                        background-position: -8px -70px;
                                    }
                                }

                                &.qus {
                                    .time .icon {
                                        width: 12px;
                                        height: 15px;
                                        background-position: 0px -81px;
                                    }
                                }

                                &.inf {
                                    .time .icon {
                                        width: 11px;
                                        height: 13px;
                                        background-position: -12px -82px;
                                    }
                                }

                                &.per {
                                    .time .icon {
                                        width: 11px;
                                        background-position: -23px -82px;
                                    }
                                }

                                &.done {
                                    opacity: .75;
                                    background-color: #EEE;
                                    border-top-color: #BBB;
                                }
                            }
                        }
                    }

                    .footer {
                        text-align: center;
                        padding: 14px;
                        font-family: 'Avenir';
                        border-top: 1px solid @border-color;

                        &:hover {
                            text-decoration: underline;
                        }

                        img {
                            margin-bottom: -3px;
                        }
                    }
                }
            }

            &.board {

                .notify-window {
                    left: -232px;

                    .wedge {
                        right: 117px;
                    }

                    .window {
                        .noti-scrollable {
                            bottom: 0;
                        }
                    }
                }
            }

            &.active {
                .notify-window {
                    opacity: 1;
                    height: auto;
                    width: 380px;
                    
                    .window * {
                        opacity: 1;
                        .transform(scale(1));
                    }
                }
            }
        }
    }
}
