.topbar * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    cursor: default;
}

.topbar {
    height: 48px;
    position: fixed!important;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #222;
    z-index: 99999999999;
    min-width: 820px;
    background-color: #27292b;
    box-shadow: 0px 0 3px rgba(0,0,0,0.5);
}

#topbar_responsive_holder{
    max-width: 1145px;
    margin: 0px auto; 
    padding-right: 220px;
    height: 48px;
    position: relative;
}

    .topbar > #topbar_responsive_holder > .left {
        overflow: visible;
        margin-left: 23px;
        height: 48px;
        margin-right: 0px;
    
        display: inline-block;
        margin-right: 15px;
}

        .topbar > #topbar_responsive_holder > .left a {
            height: 48px;
        }

            .topbar > #topbar_responsive_holder > .left a:hover {
            }

            .topbar > #topbar_responsive_holder > .left a.urlinq {
                width: 64px;
                display: block;
                background-image: url(../../../assets/logo.png);
                background-size: auto 20px;
                background-repeat: no-repeat;
                background-position: center 16px;
            
                position: relative;
                cursor: pointer;
}

            .topbar > #topbar_responsive_holder > .left a.urlinq:hover {
                width: 64px;
                display: block;
                background-image: url(../../../assets/logo.png);
                background-size: auto 20px;
                background-repeat: no-repeat;
                background-position: center 16px;
            
                cursor: pointer;
}

            .topbar > #topbar_responsive_holder > .left a.menu {
                background-image: url(../../../assets/menu-toggle.png);
                margin: 13px 0;
                border-radius: 4px;
                margin-left: 10px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 24px;
                width: 24px;
                height: 24px;
                display: none;
                opacity: 0.6;
            }

                .topbar > #topbar_responsive_holder > .left a.menu:hover {
                    opacity: 1;
                }

    .topbar:hover > #topbar_responsive_holder > .left a.menu.active {
        cursor: pointer;
    }

    .topbar:hover > .left a.menu {
        background-position: center center;
    }

    .topbar .center {
        width: 550px;
        margin: auto;
    
        display: inline-block;
        height: 46px;
        float: center;
        margin-top: 0px;
        position: relative;
}

        .topbar .center form {
            background-color: white;
            position: relative;
            margin-top: 0px;
            padding: 6px 10px 4px;
            width: 100%;
            border-radius: 4px;
            position: absolute;
            cursor: text;
            top: 9px;
            overflow: hidden;
        
            /* border: 1px solid #000; */
            max-width: 510px;
            -webkit-box-shadow: inset 0 0 0 1px #FFFFFF, inset 0 1px 0 0 #FFFFFF, 0 -1px 0 0 #2A2A2A;
}

            .topbar .center form .text {
                width: 100%;
                float: left;
                margin-right: -25px;
                padding-right: 25px;
                font-size: 14.5px;

                border: none;
                font-weight: 500;
                cursor: text;
                line-height: 18px;
            
                font-family: 'Open Sans', sans-serif;
}

            .topbar #topbar_responsive_holder .center form .submit {
                width: 40px;
                position: absolute;
                height: 31px;
                top: 0px;
                right: 0;
                border: none;
                background-image: url(../../../assets/smallSearchIco.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center center;
            
                background-color: #f5f5f5;
                border-left: 1px solid #EFEFEF;
                -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

    .topbar > #topbar_responsive_holder > .right {
        float: right;
/*         width: 270px; */
        height: 48px;
        margin-right:50px!important;
        display: inline-block;
}

        .topbar > #topbar_responsive_holder > .right .notify {
            float: left;
            position: relative;
            height: 22px;
            border-right: 1px solid rgba(255, 255, 255, 0.87);
            margin-top: 14px;
            padding-right: 8px;
            border-radius: 0px;
            padding-left: 8px;
}

.topbar > #topbar_responsive_holder > .right .notify.calendar{
    padding-left:5px;
    border-radius:2px 0px 0px 2px;
}

.topbar > #topbar_responsive_holder > .right .notify.board{
    border-right:none;
    border-radius:0px 2px 2px 0px;
    padding-left: 0px;
}

.topbar > #topbar_responsive_holder > .right , .topbar > #topbar_responsive_holder > .center{

}

.notify.board > .button{
border-radius:0px 3px 3px 0px;
}

.notify.calendar > .button{
    border-radius:3px 0px 0px 3px;
}


        .topbar > #topbar_responsive_holder > .right .notify:hover > .button,.topbar > #topbar_responsive_holder > .right .notify.active > .button {
            background: rgba(18, 19, 20, 0.333); 
            -moz-transition: all .12s ease;
            -webkit-transition: all .12s ease;
            transition: all .12s ease;
        }

            .topbar > #topbar_responsive_holder > .right .notify .button {
                height: 80%;
                width: 100%;
                margin-left: 1px;
}

            .topbar > #topbar_responsive_holder > .right .notify.calendar .button,.topbar > #topbar_responsive_holder > .right .notify.board .button {
                padding-top: 4px;
                padding-left: 5px;
                padding-right: 1px;
                padding-bottom: 1px;
                height: 27px;
                font-family: Avenir;
                position: relative;
                top: -5px;
}

                .topbar > #topbar_responsive_holder > .right .notify.calendar .button div,.topbar > #topbar_responsive_holder > .right .notify.board .button div {
                    text-align: center;
                    color: rgba(255, 255, 255, 0.95);
                    display: inline-block;
                    bottom: 10px;
                    position: relative;
                    text-shadow: 0 -1px rgba(0, 0, 0, 1);
                    top: -5px;
}

.topbar > #topbar_responsive_holder > .right .notify.board .button div{
    top: -10px;
}

            .topbar > #topbar_responsive_holder > .right .notify.calendar:hover .button div, .topbar > #topbar_responsive_holder > .right .notify.calendar.active .button div {
                color: #fff;
            }

            .topbar > #topbar_responsive_holder > .right .notify.board {
                border-left: none;
            }

                .topbar > #topbar_responsive_holder > .right .notify.board .button .icon,.topbar > #topbar_responsive_holder > .right .notify.calendar .button .icon {
                    background-image: url(../../../assets/TopBarMenuIcons.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                    width: 23px;
                    margin: auto;
                    display: inline-block;
                    height: 28px;
                
                    top: -1px;
                    position: relative;
}

                .topbar > #topbar_responsive_holder > .right .notify.calendar .button .icon {
                    background-repeat: no-repeat;
                    background-position: -25px 0px;
                    width: 25px;
                    margin: auto;
                    display: inline-block;
                    height: 23px;
                    position: relative;
                    top: 0px;
                    }

                .topbar > #topbar_responsive_holder > .right .notify.board:hover .button .icon, .topbar > #topbar_responsive_holder > .right .notify.board.active .button .icon {
                }

    .topbar #topbar_responsive_holder .center ul.prelist, .topbar .center ul.postlist {
        display: none; 
    }

    .topbar #topbar_responsive_holder .center ul {
        background-color: #FFF;
        position: absolute;
        top: 39px;
        width: 528px;
        border-radius: 4px;
        padding: 4px 0px 4px;
        border-top: none;
        border: 1px solid #ccc;
        border-color: rgba(0, 0, 0, .15);
        -webkit-border-radius: 4px;
        -webkit-box-shadow: 0 1px 8px 0px rgba(0, 0, 0, .10);
    }

        .topbar #topbar_responsive_holder .center ul li a {
            display: block;
            overflow: auto;
            padding: 5px 8px;
            border-left: 2px solid transparent;
            cursor: pointer;
            color: #333;
        }

            .topbar #topbar_responsive_holder .center ul li a:hover {
                background-color: #f1f1f1;
            }

            .topbar #topbar_responsive_holder .center ul li a .icon {
                background-image: url(../img/search-icons.png);
                background-size: 100%;
                float: left;
                width: 40px;
                height: 40px;
                clear: both;
                margin-right: 10px;
            }

                .topbar #topbar_responsive_holder .center ul li a .icon.src, .topbar .center ul li a .icon.pro {
                    background-position-y: 100%;
                }

                .topbar #topbar_responsive_holder .center ul li a .icon.sch {
                    background-position-y: 38.3%;
                }

                .topbar #topbar_responsive_holder .center ul li a .icon.prof {
                    background-position-y: 64.2%;
                }

                .topbar #topbar_responsive_holder .center ul li a .icon.dpt {
                    background-position-y: 13%;
                }

                .topbar #topbar_responsive_holder .center ul li a .icon.cls {
                    background-position-y: 0%;
                }

                .topbar #topbar_responsive_holder .center ul li a .icon.crs {
                    background-position-y: 77.2%;
                }

                .topbar #topbar_responsive_holder .center ul li a .icon.srch {
                    background-position-y: 77.2%;
                }


                .topbar #topbar_responsive_holder .center ul li a .icon.clb {
                    background-position-y: 25.3%;
                }

            .topbar #topbar_responsive_holder .center ul li a span {
                display: table-cell;
                height: 40px;
                vertical-align: middle;
            }

                .topbar #topbar_responsive_holder .center ul li a span b {
                    color: #000;
                    font-weight: 400;
                }

        .topbar #topbar_responsive_holder .center ul.postlist li:last-child a {
            border-top: 1px solid #DDD;
            text-align: center;
            padding: 9px;
        }

            .topbar #topbar_responsive_holder .center ul.postlist li:last-child a:hover {
                background-color: #DDD;
            }

    .topbar #topbar_responsive_holder div.day {
        font-size: 10px;
        line-height: 12px;
        font-family: 'san_francisco';
    }

    .topbar div.date {
        font-size: 16px;
        line-height: 14px;
        font-family: 'san_francisco';
    }

.mainsearch::-webkit-input-placeholder {
    color: #999;
    font-weight: 500;
}

.mainsearch::-moz-placeholder {
    color: #474747;
    font-weight: 500;
}
/* firefox 19+ */
.mainsearch:-ms-input-placeholder {
    color: #474747;
    font-weight: 500;
}
/* ie */
.mainsearch:-moz-placeholder {
    color: #474747;
    font-weight: 500;
}

.mainsearch:focus::-webkit-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

.mainsearch:focus::-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* firefox 19+ */
.mainsearch:focus:-ms-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* ie */
.mainsearch:focus:-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

body .topbar > div.calendar_link{
    position: absolute;

    right: 5px;
    top: 5px;
    height: 39px;
    width: 44px;
    /* background-color: black; */
}
body .topbar > div.calendar_link > a{
    cursor: pointer;
    /* position: relative; */
    display: block;
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
    border-radius: 2.5px;
    top: 0;
}

body .topbar > div.calendar_link > a > div.calendar_icon{
    background-image: url(../../../assets/quick_calendar_icon.png);
    
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 8px;
    background-size: cover;
    left: -6px;
    position: relative;
}

body .topbar > div.calendar_link > a > div.quick_cal_arrow{
background-image: url(../../../assets/quick_cal_arrow.png);
background-size:auto;
width: 6px;
height: 9px;
right: 5px;
display:inline-block;
line-height: 1;
background-repeat: no-repeat;
position: absolute;
top: 16px;
transition: left 190ms ease-out;
}

    body .topbar > div.calendar_link > a:hover > div.calendar_icon{
    cursor: pointer;
    
    }
        body .topbar > div.calendar_link > a:active > div.calendar_icon{
    cursor: pointer;
    
    }


body#body_calendar .topbar > div.calendar_link{
    display:none;
    }

@media(max-width:1348px){
#topbar_responsive_holder{
    padding-right:196px;
}
}

@media(max-width:1330px){
#topbar_responsive_holder{
    padding-right:186px;
}
}

@media(max-width:1315px){
#topbar_responsive_holder{
    padding-right:150px;
}
}

@media(max-width:1310px){
.topbar > #topbar_responsive_holder > div.right{
    margin-right:27px!important;
}
}

@media(max-width:1248px){
.topbar > #topbar_responsive_holder > .left a{
    margin-left:2px!important;
}
}

@media(max-width:1175px){
div.icon_text{
    display:none!important;
}
.topbar>.right .notify .notify-window{
    left:-180px!important;
}
.topbar > #topbar_responsive_holder > .right{
    width:130px!important;
}
}
