div#panel_header{
    border-bottom: 1px solid #d9d9d9;  margin-left: 0px;  
    -moz-box-shadow: 0px -1px 0px rgba(255, 255, 255, 1) inset; 
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 1) inset; 

    color: #777;
    font-size: 18px; font-family: Avenir; font-weight: 500; 
    color: #575757; -webkit-font-smoothing: antialiased;
    padding-top: 21px;
    padding-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 0 -1px rgba(255, 255, 255, 1);
}

span.right_panel_assets{
    background-image: url(../../../assets/right_panel_assets.png);
    background-size: auto;  
    position: relative;
    background-repeat: no-repeat;
}

span.activity_icon.right_panel_assets{
    width: 9px;
    height: 20px;  
    display: inline-block;
    top: 3px; 
}