div#panel_header{
    border-bottom: 1px solid #D8D8D8;  margin-left: 0px;    

    font-size: 18px; font-family: Avenir; font-weight: 500;  
    padding-top: 22px;
    padding-bottom: 5px;
    text-align: right;
    margin-left: 0px;
    padding-left: 10px;
    margin-right: 27px;
    text-shadow: 0 -1px rgba(255, 255, 255, 1);
    font-family: Avenir; font-weight: 500; font-size: 14.5px; color: #444; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
}

span.right_panel_assets{
    background-image: url(../../../assets/right_panel_assets.png);
    background-size: auto;  
    position: relative;
    background-repeat: no-repeat;
}

span.activity_icon.right_panel_assets{
    width: 9px;
    height: 14.56px;  
    margin-right: -16px;
    display: inline-block;
    float: right; 
    margin-top: 0px;
    background: #fd702d; 
    background-image: -webkit-linear-gradient(#fd702d,#ff8d56); 
    background-image: -moz-linear-gradient(#fd702d,#ff8d56); 
    background-image: -o-linear-gradient(#fd702d,#ff8d56); 
    background-image: linear-gradient(#fd702d,#ff8d56);
}