
.mid_right_sec{
	width: 1010px;
float: left;
top: 47px;

	position: relative;
	padding-left: 318px;
	margin: 0 auto;
}

.group-head-sec{
	position: relative;
height: 240px;
margin-left: 1px;
width: 100%;

	background-color: rgba(255, 255, 255, 1);

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);

	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);

	border-radius: 0px;
	/* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); */ 
	/* box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.14), 1px 1px 1px rgba(0, 0, 0, 0.14); */
	border: 1px solid rgba(0, 0, 0, .25); border-width: 0 1px 1px 1px;
}

.group-head-sec .group-pic-frame{
	display: block;
position: absolute;
background-color: #F8F8F8;
z-index: 50;

	width: 200px;

	border-radius: 9px;

	height: 200px;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,.5);
box-shadow: 0 1px 5px rgba(0,0,0,.5);
cursor: pointer;

	margin-top: 21px;

	margin-left: 21px;
}

.group-head-sec .group-pic-frame .group-pic{
	background: no-repeat url(src/biology.png);
display: inline-block;

	width: 190px;
float: left;
position: relative;
border: 1px solid #eee;

	height: 190px;
margin-top: 4px;
border-radius: 2px;
margin-left: 5px;

	border-radius: 9px;
border-left: none;
background-size: cover;
}

.group-head-sec .group-head-footer{
	position: absolute;
bottom: 0px;
width:100%;

	border-top: 1px solid #e9eaed;
}

.group-head-sec .group-head-footer .group-header-tab{
	margin-bottom:-1px;
	display: inline-block;
	display: inherit;
	position:relative;
	float: left;
}

.group-head-sec .group-head-footer .group-header-tab ul.group-nav{
	margin:0;
	list-style:none;
	padding:0;	
	/* box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.09); */
	padding-left: 243px;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab{
	cursor:pointer;
	display:inline-block;
	float: left;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor{
	height: 27px;
	border-bottom:0px solid;
	display: block;
	transition: all .15s ease-in-out;
	text-align: center;
	padding: 7px 20px;
	padding-top: 14px;
	border-left: 1px solid #e9eaed;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title{
	font-size: 15px;
	font-weight:200;
	text-transform: uppercase;
	color:#333;
	float: left;
	display: inline-block;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab-icon{
display: inline-block;
background-repeat: no-repeat;
background-size: cover;
transition: all .15s ease-in-out;
width: 14px;
height: 14px;
position: relative;
top: 1.3px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab1-icon-active{
	background-image:url(src/feed_icon_active.png);
	width: 13px;
height: 13px;

	left: 0px;
	bottom: 2px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title span.tab1-icon-active{
	}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title span.tab1-icon-inactive{
	background-image:url(src/feed_icon_active.png);
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab1-icon-inactive{
	background-image:url(src/feed_icon_inactive.png);
	width: 13px;
height: 13px;
left: 1px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab2-icon-active{
	background-image:url(src/members_icon_active.png);
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title span.tab2-icon-active{
	background-image:url(src/members_icon_inactive.png);
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title span.tab2-icon-inactive{
	background-image:url(src/members_icon_active.png);
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab2-icon-inactive{
	background-image:url(src/members_icon_inactive.png);
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab3-icon-active{
	background-image:url(src/files_icon_active.png);
	width: 12px;
height: 13px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover> div.tab-title span.tab3-icon-active{
	background-image:url(src/files_icon_inactive.png);
	width: 12px;
height: 13px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab3-icon-inactive{
	background-image:url(src/files_icon_inactive.png);
	width: 12px;
	height: 13px;
	top: 1px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover> div.tab-title span.tab3-icon-inactive{
	background-image:url(src/files_icon_active.png);
	width: 12px;
	height: 13px;
	top: 1px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.status{

	float: right;
	
	position: relative;

	display: inline-block;
	

	margin-top: -2px;
	

	margin-left: 1.6px;

}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.status span.badge{
	font-size: 13.7px;

	font-weight: 600;
line-height: 14px;

	color: #333;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
white-space: nowrap;
vertical-align: baseline;

border-radius: 10px;
}

div.tab-wedge-down{
background-image: url('src/tab-wedge-down.png');
display: block;
background-repeat: no-repeat;
background-size: cover;
width: 21px;
height: 15px;
position: absolute;
bottom: -5px;
z-index: 5000;
left: 321px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover{
background-color:#f6f7f8;
transition: background-color .15s ease-in-out;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-inactive{
	opacity:.7;
	transition: opacity .15s ease-in-out;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-inactive:hover{
	opacity:.85;
	transition: opacity .15s ease-in-out;
}


.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title,.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.status span.badge{
color: #029acf;
transition: color .15s ease-in-out;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active:hover{
	background-color:white;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active div.tab-title{
transition: color .15s ease-in-out;
color: #029acf;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active div.status span.badge{
transition: color .15s ease-in-out;
color:#029acf;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active{
cursor:default;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active:hover > div.tab-title{
color:#029acf;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active:hover> div.status span.badge{
color:#029acf;
}

.group-head-sec .group-head-footer .group-header-tab li.tab-no-badge a.tab-anchor{
	position: relative;

	top: 1px;
	border-right: 1px solid #e9eaed;
	margin-top: -1px;
}

.group-head-sec .group-head-footer .group-header-tab li.tab-no-badge a.tab-anchor div.tab-title{

	opacity: .7;
	position: relative;
font-size: 14px;
}

.group-head-sec .group-head-footer div.group-footer-functions div.join-button a{
display: inline-block;
position: relative;
margin-right: -2px;
padding: 2px 15px 8px;
border-radius: 4px;
font-size:15px;
font-weight:bold;
cursor: pointer;
line-height: 32px;
margin-top: -1px;
line-height: 13px;
z-index: 12;
padding: 10px 1.3em 9px;
background: #f5f5f5;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
border: 1px solid #dcdcdc;
border-color: #cdced0 #c5c6c8 #b6b7b9;
color: #4e5665;
text-shadow: 0 1px 0 #fff;
}
.group-head-sec .group-head-footer div.group-footer-functions{
display: inline-block;
float: right;
padding-left: 22px;
height: 48px;
margin-right: 21px;
border-left: 1px solid #e9eaed;
}
.group-head-sec .group-head-footer div.group-footer-functions div.join-button a.unjoined:hover{
border: 1px solid rgba(163, 163, 163, 0.62);
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
transition: all 0s;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
-moz-transition: all 0s;
-o-transition: all 0s;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
border-bottom-color: rgb(160, 160, 160);
}



.group-head-sec .group-head-footer div.group-footer-functions div.join-button a.unjoined:active{
	background: #f6f6f6;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.17);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.17);
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.17);
border: 1px solid rgba(0,0,0,0.1);
	border-bottom-color: rgba(0, 0, 0, 0.15);
}

.group-head-sec .group-head-footer div.group-footer-functions div.join-button{
	margin-top: 8.3px;
	margin-left: 0px;
}

a.group-id{
	display: inline;
font-size: 12px;
font-weight: 400;
margin: 0px;
font-style: italic;
color: rgb(128, 128, 128);
}

/*header section */

div.group-header-left{
display:inline-block;
float:left;
padding-left: 242px;
padding-top: 22px;
max-width: 475px;
width: 475px;
}

div.group-header-left .group-leader{

}

div.group-header-left .group-leader:hover{

}

a.group_info_link{
    display: inline-block;

}

a.group_info_link div.group_info_icon{
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); 
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    border-radius: 2px;
    border: 2px solid white;
    width: 24px;
    height: 24px;
    background-image: url(src/course2.png);
    display: inline-block;
    background-size: cover;
}

a.group_info_link div.group_info_title{
    font-size: 17px;

    color: #029acf;  
    font-weight: 200;
    bottom: 8px;
    position: relative;
    transition:color .15s ease;
    display: inline-block;
}

a.group_info_link:hover{
	cursor:pointer;
}
a.group_info_link:hover > div.group_info_title{
text-decoration: underline;
color: #016283;
cursor: pointer;
}


a.group_info_link:active> div.group_info_title{
	text-decoration: underline;
color: rgba(4, 117, 156, 0.65);
}

a.group_info_link div.group_info_title:hover{

}

div.group-header-left div.group-title{
    margin-top: 52px;
	
}

div.group-header-left div.group-title a.group_refresh{

}

a.group_refresh div.group-name{
	font-size: 23px;
	font-weight:400;
	cursor:pointer;
	display: inline-block;
	color: #029acf;
	font-size: 1.8em;
}

a.group_refresh div.group-name:hover{
	text-decoration: underline; color: #016283; cursor: pointer;
}

a.group_refresh div.group-name:active{
text-decoration: underline; color: rgba(4, 117, 156, 0.65);
}

div.group-leader a.group_info_link div.group_info_icon {
	background-image:url(src/farring.png);
}

a.group_refresh div.group-id{
    display: inline; 
    font-size: 14px; font-weight: 400; margin: 0px; 
    display: inherit;
    display: inherit;
    font-style: italic; color: rgb(128, 128, 128);

}

div.group-department{
    margin-bottom: 5px;

}

div.group_header_right{
    display: inline-block;

    float: right;
    padding: 10px;
    width: 250px;
    padding-top: 0px;
    border-left: 1px solid #e9eaed;
    margin-top: 9px;
    height: 162px;
}

div.group_header_right div.group_info_sec{

}

div.group_header_right div.group_info_sec_top{
    margin-bottom: 5px;

}
div.group_header_right div.group_info_sec_bottom{

}

div.group_header_right div.group_info_sec div.group_info_sec_header{ margin: 4px 0; padding: 4px;

    font-weight: 400;
    border-radius: 2px; font-size: 12px;
    color: #333;
    text-indent: 6px; text-shadow: 0px 1px 1px rgba(207, 207, 207, 0.65);
 background-color: #e9eaed;}

div.group_header_right div.group_info_sec_bottom{

}
div.group_header_right div.group_info_sec_content{

}
div.group_header_right div.group_info_sec_content div.rater-fx{
    margin-top: 6px;

}

div.group_header_right div.group_info_sec_content div.rater-fx div.rating-stars{

}
div.group_header_right div.group_info_sec_content div.rater-fx div.rating-raters{

}
div.group_header_right div.group_info_sec_content div.rater-fx div.rating-raters span.people-icon{

}
div.group_header_right div.group_info_sec_content div.rater-fx div.rating-raters span.raters-val{

}

div.average-user-rating{

}

div.average-rating-header{

}

div.average-rating-val{
    color: #4e5665;

    font-size: 20px;
    font-weight: bold;
    padding-top: 23px;
    padding-left: 3px;
    display: inline-block;
}

div.group_info_sec_bottom .group_info_sec_content{

}

div.group_info_sec_bottom .group_info_sec_content .group_info_book{
	
}

div.group_info_sec_bottom .group_info_sec_content .group_info_book .group_info_book_pic{
	
}

div.group_info_sec_bottom .group_info_sec_content .group_info_book .group_info_book_title{
	
}

div.midsec div.non-member-info-wrap{

}
div.rating-stars-empty{
    position: absolute;

    padding-left: 2px;
}
div.rating-stars-filled{
    z-index: 100;

    position: absolute;
    padding-left: 2px;
}

div.rating-stars-filled div.rating_star{

}

div.rating-stars-empty div.rating_star{

}
div.rating_star img{
    width: 20px;

    height: 20px;
    opacity: 1;
}

div.rating_star{
    display: inline-block;

}

div.midsec div.non-member-info-wrap{
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	margin-bottom:15px;
	width:600px;
	background-color:white;
	height:220px;
	border: 1px solid rgba(100, 100, 100, 0.4);
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

div.group_header_right div.group_info_sec div.info_piece{
    display: inline-block;

}
div.group_header_right div.group_info_sec div.info_piece:nth-of-type(1){
    float: left;

    width: 175px;
}
div.group_header_right div.group_info_sec div.info_piece:nth-of-type(1) div.group_info_sec_np{
    width: 100%;

    text-indent: 0px;
}

div.group_header_right div.group_info_sec div.info_piece:nth-of-type(1) div.group_info_sec_content_np{
    font-size: 12.5px;

    text-indent: 3px;
    color: #666;
    font-weight: 600;
}

div.group_header_right div.group_info_sec div.info_piece:nth-of-type(2){
    float: right;

    width: 62px;
}
div.group_header_right div.group_info_sec div.info_piece:nth-of-type(2) div.group_info_sec_np{
    text-indent: 0px;

    text-align: center;
}

div.group_header_right div.group_info_sec div.info_piece:nth-of-type(2) div.group_info_sec_content_np{
    color: #666;
	
    font-size: 10.5px;
    text-indent: 0px;
    padding-left: 4px;
    font-weight: 600;
}

div.info_piece div.group_info_sec_np span.icon_text{
    display: inline-block;
    width: 14px;
    background-size: cover;
    height: 14px;
    opacity: .6;
    position: relative;
    top: 2px;
}

div.info_piece div.group_info_sec_np span.icon_text_1{
    background-image: url(src/location.png);	
}
div.info_piece div.group_info_sec_np span.icon_text_2{
background-image: url(src/time.png);
opacity: .45;
width: 13px;
height: 14px;
left: -2px;
top: 2px;
}

div.number-of-raters{
    display: inline-block;
	
    font-weight: 200;
    color: #AFAEAE;
    font-size: 12px;
}

