
.mid_right_sec{
	width: 1010px;
float: left;
top: 47px;

	position: relative;
	padding-left: 318px;
	margin: 0 auto;
}

.group-head-sec{
	position: relative;
height: 240px;
margin-left: 1px;
width: 100%;

	background-color: rgba(255, 255, 255, 1);

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);

	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);

	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); 
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.14), 1px 1px 1px rgba(0, 0, 0, 0.14);
}

.group-head-sec .group-pic-frame{
	display: block;
position: absolute;
background-color: #F8F8F8;
z-index: 50;

	width: 200px;

	border-radius: 9px;

	height: 200px;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,.5);
box-shadow: 0 1px 5px rgba(0,0,0,.5);
cursor: pointer;

	margin-top: 21px;

	margin-left: 21px;
}

.group-head-sec .group-pic-frame .group-pic{
	background: no-repeat url(src/biology.png);
display: inline-block;

	width: 190px;
float: left;
position: relative;
border: 1px solid #eee;

	height: 190px;
margin-top: 4px;
border-radius: 2px;
margin-left: 5px;

	border-radius: 9px;
border-left: none;
background-size: cover;
}

.group-head-sec .group-head-footer{
	position: absolute;
bottom: 0px;
width:100%;

	border-top: 1px solid #e9eaed;
}

.group-head-sec .group-head-footer .group-header-tab{
	margin-bottom:-1px;
	display: inline-block;
	display: inherit;
	position:relative;
	float: left;
}

.group-head-sec .group-head-footer .group-header-tab ul.group-nav{
	margin:0;
	list-style:none;
	padding:0;	
	/* box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.09); */
	padding-left: 243px;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab{
	cursor:pointer;
	display:inline-block;
	float: left;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor{
	height: 27px;
	border-bottom:0px solid;
	display: block;
	transition: all .15s ease-in-out;
	text-align: center;
	padding: 7px 20px;
	padding-top: 14px;
	border-left: 1px solid #e9eaed;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title{
	font-size: 15px;
	font-weight:200;
	text-transform: uppercase;
	color:#333;
	float: left;
	display: inline-block;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab-icon{
display: inline-block;
background-repeat: no-repeat;
background-size: cover;
transition: all .15s ease-in-out;
width: 14px;
height: 14px;
position: relative;
top: 1.3px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab1-icon-active{
	background-image:url(src/feed_icon_active.png);
	width: 13px;
height: 13px;

	left: 0px;
	bottom: 2px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title span.tab1-icon-active{
	}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title span.tab1-icon-inactive{
	background-image:url(src/feed_icon_active.png);
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab1-icon-inactive{
	background-image:url(src/feed_icon_inactive.png);
	width: 13px;
height: 13px;
left: 1px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab2-icon-active{
	background-image:url(src/members_icon_active.png);
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title span.tab2-icon-active{
	background-image:url(src/members_icon_inactive.png);
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title span.tab2-icon-inactive{
	background-image:url(src/members_icon_active.png);
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab2-icon-inactive{
	background-image:url(src/members_icon_inactive.png);
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab3-icon-active{
	background-image:url(src/files_icon_active.png);
	width: 12px;
height: 13px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover> div.tab-title span.tab3-icon-active{
	background-image:url(src/files_icon_inactive.png);
	width: 12px;
height: 13px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.tab-title span.tab3-icon-inactive{
	background-image:url(src/files_icon_inactive.png);
	width: 12px;
	height: 13px;
	top: 1px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover> div.tab-title span.tab3-icon-inactive{
	background-image:url(src/files_icon_active.png);
	width: 12px;
	height: 13px;
	top: 1px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.status{

	float: right;
	
	position: relative;

	display: inline-block;
	

	margin-top: -2px;
	

	margin-left: 1.6px;

}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor div.status span.badge{
	font-size: 13.7px;

	font-weight: 600;
line-height: 14px;

	color: #333;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
white-space: nowrap;
vertical-align: baseline;

border-radius: 10px;
}

div.tab-wedge-down{
background-image: url('src/tab-wedge-down.png');
display: block;
background-repeat: no-repeat;
background-size: cover;
width: 21px;
height: 15px;
position: absolute;
bottom: -5px;
z-index: 5000;
left: 310px;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover{
background-color:#f6f7f8;
transition: background-color .15s ease-in-out;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-inactive{
	opacity:.7;
	transition: opacity .15s ease-in-out;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-inactive:hover{
	opacity:.85;
	transition: opacity .15s ease-in-out;
}


.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.tab-title,.group-head-sec .group-head-footer .group-header-tab li.group-tab a.tab-anchor:hover > div.status span.badge{
color: #029acf;
transition: color .15s ease-in-out;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active:hover{
	background-color:white;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active div.tab-title{
transition: color .15s ease-in-out;
color: #029acf;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active div.status span.badge{
transition: color .15s ease-in-out;
color:#029acf;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active{
cursor:default;
}
.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active:hover > div.tab-title{
color:#029acf;
}

.group-head-sec .group-head-footer .group-header-tab li.group-tab a.group-tab-active:hover> div.status span.badge{
color:#029acf;
}

.group-head-sec .group-head-footer .group-header-tab li.tab-no-badge a.tab-anchor{
	position: relative;

	top: 1px;
	border-right: 1px solid #e9eaed;
	margin-top: -1px;
}

.group-head-sec .group-head-footer .group-header-tab li.tab-no-badge a.tab-anchor div.tab-title{

	opacity: .7;
	position: relative;
font-size: 14px;
}

.group-head-sec .group-head-footer div.group-footer-functions div.join-button a{
	background: #D3D3D3 url(src/glass.png) repeat-x 0 50%;
width: 120px;

	line-height: 30px;

	height: 30px;
text-align: center;
display: block;

	border-radius: 5px;

	font-size: 15px;
font-weight: bold;
box-shadow: 0 1px 1px rgba(0,0,0,0.15);
color: #666;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
outline: none;
border-color: transparent;
border: 1px solid transparent;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.group-head-sec .group-head-footer div.group-footer-functions{
display: inline-block;
float: right;
padding-left: 20px;
height: 48px;
margin-right: 20px;
border-left: 1px solid #e9eaed;
}

.group-head-sec .group-head-footer div.group-footer-functions div.join-button a.joined{
	background-color: #02e2a7;
color: white;
cursor:pointer;
}
.group-head-sec .group-head-footer div.group-footer-functions div.join-button a.joined:hover{
color: white;
background-color: #E20238;
border-color: #E2748A #DA4D74 #FF899C;
transition: all 0s;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.39);
-moz-transition: all 0s;
-o-transition: all 0s;
}
.group-head-sec .group-head-footer div.group-footer-functions div.join-button a.joined:active{
background-color: #D30B3B;
border-color: #8A1D3C #860F30 #7C0531;
-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);
}

.group-head-sec .group-head-footer div.group-footer-functions div.join-button{
	margin-top: 8.3px;
	margin-left: 0px;
}



.group-head-sec .group-header-left{
	position: absolute;
left: 243px;
}

.group-head-sec .group-header-left .group-title{
font-size: 26px;
font-weight: 200;