#csnav {
   text-align: center;
    margin: 0 auto;
  font-size: 13px;
}

#csnav a{
    color: #8c8c8c;
      font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  text-decoration: none;
  margin: 0px 0px 0px 10px;
}

.loginbt {
  /*background: url(../images2013/csbutton.gif) no-repeat;*/
  width: 354px;
  height: 38px;
  border: none;
  cursor: hand;
  margin: 30px 0px 0px 15px;
}


#mainarea1 {
 background: url("../images2013/comingsoonlogo.png") 130px 35px no-repeat;
  filter:alpha(opacity=78); /* IE's opacity*/
  opacity: 0.78;
  background-color: #000000;
  width: 785px;
  height: 450px;
  margin: 100px auto;
  color: #ffffff;
  font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
  font-size: 28px;
  text-align: center;
}

#mainbg1 {
 background: url("../images2013/background1330x700.gif") top left;
 background-color: #f5f5f5;
}


.fieldHolder5
{
       height: 42px;
       width: 356px;
       text-align: left;
       margin: 0px 0px 0px 223px;
       background: url(../images2013/csemail.gif) no-repeat;
}

form {
  margin: 0px;
  padding: 0px;
}


.quote1 {
  padding: 142px 0px 0px 18px;
}
.quote2 {
  padding: 40px 0px 51px 12px;
}


.textInput5
{
     width: 335px;
     border: none;
     height: 35px;
     margin: 3px 0px 0px 3px;
     padding-left: 15px;
     color: #8d8d8d;
     font-weight: bold;
     font-size: 15px;
     font-family: Gotham, Helvetica, Arial, Verdana, sans-serif;
}


