::selection {
  background: rgba(0,0,0,.05);
}
body {
  font-family: 'Open Sans', sans-serif;
}

.minical-header nav span,
article span {
  text-decoration: none;
  transition: all .0s ease-in-out;
}
.minical-h1 {
  font: 600 14px 'Open Sans';
  color: #FFFFFF;
  margin: 0; padding: 0;
  list-style: none;
text-align: left;

  padding-right: .1em;
}

/****/
/* Left Bar */
/****/
nav.sections {
  overflow: hidden;
  display: block;
  float: left;
  width: 82px; height: auto;
  margin-right: 20px;
  background: #3bc1f8;
  box-shadow: 0 1px 1px rgba(78,200,247,.35);
  border-radius: 5px;
  text-aling: center;
}
  nav.sections li a {
    display: block;
    width: 100%; height: 82px;
  }
    nav.sections li:hover,
    nav.sections li.active {
      background: #00aced;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
    }
    nav.sections li.notes a,
    nav.sections li.calendar a,
    nav.sections li.settings a {
      background: url('http://ysfu.net/sprite.png') no-repeat;
    }
    nav.sections li.notes a {
      background-position: 25px 25px;
    }
    nav.sections li.calendar a {
      background-position: 25px -57px;
    }
    nav.sections li.settings a {
      background-position: 25px -139px;
    }

/****/
/* Calendar */
/****/
section.mounth {
overflow: hidden;
display: block;
float: left;
z-index: 500;
width: 210px;
height: auto;
background: #fff;
border-radius: 5px;
position: absolute;
border: solid; border-width: 1px 1px 2px; border-color: #333 #333 #293e6a;
-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3); 
box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.minical-header {
    position: relative;
    display: block;
    height: 30px;
    background: #484848;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.06);
    border-top: 1px solid #646464;
  }
.minical-header .minical-h1 {
      margin-left: 10px;
      line-height: 30px;
    }
.minical-header nav {
      overflow: hidden;
      position: absolute;
      display: block;
      right: 5px; 
      top: 5px;
    }
.minical-header nav span {
        display: block;
        float: left;
        width: 12px; 
        height: 20px;
        margin-left: 14px;
        cursor: pointer;
        background: url(../img/minical_navs.png) no-repeat;
      
}
.minical-header nav span:first-of-type {
          background-position: -72.6px -4px;
        }

.minical-header nav span:last-of-type {
          background-position: -94px -4px;
        }


article 
{
padding: 6px 8px 6px 8px;
position:relative;
}

  article b,
  article span {
    display: block;
    float: left;
    width: 19.5px; 
    height: 19.5px;
    margin: 4px;
    text-align: center;
  }
  article b {
    font: 600 11.5px/15px 'Open Sans';
    color: #5890ff;
  }
  article span {
    font: 300 10px/19.8px 'Open Sans';
    color: #4c5373;
    box-shadow: inset 0 0 1px 1px #d9dce5;
    border-radius: 2px;
    text-indent: 1.5px;
    cursor: pointer;
  }
  article span.disable {
    color: #b6bacc;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,.02);
    cursor:default;
  }


    article span:not(.disable):hover {
      background: #cdd0dd;
      box-shadow:
        inset 0 0 1px 1px #d9dce5,
        0 1px 3px -1px #cdd0dd;
    }
    article span:not(.disable):active {
      background: #b9becf;
      box-shadow:
        inset 0 1px 2px rgba(0,0,0,.18),
        0 0 0 #cdd0dd;
    }
    article span.active1,
    article span.active1:hover,
    article span.active1:active {
      color: #fff;
      box-shadow:
        inset 0 0 1px 1px #b6bacd,
        0 1px 3px -1px #b6bacd;
      background: #b6bacd;

    
    }
    
    
    article span.active0,
    article span.active0:hover,
    article span.active0:active {
      color: #fff;
      box-shadow:
        inset 0 0 1px 1px #44D37C,
        0 1px 3px -1px #44D37C;
      background: #44D37C;
    }
    
.blink1 {
    animation: blink1 1.2s infinite;
    -webkit-animation-name: blink1; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-duration: 1.2s;
}
@keyframes blink1 {
    0%   {background: #b6bacd;}
    25%  {background: white;}
    25%  {color: #4c5373;}
    50%  {background: white;}
    50%  {color: #4c5373;}
    75%  {background: #b6bacd;}
    100% {background: #b6bacd;}
}
@-webkit-keyframes blink1 {
    0%   {background: #b6bacd;}
    25%  {background: white;}
    25%  {color: #4c5373;}
    50%  {color: #4c5373;}
    50%  {background: white;}
    75%  {background: #b6bacd;}
    100% {background: #b6bacd;}
}

  article div {
    display: block;
    overflow: hidden;
    clear: both;
  }