

.topbar_bag
{
	position: relative;
	z-index: 5000;
}

.leftbar_bag
{
	position: fixed;
	width: 280px;
	height: 100%;
	z-index: 100;
}


.rightbar_bag
{
position: fixed;
margin-top: 70px;
right: 300px;
}

.content_bag
{
	height: auto;
	min-width: 1360px;
}

.midsec
{
	position: absolute;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:auto;	
	
	width: 740px;
}



@media (max-width: 1360px) {
.midsec 
{
	margin-left: 308px;
}

.onresz
{
	margin-left: 458px;
}

}


@media (max-width: 1320px) {
.midsec 
{
	margin-left: 278px;
}

.onresz
{
	margin-left: 448px;
}

}
/*
@media (max-width: 1300px) {

	.rightbar_bag
	{
		position: absolute!important;
		margin-left: 960px;
		right: auto!important;
	}

	.rightsec
	{
		position: absolute!important;
	}
}*/

@media (max-width: 1268px) {
	.rightsec
	{
		position: absolute!important;
	}

	.rightbar_bag
	{
		position: absolute;
		right: auto;
		margin-left: 970px;
	}
}


.midsec_indent
{
width: 670px;

float: left;
position: relative;
padding: 10px 9px 20px;
padding-left: 25px;
min-height: 1px;
z-index: 2;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
margin-left: 1px;
padding-top: 70px;  
}

.fbar_bag
{
	float: left;
	height: auto;
	width: auto;
	margin-left: 1px;
}

.feeds_bag
{
	float: left;
	height: auto;
	left: auto;
	margin-left: -17px;
	margin-top: 20px;
}

/*
@media (max-width: 1360px) {
	.rightbar_bag
	{
		display: none;
	}
}

*/

.loading{	
  position: absolute;
  top: 50%; left: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-50%) translateY(-50%);
}
  .loading li{
    position: absolute;
    top: 0;
    height: 33px;
    width: 33px;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 38%;
  }
    .loading li.red{
      left: -20px;
      background: rgba(177, 104, 226, 1);
      z-index:2;
      -webkit-animation: loading-animated 3s ease-in-out infinite;
    }
    .loading li.yellow{
      left: 0px;
      background: rgba(253, 112, 45, 1);
      z-index:3;
      -webkit-animation: loading-animated 3s ease-in-out 0.3s infinite;
    }
    .loading li.blue{
      left: 20px;
      background: #1da7d2;
      z-index:4;
      -webkit-animation: loading-animated 3s ease-in-out 0.5s infinite;
    }
    .loading li.green{
      left: 40px;
      background: #00deb0;
      z-index:5;
      -webkit-animation: loading-animated 3s ease-in-out 0.7s infinite;
    }


@-webkit-keyframes loading-animated {
  from {
    transform: translateX(500px);
    opacity: 0;
  }

  
  25% {
    opacity: 1;
  }
  

  35% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(0);
    
  }

  75%{
    opacity: 1; 
  }
  to {
    transform: translateX(-500px);
    opacity: 0;

  }
}