.loading-spinner { 
position: absolute !important;
top: 200px !important;
margin-left: 48.2% !important; 
border: 8px solid #666 !important;
border-right-color: transparent !important;
border-radius: 50% !important;
display: inline-block !important;
height: 30px !important;
width: 30px !important;
-webkit-animation: rotate_forever 0.75s linear infinite !important;
-moz-animation: rotate_forever 0.75s linear infinite !important;
-o-animation: rotate_forever 0.75s linear infinite !important;
animation: rotate_forever 0.75s linear infinite !important;
}

@-webkit-keyframes rotate_forever {
  0% {
    transform: rotate(0deg);
  }
  
  100%{
  transform: rotate(360deg);
  }
}

@-moz-keyframes rotate_forever {
  0% {
    transform: rotate(0deg);
  }
  
  100%{
  transform: rotate(360deg);
  }
}

@-o-keyframes rotate_forever {
  0% {
    transform: rotate(0deg);
  }
  
  100%{
  transform: rotate(360deg);
  }
}

@keyframes rotate_forever {
  0% {
    transform: rotate(0deg);
  }
  
  100%{
  transform: rotate(360deg);
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

body {
  background: #eee;
}

.loading_logo{
height: 25px;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 35%;
}

body > *:not(.loading_animation){
	opacity: 0;
}

body.make_opaque > *:not(.loading_animation){
	-webkit-animation: opacity-animation 0.3s ease-in 1;
}

body{
	height: 500px !important;
}

@-webkit-keyframes opacity-animation{
  0%   { opacity: 0.2; }
  25%   { opacity: 0.4; }
  50%   { opacity: 0.6; }
  75%   { opacity: 0.8; }
  100%   { opacity: 1; }
}

.loading_text{
display: block;
margin-top: 250px;
font-family: Avenir Next !important;
font-weight: normal;
font-size: 20px;
color: #999999;
text-align: center;
}