#block {
	width: 100%;
       float: left;
	overflow:hidden;
padding: 0px;
margin: 0px;
}


.htabs {
   overflow: hidden;
  color: #878787;
   font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
   font-size: .8em;
   font-weight: bold;
   text-align: center;
  border-top: 1px #e2e2e2 solid;
  border-bottom: 1px #e2e2e2 solid;
  padding-left: 90px;
}

.htabs a {
  color: #323232;
}

.htabs a:hover {
   color: #009df5;
   /*color: #ffffff;
   background-color: #009df5;*/
}



.htabs .tabs ul, ol {
  margin: 0px;
  list-style-type: none;
}

.htabs li{
width: 15%;
	float:left;
  list-style-type: none;
  border-right: 1px #e2e2e2 solid;
  border-left: 1px #e2e2e2 solid;
	padding: 10px;
}


.tabs{
       padding: 0px;
       margin-top: -12px;
       margin-left: -41px;

background-color: #ffffff;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tabs ul{
	margin: 0px;
	list-style-type: none;
}

.tabs li{
border: solid #e2e2e2 1px;
background-color: #ffffff;
border-bottom: none;
  width: 930px;
	margin: 0px;
       min-height: 50px;
       margin: 0px 0px 0px 0px;
       padding: 0px 5px 0px 0px;
       float: left;
}

.tabs li:hover{

background-color: #eeeeee;

}

.tabsimg {
 float: left;
 height: 127px;
 width: 216px;
}

.tabsimg1 {
 float: left;
 height: 128px;
 width: 128px;
}

.tabspara {
 float: left;
 width: 55%;
 height: 98px;
 overflow: hidden;
  padding: 10px;
}

.tabspara1 {
 float: left;
 width: 73%;
 height: 95px;
 overflow: hidden;
  padding: 10px;
}

.tabspara2 {
 float: left;
 width: 56%;
 height: 98px;
 overflow: hidden;
  padding: 10px;
}


.tabtitle a {
  color: #0092df;
   font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
   font-size: 1em;
  line-height: 1.1em;
   font-weight: bold;
  float: left;
 width: 75%;
 margin-bottom: 5px;
}

.tabtitle1 {
  color: #323232;
   font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
   font-size: .9em;
  line-height: 1em;
   font-weight: bold;
 margin-bottom: 5px;
}

.tabtitle1 a {
  color: #0092df;
}

.tabdate {
  color: #323232;
   font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
   font-size: .6em;
  float: right;
  padding-top: 5px;
}

.tabdesc {
  clear: both;
  line-height: 1.1em;
  color: #323232;
   font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
   font-size: .8em;
}

.tabalias {
  clear: both;
  line-height: 1em;
     font-weight: bold;
  color: #878787;
   font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
   font-size: .8em;
 margin-bottom: 5px;
}

.tabdesc1 {
  clear: both;
  line-height: 1.1em;
  color: #878787;
   font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
   font-size: .8em;
}

.tabside{
border-left: solid #e2e2e2 1px;
text-align: center;
    font-family: Gotham, Helvetica,  Arial, Verdana, sans-serif;
   font-size: 1em;
  color: #323232;
 float: right;
 height: 87px;
 padding: 40px 35px 0px 35px;
}

.tabside a {
  color: #0092df;
}
