
.topbar

{

	position: fixed;
-moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
height: 47px;
border-bottom: 1px solid black;


	background-color: #27292B;

	width: 100%;
	height: 47px;
	min-width: 800px;

	z-index: 1000;

	top:0px;
	left:0px;
}

.topbar_wrapper 
{
margin: 0 auto;

position: relative;
width: 100%;
height: 100%;
}

.leftbar_close
{
	width: 18px;
	margin-top: 17px;
	margin-left: 5px;
}

.flip
{
	-webkit-transform:rotate(180deg)!important;
	transform:rotate(180deg)!important;
}

.topbar_left
{
width: 135px;
float: left;
height: 100%;
border-right: 1px solid rgba(0, 0, 0, 0.1);
-webkit-box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.03) inset;
-moz-box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.03) inset;
box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.03) inset;
cursor: pointer;
}

.topbar_left:hover
{
background: rgba(255, 255, 255, 0.05);
border-right: 1px solid rgba(0, 0, 0, 0.35);
}

.topbar_left:active
{
	background-color: #0F1010;
}

.topbar_logo{
	float:left;
	height: 25px;
	margin-top: 12px;
	margin-left: 28px;
}

.topbar_search
{
height: 100%;
position: absolute;
width: 610px;
left: 0px;
right: 0px;
margin: auto;
}

i.topbar_searchicon{
background-image: url('../img/smallSearchIco.png');
background-repeat: no-repeat;
background-size: cover;
cursor: pointer;
display: block;
height: 17px;
width: 17px;
z-index: 10;
float: right;
margin-right: 5px;
margin-top: -22px;
}

body {
font-family: 'Open Sans', sans-serif;
margin: 0px auto;
background: #EEE;
min-width: 720px;
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
overflow: scroll;
}

.topbar_search_input
{
float: left;
width: 100%;
height: 27px;
background-color: white;
color: #3c4246;
border: medium none;
padding-left: 5px;
border-radius: 4px!important;
font-size: 14px;
box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.6) inset, 0px 1px 0px rgba(161, 148, 148, 0.32);
}


@media (max-width: 1120px) {
.topbar_search {
	width:450px!important;
}

.topbar_search_input
{
	width: 100%;
}
}

@media (max-width: 940px) {
.topbar_search {
	padding-right:90px
}

}

@media(max-width:880px){
	.topbar_search{
		padding-right: 120px;
	}
}

@media(max-width:860px){
	.topbar_search{
		width: 380px!important;
	}
}

@media(max-width:800px){
	.topbar_search{
		width: 360px!important;
	}
}

.topbar_search_icon
{	
	position: absolute;
	height:25px;
	width:25px;
	margin-top: 11px;
	margin-left: 32px;
}

.topbar_search_icon .search-icon:after
{
	position: absolute;
  	font-family:FontA;
  	font-style:normal;
  	content: "\f002";
  	color:#27292B;
  	font-size: 17px;

  	margin-left: 5px;
  	margin-top: 4px;
}

.topbar_righttool
{
	float: right;
	height: 47px;
	margin-right: 40px;
}


.topbar_noti
{	
	float: left;
	height: 46px;
	width: 29px;
	text-shadow: 0px 1px 0px rgba(3, 27, 47, 0.5);
	padding-right: 6px;
	margin-left: 10px;
	cursor:pointer;
	margin-top: 1px;
	border: none;
}

.topbar_noti:hover > .noti_icon2
{
background-position: 0px -25px;
}

.topbar_prof:hover {
	background: rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
}

.topbar_prof:active{
		background-color:#0f1010;
	height: 46px;
}

.topbar_noti:hover .noti_icon{
	background: rgba(255, 255, 255, 0.1);
}

.noti_icon2{
		background-image:url(../img/TopBarIcons.png);
	background-size:cover;
	background-repeat:no-repeat;
		width: 25px;
		height: 25px;
		margin-top: 13px;
}


.topbar_noti:active .noti_icon{
	background-color:#0f1010;
}



.topbar_noti:hover .noti_icon p{
	color:white;
}
.topbar_noti:active .noti_icon p{
	color:rgba(255,255,255,.7);
}
.topbar_noti .noti_icon
{
	float: left;

	margin-left: 7px;
	margin-top: 12px;
	width: 36px;

	height: 21px;
border-radius: 20px;
background-color: transparent;

	background-color: rgba(255, 255, 255, 0);
border:1px solid;
border-color: -moz-linear-gradient(#aaa, #ccc);
border-color: -webkit-linear-gradient(#aaa, #ccc);
border-color: linear-gradient(#aaa, #ccc);

	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),0 1px 0 rgba(151, 136, 136, 0.43);
}

.noti_txt
{
	float: left;
	margin-top: 17px;
	margin-left: 5px;
	color:white;
}

.topbar_cal
{	
	float: left;
	margin-top: 1px;
	height: 46px;
	width: auto;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.03) inset, -1px 0px 0px rgba(255, 255, 255, 0.03) inset;
	text-shadow: 0px 1px 0px rgba(3, 27, 47, 0.5);
	padding-right: 11px;
	padding-left: 6px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.prof-limit{
	display: inline-block;
	border-radius: 3px;
	width: 21px;
	background-image: url(img/userPic.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 21px;
	position: relative;
	left: 12px;  
	border: 1px solid rgba(0, 0, 0, 0.5);
	top: 12px;
	float: left;
	margin-right: 20px;
}

.topbar_prof h4{
		display: inline;
font-size: 14px;

		font-weight: 400;
bottom: 0px;


		padding-left: 21px;
position: relative;

		color: #FFFFFF;

		opacity: .9;
		top: 5px;
		cursor: pointer;
}

.topbar_prof{
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.03) inset, -1px 0px 0px rgba(255, 255, 255, 0.03) inset;
	text-shadow: 0px 1px 0px rgba(3, 27, 47, 0.5);
	margin-top:1px;
	
		position: relative;
		float:left;	
		cursor:pointer;
		height: 46px;

		width: auto;
}

.topbar_cal:hover
{
    background: rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
}

.topbar_cal:active
{
	background-color:#0f1010;
	height: 46px;

}



.cal_icon
{
	float: left;
	height: 27px;
	width: 27px;	
	margin-left: 5px;
	margin-top: 9.5px;}

.cal_icon2{
	float: left;
	height: 25px;
	width: 25px;
	margin-left:5px;
	margin-top:9.5px;
	background-image:url(../img/TopBarIcons.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 0px -49px;
}

.topbar_cal:hover > .cal_icon2{
	background-position: 0px -74px;
}

.topbar_cal_click
{
	background-position: 0px -74px;
}

.topbar_noti_click
{
	background-position: 0px -25px;
}

.cal_txt
{
	float: left;
	margin-top: 17px;
	margin-left: 7px;
	color:white;
}

.graph_search
{
	position: absolute;
	height:auto;
	background-color: white;

	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
	margin-top: -8px;
	display: none;
}

.gs_col
{
	float: left;
	height: 50px;
	width: 100%;
	cursor:pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #575757;
}

.gs_col:hover
{
	background-color:#575757;
	color:white;
}

.gs_icon
{
	height: 45px;
	width: 45px;
	margin-left: 7px;
	float: left;
}

.gs_on_active
{
background-color: rgba(87, 87, 87, 0.86)!important;
}

.gs_col div
{
	float: left;
	height: 100%;
	line-height:50px;
	margin-left: 10px;
}

.last_gscol
{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*
@media (width: 1080px) {
.topbar_search_input
{
float: left;
width: 300px;
height: 27px;
background-color: white;
color: #3c4246;
border: medium none;
border-radius: 4px;
font-size: 14px;
padding-left: 30px;
box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.6) inset, 0px 1px 0px rgba(161, 148, 148, 0.32);
transition-timing-function: linear;
transition-duration:.2s;
}
}


@media (max-width: 1080px) {
.topbar_search_input
{
float: left;
width: 300px;
height: 27px;
background-color: white;
color: #3c4246;
border: medium none;
border-radius: 4px;
font-size: 14px;
padding-left: 30px;
box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.6) inset, 0px 1px 0px rgba(161, 148, 148, 0.32);
transition-timing-function: linear;
transition-duration:.2s;
}
}
*/


.topbar_search .topbar_search_container{
width:100%;
left:0;
line-height: normal;
position:relative;
top:0px;
white-space: nowrap;
}

.topbar_search .topbar_search_container .notop_padding{
	top:0px;
	z-index:1000;
	display:block;
	padding-top:8px;
}

.topbar_search .topbar_search_container .notop_padding .search_main_div{
	
}
.topbar_search .topbar_search_container .notop_padding .search_main_div form{
	margin-right:0px;
}
.topbar_search .topbar_search_container .notop_padding .search_main_div form .search_input_wrapper{
	height: 40px;
}



.topbar_search .topbar_search_container .notop_padding .search_main_div form .search_input_wrapper input{
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
outline: none;
background-clip: padding-box;
border-right-width: 0;
height: 27px;
font-weight: 400;
-webkit-box-shadow: inset 0 2px 2px #9B9B9B,rgba(105, 105, 105, 0.62) 0 2px 6px;
-moz-box-shadow: inset 0 2px 2px #9B9B9B,rgba(105, 105, 105, 0.62) 0 2px 6px;
box-shadow: inset 0 2px 2px #9B9B9B,rgba(105, 105, 105, 0.62) 0 2px 6px;
margin-top: 2px;
}

.notop_padding .search_main_div form .search_input_wrapper input::-webkit-input-placeholder {
  color:rgb(161, 163, 165);
}

.notop_padding .search_main_div form .search_input_wrapper input:focus::-webkit-input-placeholder {
  transition: opacity 0.15s; 
  opacity: .4;
}

.notop_padding .search_main_div form .search_input_wrapper input::-moz-placeholder {
  color:rgb(161, 163, 165);
}


.notop_padding .search_main_div form .search_input_wrapper input:focus::-moz-placeholder {
  transition: opacity 0.15s; 
  opacity: .4;
}

.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go{
display:inline-block;
vertical-align: top;
margin-left: 0;
margin-right: 0;
height: 32px;
margin-top: 2px;
}

.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go a.green_go{
border: 1px solid transparent;
border-radius: 12px;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
outline: none;
padding: 4px;
width: 25px;
background: #02e2a7;
background: #02e2a7 url(../img/glass.png) repeat-x 0 50%;

-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
position: relative;
cursor:pointer;
top: 3px;
}
.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go a.green_go:hover{
background-color:#00DAA0;
}

.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go a.green_go:active
{
-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
-moz-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
background-color:#01CE98;
}




.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go a.green_go span.search_icon{
display: inline-block;
height: 20px;
vertical-align: middle;
margin-left: 15px;
background-repeat:no-repeat;
background-image: url(../img/search.png);
width: 30px;
position: relative;
margin-bottom: -3px;
}


.topbar_noti .noti_icon p{
	margin: 0;

	color: rgb(255, 255, 255);
text-align: center;
font-size: 14px;
font-weight: bold;
margin-top: 1px;
}

.topbar_qicon
{

}

.topbar_qicon img
{
	width: 14px;
	height: 14px;
	float: right;
	margin-top: -21px;
	margin-right: 5px;
	opacity: 0.5;
	cursor: pointer;
}


.card-tag{
	float: right;
	font-family: 'Open Sans Regular', 'Open Sans', sans-serif;
	color:#999;
	display:none;
	margin-right: -60px;
	margin-top:-8px;
	z-index:10;
}

.tag-box{
	position: relative;
	max-width: 160px;
	padding-top: 4px;
	padding-bottom:4px;
	padding-left: 8px;
	padding-right:8px;

	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	border: 1px solid rgba(189, 199, 216, 1);
	background-color: #fff;

	border-radius: 1px;
	font-size: 12px;

	margin-left:-15px;
	margin-top:-5px;

}

.tag-wedge{
	position: relative;
	background-image: url(../img/wedgeUp.png);
	background-repeat: no-repeat;
	background-size: 13px;
	height: 12px;
	width: 20px;
	z-index: 10;
	margin-left: 40px;
}

.noti_includediv
{
float: right;
margin-right: -160px;
margin-top: 45px;
}

.ci_div
{
	display: none;
	margin-top: -6px;
}

.gi_div
{
	display: none;
	margin-top: -6px;
}

.si_div
{
	display: none;
	margin-top: -6px;
	margin-right: -6px;
}

.rednoti
{
width: 18px;
height: 18px;
background: none repeat scroll 0% 0% #DD2240;
border-radius: 9999px;
position: absolute;
margin-left: 22px;
margin-top: 25px;
display: none;
color: white;
font-size: 10px;
}

.rednoti span
{
width: 18px;
height: 5px;
text-align: center;
position: absolute;
text-shadow: 0px 1px 0px rgba(255, 0, 41, 1);
font-weight: bold;
position: absolute;
font-size: 13px;
}

.topbar_user_name{
	color:#fff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.88);
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding-right: 10px;
	font-size: 13px;
	font-weight: 500;
	height: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif; -webkit-font-smoothing: antialiased;
	margin-top: 15px;
}

.topbar_search_input::-webkit-input-placeholder { color:#999; font-weight: lighter;}
.topbar_search_input::-moz-placeholder { color:#474747; font-weight: lighter;} /* firefox 19+ */
.topbar_search_input:-ms-input-placeholder { color:#474747; font-weight: lighter;} /* ie */
.topbar_search_input:-moz-placeholder { color:#474747; font-weight: lighter;}

/*bug report link*/
.bugreport_link
{
float: right;
display: inline-block;
margin-right: 20px;
border-radius: 4px;
padding: 6px;
font-size: 13.6px;
background: rgba(255, 255, 255, 0.84);
position: relative;
top: -17px;
font-weight: 600;
}

.bugreport_link a
{
	color: #029acf!important;
	text-decoration: none;
}


.bugreport_link a:hover
{
	color: #016283!important;
	text-decoration: none;
}

.bugreport_link a:active
{
	color: rgba(4, 117, 156, 0.65)!important;
	text-decoration: none;
}


/*bug report link end*/

