@-webkit-keyframes pulse{from{background-position:0 0}
to{background-position:-696px 0}
}
@-moz-keyframes pulse{from{background-position:0 0}
to{background-position:-696px 0}
}
@keyframes pulse{from{background-position:0 0}
to{background-position:-696px 0}
}

.tour_pulser{left:50%;top:50%;margin-top:-29px;margin-left:-29px;background:transparent url(../img/tour_pulser.png) 0 0 no-repeat;width:58px;height:58px;cursor:pointer;position:absolute;z-index:10}
.tour_pulser.pulsing{-webkit-animation:pulse .5s steps(12) alternate infinite;-moz-animation:pulse .5s steps(12) alternate infinite;animation:pulse .5s steps(12) alternate infinite}

.tour_fluid_row{
margin-right: auto;
margin-left: auto;
position: relative;
}

.tour_fluid_row.search_fluid_row{
padding-left: 15px;
padding-right: 15px;
width: 1243px;
}

#joinGroup_search_tip2_pulser{
	-webkit-transition: all 1000ms ease-in-out;
	-moz-transition: all 1000ms ease-in-out;
	-ms-transition: all 1000ms ease-in-out;
	-o-transition: all 1000ms ease-in-out;
	transition: all 1000ms ease-in-out;
}

