body
{
	font-family: 'Open Sans';
}

.blackcanvas_prom
{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height:	100%;
	position: fixed;
	top: 0px;
	z-index: -20;
	left: 0px;
}

.prom_main
{
height: 100%;
width: 350px;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
margin: auto;
position: fixed;
background-color: #38AD93;
padding-left: 100px;
padding-right: 100px;
}

.prom_top
{
	height: 40px;
}

.prom_top_shape
{
	height:30px;
     width:60px;
     border-radius: 0 0 90px 90px;
     background:#424242;
     left: 0px;
     right: 0px;
     margin: auto; 
}


.prom_prompt
{
	width: 100%;
	text-align: center;
}

.prom_cover_title
{

max-height: 80px;
width: 100%;
font-size: 32px;
color: white;
font-weight: bold;
text-align: center;
background-repeat: no-repeat;
left: 0px;
right: 0px;
margin: auto;
margin-top: 140px;
}

.prom_mid
{
	margin-top: 40px;

}

.prom_prompt
{
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.prom_prompt_sub
{
	color: white;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	width: 100%;
	margin-top: 5px;
}

.input_wrap
{
	margin-top: 30px;
	margin-left: 20px;
}


.pr_input
{
	border: 1px solid #424242;
height: 30px;
line-height: 30px;
font-size: 16px;

padding-left: 15px;

	float: left;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.f_name_input
{
width: 137px;
border-top-left-radius: 8px;

}

.l_name_input
{
width: 138px;
border-left: none;
border-top-right-radius: 8px;
}

.email_input
{
	width: 292px;
	border-top: none;
	border-bottom-left-radius: 8px; 
	border-bottom-right-radius: 8px; 
}


.pr_signup_btn
{
border: 1px solid #424242;
color: white;
height: 35px;
width: 316px;
margin-top: 30px;
background-color: #424242;
border-radius: 4px;
margin-left: 20px;
cursor: pointer;
font-size: 18px;
}

.pr_signup_btn:hover
{
	background-color: #4f4f4f;
	border: 1px solid #4f4f4f; 
}

.pr_signup_btn:active
{
	background-color: #353535;
	border: 1px solid #353535; 
}



.prom_top_pic
{
	position: absolute;
	left: 0px;
	right: 0px;
	margin:auto;
	width: 25px;
	margin-top: 2px; 
}

.prom_footer
{
width: 157%;
height: 40px;
margin-left: -100px;
cursor: pointer;
margin-top: 180px;
position: relative;
background-color: #38AD93;
}

.prom_foot_pic
{
	float: right;
	height: 20px;
	margin-top: 10px;
}

.prom_footer_count
{
	color: white;
	position: absolute;
	margin-left: 135px;
	margin-top: 5px;
	display: none;
}

.prom_close
{
	height: 35px;
	width: 40px;
	margin-left: 510px;
	background-color: #424242;
	position: absolute;
		border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-top: 5px;
	z-index: -10;
}

.prom_close_pic
{
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-top: 7px;

}

.logo_div
{
	width: 156%;
	height: 40px;
	position: absolute;
}

.prom_top_logo
{
width: 80px;
position: absolute;
margin-left: 360px;
margin-top: 5px;
}

.prom_footer_back
{
	background-color: #38AD93;
	width: 100%;
	height: 100%;
	margin-top: -85px;
	position: absolute;
	z-index: 100;
}

input::-webkit-input-placeholder { text-align: center!important;}
::-moz-placeholder { text-align: center!important;} /* firefox 19+ */
:-ms-input-placeholder { text-align: center!important;} /* ie */
input:-moz-placeholder { text-align: center!important;}
