<div class="header row1 day">
    <div class="left">
        <a ng-href="{{getTodayLink()}}" class="today">Today</a>
        <a ng-href="{{getPrevLink()}}" class="arrow left" ng-uc-check></a>
        <a class="sep"></a>
        <a ng-href="{{getNextLink()}}" class="arrow right" ng-uc-check></a>
        <div class="month">{{getDate()}}</div>
        <div class="year">{{activeYear}}</div>
        <div class="wedge"></div>
    </div>
</div>
<div class="day-view">
    <div class="day-grid toscroll" id="day-grid">

    </div>
    <div class="ad-grid">
        <div class = "ads_header">
            <h5>Suggested Events at NYU</h5>
        </div>
        <div class="ads"></div>
    </div>
</div>