<div class="overlay">
    <div class="wrapper">
        <div class="content">
            <div class="dtitle">
                <div class="close" ng-uc-check></div>
                <div class="label">Create Event</div>
            </div>
            <div class="dbody">
                <div class="row1 row">
                    <input type="text" class="etitle" placeholder="Event Title">
                    <div class="from-ts ts">
                        <input type="text" class="date">
                        <input type="time" class="time">
                        <div class="label">Start</div>
                    </div>
                    <div class="sep-to" ng-uc-check></div>
                    <div class="to-ts ts">
                        <input type="text" class="date">
                        <input type="time" class="time">
                        <div class="label">End</div>
                    </div>
                    <div class="allday">
                        <div class="check" ng-uc-check></div>
                        <label>All Day</label>
                    </div>
                    <div class="todo">
                        <div class="check" ng-uc-check></div>
                        <label>Todo</label>
                    </div>

                </div>
                <div class="row2 row">
                    <div class = "creator_sub_row">
                        <div class = "list_container group_list_container">
                            <div class = "list_header">
                                Select a class or group
                            </div>
                            <div class = "scroll_list">
                                <div class = "group_bar active">
                                    <span class = "group_name">Chemistry</span>
                                    <span class = "white_checkmark"></span>
                                </div>
                                <div class = "group_bar">
                                    <span class = "group_name">Chemistry</span>
                                    <span class = "white_checkmark"></span>
                                </div>
                                <div class = "group_bar">
                                    <span class = "group_name">Chemistry</span>
                                    <span class = "white_checkmark"></span>
                                </div>
                                <div class = "group_bar">
                                    <span class = "group_name">Chemistry</span>
                                    <span class = "white_checkmark"></span>
                                </div>
                                <div class = "group_bar">
                                    <span class = "group_name">Chemistry</span>
                                    <span class = "white_checkmark"></span>
                                </div>
                            </div>
                        </div>
                        <div class = "list_container category_list_container">
                            <div class = "list_header">
                                <span class = "category_icon"></span>Add Category
                            </div>
                            <div class = "scroll_list">
                                <div class = "cat_bar active">
                                    <span class = "group_name">Homework</span><span class = "dark_checkmark"></span>
                                </div>
                                <div class = "cat_bar">
                                    <span class = "group_name">Project</span><span class = "dark_checkmark"></span>
                                </div>
                                <div class = "cat_bar">
                                    <span class = "group_name">Meeting</span><span class = "dark_checkmark"></span>
                                </div>
                                <div class = "cat_bar">
                                    <span class = "group_name">Exam</span><span class = "dark_checkmark"></span>
                                </div>
                                <div class = "cat_bar">
                                    <span class = "group_name">Lab/Research</span><span class = "dark_checkmark"></span>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    

                </div>
                <div class="row3 row">
                    <div class="loc">
                        <div class="value"><input type="text" class="txt" placeholder="No Location"></div>
                        <div class="label">Location</div>
                    </div>
                    <div class="rep">
                        <div class="value">No Repeat</div>
                        <div class="label">Repeat</div>
                    </div>
                </div>
                <div class="row4 row">
                    <div class="tags">
                        
                    </div>
                    <div class="tag-in">
                        <input type="text" placeholder="Add Tags" class="txt">
                    </div>
                </div>
                <div class="row5 row">
                    <div class="des-btn">
                        <div class="show-des"><div class="plus" ng-uc-check></div>Description</div>
                    </div>
                    <textarea class="desc" placeholder="Enter Description"></textarea>
                    <div class="sub-btn">
                        <button class="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>