<div class="header row1">
    <div class="left">
        <a ng-href="{{getPrevLink()}}" class="arrow left" ng-uc-check></a>
        <a ng-href="{{getNextLink()}}" class="arrow right" ng-uc-check></a>
        <div class="month">{{semName[sem]}} Semester</div>
        <div class="year">{{activeYear}}</div>
        <span>-</span>
        <div>000 <span class="green">Classes</span></div>
        <span>and</span>
        <div>000 <span class="blue">Clubs</span></div>        
    </div>
</div>
<hr>
<div class="all-wrapper">
    <div class="sem-wrapper">
        <div ng-repeat="month in semMonths[sem]" class="sem" ng-uc-repeat-rendered month="{{month}}">
            <div class="sem-header row1">
                <span class="month">{{getMonthName(month, false)}}</span>
                <span class="year">{{activeYear}}</span>
            </div>
            <div class="sem-header row2">
                <span ng-repeat="i in [] | range:7" class="grid-column">{{getDayName(i)}}</span>
            </div>
            <div class="month-view grid-view">
                <div class="month-grid grid" ng-attr-id="month-grid-{{semMonths[sem][$index]}}"></div>
            </div>
            <a class="sem-summary" ng-href="#/month/{{month + 1}}/{{activeYear}}">
                <div class="summary">
                    <div><span class="title">View This Month</span></div>
                    <div>000 <span class="green">Class Events/To-Do's</span></div>
                    <div>000 <span class="blue">Club Meetings/Events</span></div>
                    <div>000 <span class="red">Lab Meetings</span></div>
                </div>
            </a>
        </div>
    </div>
    <div class="left-arrow arrow"><div class="arrow"><img ng-src="{{getAssetsUrl()}}/arrow.png"></div></div>
    <div class="right-arrow arrow"><div class="arrow"><img ng-src="{{getAssetsUrl()}}/arrow.png"></div></div>
</div>
<hr class="sep">
<div class="ad-grid">
    <div class="ads"></div>
</div>