.absolute(@top: auto, @right: auto, @bottom: auto, @left: auto, @z: auto) {
    position: absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
    z-index: @z;
}

.fixed(@top: auto, @right: auto, @bottom: auto, @left: auto, @z: auto) {
    .absolute(@top, @right, @bottom, @left, @z);
    position: fixed;
}

@border-color: #D4D4D4;
@padding-y: 4px;
@padding-x: 19px;
@padding-z: 12px;
@ideal-padding: @padding-y - 1 @padding-x @padding-y;
@ideal-font-size: 14px;
