@import "common.less";

/* Start Removables */
.topbar {
    background-color: #333;
    .fixed(0,0,auto,0);
    height: 48px;
    border-bottom: 1px solid #000;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* End Removables */

/* Variables */
@srchbar-height: 49px; /* Outerheight of the search bar */
@toolbar-height: 40px;
@leftbar-width: 300px;

/* Styles */
.ul-calendar {
    overflow: hidden;

    &, * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        list-style: none;
        color: inherit;
        text-decoration: none;
        border: none;
        background: none;
        font-size: 100%;
        font-family: "Open Sans", Arial, sans-serif;
    }

    .absolute(@srchbar-height, 0, 0, 0);

    .toolbar {
        .absolute(0, 0, auto, 0);
        height: @toolbar-height;
        border-bottom: 1px solid @border-color;
        background-color: #EEE;
        overflow: hidden;
        @corner-rd: 4px;

        .column {
            font-size: 12px;
            height: 100%;
            width: 25%;
            padding: 6px 20px;

            &.left {
                float: left;

                button {
                    padding: @ideal-padding;
                    text-transform: uppercase;
                    border-radius: @corner-rd;
                    color: #FFF;
                    float: left;
                    margin-left: 8px;

                    &.full {
                        background-color: #00B5E7;
                        border: 1px solid #319ac3;
                    }

                    &.quick {
                        background-color: #FBFBFB;
                        border: 1px solid @border-color;
                        padding: @padding-z;
                        background-size: 12px 12px;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }

            &.right {
                float: right;

                form {
                    float: right;
                    box-shadow: 0 0 6px -2px #444 inset;
                    border-radius: @corner-rd * 3;
                    background-color: #FFF;
                    height: 100%;
                    @ideal-width: @ideal-font-size * 2;

                    * {
                        float: left;
                        height: 100%;
                        padding: @padding-z;
                    }

                    input[type=text] {
                        width: 100%;
                        margin-left: -@ideal-width;
                        padding-left: @ideal-width + @padding-z;
                    }

                    input[type=submit] {
                        width: @ideal-width;
                    }
                }
            }

            &.center {
                width: 50%;
                margin: auto;
                font-size: 11px;

                ul {
                    overflow: auto;
                    margin: auto;
                    text-align: center;
                    font-size: 0;

                    li {
                        font-size: @ideal-font-size - 1;
                        display: inline-block;
                        border: 1px solid @border-color;
                        border-right-width: 0;
                        background-color: #FDFDFD;
                        overflow: hidden;
                        @border-radius: @corner-rd * 2;


                        &:first-child {
                            &, a {
                                border-radius: @border-radius 0 0 @border-radius;
                            }
                        }

                        &:last-child {
                            border-right-width: 1px;

                            &, a {
                                border-radius: 0 @border-radius @border-radius 0;
                            }
                        }

                        a {
                            display: block;
                            padding: @padding-y - 1 @padding-x @padding-y;
                            text-transform: capitalize;

                            &:hover, &.active {
                                background-color: #838383;
                                color: #FFF;
                                border: 1px solid #777;
                                padding: @padding-y - 2 @padding-x - 1 @padding-y - 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .leftbar {
        width: @leftbar-width;
        .absolute(@toolbar-height, auto, 0, 0);
        border-right: 1px solid @border-color;
    }

    .body {
        .absolute(@toolbar-height, 0, 0, @leftbar-width);
    }
}
