body{
	font-family: 'Open Sans', sans-serif;
	margin:0px auto;
	background-color:whitesmoke;
	min-width: 720px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: scroll;
}

div.eventbook-main{
	max-width:1000px;
	min-width:700px;
	width:80%;
	background-color:white;
	overflow: hidden;
	border:;
	margin: 0 auto;
	padding-bottom: 100px;
	margin-bottom: 100px;
	height: 5000px;
	box-shadow: rgb(238, 238, 238) -3px 0px 3px 2px, rgb(238, 238, 238) 3px 0px 3px 2px;
}

div.eventbook-header{
	height:60px;
	border-bottom: 1px solid #ECECEC;
	position: fixed;
	z-index: 100;
	max-width: 1000px;
	width: 80%;
	min-width: 700px;
	background-color: white;
	top: 0px;
	overflow: hidden;
}

div.eventbook-content{
	border-left: 1px solid #ECECEC;
	width: 84%;
	left: 75px;
	position: relative;
	z-index: 1;
	height: 100%;
	top: 0px;
	padding-top: 20px;
}

div.eventbook-content-wrap{
	bottom: 50px;
	position: relative;
	top: 60px;
	height: 100%;
}

div.header-left-title{
    width: 300px;

    display: inline-block;
    float: left;
    height: 100%;
    margin-left: 50px;
}

div.header-left-title div.eventbook-date-cont{
    display: inline-block;
    overflow:hidden;
    float: left;
    margin-right: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 9px;
    background: #f5f5f5; 
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1)); 
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1); 
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1); 
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1); 
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1); 
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1); 
    border: 1px solid #dcdcdc; 
    border: 1px solid rgba(0,0,0,0.1); 
    border-radius: 3px;
    height: 40px;
}

div.header-left-title div.eb-day-cont span.eb-current-day{
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    color: #6a7480;
    display:block;
}

span.eb-prev-day{
	    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    color: #6a7480;
    display:block;
	}

div.header-left-title div.eb-day-cont span.eb-next-day{
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    color: #6a7480;
    display:block;
}



div.header-left-title div.eb-month-cont span.eb-month{
    vertical-align: middle; line-height: 40px; text-align: center; 
    font-size: 23px; 
    font-weight: 400; 
    color: #6a7480;

}

div.header-left-title div.eb-month-cont span.eb-date{
    vertical-align: middle; line-height: 40px; text-align: center; 
    font-size: 24px; 
    font-weight: 600; 
    color: #6a7480;

}

div.header-left-title div.eb-year-cont span.eb-year{
    vertical-align: middle; line-height: 40px; text-align: center; 
    font-size: 25px; 
    font-weight: 100; 
    color: #6a7480;
}

div.header-center-fx{  

    width: 90px; 

    display: block;   height: 100%;
    

    margin: 0 auto;

}

div.eb-fx-cont{
    background: #f5f5f5; 
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1)); 
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1); 
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
     background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1); background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1); 
     background-image: linear-gradient(top,#f5f5f5,#f1f1f1); border: 1px solid #dcdcdc; border: 1px solid rgba(0,0,0,0.1); 
    border-radius: 3px; 
    height: 40px;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
box-shadow: 0 1px 0 rgba(0,0,0,.05);
    display: inline-block;
    float: left;
    cursor:pointer;
    margin-top: 9px;
}

div.eb-fx-cont:hover{
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 0 rgba(0,0,0,.1);
border-color: #66afe9;
}

div.eb-fx-cont:active{
-webkit-box-shadow: inset 0 2px 0 #ddd, inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
box-shadow: inset 0 2px 0 #ddd, inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
border: 1px solid #66afe9;
}

div.fx-cont-left{
    border-radius: 4px 0px 0px 4px;
	
    margin-right: 4px;
    margin-left: 10px;
}

div.fx-cont-left span{
    background-image: url(src/left-arrow.png);
 
	      
}

div.eb-fx-cont span{
	
    position: relative; background-repeat: no-repeat; background-size: 100%; width: 14px; height: 25px; margin-top: 9px; margin-right: 9px; margin-left: 8px; display: block; background-position-x: 1px;
}

div.fx-cont-right{
    border-radius: 0px 4px 4px 0px;
	
}

div.fx-cont-right span{
    background-image: url(src/right-arrow.png);
 
	
    margin-left: 9px;
    margin-right: 8px;
}

div.eventbook-date-break{
    position: relative;
	
    top: 40px;
    left: -101px;
    width: 100%;
    padding-right: 200px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #E4E4E4;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 2px -1px;
}

div.eventbook-date-break div.eb-db-date{
    margin-left: 85px;

}

div.eventbook-date-break div.eb-db-date span.eb-db-day{
    display: inline-block;
  text-align: center; 
    position: relative;
    font-size: 22px; 
    top: -7px;
    font-weight: 200; 
    color: rgba(0, 0, 0, 0.22);
}

div.eventbook-date-break div.eb-db-date div.eb-db-icon{
    display: inline-block;

    background-color: rgba(0,0,0,.15); border: 2px solid #fff; -webkit-border-radius: 5px; color: #fff;  font-weight: 500; left: 12px; 
    padding-bottom: 1px; 
    margin-left: 25px;
    padding-top: 1px;  text-align: center; 
    margin-top: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.28); top: 0; width: 46px;
}

div.eventbook-date-break div.eb-db-date div.eb-db-icon span.eb-db-icon-m{
    font-size: 11px;

    text-transform: uppercase;
    font-weight: 100;
    display: block;
}

div.eventbook-date-break div.eb-db-date div.eb-db-icon span.eb-db-icon-d{

    font-size: 24px;
    

    line-height: 21px;

    font-weight: 700;

}


div.eventbook-content div.eventbook-event-cont{
    position: relative;

    
    margin-top: 20px;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid #ECECEC;
    border-left: none;
    left: -1px;
    min-width: 490px;
    border: 1px solid rgba(105, 105, 105, 0.23);
    margin-right: 200px;
    min-height: 138px;
    border-left: 3px solid rgba(189, 189, 189, 0.498039);
     background-image: -moz-linear-gradient(left center , rgba(228, 228, 228, 0.09), #FFF 7%);
    background-image: -webkit-linear-gradient(left,rgba(189, 189, 189, 0.21),#FFFFFF 5%);
}


div.eventbook-content div.eventbook-groupevent-cont{
	min-height: 210px;
	    
	border: 1px solid #ECECEC;
	border-left: 3px solid rgba(245, 191, 132, 1);
    min-width: 480px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    padding-right: 10px;
    background-image: -moz-linear-gradient(left,rgba(165, 21, 221, 0.2),#FFFFFF 7%);
    
	background-image: -webkit-linear-gradient(left,rgba(245, 191, 132, 0.48),#FFFFFF 5%);
	border-radius: 0px 4px 4px 0px;
}

div.eventbook-event-cont:hover > div.eb-event-timeuntill{
	opacity:1;
}
div.eb-event-frame{
	padding-top:4px;
	padding-right: 3px;
	background: rgba(11,25,2,0.06);
	padding-bottom:4px;
	border-radius: 0px 5px 5px 0px;
	min-width: 490px;
	margin-right: 200px;
}

div.eb-event-timeuntill{
    font-size: 13px; 
    font-weight: 500;
	
    opacity: .3;
    display: inline-block;
    position: relative;
    transition: opacity .15s ease-in-out;
    margin-top: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

div.eventbook-event-time{
background: rgba(245, 191, 132, 1);
-webkit-transition: margin .3s ease-in-out;
-moz-transition: margin .3s ease-in-out;
-ms-transition: margin .3s ease-in-out;
-o-transition: margin .3s ease-in-out;
transition: margin .3s ease-in-out;
position: relative;
top: 10px;
padding-bottom: 3px;
padding-left: 8px;
display: inline-block;
float: left;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
left: -13px;
padding-right: 8px;
}

div.eventbook-event-time-personal{
background: #575757;
left: -16px;
}

div.eventbook-event-time span{
	color: #fff;
font-size: 14px;
font-weight: bold;
position: relative;

	top: 0px;
color: white;

	text-shadow: 0 1px 1px rgba(162, 165, 163, 0.6);
}

div.eventbook-event-time::after{
	content: "";
position: absolute;
bottom: -10px;

	left: 0;
display: block;
width: 0;
height: 0;
border-style: solid;

	border-width: 0 13px 10px 0px;

	border-color: transparent rgba(233, 152, 63, 1) transparent transparent;
}

div.eventbook-event-time-personal::after{
border-color: transparent #777777 transparent transparent;
}

div.eb-group-creator-name{
    margin-top: 4px;
	
    font-size: 18px;
    color: #029acf;
    font-weight: 400;
}

div.eb-personalevent-wrap{

}

div.eventbook-personalevent-cont{

    margin-top: 0px!important;
    

    border-radius: 0px 5px 5px 0px;

    margin-right: 2px!important;

}

span.eventbook-event-group{
	background-image:url(src/neuroscience.jpg);
	background-size:cover;
	height: 18px;
	width: 18px;
	display: inline-block;
	text-shadow: none;
	margin-right: 2px;
	border-radius: 3px;
	border: none;
	top: 4px!important;
}

.eventbook-discuss-btn{
	position: absolute;
	bottom: 4px;
	text-align: center;
	background-color: #fff;
	border: 0;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline: 0;
	right: 4px;
	font-size: 13px;
	cursor:pointer;
	color: #333437;
	left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.eventbook-discuss-btn:hover{
-webkit-transition: all 150ms ease-in-out;
-moz-transition: all 150ms ease-in-out;
-ms-transition: all 150ms ease-in-out;
-o-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
color: #1a1b1c;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

div.eb-event-titlepic{
    margin-top: 15px;

    margin-left: 10px;
    height: 128px;
    overflow: hidden;
}

div.eb-event-titlepic div.eb-event-pic-frame{
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,.5);
box-shadow: 0 1px 5px rgba(0,0,0,.5);
background-color:#f8f8f8;
   
    
	border-radius: 2px;
   
    
	display: inline-block;
	margin-left: 1px;
	float: left;
	padding: 2px;
}

div.eb-event-titlepic div.eb-event-pic-frame div.eb-event-pic{
	background-image: url(src/lab_stock.jpg);
	 
	width: 160px;
    
	height: 112px;
     
	border-radius: 3px;
	background-size: cover;
     
	min-width: 110px;
	border: 1px solid #eee;
     background-repeat:no-repeat;
	}

div.eb-event-titlepic div.eb-event-title{
    font-size: 21px;

    display: block;
    font-weight: 500;
    color: #474747;
    margin-left: 7px;
}

.eb-event-wrap{
    margin-bottom: 40px;

}

.eb-groupevent-wrap{

}



.eb-groupevent-wrap .eventbook-groupevent-people .eb-group-creator{
    border-radius: 3px; border: 1px solid #ECECEC;
	
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    height: 55px;
    background: rgba(228, 228, 228, 0.15);
}

.eb-groupevent-wrap .eventbook-groupevent-people .eb-group-creator:hover > div.eb-group-creator-picframe{
opacity:.8;
}
.eb-groupevent-wrap .eventbook-groupevent-people .eb-group-creator:hover{
	cursor:pointer;
}
.eb-groupevent-wrap .eventbook-groupevent-people .eb-group-creator:hover > div.eb-group-creator-name{
text-decoration: underline;
color: #016283;
}

.eb-groupevent-wrap .eventbook-groupevent-people .eb-group-creator:active > div.eb-group-creator-name{
text-decoration: underline;
color: rgba(4, 117, 156, 0.65);
}

div.eb-group-attendant:hover > .eb-attendant-pic{
	opacity:.8;
}

div.eb-group-attendant:hover{
	cursor:pointer;
	background-color: #FAFAFA;
}

div.eb-group-attendant:hover > .eb-attendant-name{
	text-decoration: underline;
	color: #016283;
}

div.eb-group-attendant:active > .eb-attendant-name{
	text-decoration: underline;
	color: rgba(4, 117, 156, 0.65);
}

.eb-groupevent-wrap .eventbook-groupevent-people .eb-group-attending{
    border-radius: 3px; border: 1px solid #ECECEC; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0,0,0,0.05);  
    background: #FFFFFF;
	
    position: absolute;
    width: 99.4%;
    bottom: 0px;
    top: 62px;
}

div.eb-event-location{
	font-size: 18px;

	display: inline-block;
font-weight: 200;
color: rgba(0, 0, 0, 0.4);
margin-left: 7px;
}

div.eb-event-title-wrap{
display: inline-block;
float: right;
position: absolute;
padding-right: 10px;
}









.eb-groupevent-wrap .eventbook-groupevent-people {
    position: absolute; 
    top: -1px; 
    right: -245px;
	
    height: 101%;
    width: 240px;
}



div.eb-event-location {
font-size: 15px;
font-weight: 200;
color: rgba(0, 0, 0, 0.4);
margin-left: 7px;

}


div.eb-event-description{
    font-size: 12.5px; display: block; 
    font-weight: 500; 
    color: rgba(97, 83, 83, 0.8); margin-left: 7px;
    height: 51px;
    margin-top: 6px;
    overflow: hidden;
}

div.eb-group-creator-pic{
    background-image: url(src/mypic.png);

    background-size: cover;
    width: 42px;
    height: 42px;
    display: inline-block;
    border: 1px solid #eee;
    float: left;
    border-radius: 3px;
    background-repeat: no-repeat;
}


div.eb-group-creator-picframe{
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); background-color: #f8f8f8;
	
    padding: 1px;
    display: inline-block;
    float: left;
    border-radius: 2px;
    margin-left: 5px;
    margin-top: 4px;
    margin-right: 8px;
}

span.eb-group-created-copy{
    font-size: 12px;
	
    color: rgba(0, 0, 0, 0.4);
}

.eventbook-discuss-btn:active{
-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 2px 2px rgba(0,0,0,0.05);
color: #000205;
}

div.eb-event-loc-group-wrap div.eb-event-group{
    font-size: 15px; 
    display: inline-block;
    font-weight: 200; 
    margin-left: 2px;
    color: #029acf;
    cursor:pointer;
}

div.eb-event-loc-group-wrap div.eb-event-group:hover{
text-decoration: underline;
color: #016283;
}
div.eb-event-loc-group-wrap div.eb-event-group:active{
text-decoration: underline;
color: rgba(4, 117, 156, 0.65);
}
div.eb-group-attending-header{
	width: 100%;
	overflow:hidden;
height: 25px;
border-bottom: 1px solid #ECECEC;
background-color: rgba(228, 228, 228, 0.15);
}

div.attending-header-left span.people-icon{
    background-image: url(src/attendants.png);

    background-size: cover;
    width: 16px;
    height: 15px;
    top: 3px;
    display: inline-block;
    position: relative;
    left: 10px;
}
    .eb-personal-event-name{
    	font-size: 21px;
display: block;
font-weight: 500;
color: #474747;


    	position: absolute;
    	display: inline-block;

    	top: 45px;
    	left: 8px;
    	float: left;

    
}
div.attending-header-left span.people-number{
    font-size: 14px;
	
    font-weight: 600;
    color: rgba(0, 0, 0, 0.46);
    margin-left: 11px;
}

div.eb-group-attendants-scrollable{
overflow:scroll;
width:100%;
position: absolute;
bottom: 0px;
top: 27px;
}
div.attending-header-left{

}

div.eb-group-attendant{
    padding: 4px 4px;

    margin: 0px 7px;
    border-bottom: 1px solid rgba(236, 236, 236, 0.49);
}

.eb-personal-right{
    position: absolute; 
    top: -5px; 
    right: -250px; 
    height: 104%; 
    width: 239px;
	
    background: rgba(11,25,2,0.06); padding-bottom: 4px; 
    border-radius: 3px;
}

div.eb-group-attendant div.eb-attendant-name{
    display: inline-block;

    font-size: 13px;
    font-weight: 400;
    padding-left: 5px;
    text-overflow: ellipsis;
    color: #029acf;
    white-space: nowrap;
    overflow: hidden;
    width: 185px;
    top: 1px;
    position: relative;
}
div.eb-group-attendant div.eb-attendant-pic{
    background-image: url(src/ross.png);

    background-size: cover;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    display: inline-block;
    float: left;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); 
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}





div.eb-event-discussion{
    position: relative; 
    margin-top: 8px; border-radius: 3px; border: 1px solid #ECECEC;   
    margin-right: 200px;  
    min-width: 471px; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); 
    height: 0;
    max-height:150px;
    opacity:0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05); 
    margin-left: 10px;
    padding-right: 10px; 
    background: rgba(245, 245, 245, 1);
}

div.eb-personal-todo-wrap{
    display: inline-block;

    float: left;
    margin-top: 18px;
    margin-left: 20px;
    outline: none;
}

div.eb-personal-todo-wrap div.button-block{
width: 20px;
height: 20px;
border-radius: 2px;
margin: 0 auto;
position: relative;
display: block;
position: relative;
border: 10px solid transparent;
border-width: 3px;
border-style: solid;
cursor: pointer;
background-color: white;
border-color: #FF4737;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
box-sizing: border-box;
-webkit-transition: border 600ms ease-in-out;
-moz-transition: border 600ms ease-in-out;
-ms-transition: border 600ms ease-in-out;
-o-transition: border 600ms ease-in-out;
transition: border 600ms ease-in-out;
}

div.eb-personal-todo-wrap div.button-block button{
position: absolute;
left: 50%;
top: 50%;
width: 30px;
height: 30px;
background: transparent;
border: 0;
margin: -15px 0 0 -15px;
cursor: pointer;
}

div.eb-personal-todo-wrap div.button-block button i.mark{
background-color: transparent;
position: absolute;
height: 15px;
width: 2px;
display: block;
top: 7px;
-webkit-transition: all 100ms ease-in-out;
-moz-transition: all 100ms ease-in-out;
-ms-transition: all 100ms ease-in-out;
-o-transition: all 100ms ease-in-out;
transition: all 100ms ease-in-out;
}

div.eb-personal-todo-wrap div.button-block button i.x{
right: 14px;
transform: rotate(40deg);
/* TODO: prefix; */
-webkit-transform: rotate(40deg);
/* TODO: prefix; */
}
div.eb-personal-todo-wrap div.button-block button i.xx{
left: 14px;
transform: rotate(-45deg);
/* TODO: prefix; */
-webkit-transform: rotate(-45deg);
/* TODO: prefix; */
}

.button-block.canceled {
        height: 20px;
        width: 20px;
        border-width: 3px;
        border-color: #00c692;
        border-radius: 4px;
        background-color: white;
    }

    .button-block.canceled .mark {
        background-color: #000000;
    }

    .button-block.canceled .mark.x {
        right: 12px;
        top: 9px;
        height: 13px;
    }

    .button-block.canceled .mark.xx {
        height: 5px;
        top: 15px;
        left: 10.5px;
    }


.midline-dot{color: rgb(111, 111, 111);
font-weight: bold;
margin: 0 1px 0 2px;
font-size: 11.111111640930176px;
}

.eb-personal-event-info{
    position: absolute;
	
    top: 101px;
    height: 87px;
    left: 0px;
    width: 100%;
    border-top: 1px solid #ECECEC;
}

.eb-event-type{
    display: inline-block;
	
    float: left;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 15.5px; 
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: 200; color: rgba(0, 0, 0, 0.4);
    text-indent: 5px;
}
div.eb-personal-event-notes span.eb-personal-event-info-title {

}

div.eb-personal-event-notes span.eb-personal-event-info-content,.eb-personal-event-files span.eb-personal-event-info-content{
    font-size: 12.5px; display: block; font-weight: 500; color: rgba(97, 83, 83, 0.8);

    margin: 0 auto;
    padding: 0;
    position: relative;
}



div.eb-personal-event-notes {
    width: 65%;

    overflow: scroll;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
    cursor:pointer;
    border-right: 1px solid #ECECEC;
    margin-top: 5.5px;
    position: relative;
    display: inline-block;
    float: left;
}

div.eb-personal-event-notes:hover > span.eb-personal-event-info-content,.eb-personal-event-files:hover span.eb-personal-event-info-content{
	color:rgba(97, 83, 83, 0.43);
}

div.eb-personal-event-info {
	
}

div.event-attend-status{
    display: inline-block;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
	box-shadow: 0 1px 0 rgba(0,0,0,.05);
	background-color: #fff;
	background-image: -webkit-linear-gradient(top,transparent,transparent);
	height: 31px;
	background-image: linear-gradient(top,transparent,transparent);
	color: #404040;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    width: 120px;
    position: absolute;
    right: 6px;
    top: 6px;
}

div.event-edit-btn{
    display: inline-block;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
	box-shadow: 0 1px 0 rgba(0,0,0,.05);
	background-color: #fff;
	background-image: -webkit-linear-gradient(top,transparent,transparent);
	height: 31px;
	background-image: linear-gradient(top,transparent,transparent);
	color: #404040;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    width: 133px;
    position: absolute;
    right: 6px;
    top: 6px;
}

div.event-edit-btn:hover{
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 0 rgba(0,0,0,.1);background-color:#fff;background-image:-webkit-linear-gradient(top,transparent,transparent);background-image:linear-gradient(top,transparent,transparent);border-color: #66afe9;color:#222;
}

div.event-edit-btn:active{
	background:#e5e5e5;
-webkit-box-shadow:inset 0 2px 0 #ddd, inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
box-shadow:inset 0 2px 0 #ddd, inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
border: 1px solid #66afe9;
}

div.event-attend-status span.attend-title, div.event-edit-btn span.attend-title{
font-size: 14px;
font-weight: 700;
padding-left: 5px;
color: rgba(64, 64, 64, 0.83);
position: relative;
top: 4px;
}
div.event-attend-status:hover{
-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 0 rgba(0,0,0,.1);background-color:#fff;background-image:-webkit-linear-gradient(top,transparent,transparent);background-image:linear-gradient(top,transparent,transparent);border-color: #66afe9;color:#222;
}
div.event-attend-status:active{
background:#e5e5e5;
-webkit-box-shadow:inset 0 2px 0 #ddd, inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
box-shadow:inset 0 2px 0 #ddd, inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
border: 1px solid #66afe9;
}

div.event-attend-status:hover > span.down-arrow{
	background-image:url(src/down_arrow_foc_hov.png);
	transition:background-image .1s ease;
}

.eb-personal-tools-cont{
    border: 1px solid rgba(105, 105, 105, 0.23);

    background-color: white;
    position: absolute;
    top: 32px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 2px;
} 

span.down-arrow{
background: center center no-repeat url(src/down_arrow.png);
background-size: cover;
display: inline-block;
width: 9px;
height: 9px;
cursor: pointer;
position: relative;
top: 12px;
float: right;
right: 6px;
}

span.attend-icon{
	background: center center no-repeat url(src/checked-event.png);
background-size: cover;
display: inline-block;
	width: 14px;
	height: 14px;
cursor: pointer;
position: relative;
	left: 5px;
	top: 6px;
}

span.edit-icon{
background: center center no-repeat url(src/edit-icon.png);
background-size: cover;
display: inline-block;
width: 14px;
height: 14px;
cursor: pointer;
position: relative;
left: 6px;
top: 6px;	
}

span.attend-icon{
	background: center center no-repeat url(src/checked-event.png);
background-size: cover;
display: inline-block;
	width: 14px;
	height: 14px;
cursor: pointer;
position: relative;
	left: 5px;
	top: 6px;
}

span.remove-icon{
	background-image: url(src/dismiss-event.png);
	left: 0px;
	top: 2px;
	width: 14px;
	height: 14px;
	background-size: cover;
	background-repeat: no-repeat;
}

.dd-box-attending{
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 12px 10px;
top: 47px;
z-index: 150;
opacity: 0;
right: 10px;
display:none;
position: absolute;
width: 210px;
-webkit-transition: opacity .45s;
transition: opacity .45s;
background: #fff;
border: 1px solid rgba(0, 0, 0, 0.14);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.dd-box-show{
	display:block;
	opacity:1;
}

.dd-box-attending:hover{
	background-color: #fafafa;
	cursor:pointer;
}

.dd-box-attending:hover> div.attending-option{
	color: rgba(50, 50, 50, 1);
}

.dd-box-attending:active> div.attending-option{
	color: rgba(64, 64, 64, 0.53);
}
.dd-box-attending div.attending-option{
	font-size: 14px;
font-weight: 700;

	padding-left: 4px;
color: rgba(64, 64, 64, 0.83);
}

.eb-personal-wedges-notes-outer{
border-bottom-color: rgba(0,0,0,.2);
font-size: 0px;
line-height: 0%;
z-index: 2;
top: 1px;
width: 0px;
display: inline;
border-left: 8px solid rgba(255, 255, 255, 0);
position: relative;
border-top: 9px solid #E0E0E0;
border-right: 8px solid rgba(246, 246, 246, 0);
}
.eb-personal-note-wedges{
	position: absolute;

	left: 50px;

	top: 92px;
}
.eb-personal-file-wedges{
		position: absolute;
right: 100px;
top: 87px;
}
.eb-personal-wedges-notes-solid{
font-size: 0px;
line-height: 0%;
display: inline;
width: 0px;
left: -15px;
z-index: 2;
top: -1px;
position: relative;
border-left: 7px solid rgba(255, 255, 255, 0);
border-top: 8px solid #FFFFFF;
border-right: 7px solid rgba(246, 246, 246, 0);
}

.eb-personal-event-info-header{
    top: 10px;

    position: relative;
}

.event-info-notes-header{

    position: absolute;
    

    left: 38px;
    
    

    top: 36px;

    font-size: 14px; 
    font-weight: 200; color: rgba(0, 0, 0, 0.46);
}

.event-info-files-header{
    position: absolute; 
    right: 59px; top: 36px; font-size: 14px; font-weight: 200; color: rgba(0, 0, 0, 0.46);

}

.eb-personal-files-wedges {
position: absolute;
right: 50px;
top: 92px;
}

.eb-personal-event-files
{
    width: 30%; overflow: scroll; padding-left: 8px; padding-top: 5px; padding-bottom: 4px;  cursor: pointer; 
    margin-top: 5.5px; position: relative; display: inline-block; 
    padding-right: 4px;
    float: right;

}

@media(max-width:1200px){
	div.eb-event-loc-group-wrap div.eb-event-group {
font-size: 13px;
display: inline-block;
font-weight: 200;
margin-left: 2px;
color: #029acf;
cursor: pointer;
}

div.eb-event-location {
font-size: 13px;
font-weight: 200;
color: rgba(0, 0, 0, 0.4);
margin-left: 7px;
}
}



@media(max-width:1170px){
	div.eb-group-attendant div.eb-attendant-name {
display: inline-block;
font-size: 13px;
font-weight: 400;
padding-left: 5px;
text-overflow: ellipsis;
color: #029acf;
white-space: nowrap;
overflow: hidden;
width: 168px;
top: 1px;
position: relative;
}
}

@media (max-width: 1158px) {
.eb-groupevent-wrap .eventbook-groupevent-people {
position: absolute;
top: -1px;
right: -225px;
height: 101%;
width: 220px;
}

div.eb-personal-right{
position: absolute;
top: -5px;
right: -231px;
height: 104%;
width: 220px;	
}

}

@media(max-width:1110px){
div.eb-event-loc-group-wrap div.eb-event-group{
width: 220px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
position: relative;
top: 4px;
}



}



@media(max-width:1090px){
div.eb-event-loc-group-wrap div.eb-event-group{
width: 180px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
position: relative;
top: 4px;
}
}
@media (max-width: 1035px) {
	div.eb-group-attendant div.eb-attendant-name {
display: inline-block;
font-size: 13px;
font-weight: 400;
padding-left: 5px;
text-overflow: ellipsis;
color: #029acf;
white-space: nowrap;
overflow: hidden;
width: 128px;
top: 1px;
position: relative;
}

div.eb-event-frame{
	padding-right: 8px;
}
}

@media (max-width: 1030px) {
.eb-groupevent-wrap .eventbook-groupevent-people {
position: absolute;
top: -1px;
right: -200px;
height: 100%;
width: 195px;
}



div.eb-personal-right{
position: absolute;
top: -5px;
right: -198px;
height: 104%;
width: 188px;
}

div.eb-group-creator-name {
margin-top: 8px;
font-size: 15px;
color: #029acf;
font-weight: 400;
}
span.eb-group-created-copy {
display:none;
}

}

@media (max-width: 1020px) {
div.eb-event-titlepic div.eb-event-pic-frame div.eb-event-pic {
background-image: url(src/lab_stock.jpg);
width: 115px;
height: 98px;
border-radius: 3px;
background-size: cover;
border: 1px solid #eee;
background-repeat: no-repeat;
}

.eb-personal-event-name{
	font-size:18px;
}

div.eb-event-titlepic div.eb-event-title {
font-size: 18px;

font-weight: 500;
color: #474747;
margin-left: 7px;
}
div.eventbook-content div.eventbook-groupevent-cont {
min-height: 192px;
}
div.eb-event-location {
font-size: 13px;

font-weight: 200;
color: rgba(0, 0, 0, 0.4);
margin-left: 7px;
}
	div.eb-group-attendant div.eb-attendant-name {
display: inline-block;
font-size: 12px;
font-weight: 400;
padding-left: 5px;
text-overflow: ellipsis;
color: #029acf;
white-space: nowrap;
overflow: hidden;
width: 110px;
top: 2.5px;
position: relative;
}


}

@media (max-width:1000px){
	.eb-groupevent-wrap .eventbook-groupevent-people {
position: absolute;
top: -1px;
right: -170px;
height: 100%;
width: 165px;
}

div.eb-personal-right {
position: absolute;
top: -5px;
right: -168px;
height: 104%;
width: 158px;
}

}

@media (max-width: 940px) {
	.eb-groupevent-wrap .eventbook-groupevent-people {
position: absolute;
top: -1px;
right: -125px;
height: 101%;
width: 120px;
}
div.eb-group-attendant div.eb-attendant-name {
display: inline-block;
font-size: 11px;
font-weight: 400;
padding-left: 5px;
text-overflow: ellipsis;
color: #029acf;
white-space: nowrap;
overflow: hidden;
width: 68px;
top: 1px;
position: relative;
}



div.eb-personal-right {
position: absolute;
top: -5px;
right: -124px;
height: 104%;
width: 114px;
}

}


@media (max-width: 880px) {
	div.eb-event-titlepic div.eb-event-title {
font-size: 17px;

font-weight: 500;
color: #474747;
margin-left: 7px;
}
}