.calnoti_main_window
{
    width:940px;
    min-height: 280px;
    background-color: #606060;
    border-radius: 0px 0px 4px 4px;
    border:2px solid #111111;
}

.calnoti_sec
{
    width: 345px;
    height: 280px;
    padding-left: 12px;
    float: left;
}

.dynamic_sec
{
width: 195px;
padding-left: 16px;
float: left;
padding-top: 20px;
}

.cn_sec_header
{
    height: 51px;
    width: 321px;
    margin-bottom: 10px;
    border-bottom: 2px solid #c0c0c0; 
    font-family: 'Open Sans';
}

.sec_header_prompt
{
    color: #c0c0c0;
    font-size: 20.85px;
    padding-top: 22px;
    float: left;
    text-transform: uppercase;
    font-weight: 300;
}

.greenNotiCircleBig
{
    float: left;
    color: white;
    border-radius: 50%;
    background-image: -moz-linear-gradient(90deg, rgb(0,204,148)0%, rgb(2,226,167)100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0,204,148)0%, rgb(2,226,167)100%);
    background-image: -ms-linear-gradient(90deg, rgb(0,204,148)0%, rgb(2,226,167)100%);
    margin-top: 26px;
    margin-left: 16px;
    width: 21px;
    height: 21px;

    text-align: center;
}

.greenNotiCircleBig div
{
    font-size: 14px;
    margin-top: 1px;
}

.cn_sec_content
{
    width: 100%;
    height: 216px;
    overflow-y:scroll; 
}

.cn_row
{
height: 49px;
width: 311px;
margin-top: 0px;
margin-bottom: 4px;
padding: 6px;
border-radius: 1px;
cursor: pointer;
}

.no_row_display
{
    background-color: transparent!important;   
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 15.36px;
    color: #353535;
    text-align: center;
}

.no_row_display div
{
    margin-top: 15px;
}

.row_icon
{
    height: 49px;
    width: 49px;
    color: white;
    font-family: 'Open Sans';
    float: left;
}

.EXM
{
    background-color:  #ff5a5f;
    border-radius: 1px;
}

.CLB
{
    background-color: #1da7d3;
    border-radius: 1px;
}

.CLS
{
    background-color: #00ce95;
    border-radius: 1px;
}

.EVT
{
    background-color: #fd702d;
    border-radius: 1px;
}

.INV
{
    background-color: rgba(183,183,183,0.45);
    border-radius: 1px;
    color: #353535;
z-index: 10;
position: relative;
}

.evt_background
{
    height: 49px;
    width: 49px;
    position: absolute; 
    margin-top: -57px;
}

.info_0
{
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    padding-top: 2px;
}

.info_1
{
    font-size: 21.68px;
    text-align: center;
    font-weight: 500;
}

.info_1 div
{
    margin-top: -4px;
    font-size: 21.68px;
    font-weight: 500;
}

.cn_row_left
{
z-index: 10;
float: left;
}


.cn_row_content
{
float: left;
color: #FFF;
font-family: "Open Sans";
font-size: 15.5px;
font-weight: 500;
margin-left: 10px;
margin-top: 10px;
width: 251px;
text-transform: capitalize;
}

.evt_row
{
    width: 191px;
}

.no_footer
{
    margin-top: 15px;
}

.evt_checkbox
{
    width: 40px;
    height: 100%;
    float: left;
}

.cn_row_footer
{
color: #C0C0C0;
font-family: "Open Sans";
font-size: 11px;
font-weight: bold;
height: 20px;
margin-top: 37px;
}

.img_frame
{
    position: relative;
}

.info_3
{

    margin-top: -2px;
    margin-right: 3px;
    float: right;
}

.info_4
{

    margin-top: -2px;
    margin-right: 3px;
    float: right;
}

.sep 
{
    float: right;
    margin-right: 3px;
    margin-top: -1px;
}

.ivt_rightbox
{
    width: 40px;
    float: right;
    margin-top: 8px;
}

.plus_btn
{
    width: 27px;
    height: 24px;
    background-color: #252525;
    border:1.5px solid #111111;
    border-radius: 6px; 
    color: white;
    font-family: 'Helvetica';
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-right: 3px;
}

.plus_btn div
{
    height: 24px;
    width: 24px;
    background-image: url('../img/NotiMenuAssetsMap.png');
    background-repeat: no-repeat;
    background-position: -66px 1px;
}

.tooltipwrap
{
    position: absolute;
    display: none;
}

.twedge
{
        width: 0; 
        height: 0; 
        border-left: 7px solid transparent; 
        border-right: 7px solid transparent; 
        border-top: 10px solid #252525;
        margin-top: -10px;
        position: absolute;
        z-index: 10;
        margin-left: 15px;
}

.tcontent
{
    position: relative;
    background-color: #252525;
    border:1.5px solid #111111;
    padding-left: 9px;
    padding-right: 9px;
    padding-top:3px;
    padding-bottom: 3px;
    color: white;
    border-radius:  4px;
    font-family: 'Open Sans';
    font-size: 12px;
    margin-top: -32px;
    margin-left: 3px;
    z-index: 5;
}

.conflict_schedule .plus_btn div
{
    height: 24px;
    width: 24px;
    background-image: url('../img/NotiMenuAssetsMap.png');
    background-repeat: no-repeat;
    background-position: -66px -47px;
}

.ds_row
{
    float: left;
    width: 100%;
    max-width: 195px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.ds_row_icon
{
    height: 24px;
    width: 24px;
    background-image: url('../img/NotiMenuAssetsMap.png');
    background-repeat: no-repeat;

    float: left;
    
}

.mc_icon
{
    background-position: -7px -185px;
    margin-top: 1px;
}

.wc_icon
{
    background-position: -7px -117px;
    margin-top: 1px;
}

.pl_icon
{
    background-position: -68px 1px;
    margin-top: 1px;
}

.underline
{
    text-decoration: underline;
}


.ds_row_txt
{
    float: left;
    height: 24px;
    font-family: 'Open Sans';
    color: rgba(255,255,255,1);
    font-size: 18px;
    margin-left: 7px;
}

.cn_unseen
{
    background-color: #555;
}

.cn_row_hover
{
    background-color: #555;
}

.ds_row_hover
{
    background-color: #555;
}

.ds_row_hover > .ds_row_txt
{
    color: rgba(255,255,255,0.65);
}

.ds_row_hover > .mc_icon
{
    background-position: -7px -151px;
}

.ds_row_hover > .wc_icon
{
    background-position: -7px -85px;
}

.ds_row_hover > .pl_icon
{
    background-position: -68px -67px;
}

.close_ivt
{
height: 12px;
width: 12px;
background-image: url('../img/NotiMenuAssetsMap.png');
background-repeat: no-repeat;
position: absolute;
background-size: 62px auto;
background-position: -45px -16px;
margin-top: -12px;
margin-left: 24px;
display: none;
opacity:0.7;
}

.close_ivt:hover
{
opacity:1;
}

.calnoti_main_window_head_bp
{
    display: none;
    height: 45px;
    padding-right: 20px;
    padding-top: 10px;
}

/*css for check box*/

.button-block
{
    width: 24px;
height: 24px;
border-radius: 3px;
margin: 14px auto;
display: block;
position: relative;
border: 3px solid white;
cursor: pointer;
box-sizing: border-box;
transition: border 600ms ease-in-out 0s;
}

.button-block button
{
    width: 33px;
height: 33px;
background: none repeat scroll 0% 0% transparent;
border: 0px none;
cursor: pointer;
}

.mark {
    background-color: white;
    position: absolute;
    height: 15px;
    width: 2px;
    display: none;
    top: 7px;
}
.flag_checked .mark
{
    display: block;
}


    .mark.x {
right: 5px;
height: 15px;
top: 2px;
        transform: rotate(45deg); /* TODO: prefix */
        -webkit-transform: rotate(45deg); /* TODO: prefix */
    }

    .mark.xx {
height: 7px;
top: 8px;
left: 4px;
        transform: rotate(-45deg); /* TODO: prefix */
        -webkit-transform: rotate(-45deg); /* TODO: prefix */
    }

/*css for check box end*/

@media (max-width: 1280px) {
.calnoti_main_window
{
    width: 700px;
    height: 315px;
}

.dynamic_sec
{
    display: none;
}

.calnoti_sec
{
    width: 340px;
    padding-left: 6px;
}
.calnoti_main_window_head_bp
{
display: block;
}

.cn_sec_header
{
    height: 31px;
}

.sec_header_prompt
{
    padding-top: 2px;
}

.greenNotiCircleBig
{
    margin-top: 6px;
}

.ds_row
{
    width: auto;
    padding-right: 10px;
    float: right;
}
}


