

<script src="{{base_url}}/js/jquery.min.js"></script>
<!--<script src="{{base_url}}/js/profile/profile.js"></script>-->
<link href='{{base_url}}/css/profile/profile.css' rel='stylesheet' type='text/css'>
<div class="overlay"></div>
<div id="profile_wrapper">
    <div class="showcase_form_overlay"></div>
    <div id="modal_header" {{#if showcase}}{{else}}style="background-image: url( {{background_pic}} )"{{/if}}>

        <div id="modal_controls">

            <a href="#" class="branding_left">ur |</a>
            <div id="modal_label">Profile | {{#if professor}}Professor{{else}}Student{{/if}}</div>
            <a href="#" class="close_modal">x</a>
        </div>

        <div id="showcase_wrapper">

            {{#if showcase}}
            <div class="showcase_controls">

                <div class="showcase_arrow right" href=""></div>
                <div class="showcase_arrow left" href=""></div>
            </div>

            <div class="showcase_items">
                {{#each showcase}}
                <div class="showcase_item{{center}}" showcase_index="{{index}}" file_id = {{id}}
                     {{#if url}} style="background-image: url({{preview}})" {{/if}}>
                    <div class="showcase_info">
                        <div class="showcase_label" style="background-color:{{color}}">
                            {{#if url}}
                            <div class="showcase_url">{{link}}</div>
                            {{else}}
                            <a href="/alpha/urlinqyii/profile/downloadShowcase/?file_id={{id}}">
                                <button type="button" class="download_showcase_button">
                                    <i class="download_button_icon"></i>
                                </button>
                            </a>
                            <div class="showcase_type">.{{type}}</div>
                            {{/if}}


                        </div>
                        <div class="showcase_text">
                            <div class="showcase_title">
                                {{title}}
                            </div>
                            <div class="showcase_description">
                                {{description}}
                            </div>
                        </div>

                    </div>

                    <div class="showcase_delete"><a>x</a></div>


                </div>
                {{/each}}

            </div>
            {{/if}}

            {{#if showcase}}
            <div class="add_showcase_button">
                <button type="button">+ Add a showcase</button>
            </div>
            {{else}}
            <div class="add_showcase_button empty">
                <button type="button">Start Your Academic Profile</button>
            </div>
            {{/if}}
            <div class="add_showcase_form">
                <form id="add_showcase">

                    Adding a New Showcase
                    <input type="text" id="title_entry" name="title_entry" placeholder="Provide a title for your showcase, or add a link below and we'll do it for you">
                    <textarea id="desc_entry" name="desc_entry" placeholder="Add a description"></textarea>
                    <input id="link_entry" name="link_entry" placeholder="Paste a link to your showcase">
                    <button type="button" id="upload_link_button" ><i></i>Upload Showcase</button>
                    <div style='height: 0px;width:0px; overflow:hidden;'>
                        <input id="upfile" type="file" value="upload"/>
                    </div>
                    <div class="showcase_submit">
                        <span class="cancel_showcase_form">Cancel</span>
                        <input type="submit" class="create_showcase_form" id="create_showcase_form" name="create_showcase_form" value="+ Add this Showcase">
                    </div>
                </form>
                <div class="description-section">
                    <i class="close-description"></i>
                    <div class="top-description">
                        - Show your peers and friends what academic research and articles you\'re interested in or have contributed to.
                    </div>
                    <div class="bottom-description">
                        - Display presentations or projects that you want to share with the people in your academic network.
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div id="main_bar">
        <div id="profile_picture_wrapper">
            <div id="profile_picture" style="background-image: url( {{profile_pic}} )"></div>
        </div>
        <div id="name_info_wrapper">
            <div id="name_info">{{#if professor}}Professor {{/if}}{{firstname}} {{lastname}}</div>
            {{#if professor}}
            <div id="university_info">{{university}}</div>
            {{else}}
            <div id="year_info">{{year_name}} at {{university}}</div>
            {{/if}}
        </div>
        <div id="profile_tab_bar">
            <div class="profile_tab feed active" data-panel_id="1">
                <div class="profile_tab_content">

                    <div class="profile_tab_text">{{firstname}}'s Feed</div>
                </div>

            </div>

            <div class="profile_tab classes" data-panel_id="2">
                <div class="profile_tab_content">

                    <div class="profile_tab_text">Classes</div>
                </div>

            </div>

            <div class="profile_tab clubs" data-panel_id="3">
                <div class="profile_tab_content">

                    <div class="profile_tab_text">Clubs</div>
                </div>

            </div>

            <div class="profile_tab Followers" data-panel_id="4">
                <div class="profile_tab_content">

                    <div class="profile_tab_text">Followers</div>
                </div>

            </div>

            <div class="profile_tab Following" data-panel_id="5">
                <div class="profile_tab_content">

                    <div class="profile_tab_text">Following</div>
                </div>

            </div>
        </div>
    </div>
    <div id="main_content">
        <div id = "left_info_bar">
            <div class="info_section" id = "school_section">
                <div class="info_label" id = "school_label">
                    School:
                </div>
                <a href="#" class="info_name">{{school}}</a>
            </div>
            <div class="info_section" id = "department_section">
                <div class="info_label" id = "department_label">
                    Department:
                </div>
                <a href="#" class="info_name">{{department}}</a>
            </div>
            {{#if research}}
                <div class="info_section" id = "research_section">
                    <div class="info_label" id = "research_label">
                        Research:
                    </div>
                    <div class="info_name">research</div>
                </div>
            {{/if}}
            {{#if professor}}
                <div class="info_section" id = "office_section">
                    <div class="info_label" id = "office_label">
                        Office Location:
                    </div>
                    <div class="info_name">{{office_location}}</div>
                </div>
            {{else}}
                {{#if majors}}
                <div class="info_section" id = "major_section">
                    <div class="info_label" id = "major_label">
                        Major:
                    </div>
                    {{#each majors}}
                    <div class="info_name">{{name}}</div>
                    {{/each}}
                </div>
                {{/if}}
                {{#if minors}}
                <div class="info_section" id = "minor_section">
                    <div class="info_label" id = "minor_label">
                        Minor:
                    </div>
                    {{#each minors}}
                    <div class="info_name">{{name}}</div>
                    {{/each}}
                </div>
                {{/if}}
            {{/if}}
        </div>
        <div id = "tab_contents">
            <div class="profile_panel active" id="profile_panel_1"> <!-- feed -->
                CLASS FEED GOES HERE
            </div>

            <div class="profile_panel" id="profile_panel_2"> <!-- classes -->
                {{#if classes}}
                <div class="groups_wrapper">
                    {{#each classes}}
                    <div class="group_box">
                        <div class="class_content">
                            <div class="class_pic" style="background-image: url( http://localhost/alpha/urlinqyii/assets/default/class.png )"></div>
                            <div class="class_name">
                                {{name}}
                            </div>
                            <div class="class_section_name">
                                {{section}}
                            </div>
                            <div class="class_visibility">

                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>

            <div class="profile_panel" id="profile_panel_3"> <!-- clubs -->
                PANEL 3
            </div>

            <div class="profile_panel" id="profile_panel_4"> <!-- followers -->
                <div class="search_bar follower">

                </div>
                {{#if following}}
                <div class="user_wrapper">
                    {{#each following}}
                    <div class="user_box">
                        <div class="user_content">

                            <div class="user_pic" style="background-image: url( http://localhost/alpha/urlinqyii/assets/default/user.png )"></div>
                            <div class="user_name">
                                {{user_name}}
                            </div>
                            <div class="user_school">
                                {{user_school}}
                            </div>
                            <div class="user_follow">

                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}

            </div>
            <div class="profile_panel" id="profile_panel_5"> <!-- following -->
                PANEL 4
            </div>
        </div>
    </div>

</div>

