<div class="showcase_item center" showcase_index={{index}} file_id = {{id}}
{{#if url}} style="background-image: url({{preview}})" {{/if}}>
    <div class="showcase_info">
        <div class="showcase_label" style="background-color:{{color}}">
            {{#if url}}
            <div class="showcase_url">{{link}}</div>
            {{else}}
            <a href="/alpha/urlinqyii/profile/downloadShowcase/?file_id={{id}}">
                <button type="button" class="download_showcase_button">
                    <i class="download_button_icon"></i>
                </button>
            </a>
            <div class="showcase_type">.{{type}}</div>
            {{/if}}


        </div>
        <div class="showcase_text">
            <div class="showcase_title">
                {{title}}
            </div>
            <div class="showcase_description">
                {{description}}
            </div>
        </div>

    </div>

    <div class="showcase_delete"><a>x</a></div>


</div>