body {
  font-family: 'Open Sans', sans-serif;
}

.minical-header nav span,
article span {
  text-decoration: none;
  transition: all .0s ease-in-out;
}
.minical-h1 {
  margin: 0; 
  font-size: 14.5px;
  padding: 0;
  list-style: none;

  color: #575757; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  text-align: center;

  padding-right: .1em;
  padding-top:1px;
  font-family: Avenir;
}

/****/
/* Left Bar */
/****/
nav.sections {
  overflow: hidden;
  display: block;
  float: left;
  width: 82px; height: auto;
  margin-right: 20px;
  background: #3bc1f8;
  box-shadow: 0 1px 1px rgba(78,200,247,.35);
  border-radius: 5px;
  text-aling: center;
}
  nav.sections li a {
    display: block;
    width: 100%; height: 82px;
  }
    nav.sections li:hover,
    nav.sections li.active {
      background: #00aced;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
    }
    nav.sections li.notes a,
    nav.sections li.calendar a,
    nav.sections li.settings a {
      background: url('http://ysfu.net/sprite.png') no-repeat;
    }
    nav.sections li.notes a {
      background-position: 25px 25px;
    }
    nav.sections li.calendar a {
      background-position: 25px -57px;
    }
    nav.sections li.settings a {
      background-position: 25px -139px;
    }

/****/
/* Calendar */
/****/
section.mounth {
overflow: hidden;
display: block;
float: left;
z-index: 500;
width: 200px;
font-family: 'Roboto', sans-serif;
height: auto;
background: #fff;
border-radius: 5px;
position: absolute;
border: solid;
border-width: 1px 1px 2px;
border: 1px solid rgba(196, 196, 196, 0.44);
border-radius: 4px;
box-shadow: 0 0 9px 5px rgba(0,0,0,0.05);
background-color: rgba(255, 255, 255, 0.94);
z-index: 9999999999;
}
.minical-header {
    position: relative;
    display: block;
    height: 32px;
    background: #FFFFFF;
  }
.minical-header .minical-h1 {
      margin-left: 10px;
      line-height: 40px;
    }
.minical-header nav {
      overflow: hidden;
      position: absolute;
      display: block;
      right: 4px; 
      top: 10px;
    
      left: 4px;
}
.minical-header nav span {
        display: block;
        float: left;
        width: 20px; 
        height: 17px;
        margin-left: 14px;
        cursor: pointer;
        background-repeat:no-repeat;
        background-size:cover;
        
      
}


.minical-header nav span:first-of-type {
        
          margin-left: 0px;
          background-image: url(../../../assets/minical_left_arrow.png);
}

.minical-header nav span:last-of-type {
        
          float: right!important;
          background-image: url(../../../assets/minical_right_arrow.png);
}


article 
{
padding: 6px 0px 6px 0px;
position:relative;
}

  article b,
  article span {
    display: block;
    float: left;
    width: 27px; 
    height: 27px;
    text-align: center;
  }
  article b {
    font: 600 13.5px/15px 'Open Sans';
  
    width: 27px;
    text-align: center; color: #82888a; font-size: 0.8em;
    height: 18px;
}
  article span {
    font-size: 13.5px;
    color: #575757;
    border-radius: 2px;
    text-indent: 1.5px; 
    cursor: pointer;
  
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    border: 1px solid transparent;
    line-height: 27px;
}
  article span.disable{
    color: rgba(182, 186, 204, 0);
    cursor:default;
  
    background-color: #FDFDFD; 
    border: 1px solid rgba(235, 235, 235, 0);
}

    article span:not(.disable):hover {
      background: #E5E5E5;
    
      color: #000;
      border: 1px solid #c0c0c0;
}
    article span:not(.disable):active {
      background: #CBCBCB;

    
      color: #fff;
}
    article span.active1,
    article span.active1:hover,
    article span.active1:active {
      color: #fff;
      background: #575757;

    
    
      border: #444;
}
    
    
    article span.active0,
    article span.active0:hover,
    article span.active0:active {
      color: #fff;
      box-shadow:
        inset 0 0 1px 1px #44D37C,
        0 1px 3px -1px #44D37C;
      background: #44D37C;
    }
    


  article div {
    display: block;
    overflow: hidden;
    clear: both;
  
    padding-bottom: 2px;
    margin-top: 4px;
}

div.days{
padding: 0px 0px 0px 0px;
border-bottom: 1px solid rgba(235, 235, 235, 0.86);
margin-left: 3px;
margin-right: 3px;
}

div.dates{
  padding: 0px 3px 0px 3px;
}