
.planner_container{
    position: fixed;
    right: 240px;
    top: 100px;
    width: 235px;
    height: 70%;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #D8D8D8; box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
    max-height: 485px;
}
.planner_header_panel{
    font-family: Avenir;
    font-size: 14px;
    background-color: transparent;
    height: 40px;
    color: #999;
    position: relative;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #dbdcdc;  
    margin-left: 11px;
    margin-right: 12px;
}
.planner_header{
    padding: 16px 0px 6px 0px;
    font-size: 17px;
    font-family: Avenir;
    font-weight: 200;
    color: #777;
}
#dropdown_arrow{
    padding: 0px 0px 2px 5px;
    cursor: pointer;
    display: none;
}
.planner_body{
    background-color: rgba(255, 255, 255, 0);
    color: #222;
    position: relative;
    border-radius: 0px 0px 4px 4px;
    z-index: 1;

}
.entry_field{
    height: 36px;
    /* height: 140px; */
    border: 1px solid #dbdcdc;
    border-width: 0px 0px 1px 0px;
    margin-left: 11px;
    padding-bottom: 5px;
    position: relative;
    -moz-transition: all .35s ease-in;
    /* -webkit-transition: all .35s ease-in-out; */
    /* transition: height .8s ease; */
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.entry_field_placeholder{
    padding: 10px 0px 10px 10px;
    position: fixed;
    width: 202px;
    font-size:14px;
    font-weight: 600;
    cursor: pointer;
    color: #45a8cf;
    border-bottom: 1px solid #dbdcdc;
}
.entry_field_placeholder i{
    background-image: url('../../../assets/partial/planner/help_icon.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 27px;
    top: 5px;
    right: -30px;
    cursor: pointer;
    display: none;
}
#eventImg{
    padding: 45px 0px 20px 16px;
}

span.create_planner_message {}




.free_planner_message, .create_planner_message{
    display: inline;
    position: absolute;
    font-size: 12px;
    margin: 0 auto;
    top: 169px;
    left: 59px;
}
.create_planner_message{
    display: none;
    color: #27292b;
    cursor: pointer;
    text-decoration: none;
    width: auto;
    
}
.create_planner_message:hover{
    text-decoration: underline;
}

.bottom_container{
    position: relative;
    width: 212px;
    height: 38px;
    margin-left: 12px;
    border: 1px solid #dbdcdc;
    border-width: 1px 0px 0px 0px;
    padding: 7px 0px;
}
.bottom_container_text{
    padding: 10px 0px 10px 34px;
    color: #029acf;
    cursor: pointer;
    font-size: 13.5px;
    border-radius: 4px;
}
.bottom_container_text i{
    background-image: url('../../../assets/partial/planner/calendar_icon.png');
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    background-size: 8px 12px;
    position: absolute;
    top: 19px;
    right: 8px;
    cursor: pointer;
    display: none;
}

.planner_creation_form{
    display: none;
    width: 211px;
    height: 120px;
    background-color: rgba(250, 250, 250, 0);
    position: relative;
    top: 6px;
    border-radius: 4px;
    border: 1px solid rgba(229, 229, 229, 0);
    margin-left: -1px;
}




.event_time_wrap{
    display: inline-block;
    width: 220px;
    height: auto;
    font-size: 11.5px;
    font-weight: bold;
    color: #575757;
    position: relative;
    top: 17px;
    left: -1px;
}
.event_date{
    width: 102px;
    height: 25px;
    cursor: pointer;
    font-size: 13px;
    background-repeat: no-repeat;
    background-image: url('../../../assets/partial/planner/calendar.png');
    margin-left: 4px;
    background-position: 88px 10px;
    background-size: 13px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    -moz-transition: all .2s ease;
    outline: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 2px 0px 1px 6px;
    border: 1px solid #D7D7D7;
    border-top: 1px solid #c0c0c0;
    font-size: 12.5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.event_time{
    color: #999;
    font-weight: normal;
    margin-left: 6px;
    font-size: 12.1px;
    cursor: pointer;
}

.event_action{
    display: inline-block;
    width: 217px;
    height: auto;
    position: relative;
    left: -5px;
    top: 32px;
}
.cancel_form{
    height: auto;
    padding: 21px 0px 10px 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 11.5px;
    position: relative;
    left: 1px;
    padding: 4.7px;
    opacity: .7;
    top: 5px;
    float: left;
    color: #999;
}
.create_form{
    padding: 1px 13px;
    border-style: solid;
    text-align: center;
    opacity: .9;
    position: relative;
    vertical-align: middle;
    border-top: none;
    display: inline-block;
    border-radius: 4px;
    float: right;
    margin-top: -3px;
    height: 30px;
    border-color: transparent;
    border-width: 1px;

    cursor: pointer;
    border: 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12.5px;
    border: 1px solid #e5e5e5; 
    border-radius: 4px; background-color: #fcfcfc; background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(235,235,235,.3) 60%, rgba(225,225,225,.6)); background-image: linear-gradient(rgba(255,255,255,0), rgba(235,235,235,.3) 60%, rgba(225,225,225,.6)); box-shadow: 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1); color: #333; text-shadow: 0 1px 0 #fff;
}

.create_form:hover{
    color: #333;
    outline: 0;
    background-color: #f9f9f9;
    border-color: #e5e5e5 #ccc #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0), inset 0 1px 0 rgba(255, 255, 255, 1), /* top inner border */ inset -1px 0 0 rgba(248, 248, 248, 1), /* right inner border */ inset 0 -1px 0 rgba(248, 248, 248, .5), /* bottom inner border */ inset 1px 0 0 rgba(248, 248, 248, 1) /* left inner border */;
}

.create_form:active{
    text-shadow: none;
    border: 1px solid rgb(200, 200, 200);
    background-color: #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .0), inset 0 2px 2px rgba(0, 0, 0, 0.05), /* top inner border */ inset 0 1px 1px rgba(0, 0, 0, 0.08), /* top inner border n2 */ inset -2px 0 2px rgba(0, 0, 0, 0.03), /* right inner border */ inset 0 -1px 0 rgba(0, 0, 0, .02), /* bottom inner border */ inset 2px 0 2px rgba(0, 0, 0, .03) /* left inner border */;
    outline: -webkit-focus-ring-color auto 5px;
}


#event_list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    height: 88%;
    color: #575757;
    white-space: normal;



    overflow-y: auto;
}



.event{
    display: block;
    width: 100%;
    height: 40px;

}

#planner_header_holder {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 100;


}

#planner_body_holder{
    position: relative;
    top: 4px;
    left: 0;
    font-size: 12px;
    width: 100%;
    height: 80%;
}


#planner_bottom_holder{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px auto;

    width: 100%;
    height: 10%;
}


.event_data_holder {
    display: inline-block;
    float: left;
    width: 80%;
    margin-top: 5px;
    margin-left: 10px;

    font-size: 12px;
    font-weight: 600;
}

.event_checkbox_holder {
    display: inline-block;
    float: right;
    width: 15%;
    padding-top: 11px;
}


.planner_event_header {
    display: block;
    height: 10px;

    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;

    font-size: 13px;
}

.planner_event_header_label {
    display: inline-block;
    float: left;
    width: auto;


    font-weight: 600;

}

.planner_event_header_date {
    display: inline-block;
    float: right;
    width: auto;
    font-weight: 300;

    color: lightgrey;

}




#planner_bottom_bar_line {
    position: relative;
    top: -5px;
    height: 1px;
    width: 210px;
    background-color: #dbdcdc;
    margin: 0px auto;

    border-radius: 1px;
}

#planner_bottom_see_all_button {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}


#nav_drop_down_bar_line {
    position: absolute;
    height: 1px;
    width: 250px;
    background-color: #E8E8E8;
    margin: 0px auto;
    bottom: 37px;
    left: 10px;
    border-radius: 1px;

}


#planner_bottom_text {
    margin-left:  50px;
}


/*If the event is completed, strike out its name*/
.event.completed div.event_name {
    text-decoration: line-through;
}


.event_name {

}
/* Set the background colors for the different types of events */

#past_events div.event{
    background-color: #F56B76;
}


#todays_events div.event{
    background-color: #E6EFC2;
}

#tomorrows_events div.event{
    background-color: white;
}





.today_event{
    background-color: #fff9ea; color: #000;
}

.past_event{
    background: #fceff2;
    -webkit-box-shadow: -1px 0px 0px 0px #F56B76 inset;
    -moz-box-shadow: -1px 0px 0px 0px #F56B76 inset;
    box-shadow: -1px 0px 0px 0px #F56B76 inset;
    color: #000;
}

.event_listing{
    display: block;
    padding-top: 8px;
    padding-bottom: 14px;
    font-size: 13px;
    font-weight: 500;
    width: 236px;
    height: 40%;
    text-overflow: ellipsis;
    margin-left: -4px;
}
.event_listing input[type=checkbox]{
    clip: rect(0,0,0,0);
    overflow: hidden;
    margin: -1px;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    position: absolute;
}
.event_listing label{
    cursor: pointer;
    position: absolute;
    top: -18px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    margin-left: 18px;
    border: 1px solid #CFCFCF;
    box-shadow: inset 0px 0px 1px 1px rgba(190, 189, 189, 0.21);
    background: white;
    margin-top: -1px;
}
.event_listing label:after{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 4px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 2px solid #222;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    transform: rotate(-54deg);

    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.event_listing label:hover:after{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}
.event_listing input[type=checkbox]:checked + label:after{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.color_border{
    position: absolute;
    -moz-transition: all 0.15s ease;
    display: none;
}
#color_border1{
    background-color: #60dd29;
}
#color_border2{
    background-color: #f0405b;
}
#color_border3{
    background-color: #fcc827;
}
#color_border4{
    background-color: #3ab9f7;
}
.timepicker{
    display: none;
    position: absolute;
    width: 62px;
    left: 149px;
    background-color: white;
    overflow: hidden;
    border-radius: 0px 0px 3px 3px;
    border-top: none;
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    padding-top: 1px;
    border-width: 1px;
    border-color: #d7d7d7;
    -webkit-box-shadow: 0px 1.432px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1.432px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1.432px 3px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-top: none;
    margin-top: -6px;
}

.timepicker div{
    height: 22px;
    cursor:pointer;
    font-size: 12.5px;
    padding-top: 5px;
    color: #575757;
    font-weight:500;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-family: 'Roboto', sans-serif;
}
.timepicker div:hover{
    background-color: #f5f5f5;
    color: #222;
}
.bottom_container_text:hover{
    background: #f5f5f5;
}



.event_listing_wrap{
    width: 205px;
    margin-left: -6px;
    margin-bottom: 4px;
    margin-top: 4px;
    text-indent: 10px;
    height: 70px;
}


.evt_data:hover{
    text-decoration: underline;
    color: #029acf;
    cursor:pointer;
}

.evt_data:active{
    text-decoration: underline;
    color: rgba(4, 117, 156, 0.65);
    cursor:pointer;
}

.checkbox_wrapper{
    width: 41px;
    height: auto;
    position: relative;
    float: right;
    right: 2px;
    bottom: 16px;
}
.evt_data{
    width: 205px;
    cursor: pointer;
    text-overflow: ellipsis;
    margin-bottom: 5px;

}


.checkbox_hint{
    position: absolute;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: block;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    z-index: 99;
    right: -93px;
    margin-top: 2px;
}
.hint_wedge{
    border-color: transparent;
    border-bottom-color: #444;
    border-style: dashed dashed solid;
    border-width: 0 6.5px 6.5px;
    display: block;
    z-index: 1;
    height: 0;
    width: 0;
    position: relative;
    left: 10px;
}
.hint_box{
    width: 105px;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    text-shadow: none;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    background-color: #444;
}
.tp1{
    display: none;
    position: absolute;
    height: 26px;
    width: 60px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    left: 149px;
    top: 0px;
    font-size: 12.5px;
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
    border-top: 1px solid #c0c0c0;
}
.tp1:focus{
    outline: none;
}

/* MINICAL CSS START */
.calLayer {
    position: absolute;
    left: 12px;
    top: 32px;
    display:none;
}



/* MINICAL CSS END */