body

{
font-family: 'Open Sans', sans-serif;
margin: 0px auto;
background: #f8f8f8 url(../img/noise-2.png);
min-width: 720px;
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
overflow: scroll;
}

