<div class="line"></div>
<div class="time">{{::time}}</div>
<div class="event">
    <div class="row1" ng-uc-day-event-title>
        <div class="icon">
            <!--<img src="">
            <div class="wedge"></div>-->
        </div>
        <div class="title">
            <div class="label">Sample Event Name</div>
        </div>
        <div class="loc">
            <img class="loc-icon" src="img/location.png">
            <div class="location">Poly, Brooklyn</div>
        </div>
    </div>
    <div class="row2">
        <div class="todos">
        </div>
        <table>
            <tr>
                <td class="desc" rowspan="2">
                </td>
                <td class="att">
                    <div class="yesno" ng-uc-yes-no></div>
                </td>
            </tr>
            <tr>
                <td class="att-c">
                    <div class="count">Attending (25)</div>
                    <a href="#"><img src="http://lorempixel.com/30/30?1"></a>
                    <a href="#"><img src="http://lorempixel.com/30/30?2"></a>
                    <a href="#"><img src="http://lorempixel.com/30/30?3"></a>
                    <a href="#"><img src="http://lorempixel.com/30/30?4"></a>
                    <a href="#"><img src="http://lorempixel.com/30/30?5"></a>
                    <a href="#"><img src="http://lorempixel.com/30/30?6"></a>
                </td>
            </tr>
        </table>
    </div>
</div>