<div class="overlay">
    <div class="wrapper">
        <div class="content">
            <div class="dtitle">
                <div class="close" ng-uc-check></div>
                <div class="label">Create Event</div>
            </div>
            <div class="dbody">
                <div class="row1 row">
                    <input type="text" class="etitle" placeholder="Event Title">
                    <div class="ecat">
                        <div class="cat ptd"></div>
                        <div class="wedge"></div>
                        <ul class="cats">
                            <li><div class="cat ptd"></div><div class="des">Personal To-Do</div></li>
                            <li><div class="cat pev"></div><div class="des">Personal Event</div></li>
                            <li><div class="cat cle"></div><div class="des">Class Events/To-Do's</div></li>
                            <li><div class="cat cbe"></div><div class="des">Club Meetings/Event</div></li>
                            <li><div class="cat lbe"></div><div class="des">Lab Meetings</div></li>
                        </ul>
                    </div>
                </div>
                <div class="row2 row">
                    <div class="allday">
                        <div class="check" ng-uc-check></div>
                        <label>All Day Event</label>
                    </div>
                    <div class="from-ts ts">
                        <input type="date" class="date">
                        <input type="time" class="time">
                        <div class="label">Start Date/Time</div>
                    </div>
                    <div class="sep-to" ng-uc-check></div>
                    <div class="to-ts ts">
                        <input type="date" class="date">
                        <input type="time" class="time">
                        <div class="label">End Date/Time</div>
                    </div>
                </div>
                <div class="row3 row">
                    <div class="loc">
                        <div class="value"><input type="text" class="txt" placeholder="No Location"></div>
                        <div class="label">Location</div>
                    </div>
                    <div class="rep">
                        <div class="value">No Repeat</div>
                        <div class="label">Repeat</div>
                    </div>
                </div>
                <div class="row4 row">
                    <div class="tags">
                        <span class="tag">homework</span>
                        <span class="tag">sample</span>
                    </div>
                    <div class="tag-in">
                        <input type="text" placeholder="Add Tags" class="txt">
                    </div>
                </div>
                <div class="row5 row">
                    <div class="des-btn">
                        <div class="show-des"><div class="plus"></div>Description</div>
                    </div>
                    <textarea class="desc"></textarea>
                    <div class="sub-btn">
                        <button class="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>