



#nav_bar {
    position: fixed;
    top: 56px;
    background-color: rgba(18, 19, 20, 0.92);


    height: 38px;
    width: 830px;


    float: left;


    border-top: none;
    border-radius: 2px;
    /* border: 1px solid #101010; */
    display: block;


    font: OpenSans;
    font-weight: bold;
    font-size: 14px;
    color: #999;
    /*box-shadow: 0px 0 3px rgba(0,0,0,0.5);*/
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.49);  
    overflow: hidden;

    cursor: default;
    z-index: 100;
}


a {
    color: #999;
    text-decoration: none;
}


.nav_arrow{
    background-repeat: no-repeat;
    background-image: url('../../../assets/partial/nav_bar/nav_right_gray_arrow.png');
    display: inline-block;
    width: 19px;
    height: 43px;
    float:left;
    z-index: 10;
    top: -1px;
    position: relative;
    background-size: 102%;

}

.nav_arrow_white{
    background-image: url('../../../assets/partial/nav_bar/nav_right_arrow.png')!important;
}


.nav_section {
    display: block;
    min-width: 87px;
    height: 100%;
    float:left;

    padding-left: 7px;
    padding-right: 5px;

    text-decoration: none;
}

.nav_text {
    margin-left: 5px;
    width: auto;
    height: 30px;
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    margin-top: 9px;
    float: left;
    font-weight: 600;
    font-size: 14.5px;
    display: inline-block;
}


div.nav_section.active div.nav_text{
    color: white;
    font-weight: 600;
}

div.nav_section div.nav_text a{
    width: 100%;
    height: 100%;
    font-weight: 600;
}


div.nav_section.active div.nav_text a{
    color: white;
}

#home_nav_icon{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    height: 19px;
    width: 19px;
    float: left;
    position: relative;
    top: 23%;
    background-image: url('../../../assets/partial/nav_bar/school_icon_grey.png');
}

div.nav_section.active div#home_nav_icon {
    background-image: url('../../../assets/partial/nav_bar/school_icon_white.png');
}


#nav_down_arrow {
    height: 5px;
    width: 9px;
    float: left;
    margin-left: 8px;
    margin-top: 16px;
    display: inline-block;
    background-image: url('../../../assets/partial/nav_bar/nav_down_arrow.png');
}

#nav_drop_down_container {
    display: none;
    /*position: relative;*/
    position: fixed;
    margin-left: -23px;

    top: 94px;
    width: 250px;
    height: 200px;

    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;



    background: rgba(18, 19, 20, 0.92);


    border: 1px solid #000;
    border-top: none;
}


.nav_drop_down_section{
    padding-top: 10px;
    padding-left: 10px;
}


div#nav_drop_down_scrollable{

}


#nav_drop_down_bar_line {
    position: absolute;
    height: 1px;
    width: 230px;
    background-color: #999;
    margin: 0px auto;
    bottom: 37px;
    left: 10px;
    border-radius: 1px;

}


div#nav_drop_down_see_all_button {
    position: absolute;
    margin: 0px auto;
    bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #D8D8D8;
}


/* Hacky solution to get the text at the bottom of the nav dropdown
to be centered since its absolutely positioned */

#nav_drop_down_see_all_courses_text{
    margin-left: 80px;
    font-weight: 600;
}

#nav_drop_down_see_all_departments_text{
    margin-left: 70px;
}



#nav_drop_down_see_all_schools_text{
    margin-left: 74px;
}


