
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 500%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
}
#profile_wrapper{
   position: absolute;
    top:20%;
    left:50%;
    margin-left:-500px;
    width: 1000px;

    background-color: white;
    opacity: 1;
    z-index:2001;
    font-family: "Avenir", Arial, sans-serif;
}
#left_info_bar{
    width: 30%;
    height:100%;
    float: left;
    background-color: #dcdcdc ;
    font-family: "Avenir", Arial, sans-serif;
}
#tab_contents{
    display: inline-block;
    width: 69%;
    min-height: 1000px;
}
#main_content{
    clear:left;
    height: auto;
    background-color: #d3d3d3;
}
#modal_header{
    height: 389px;
}
.controls{
    float:left;
}

#modal_controls{
    background-color: rgba(94, 94, 94,1);
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    z-index: 200;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}
#modal_controls *{

    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}

#modal_label {
    font-weight: 600;
    font-size: 14.5px;
    display: inline-block;
    float: right;
    width: auto;
    margin-right: auto;
    cursor:pointer;
    padding-top: 16px;
    padding-left: 2px;
    padding-bottom: 18px;
    float: left;
}


.branding_left{
   /* background: url("http://cdn.brandisty.com/img?id=5272b9713e162c5930000066&format=png&w=400&h=400") 50% 50% no-repeat;*/
    height: 38px;
    width: 61px;
    margin: 2px 8px;
    font-weight: 600;
    font-size: 32px;
    background-size: 100% 100%;
    float: left;
}
.close_modal{
    font-weight: 600;
    font-size: 25.5px;
    display: inline-block;
    float: right;
    width: auto;
    margin-right: auto;
    cursor:pointer;

    padding-top: 7px;
    padding-right: 11px;
    /* padding-bottom: 18px; */
    border-right: 1px solid #222;
}
#main_bar{
    height: 90px;
    border: 1px;
    box-shadow: 0px 0px 4px #888888;
}
#profile_picture_wrapper{
    position: relative;
    border: 5px solid #fff;
    float:left;

    margin-left: 13px;
    box-shadow: 0px 0px 4px #888888;
    margin-top:-130px;
}
#profile_picture{

    width:160px;
    height:160px;
}
#name_info_wrapper{
    font-family: "Avenir", Arial, sans-serif;
    padding-top: 10px;
    padding-left: 18px;
    display: inline-block;
}
#name_info{
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
}
#year_info{
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}
#profile_tab_bar{
    left: 20px;
    height: 52px;
    z-index: 10;
    display: block;
    position: relative;
    /* padding-left: 0px; */
    width: 100%;
}
a {

}
.info_section{
    border-bottom: 1px  grey;
    font-weight: 10px;
}
.info_label{
    color:#808080;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}
.info_name{
     text-decoration: none;
     margin-top:5px;
     margin-left:10px;
     margin-bottom: 10px;
     font-size: 15px;
    display: inline-block;
 }
a.info_name{
    text-decoration: none;
    margin-top:5px;
    margin-left:10px;
    margin-bottom: 10px;
}

.profile_tab {
    display: inline-block;
    width: 16%;
    height: 100%;
    color: rgba(255, 255, 255, 0.65);

    /*display: table-cell;*/
    vertical-align: middle;
    cursor:pointer;
}

.groups_wrapper{
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}

.group_box{
    width: 100%;
    height: 100px;
    display: inline-block;
    background-color: #ffffff ;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);

    margin-bottom: 10px;
}
.class_content{
    width:100%;
    height:100%;
    color:black;
}

.class_pic{
    width:100px;
    height:100%;
    float:left;
}
.users_wrapper{
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}

.user_box{
    width: 30%;
    height: 250px;
    display: inline-block;

    margin:10px;
}
.user_content{
    width:160px;
    margin:auto;
    background-color: #ffffff ;
    border-radius: 3px;
    border: 10px solid #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);
    color:black;
}


.user_pic{
    width:160px;
    height:160px;

    margin-top: 10px;
    margin:auto;
}
.user_name{
    margin-top: 4px;
    margin-left: 8px;
    display: inline-block;
    font-size: 15px;
}
.user_school{
    margin-left: 8px;
    font-size:10px;

}
.class_name{
    margin-top: 4px;
    margin-left: 8px;
    display: inline-block;
    font-size: 25px;
}
.class_section_name{
    margin-left: 8px;

}
div.profile_tab div.profile_tab_content{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px auto;
    display: block;
    cursor:pointer;
    transform: translateY(-38%);
    top: 38%;
}



.profile_panel {
    display: none;
    color: white;

}

.profile_panel.active{
    display: block;
    z-index: 20;
}
.profile_tab_text{
    float: left;
    height: 13px;
    display: inline-block;
    width: 80%;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 19px;
    color: #4B5258;
    cursor: default;
    font-size: 13.5px;
    letter-spacing: .02em;
    text-transform: uppercase;
    transition: color .15s ease-in-out;
    position: relative;
    /* top: 10px; */
    padding-bottom: 14px;
    text-shadow: none!important;
    font-family: "Avenir", Arial, sans-serif;
}






div.profile_tab.active{
    /*color: #fff;*/
    cursor:default!important;

}
div.profile_tab.active div.profile_tab_content div.profile_tab_text{

    border-bottom: 4px solid black;
}

div.profile_tab:hover{
    /* color:#fff;*/
    cursor: pointer;
}

div.profile_tab.active:hover{
    /*color: #fff;*/
    cursor:default!important;
}



div.profile_tab:hover div.profile_tab_text{
    cursor: pointer!important;
    opacity:1.0;
}
/*
div.tab.active div.tab_img,div.tab.active div.tab_text, div.tab.active:hover div.tab_img, div.tab.active:hover div.tab_text{
    opacity: 1.0;
    cursor:default!important;
}*/