
.topbar

{

	position:absolute;
	width: 100%;
	height: 47px;
	border-bottom: 1px solid #5F6061;
	border-bottom-color: rgba(95, 98, 100, 0.8);
	-webkit-box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
	background-color: #27292B;
	background-image: url(../src/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#27292B),to(#121314));
	background-image: url(../src/noise-1.png),-webkit-linear-gradient(top,#27292B,#121314);
	background-image: url(../src/noise-1.png),-moz-linear-gradient(top,#27292B,#121314);
	background-image: url(../src/noise-1.png),-o-linear-gradient(top,#27292B,#121314);
	background-image: url(../src/noise-1.png),-ms-linear-gradient(top,#27292B,#121314);
	background-image: url(../src/noise-1.png),linear-gradient(top,#27292B,#121314);
	background-position: 50% 50%;
	z-index: 1000;

	top:0px;
	left:0px;
}

.topbar_wrapper 
{
margin: 0 auto;

position: relative;
max-width: 1280px;
min-width: 1080px;
}


.topbar_logo{
	float:left;
	height: 26px;
	margin-top: 12px;
	margin-left: 50px;
}

.topbar_search
{
	float:left;
	width:auto;
	height: 100%;
	margin-left: 30px;
}

body {
font-family: 'Open Sans', sans-serif;
margin: 0px auto;
background: #F8f8f8 url(../src/noise-2.png);
min-width: 720px;
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
overflow: scroll;
}

.topbar_search_input
{
float: left;
width: 300px;
height: 27px;
background-color: white;
color: #3c4246;
border: medium none;
border-radius: 4px;
font-size: 14px;
padding-left: 30px;
box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.6) inset, 0px 1px 0px rgba(161, 148, 148, 0.32);
transition-timing-function: linear;
transition-duration:.2s;
}




.topbar_search_icon
{	
	position: absolute;
	height:25px;
	width:25px;
	margin-top: 11px;
	margin-left: 32px;
}

.topbar_search_icon .search-icon:after
{
	position: absolute;
  	font-family:FontA;
  	font-style:normal;
  	content: "\f002";
  	color:#27292B;
  	font-size: 17px;

  	margin-left: 5px;
  	margin-top: 4px;
}

.topbar_righttool
{
	float: right;
	height: 47px;
	margin-right: 40px;
}


.topbar_noti
{	
	float: left;
	height: 46px;
	width: 40px;
	text-shadow: 0px 1px 0px rgba(3, 27, 47, 0.5);
	padding-right: 11px;
	margin-left: 10px;
	cursor:pointer;
	margin-top: 1px;
	border: none;
}

.topbar_noti:hover
{

}

.topbar_prof:hover {
	background: rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
}

.topbar_prof:active{
		background-color:#0f1010;
	height: 46px;
}

.topbar_noti:hover .noti_icon{
	background: rgba(255, 255, 255, 0.1);
}
.topbar_noti:active .noti_icon{
	background-color:#0f1010;
}

.topbar_noti:hover .noti_icon p{
	color:white;
}
.topbar_noti:active .noti_icon p{
	color:rgba(255,255,255,.7);
}
.noti_icon
{
	float: left;

	margin-left: 7px;
	margin-top: 12px;
	width: 36px;

	height: 21px;
border-radius: 20px;
background-color: transparent;

	background-color: rgba(255, 255, 255, 0);
border:1px solid;
border-color: -moz-linear-gradient(#aaa, #ccc);
border-color: -webkit-linear-gradient(#aaa, #ccc);
border-color: linear-gradient(#aaa, #ccc);

	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),0 1px 0 rgba(151, 136, 136, 0.43);
}

.noti_txt
{
	float: left;
	margin-top: 17px;
	margin-left: 5px;
	color:white;
}

.topbar_noti:active
{

}


.topbar_cal
{	
	float: left;
	margin-top: 1px;
	height: 46px;
	width: auto;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.03) inset, -1px 0px 0px rgba(255, 255, 255, 0.03) inset;
	text-shadow: 0px 1px 0px rgba(3, 27, 47, 0.5);
	padding-right: 11px;
	padding-left: 6px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.prof-limit{
	display: inline-block;
	border-radius: 2px;
	width: 23px;
	background-image: url(src/userPic.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 23px;
	position: relative;
	left: 14px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3); -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3); box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
	top: 12px;
}

.topbar_prof h4{
		display: inline;
font-size: 14px;

		font-weight: 400;
bottom: 0px;


		padding-left: 21px;
position: relative;

		color: #FFFFFF;

		opacity: .9;
		top: 5px;
		cursor: pointer;
}

.topbar_prof{
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.03) inset, -1px 0px 0px rgba(255, 255, 255, 0.03) inset;
	text-shadow: 0px 1px 0px rgba(3, 27, 47, 0.5);
	margin-top:1px;
	
		padding-right: 25px;
		float:left;	
		cursor:pointer;
		height: 46px;

		margin-left: 10px;
}

.topbar_cal:hover
{
    background: rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.35);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
}

.topbar_cal:active
{
	background-color:#0f1010;
	height: 46px;

}

.topbar_cal:active .cal_icon{
	opacity:.8;
}

.cal_icon
{
	float: left;
	height: 27px;
	width: 27px;	
	margin-left: 5px;
	margin-top: 9.5px;}

.cal_txt
{
	float: left;
	margin-top: 17px;
	margin-left: 7px;
	color:white;
}

.graph_search
{
	position: absolute;
	height:auto;
	background-color: white;

	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
	margin-top: -8px;
	display: none;
}

.gs_col
{
	float: left;
	height: 50px;
	width: 100%;
	cursor:pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #575757;
}

.gs_col:hover
{
	background-color:#575757;
	color:white;
}

.gs_icon
{
	height: 45px;
	width: 45px;
	margin-left: 7px;
	float: left;
}

.gs_on_active
{
background-color: rgba(87, 87, 87, 0.86)!important;
}

.gs_col div
{
	float: left;
	height: 100%;
	line-height:50px;
	margin-left: 10px;
}

.last_gscol
{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 1080px) {
.topbar_wrapper 
{
margin: 0 auto;
position: relative;
max-width: 960px;
min-width: 960px;
}

.topbar_righttool
{
	float: left;
	height: 47px;
	margin-left: 240px;
}

.topbar_search_input
{
float: left;
width: 300px;
height: 27px;
background-color: white;
color: #27292B;
border: medium none;
border-radius: 5px;

font-size: 14px;
padding-left: 30px;
box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.6) inset, 0px 1px 0px rgba(161, 148, 148, 0.32);
}

}


@media (max-width: 960px) {

.topbar
{
	position:absolute;
	width: 960px;
	min-width: 960px;
	height: 47px;
	border-bottom: 1px solid #5F6061;
	border-bottom-color: rgba(95, 98, 100, 0.8);
	-webkit-box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(111,151,182,.5)inset,0 -1px 0 rgba(111,151,182,.2)inset,0 1px 1px rgba(0,0,0,.2);
	background-color: #27292B;
	background-image: url(src/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#27292B),to(#121314));
	background-image: url(src/noise-1.png),-webkit-linear-gradient(top,#27292B,#121314);
	background-image: url(src/noise-1.png),-moz-linear-gradient(top,#27292B,#121314);
	background-image: url(src/noise-1.png),-o-linear-gradient(top,#27292B,#121314);
	background-image: url(src/noise-1.png),-ms-linear-gradient(top,#27292B,#121314);
	background-image: url(src/noise-1.png),linear-gradient(top,#27292B,#121314);
	background-position: 50% 50%;
	z-index: 1000;

	top:0px;
	left:0px;
}


.topbar_righttool
{
	float: left;
	height: 47px;
	margin-left: 200px;
}

.topbar_search_input
{
float: left;
width: 300px;
height: 27px;
background-color: white;
color: #27292B;
border: medium none;
border-radius: 5px;
font-size: 14px;
transition: all 1s;
padding-left: 30px;
box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.6) inset, 0px 1px 0px rgba(161, 148, 148, 0.32);
}
}


@media (max-width: 924px) {

.topbar_righttool
{
	float: left;
	height: 47px;
	margin-left: 180px;
}
}

@media (max-width: 853px) {

.topbar_righttool
{
	float: left;
	height: 47px;
	margin-left: 140px;
}
}

@media (max-width: 810px) {

.topbar_righttool
{
	float: left;
	height: 47px;
	margin-left: 100px;
}
}

@media (max-width: 766px) {

.topbar_righttool
{
	float: left;
	height: 47px;
	margin-left: 30px;
}
}

.topbar_search .topbar_search_container{
width:100%;
left:0;
line-height: normal;
position:relative;
top:0px;
white-space: nowrap;
}

.topbar_search .topbar_search_container .notop_padding{
	top:0px;
	z-index:1000;
	display:block;
	padding-top:8px;
}

.topbar_search .topbar_search_container .notop_padding .search_main_div{
	
}
.topbar_search .topbar_search_container .notop_padding .search_main_div form{
	margin-right:0px;
}
.topbar_search .topbar_search_container .notop_padding .search_main_div form .search_input_wrapper{
	height: 40px;
}



.topbar_search .topbar_search_container .notop_padding .search_main_div form .search_input_wrapper input{
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
outline: none;
background-clip: padding-box;
border-right-width: 0;
height: 28px;
vertical-align: top;
padding-left: 12px;
font-weight: 400;
margin-top: 2px;
}

.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go{
display:inline-block;
vertical-align: top;
margin-left: 0;
margin-right: 0;
height: 32px;
margin-top: 2px;
}

.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go a.green_go{
border: 1px solid transparent;
border-radius: 12px;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
outline: none;
padding: 4px;
width: 25px;
background: #02e2a7;
background: #02e2a7 url(../src/glass.png) repeat-x 0 50%;

-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
position: relative;
cursor:pointer;
top: 3px;
}
.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go a.green_go:hover{
background-color:#00DAA0;
}

.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go a.green_go:active
{
-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
-moz-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
background-color:#01CE98;
}




.topbar_search .topbar_search_container .notop_padding .search_main_div form .topbar_search_go a.green_go span.search_icon{
display: inline-block;
height: 20px;
vertical-align: middle;
margin-left: 15px;
background-repeat:no-repeat;
background-image: url(../src/search.png);
width: 30px;
position: relative;
margin-bottom: -3px;
}


.noti_icon p{
	margin: 0;

	color: rgb(255, 255, 255);
text-align: center;
font-size: 14px;
font-weight: bold;
margin-top: 1px;
}

.topbar_qicon
{

}

.topbar_qicon img
{
	width: 14px;
	height: 14px;
	float: right;
	margin-top: -21px;
	margin-right: 5px;
	opacity: 0.5;
	cursor: pointer;
}


.card-tag{
	float: right;
	font-family: 'Open Sans Regular', 'Open Sans', sans-serif;
	color:#999;
	display:none;
	margin-right: -60px;
	margin-top:-8px;
	z-index:10;
}

.tag-box{
	position: relative;
	max-width: 160px;
	padding-top: 4px;
	padding-bottom:4px;
	padding-left: 8px;
	padding-right:8px;

	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	border: 1px solid rgba(189, 199, 216, 1);
	background-color: #fff;

	border-radius: 1px;
	font-size: 12px;

	margin-left:-15px;
	margin-top:-5px;

}

.tag-wedge{
	position: relative;
	background-image: url(../src/wedgeUp.png);
	background-repeat: no-repeat;
	background-size: 13px;
	height: 12px;
	width: 20px;
	z-index: 10;
	margin-left: 40px;
}

input::-webkit-input-placeholder { color:#999; font-weight: lighter;}
::-moz-placeholder { color:#474747; font-weight: lighter;} /* firefox 19+ */
:-ms-input-placeholder { color:#474747; font-weight: lighter;} /* ie */
input:-moz-placeholder { color:#474747; font-weight: lighter;}


@import url(http://webfonts.ru/import/ptsans.css);

@font-face {
  font-family: "FontA";
  src: url(http://s.cdpn.io/999/fontawesome-webfont.ttf) format('truetype'), url(http://s.cdpn.io/999/FontAwesome.otf) format('opentype');
}

@font-face {font-family: "Helvetica"; src: url('../fonts/Helvetica.ttf') format('truetype');}

@font-face {font-family: "Helvetica Neue"; src: url('../fonts/HelveticaNeue.ttf') format('truetype');}

