div#tray{
	position:relative;
	height:auto;
	color:white;
	width:280px;
	margin-top: 47px;
	overflow-y:hidden;
	overflow-x:hidden;
	z-index:1010;
	background-color: #3c4246;  
	font-family: "Open Sans";
	-webkit-box-shadow: 4px 0 6px 1px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 4px 0 6px 1px rgba(0, 0, 0, 0.1); 
	box-shadow: 4px 0 6px 1px rgba(0, 0, 0, 0.1);
}

div#tray div.group_search{
	border-bottom:1px solid #232729;
	background-color: #34393d;
	width: 279px;
	margin-top: 0;
	padding: 6px 0 6px 6px;
}
div#tray div.group_search a.join-group{
position:absolute;
top: 6px;
right:8px;
cursor:pointer;
text-decoration: none;
}

div#tray div.group_search a.join-group img.add-icon{
background-color: rgba(255,255,255,0.2);
padding: 6px;
border-radius: 3px;
color: white;
text-decoration: none;

	font-size: 16px;

	width: 14px;
display: inline-block;
position: relative;
padding-left: 10px;
padding-right: 10px;
}

div#tray div.group_search a.join-group img.add-icon:hover{
background-color: rgba(255,255,255,0.3);
}

div#tray div.group_search a.join-group img.add-icon:active{
background-color: rgba(255,255,255,0.15);
}

div#tray div.group_search input.search_groups{
	margin-bottom:0;
	box-shadow:none;
	border:0;
	width: 192px;
	height:26px;
	background:#34393d;
	padding:0px;
	font-size:13px;
	line-height:18px;
	vertical-align: middle;
	padding-left:27px;
	color:white;
	outline:none;
	opacity:.9;
	-webkit-transition: border linear .2s,box-shadow linear .2s;
-moz-transition: border linear .2s,box-shadow linear .2s;
-ms-transition: border linear .2s,box-shadow linear .2s;
-o-transition: border linear .2s,box-shadow linear .2s;
transition: border linear .2s,box-shadow linear .2s;
border-radius:3px;
display:inline-block;
}

i.icon_search{
margin-left:1px;
background-image: url(src/search-icon.png);
background-repeat:no-repeat;
background-size:cover;
width: 14px;
display: inline-block;
height: 14px;
top: 12px;
position:absolute;
left:11px;
}

div#tray div.groups_list{
	width:100%;
	top:44px;
	position:absolute;
	overflow-y:scroll;
	overflow-x:hidden;
}

div#tray div.groups_list div.sub-list a.group{
	display:block;
	padding:5px 7px;
	overflow:hidden;
	cursor:pointer;
	text-decoration: none;
}

div#tray div.groups_list div.sub-list a.group div.group-pic{
display:block;
float:left;
margin-right:8px;
height:52px;
width:52px;
border-radius: 5px;
max-width:100%;
vertical-align: middle;
border:0;
background-image:url(src/biology.png);
background-size:cover;
background-repeat:no-repeat;  
}

div#tray div.groups_list div.sub-list a.group:hover{
background-color: #454c51;
}

div#tray div.groups_list div.sub-list a.group:active{
background-color: #353B3F
}

div#tray div.groups_list div.sub-list div.sub-list-header{
	font-size: 12.5px;
font-weight: bold;
padding-top: 5px;
margin-bottom:2px;

	padding-left: 8px;
color: rgba(255, 255, 255, .2);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.28);
}

div#tray div.groups_list div.sub-list div.sub-list-header div.browse-more{

display:inline-block;
float: right;
margin-right: 8px;
font-weight: 200;
color: #016283;
font-size: 11.5px;
margin-top: 1px;
}

div#tray div.groups_list div.sub-list div.sub-list-header div.browse-more:hover{
text-decoration: underline;
color: #029acf;
cursor: pointer;
}

div#tray div.groups_list div.sub-list a.group div.details{
	float: left;
width: 172px;

	padding-top: 7px;
text-shadow: 0 1px 0 black;
}

div#tray div.groups_list div.sub-list a.group div.details div.group-name{
	color: white;
opacity: .9;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
height: 19px;
font-size: 14px;
}

div#tray div.groups_list div.sub-list a.group div.details div.group-admin{
	color: #A8A8A8;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
text-shadow: 0 1px 0 black;
font-size: 13px;
height: 22px;
	display: inline;
}

div#tray div.groups_list div.sub-list a.group div.details div.group-admin:hover{
text-decoration: underline;
}


