
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.devbox{
  width: 100%;
}
/* Style the background with cool drop shadow effect */
.wrap{
  display: block;
  width: 144px;
  margin: 0 auto; 
  position: relative;
  height:20px;
  background: #F2F2F2;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #ccc;
}
.progress-wrap{
  display: block;
  width: 142px;
  position: absolute;
  top:0;
  left:0;
  padding: 0px;
  border-radius: 4px;
}
/* Style the progress bar and animate */
.progress{

  display: inline-block;
  margin: 0;   
  /*padding-top: 18px;*/
  background: white;
  width: 7%;
  

  height: 19px;
  

  border-radius: 3px 1px 1px 3px;
  position: absolute;
  text-align: center;
  background-size: 33px 37px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent); 
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);            
  animation: animate-bars 3s linear infinite;
  -webkit-animation: animate-bars 3s linear infinite;
  -moz-animation: animate-bars 3s linear infinite;   
  -ms-animation: animate-bars 3s linear infinite; 
  -o-animation: animate-bars 3s linear infinite; 
}
@-webkit-keyframes animate-bars {
  0% { background-position: 0px 0px; }
  100% { background-position: 260px 0px; }
}
@-moz-keyframes animate-bars{
  0% { background-position: 0px 0px;  }
  100% { background-position: 260px 0px;  }
}
@-ms-keyframes animate-bars{
  0% { background-position: 0px 0px;  }
  100% { background-position: 260px 0px;  }
}
@-o-keyframes animate-bars{
  0% { background-position: 0px 0px;  }
  100% { background-position: 260px 0px;  }
}
.countup,.load, .logo{
   text-align: center; 
}
.countup{

  display: none;

  position: relative;
  color: #fff;
}
.load, .logo{
  margin: 0 auto;
}
/* Style the Text at top 'positioned center' */
.load{
 width:100%;
 position: absolute;
 top:-65px;
 left:-5px;
}
.load p{
  font-size: 1.25em;
  color: #fff;
}
/* Style the image so its positioned center */
.logo{
  position: relative;
  top:80px;
}
.logo img{
  margin-top: 50px;
  width: 50%;
}
