.scrollable {
    overflow-y: auto;
}

/* Fading input placeholder */
input::-webkit-input-placeholder {
    color: #999;
    font-weight: 500;
}

input::-moz-placeholder {
    color: #999;
    font-weight: 500;
}
/* firefox 19+ */
input:-ms-input-placeholder {
    color: #999;
    font-weight: 500;
}
/* ie */
input:-moz-placeholder {
    color: #999;
    font-weight: 500;
}

input:focus::-webkit-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

input:focus::-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* firefox 19+ */
input:focus:-ms-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* ie */
input:focus:-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

textarea:focus::-webkit-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

textarea:focus::-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* firefox 19+ */
textarea:focus:-ms-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* ie */
textarea:focus:-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

#create_event_holder {
    background-color: rgba(255, 255, 255, 0.83);
    height: 750px;
    border-radius: 5px;
    padding: 10px;
    top: 0px;
    padding-top: 11px;
    width: 768px;
    position: relative;
    /* margin: 0 auto; */
    padding-left: 20px;
    margin-bottom: 75px;
    bottom: 16px;
}

.body div.header.row2{
    margin:0 15px;
}

.body div.week-view{
    bottom:50px;
}

.body div.popup{
border-radius: 1px;
width:365px;
height:200px;
-webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.07), -1px -1px 4px 0px rgba(0, 0, 0, 0.07);
box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.07), -1px -1px 4px 0px rgba(0, 0, 0, 0.07);
background: #fff;
-moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.07), -1px -1px 4px 0px rgba(0, 0, 0, 0.07);
border: 1px solid #ddd;
border-radius: 4px;
}

.ul-calendar .toolbar .wrap div.column{
    padding: 10px 0 10px;
}

.body .month-view .month-grid .grid-item .month_day_event:first-child(){
    margin-top:10px;                 
}

.body .month-view .month-grid .grid-item.td .date {
margin: 0px;
width: 24px;
text-align: center;
color: #222;
float: right;
border: none;
background: none;
margin-top: -16px;
line-height: 11px;
font-weight: 500;
padding-bottom: 1px;
border-radius: 0px 0px 0px 2px;
color: rgb(39, 137, 228);
}

.body .grid-view.month-view {
position: absolute;
top: 40px;
right: 0;
bottom: 44px;
left: 15px;
z-index: auto;
font-size: 10px;
}

.body .month-view .month-grid div.grid-item.prem {
height: 20%;
padding-left: 2px;
padding-top: 18px;
position: relative;
}

.body .month-view .month-grid div.grid-item .date {
text-align: right;
padding: 3px;
font-size: 10px;
font-weight: 500;
font-family: "Avenir", Arial, sans-serif;
margin-top: -10px;
}

#create_event_submit_button {
    display: inline-block;
    padding: 0px 12px;

    text-transform: uppercase;
    border-radius: 3px;
    color: #FFF;
    position: relative;
    line-height: 33px;


    width: 108px;

    margin-right: 6px;
    vertical-align: top;
    font-size: 14.4px;
    height: 33px;
    font-family: Avenir;
    margin-left: 6px;
    /* font-weight: bold; */
    text-transform: uppercase; border-radius: 4px; color: #FFF; position: relative; cursor: pointer; background-color: #278CD5; background: linear-gradient(to bottom, #278cd5 0%, #1b7bc0 100%); background: -o-linear-gradient(top, #278cd5 0%, #1b7bc0 100%); background: -ms-linear-gradient(top, #278cd5 0%, #1b7bc0 100%); background: -moz-linear-gradient(top, #278cd5 0%, #1b7bc0 100%); background-image: -webkit-linear-gradient(top, #278cd5, #1b7bc0); border: 1px solid #1779C0!important; -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.23) inset, 0px -1px rgba(0, 0, 0, 0.07) inset; box-shadow: 0px 1px rgba(255, 255, 255, 0.23) inset, 0px -1px rgba(0, 0, 0, 0.04) inset, inset -1px 0 0 rgba(255, 255, 255, 0.19), inset 1px 0 0 rgba(255, 255, 255, 0.27); border-bottom: 1px solid rgba(9, 124, 166, 0.74) !important;
}


.grey_button {
    padding: 0px 12px;
    display: inline-block;
    text-transform: capitalize;
    font-family: Avenir;
    border-radius: 3px;
    position: relative;
    line-height: 33px;
    vertical-align: top;
    height: 33px;
    border: 1px solid #C0C0C0; -moz-box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1); -webkit-box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1); box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1); color: #999 !important; background-color: #EFEFEF; cursor: default; 
    font-size: 14.3px; font-weight: 500;
}

.green_button{
    background-color: #27D579;
    padding: 0px 12px;
    position: relative;
    font-family: Avenir;
    vertical-align: top;
    line-height: 31px;
    font-size: 14.3px; font-weight: 500;
    display: inline-block;
    border-radius: 3px;
    height: 31px;
    text-transform: capitalize;
    background: linear-gradient(to bottom, #24EA88 0%,#08CF6C 100%);
    background: -o-linear-gradient(top, #24EA88 0%,#08CF6C 100%);
    background: -ms-linear-gradient(top, #24EA88 0%,#08CF6C 100%);
    background: -moz-linear-gradient(top, #24EA88 0%,#08CF6C 100%);
    background-image: -webkit-linear-gradient(top,#24EA88,#08CF6C);
    border: 1px solid #1ECD77;
    -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.23) inset, 0px -1px rgba(0, 0, 0, 0.07) inset;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.23) inset, 0px -1px rgba(0, 0, 0, 0.04) inset;
    border-bottom: 1px solid rgba(9, 166, 89, 0.74);
    color: #FFF!important;
    top: -2px;
}

.green_button:hover{
    bottom, #1BEF86 0%,#08CF6C 100%);
    background: -o-linear-gradient(top, #1BEF86 0%,#0FDB76 100%);
    background: -ms-linear-gradient(top, #1BEF86 0%,#0FDB76 100%);
    background: -moz-linear-gradient(top, #1BEF86 0%,#0FDB76 100%);
    background-image: -webkit-linear-gradient(top,#09E78A,#1CE883);
    border: 1px solid rgba(3, 144, 74, 0.24);
    border-bottom: 1px solid rgba(3, 144, 74, 0.39);
}

.green_button:active{
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    background: #02DB6F;
    border: 1px solid #2FB750;
    border-top: 1px solid #1BAD3E;
}

.create_event_section {
    width: 100%;
}

input#todo_checkbox{
    margin-left:18px;
}

div#create_event_top_holder > label{
    font-family: Avenir;
    font-size: 11.5px;
    color: #444;
    margin-right: 10px;
}

.event_form_divider {
    height: 1px;
    width: 99%;
    background-color: #ebebeb;
}


#top_buttons_holder {
    height: 40px;
    width: 1000px;
    border-bottom: 1px solid rgba(212, 212, 212, 0.78);
}

.date_input {
    width: 110px;
    height: 34px;

    font-size: 13.5px!important;
    background-color: white;
}

.time_input {
    width: 80px;
    height: 34px;

    background-color: white;
    font-size: 13.5px!important;
}



input.error {
    border-color: rgb(207, 203, 203);
}


.arrow_divider {
    display: inline-block;
    background: #777; background-size: contain; width: 11px; height: 4px; border-radius: 25px; top: -2px; margin: 0 5px; 
    margin-right: 7px;
    left: 2px; position: relative; display: inline-block; background-repeat: no-repeat; background-position: 0px 0px;
}

#create_event_top_holder {
    margin-top: 14px;
    margin-bottom: 14px;
}

#create_event_middle_holder {
    margin-top: 12px;
    height: 170px;
}


input.text_input {
    border-radius: 2px;
    padding-left: 6px;
    padding: 7px 10px; font-size: 15px; margin-top: -2px; 
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;  -webkit-transition: border-color .2s; transition: border-color .2s; -webkit-transition: border-color .2s 180ms ease-in-out 0s; -moz-transition: border-color .2s 180ms ease-in-out 0s; -ms-transition: border-color .2s 180ms ease-in-out 0s; -o-transition: border-color .2s 180ms ease-in-out 0s; transition: border-color .2s 180ms ease-in-out 0s; border: 1px solid #ddd; border-radius: 2px;           border: 1px solid #ddd; border-radius: 2px; 
    border-top-color: #c0c0c0;
}

#create_event_name_input {
    width: 566px;

    background-color: white;

    padding:8px 10px;
    border: 1px solid; border-color: #c0c0c0 #d9d9d9 #d9d9d9; 
    font-weight: bold;
    -webkit-font-smoothing: auto; 
    -moz-osx-font-smoothing: auto;
}

#create_event_start_date_input {


    margin-top: 10px;
    background-color: white;
}

#create_event_end_date_input {


    margin-top: 10px;

}


/* class/group select divs */
#create_event_group_select_holder {
    width: 480px;
    height: 150px;
    display: inline-block;
    float: left;


}

div#create_event_location_input_holder{
position:relative;
}

div#create_event_location_input_holder span.where_icon{
    top: 10px;
    left: 47px;
}

div#create_event_location_input_holder div.location_matches_list{
    left: 46px;
    width: 434px;
    top: 37px;
}

label.where_label{
    font-family: Avenir;
    font-size: 11.5px;
    color: #444;
}

.fbar_date_time#event_location.calendar_page_event_location_input{
    width:434px!important;
}

#create_event_group_holder {
    border-radius: 0px 2.5px 2.5px 2.5px;
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    padding-top: 3px;
    padding-top: 7px;
    background-color: white;
}

.group {
    width: 100%;
    height: 27px;   
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #eee;
    border-radius: 1px;
    cursor:default;
    opacity: .68;
}

#create_event_back_button > span{

}

.group:hover {
    opacity:.75;
    cursor: pointer;
}

.group.selected {
    background-color: red;
    background-image: url(../../assets/calendar_iconmap.png);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    background-position-x: 444px;
    opacity:1;
}

.group.selected:hover{
    cursor:default;
}


.group_name {
    width: 100%;
    margin-left: 5px;
    padding-top: 4px;
    white-space: nowrap;
    font-size: 13.8px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222;
}

.category_name {
    width: 100%;
    margin-left: 5px;
    padding-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    color: #575757;
}

div.category.selected div.category_name{
    color:#222;
}


/* category selector */
#create_event_category_select_holder{
    width: 200px;
    height: 200px;

    display: inline-block;

    margin-left: 44px;
}

#create_event_category_holder {
    border-radius: 0px 2.5px 2.5px 2.5px;
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    width: 200px;

    overflow: scroll;
    height: 202px;
}

.category {
    height: 25px;

    margin-top: 5px;
    margin-bottom: 5px;
    cursor:default;
    color: #575757;
    font-weight: 600;
    font-size: 13px;
}

.category.selected {
    background-color: #e2e2e2;
}

.category:hover{
    background-color: #eee;
    cursor: pointer;
}

.category:hover > .category_name{
    color:#222;
}

.category.selected:hover{
    background-color: #e2e2e2;
    cursor: default;
}

.category_list {
    display: none;
}

.category_list.active {
    display: block;
    margin-top: 6px;
}




/* Event location */

#create_event_middle_bottom_holder {
    margin-top: 18px;
    margin-bottom: 10px;
}


#create_event_location_input_holder {
    width: 480px;

    display: inline-block;

}

#create_event_location_input_label {

}

#event_location_input {
    width: 430px;
    height: 30px;
    background-color: white;
}


/* repeat or not */
#create_event_repeat_holder {

    display: inline-block;
    margin-left: 60px;
}

/* bottom */
#create_event_bottom_holder {
    margin-top: 10px;
    height: 250px;
}


#create_event_description_holder {
    width: 400px;
    float: left;
}

#event_description_input {
    width: 400px;
    height: 60px;
    display: inline-block;
    background-color: white;
}

#create_event_invite_holder {
    height: 250px;
    display: inline-block;
    margin-left: 40px;
}

div#create_event_category_label_image{
    background-image: url(../../assets/calendar_iconmap.png); background-repeat: no-repeat;

    display: inline-block;
    width: 8px;
    background-position: -3px -19px;
    height: 14px;
    top: 1px;
    position: relative;
    left: -4px;
    margin-right: 3px;
}

div#create_event_group_select_label, div#create_event_category_label{
font-weight: 600;
font-size: 11.5px;
padding: 5px 14px 4px 14px;
color: #121212;
position: relative;
display: inline-block;
margin-bottom: -1px;
background: #fff;
border-bottom: 1px solid #FFF;
text-transform: capitalize;
-webkit-box-shadow: 0 -3px 5px rgba(0,0,0,0.03);
-moz-box-shadow: 0 -3px 5px rgba(0,0,0,0.03);
box-shadow: 0 -3px 5px rgba(0,0,0,0.03);
border-radius: 2px 2px 0px 0px;
background-color: #fff;
border: 1px solid #e2e2e2;
border-bottom-color: #FFF;
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

div#create_event_invite_label{
    color: #121212;
    font-size: 11.5px;
    font-weight: 600;
    margin-bottom: 6px;
    padding-left: 1px;
}

.body .month-view .month-grid .grid-item div.month_day_event,.body .grid-view .grid .grid-item div.grid-event {
cursor: default;
height: 20px;
margin-right: 1px;
background-color: transparent;
background-size: 20px 20px;
border: none;
}

div#create_month_day_event_text{
    
}

div.event_name{
    display: inline-block;
    line-height: 23px;
    float: left;
    font-family: 'Helvetica neue', Helvetica, Arial, sans-serif; font-size: 13px;
    color: #222;
    margin-left:2px;
    text-transform: capitalize;
}

.body .month-view .month-grid div.grid-item.out-of-range {
color: #c3c3c3;
}

.body .month-view .month-grid .grid-item.td {
border-top-width: 0px;
background-color: rgba(39,137,228,.06);
box-shadow: inset 0 0 0 1px #2789e4;
color: #2789e4;
padding-left:3px;
}
.ul-calendar, .ul-calendar * {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
list-style: none;
color: inherit;
text-decoration: none;
border: none;
background: none;
font-size: 100%;
font-family: "Open Sans", Arial, sans-serif;
}

div.mini_calendar_cover{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(255,255,255,.87);
    z-index:-1;
}

div.mini_calendar_cover.enabled{
    z-index:100;

}

.ul-calendar .leftbar .create .button.left_panel_create_button.disabled{
background-image: none;
background: #ebebeb !important;
border: 1px solid #ddd !important;
color: #aaa !important;
cursor: default;
box-shadow: none!important;
}

div.group.selected > div.group_name{
    color:#FFF;
}

input.invite_input{
    padding:5px 10px;
}





