div.dialog div.overlay{
	font-family: "Open Sans", Arial, sans-serif;
font-size: 14px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 210;
position: fixed;

	background: rgba(36, 108, 179, 0.9);
height: 100%;
width: 100%;
display: table;
}

div.dialog .overlay .wrapper {
display: block;
vertical-align: top;
height: 100%;
padding-top: 48px;
}

div.dialog div.overlay .wrapper .content .dbody div.row {
height: auto;
border-bottom: 1px solid #ebebeb;
margin-left: 10px;
}

div.dialog div.overlay .wrapper .content .dbody div.row.no_btm_border {
border-bottom: none;
}

div.dialog .overlay .wrapper div.content{
	width: 100%;
margin: auto;

	background: rgba(0, 0, 0, 0);
height: 100%;



position: absolute;
left: 0px;
right: 0px;
bottom: 0px;

	overflow-x: hidden;
	top: 100px;
	overflow-y: scroll;
}