@import "import/common.less";

.body {
    @margin-right: 15px;

    .header.row2.month {
        margin-right: @margin-right;
        margin-left: @margin-right;
    }

    .month-view {
        .month-grid {
            .absolute(0, @margin-right, 9px, 0);

            .grid-item {
                height: @hundred-percent / 6;

                &.tl {
                    border-top-width: 1px;
                }

                &.ll {
                    border-bottom: 1px solid @border-color;
                }

                &.td {
                    border-top-color: @time-line-color;
                    border-top-width: 1px;
                    background: rgba(62, 160, 199, 0.07);

                    .date {
                        border-bottom: 1px solid @time-line-color;
                        margin: 0px;
                        border-left: 1px solid @time-line-color;
                        width: 20px;
                        text-align: center;
                        color: #222;
                        float: right;
                        line-height: 11px;
                        font-weight: bold;
                        padding-bottom: 1px;
                        border-radius: 0px 0px 0px 2px;
                        background: rgba(62, 160, 199, 0.21);
                    }
                }

                &.prem {
                    height: @hundred-percent / 5;
                }

                &.prem-plus {
                    height: @hundred-percent / 4;
                }

                &.out-of-range {
                    color: @out-of-range-color;
                    background-color: #EEE;
                }

                .date {
                    text-align: right;
                    padding: 3px;
                    font-size: @ideal-grid-font-size;
                    font-weight: 500;
                    .font-avenir();
                }
            }

            .grid-event {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                z-index: 42;

                .line {
                    .absolute(0, auto, 0, 3px);
                    width: 2px;
                    .color-schemes();
                }

                .time {
                    float: left;
                    line-height: 20px;
                }
            }
        }
    }
}
