@import "import/common.less";

.body {



    @margin-right: 15px;

    .text_input {
        border: 1px solid;
        border-color: #c0c0c0 #d9d9d9 #d9d9d9;
        padding: 2px;
    }



    .month-view {
        .month-grid {
            .absolute(0, @margin-right, 9px, 0);

            .grid-item {
                padding-left: 5px;
                height: @hundred-percent / 6;

                &.tl {
                    border-top-width: 1px;
                }

                &.ll {
                    border-bottom: 1px solid @border-color;
                }
                .date {
                  float:right;
                }
                &.td {
                    border-top-color: @time-line-color;
                    border-top-width: 1px;
                    background: rgba(62, 160, 199, 0.07);

                    .date {
                        border-bottom: 1px solid @time-line-color;
                        margin: 0px;
                        border-left: 1px solid @time-line-color;
                        width: 20px;
                        text-align: center;
                        color: #222;
                        float: right;
                        line-height: 11px;
                        font-weight: bold;
                        padding-bottom: 1px;
                        border-radius: 0px 0px 0px 2px;
                        background: rgba(62, 160, 199, 0.21);
                    }
                }

                &.prem {
                    height: @hundred-percent / 5;
                }

                &.prem-plus {
                    height: @hundred-percent / 4;
                }

                &.out-of-range {
                    color: @out-of-range-color;
                    background-color: #EEE;
                }

                .date {
                    text-align: right;
                    padding: 3px;
                    font-size: @ideal-grid-font-size;
                    font-weight: 500;
                    .font-avenir();
                }

                .month_day_event {
                  cursor: default;
                  height: 20px;



                  .event_start_time {
                    float:left;
                    width: 30px;
                  }

                }
            }

            .grid-event {

                white-space: nowrap;
                overflow: hidden;

                text-overflow: ellipsis;
                z-index: 42;


                .line {
                    .absolute(0, auto, 0, 3px);
                    width: 2px;
                    .color-schemes();
                }

                .time {
                    float: left;
                    line-height: 20px;
                }
            }
        }
    }


    #inspect_event_popup {

        #inspect_event_title {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }



        #inspect_event_delete_button {
          float: left;
          width: 50px;
          position: absolute;
          bottom: 16px;
          left: 16px;
        }

      #inspect_event_edit_button {

      }

    }


  #create_month_day_event_popup {


      #create_month_day_event_button {
          float: left;
          position: absolute;
          bottom: 16px;
          left: 16px;


          text-transform: uppercase;
          border-radius: 4px;
          color: #FFF;
          background: #45a8cf;
          border: 1px solid #1d99cf;
          box-shadow: inset 0 1px 1px #3bc0d8, inset 0 -1px 1px #49baec, 0 0 1px #fafafa, 0 0 1px #ffffff;
          cursor: pointer;
      }
  }


  .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      width: 320px;
      height: 175px;
      z-index: 90000;
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 1px;
      box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);


      .popup_exit_button {
          height: 13px;
          right: 16px;
          top: 16px;
          width: 13px;
          position: absolute;
          background: url(//calendar.google.com/googlecalendar/images/combined_v46_vr.png) -228px -48px;
      }

      .popup_exit_button:hover {
          cursor: pointer;
      }


      .popup_edit_button {
          float: right;
          position: absolute;
          bottom: 16px;
          right: 16px;
      }

      label {
        float: left;
        margin-right: 5px;
      }
  }

  .popup.active {
    display: block;
  }
}
