.body .header.row2.week {
    margin-left: 50px;
    margin-right: 12px;
}

.body .scroll-view {
    position: absolute;
    top: 85px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    position: absolute !important;
    height: auto !important;
}

.body .week-view {
    overflow: auto;
    right: 12px;
    height: auto !important;
    top: 0;
}

    .body .week-view .time-strip {
        float: left;
        width: 50px;
        background-color: #fff;
    }

        .body .week-view .time-strip .time {
            text-align: right;
            height: 50px;
            padding: 0 5px;
        }

    .body .week-view .week-grid {
        overflow: hidden;
        border-left: 1px solid #d4d4d4;
        margin-left: 50px;
    }

        .body .week-view .week-grid .time-line {
            position: absolute;
            top: 0;
            right: 1px;
            bottom: auto;
            left: 0;
            z-index: 200;
            border-top: 2px solid #2ea;
            margin-left: 51px;
        }

        .body .week-view .week-grid .grid-item {
            height: 50px;
        }

        .body .week-view .week-grid .grid-event {
            z-index: 170;
        }
