body {
    background-color: #DFDFE1;
    z-index: -500;
    top: 0;
    position: relative;
    margin: 0 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
}

#blackcanvas {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 300;
    top: 0px;
    left: 0px;
    display: none;
}

.dropconfirm {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 300px;
    height: 140px;
    background-color: white;
    padding: 5px 5px 5px 5px;
}

#dexit {
    width: 26px;
    height: 26px;
    float: right;
    opacity: 0.7;
    cursor: pointer;
}

#dtext {
    width: 100%;
    height: auto;
    font-size: 15px;
    top: 10px;
    position: relative;
    text-align: center;
    font-family: 'Open Sans';
    margin: 30px auto;
}

.dbuttons {
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 2px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 75px;
    text-align: center;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    height: 30px;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#fff,#ddd);
}

.dbuttons-can {
    background-color: #DB5151;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 2px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 75px;
    text-align: center;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    height: 30px;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    background: -webkit-linear-gradient(#DB3838,#DB5151);
    background: -o-linear-gradient(#DB3838,#DB5151);
    background: -moz-linear-gradient(#DB3838,#DB5151);
    background: linear-gradient(#DB3838,#DB5151);
}

    .dbuttons-can:hover {
        background-color: #BE0808;
        background: -webkit-linear-gradient(#CE1A1A,#BE0808);
        background: -o-linear-gradient(#CE1A1A,#BE0808);
        background: -moz-linear-gradient(#CE1A1A,#BE0808);
        background: linear-gradient(#CE1A1A,#BE0808);
    }

.dbuttons:hover {
    background: -webkit-linear-gradient(#E6E6E6,#ccc);
    background: -o-linear-gradient(#E6E6E6,#ccc);
    background: -moz-linear-gradient(#E6E6E6,#ccc);
    background: linear-gradient(#E6E6E6,#ccc);
}

.dbuttons:active {
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#ECECEC,#C9C9C9);
    border: 1.5px solid #616161;
}

#confirm-d {
    margin-left: 60px;
}

#confirm-c {
    margin-left: 15px;
}

#user-profile {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 983px;
    margin-top: 50px;
    z-index: 0;
    padding-bottom: 100px;
}

#profile-header-area {
    width: 982px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: inline-block;
    min-height: 75px;
    margin-top: 14px;
}

#calendar-menu {
    display: inline-block;
    left: 184px;
    top: 8px;
    position: absolute;
}

#university-menu {
    display: inline-block;
    left: 184px;
    top: 8px;
    position: absolute;
}

#user-profile-main {
    width: 760px;
    display: inline-block;
    position: absolute;
    margin-left: 15px;
}

#user-profile-header {
    font-family: 'Open Sans';
    color: #333333;
    font-size: 18px;
    width: 256px;
    display: block;
    top: 155px;
    text-align: center;
    position: absolute;
}

#profile-picture {
   /* display: block;
    margin-left: auto;
    border-radius: 10000px;
    right: 5px;
    border: none;
    border: 1px solid rgb(36, 36, 36);
    top: 20px;
    box-shadow: 0px 0px 10px 1px rgba(63, 57, 57, 0.43);
    margin-right: auto;
    position: relative;*/
    height: 140px;
}

#fileSelect {
    width: 32px;
}

#edit-picture {
    position: absolute;
    top: 132px;
    left: 68px;
    opacity: .9;
}

    #edit-picture:hover {
        opacity: 1;
    }

#year-data {
    display: inline;
    position: relative;
    font-size: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
    left: 55px;
    color: white;
    top: -2px;
}

#year-header {
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    display: inline;
    margin-top: 4px;
    text-align: center;
    line-height: 22px;
    position: absolute;
}

p {
    display: inline-block;
}

.connect-button {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    width: 90px;
    display: inline-block;
    position: relative;
    top: 67.5px;
    border-radius: 4px;
    height: 38px;
    cursor: pointer;
    left: 14px;
    /*background-color: #88E062;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(#88E062,#4FB91E);
    background-image: linear-gradient(#88E062,#4FB91E);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88E062',endColorstr='#4FB91E',GradientType=0);
    border: 1px solid #3B6E22;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    font-weight: bold;*/
    padding: 0px 8px;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
    line-height: 25px;
    border-color: transparent;
    transition: all 0.15s ease 0s;
    border-width: 1px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    background: url('src/glass.png') repeat-x scroll 0px 50% #22C791;
}

    .connect-button:hover {
        /*background-color: #60D62D;
        background-repeat: repeat-x;
        background-image: -webkit-linear-gradient(#60D62D,#3DA50D);
        background-image: linear-gradient(#60D62D,#3DA50D);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60D62D',endColorstr='#3DA50D',GradientType=0);*/
        background-color: #1ABD88;
        border-color: #389677 #14A072 #06724F;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.39);
        transition: all 0s ease 0s;
    }

    .connect-button:active {
        background-color: #1ABD88;
        border-color: #257A5E #0F865F #07835A;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    }

    
    .disconnect-button:hover {
        background-color: rgba(249, 70, 76, 1);
        border-color: rgba(150, 56, 109, 1) rgba(160, 20, 60, 1) rgba(114, 6, 6, 1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.39);
        transition: all 0s ease 0s;
    }
    .disconnect-button:active {
        background-color: rgba(249, 70, 76, 1);
        border-color: rgba(150, 56, 109, 1) rgba(160, 20, 60, 1) rgba(114, 6, 6, 1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    }

.disconnect-text {
    font-size: 15px;
    margin: 0px;
    width: 100%;
    text-align: center;
    padding-top: 6px;
}

.connect-icon {
    padding-top: 2.1px;
    width: 35px;
}

.connect-text {
    font-size: 15px;
    margin: 0px;
    text-align: center;
    line-height: 15px;
    bottom: 11.5px;
    position: relative;
}

#user-class-year {
    display: inline-block;
    position: relative;
    height: 50px;
    float: right;
    width: 116px;
    right: 14px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    top: 63px;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 5px;
    -webkit-transform: scale(.80);
    -moz-transform: scale(.80);
    -o-transform: scale(.80);
    -ms-transform: scale(.80);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    transform: scale(.80);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}


#bio-email {
    display: inline-block;
    margin: 0;
    position: relative;
    top: -24.5px;
    left: 10px;
    font-family: 'Open Sans';
    color: #A0A0A0;
    font-weight: 400;
    font-size: 13px;
}

#user-email {
    display: inline-block;
    margin: 0;
    position: relative;
    top: -25.5px;
    left: 16px;
    font-size: 11px;
    font-family: 'Open Sans';
    color: #313030;
    font-weight: 700;
}

#bio-contents {
    float: left;
    margin-top: -14px;
    height: 74px;
    width: 95%;
    margin-left: 7px;
    margin-right: 12px;
    display: inline-block;
    font-size: 15px;
    font-family: "Open Sans";
    -webkit-transition: all 0.22s ease-in-out;
    -moz-transition: all 0.22s ease-in-out;
    -o-transition: all 0.22s ease-in-out;
    -ms-transition: all 0.22s ease-in-out;
    transition: all 0.22s ease-in-out;
}

    #bio-contents:hover {
        background-color: #edeff4;
        cursor: pointer;
    }

#linqs-section {
    /*display: inline-block;*/
    float: left;
    width: 75px;
    height: 30px;
    /*padding-bottom: 4.5px;*/
    margin-left: 10px;
    margin-top: 5px;
    border-left: 1px solid #E9EAED;
    background-color: #F6F7F8;
}

#user-profile-info {
    width: 279px;
    background-color: white;
    border-radius: 3px;
    height: auto;
    padding-bottom: 7px;
    left: 12px;
    position: relative;
    display: inline-block;
    /*top: 27px;*/
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.43);
    border-bottom: 2px solid #AAB2C4;
}

#present-university {
    position: relative;
    width: 264.5px;
    min-height: 60px;
    margin-left: 7px;
    border-radius: 5px;
    margin-top: 7px;
    background-color: #44ABB8;
    float: left;
    border-radius: 10px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transition: box-shadow 0.1s;
    -moz-transition: box-shadow 0.1s;
    -o-transition: box-shadow 0.1s;
    -ms-transition: box-shadow 0.1s;
    transition: box-shadow 0.1s;
    cursor: pointer;
}

    #present-university:hover {
        box-shadow: 0px 10px 10px -10px #000;
        background-color: #44ABB8;
    }

        #present-university:hover #university-title {
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
        }

        #present-university:hover #school-title {
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
        }

#university-title {
    font-family: 'Open Sans';
    color: white;
    margin-top: 0px;
    display: block;
    font-size: 24px;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}


#school-title {
    text-align: center;
    position: relative;
    top: -33px;
    font-family: 'Open Sans';
    color: white;
    font-weight: 700;
}

.present-interests {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transition: box-shadow 0.1s;
    -moz-transition: box-shadow 0.1s;
    -o-transition: box-shadow 0.1s;
    -ms-transition: box-shadow 0.1s;
    transition: box-shadow 0.1s;
    cursor: pointer;
    min-width: 50px;
    width: 97%;
    height: auto;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
    background-color: #E7B244;
    display: block;
    border-radius: 2px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-family: 'Open Sans';
    color: white;
    display: block;
    font-size: 14px;
    text-align: center;
    min-height: 25px;
}

    .present-interests:hover {
        background-color: #E7B244;
        box-shadow: 0px 10px 10px -10px rgba(0,0,0,.9);
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
    }

#present-minor {
    position: relative;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transition: box-shadow 0.1s;
    -moz-transition: box-shadow 0.1s;
    -o-transition: box-shadow 0.1s;
    -ms-transition: box-shadow 0.1s;
    transition: box-shadow 0.1s;
    cursor: pointer;
    float: left;
    width: 264.5px;
    min-height: 60px;
    height: auto;
    margin-left: 7px;
    margin-top: 7px;
    background-color: #DB7371;
    display: block;
    border-radius: 10px;
}

    #present-minor:hover {
        box-shadow: 0px 10px 10px -10px rgba(0,0,0,.9);
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
        background-color: #DB7371;
    }

#study-title {
    font-family: 'Open Sans';
    color: white;
    display: block;
    font-size: 22px;
    position: relative;
    text-align: center;
    margin-top: 0px;
}

#minor-title {
    font-family: 'Open Sans';
    color: white;
    margin-top: 0px;
    display: block;
    font-size: 24px;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}


#degree-title {
    font-family: 'Open Sans';
    color: white;
    display: block;
    font-size: 20px;
    text-align: center;
}

#neuro-icon {
    width: 40px;
    position: relative;
    display: block;
    margin-right: auto;
    top: -8px;
    margin-left: auto;
}

#tile-header {
    margin: 0;
    left: 9px;
    top: 4px;
    position: relative;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    color: rgba(248, 243, 243,.8);
    display: inline;
}

#tile-edit {
    margin: 0;
    left: 172px;
    top: 4px;
    position: relative;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    color: rgba(250, 250, 250,1);
}

#tile-edit2 {
    margin: 0;
    left: 65px;
    top: 4px;
    position: relative;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    color: rgba(250, 250, 250,1);
}

    #tile-edit2:hover {
        text-decoration: underline;
    }

#tile-edit:hover {
    text-decoration: underline;
}

#univ-header {
    margin: 0;
    left: 9px;
    top: 4px;
    position: relative;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    color: rgba(248, 243, 243,.8);
    display: inline;
}

#univ-edit {
    margin: 0;
    left: 172px;
    top: 4px;
    position: relative;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    color: rgba(250, 250, 250,1);
}

    #univ-edit:hover {
        text-decoration: underline;
    }



#user-profile-bio {
    width: 279px;
    height: auto;
    min-height: 165px;
    left: 12px;
    position: relative;
    background-color: white;
    /*display:inline-block;*/
    top: -18px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid #AAB2C4;
    box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.43);
}


#bio-header {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #E9EAED;
    border-top: 1px solid #E9EAED;
}

#bio-head-txt {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    padding-left: 7px;
    font-family: 'Open Sans';
    color: #666;
    font-weight: 300;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 19px;
    padding-right: 6px;
    border-right: 1px solid #E9EAED;
    /*background-color: #f2f2f2;*/
    border-top-left-radius: 4px;
}

#linqs {
    width: 279px;
    top: 0px;
    height: 62px;
    left: 0px;
    position: relative;
}

#linqs-header {
    width: 160px;
    height: 22px;
    top: 0px;
    left: 0px;
    border-top: 1px solid rgba(204, 204, 204, 0);
    border-right: 1px solid #ccc;
    position: relative;
    background-color: #f2f2f2;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#profile-intro {
    background-color: white;
    height: 272px;
    position: relative;
    left: 12px;
    top: 8px;
    width: 264px;
    padding-left: 15px;
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.43);
    display: inline-block;
    float: left;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /*border-bottom: 2px solid #AAB2C4;*/
}

#linq-term {
    margin: 0px;
    font-size: 13px;
    font-family: 'Open Sans';
    /*bottom: 37px;
	display: inline-block;
	position: relative;*/
    width: 30px;
    text-align: center;
    color: #666;
    padding-top: 5px;
    float: left;
}

#linq-number {
    /*text-align: center;*/
    top: -25px;
    position: relative;
    font-size: 23px;
    font-family: 'Open Sans';
    color: #202020;
    float: left;
    width: 40px;
}

.profile-bio-edit {
    position: absolute;
    bottom: 1px;
    width:100%;
    background-color:#F6F7F8;
    border-top: 1px solid #E9EAED;
}




.edit-profile {
    float: left;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
    margin-right: 7px;
    margin-left: 7px;
    text-decoration: none;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-align: center;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    height: 26px;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#fff,#ddd);
}

    .edit-profile:hover {
        background: -webkit-linear-gradient(#E6E6E6,#ccc);
        background: -o-linear-gradient(#E6E6E6,#ccc);
        background: -moz-linear-gradient(#E6E6E6,#ccc);
        background: linear-gradient(#E6E6E6,#ccc);
    }

#present-classes {
    width: 636px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    top: 8px;
    padding-bottom: 15px;
    height: auto;
    margin-left: 16px;
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.43);
}

.classes-top {
    /*padding-bottom: 7px;
    border-bottom: 1px solid #C5C5C5;
    padding-top: 7px;*/
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    border-right: 1pt solid #434951;
    border-top: 1pt solid #434951;
    border-bottom: 1pt solid #020C1A;
    background-color: #313131;
}

.classes-header {
    /*margin: 0;
    padding-left: 20px;
    padding-top: 7px;
    font-family: 'Open Sans';
    display: inline;
    font-size: 19px;
    color: #666;
    font-weight: 300;
    border-right: 1px solid #ccc;
    padding-right: 20.5px;
    background-color: #f2f2f2;
    padding-bottom: 7px;
    border-top-left-radius:4px;
    */
    float: left;
    display: inline-block;
    height: 30px;
    width: auto;
    line-height: 52px;
    font-size: 13.5px;
    color: #FFF;
    font-weight: 600;
    margin-left: 10px;
    position: relative;
    bottom: 20px;
}

#join-icon {
    width: 17px;
    padding-top: 5.5px;
    padding-left: 4px;
}

#join-classes, #join-clubs {
    display: inline-block;
    width: 88px;
    height: 26px;
    padding-left: 5px;
    float: right;
    top: 4px;
    position: relative;
    top: 8px;
    color: #ffffff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    /*background-color: #019ad2;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(#33bcef,#019ad2);
    background-image: linear-gradient(#33bcef,#019ad2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
        */
    border: 1px solid transparent; /*#057ed0;*/
    background: #2e78c5 url(src/glass.png) repeat-x 0 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
}

#join-classes:hover,  #join-clubs:hover{
    cursor: pointer;
    background-color: #1F69B6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.39);
    transition: all 0s;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.39);
    -moz-transition: all 0s;
    -o-transition: all 0s;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.39);
}

#join-classes:active, #join-clubs:active {
    background-color: #2E80D6;
    background: #2E80D6 url(src/glass.png) repeat-x 0 50%;    
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}



.edit-classes {
    display: inline-block;
    float: right;
    position: relative;
    margin-right: 10px;
    top: 8px;
    width: 60px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#fff,#ddd);
    height: 25.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#btn-p-style {
    display: inline;
    margin: 0;
    position: relative;
    top: 5.4px;
    left: 7px;
}

.edit-classes-active {
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#ECECEC,#C9C9C9);
    border: 1.5px solid #616161;
    border-radius: 5px;
}

#edit-icon-pic {
    vertical-align: middle;
    vertical-align: middle;
    padding-left: 7.5px;
    padding-top: 6.2px;
    cursor: pointer;
}

.class-one {
    position: relative;
    margin-top: 14px;
    margin-left: 25px;
    background-color: #EDEFF4;
    width: 590px;
    height: 50px; /*82px;*/
    border-radius: 3px;
    -webkit-transition: all 0.22s ease-in-out;
    -moz-transition: all 0.22s ease-in-out;
    -o-transition: all 0.22s ease-in-out;
    -ms-transition: all 0.22s ease-in-out;
    transition: all 0.22s ease-in-out;
}

    .class-one:hover {
        /*  background-color: rgba(237, 239, 244, .8);
        box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.3); */
    }
    /*
#join-classes:hover {
    background-color: #088AC7;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(#17ACE4,#088AC7);
    background-image: linear-gradient(#17ACE4,#088AC7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17ACE4',endColorstr='#088AC7',GradientType=0);
    border-color: #057ed0;
}

#join-clubs:hover {
    background-color: #088AC7;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(#17ACE4,#088AC7);
    background-image: linear-gradient(#17ACE4,#088AC7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17ACE4',endColorstr='#088AC7',GradientType=0);
    border-color: #057ed0;
}
*/
.edit-classes:hover {
    background: -webkit-linear-gradient(#E6E6E6,#ccc);
    background: -o-linear-gradient(#E6E6E6,#ccc);
    background: -moz-linear-gradient(#E6E6E6,#ccc);
    background: linear-gradient(#E6E6E6,#ccc);
    cursor: pointer;
}

#join-classes:active {
    box-shadow: 0 1px 0 rgba(255,255,255,1);
}


#done-edit-classes {
    display: none;
    width: 107px;
    height: 26px;
    float: right;
    margin-right: 10px;
    position: relative;
    top: 8px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    color: #F0544E;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#fff,#ddd);
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 26px;
}

    #done-edit-classes:hover {
        background: -webkit-linear-gradient(#E6E6E6,#ccc);
        background: -o-linear-gradient(#E6E6E6,#ccc);
        background: -moz-linear-gradient(#E6E6E6,#ccc);
        background: linear-gradient(#E6E6E6,#ccc);
    }

    #done-edit-classes:active {
        box-shadow: 0 1px 0 rgba(255,255,255,1);
    }

#join-classes:active {
    box-shadow: 0 1px 0 rgba(255,255,255,1);
}

#browse-classes {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 3.5px;
    position: absolute;
    color: white;
    margin-top: 3px;
}

.class-name {
    display: inline;
    position: relative;
    color: rgba(92, 92, 92, 0.87);
    bottom: 10px; /*25px;*/
    font-weight: 400;
    left: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 16px;
}

#class-one:hover #class-name {
    color: rgba(92, 92, 92, 1);
}

.class-link1:hover #class-name {
    text-decoration: none;
}

.class-link1:hover #class-pic {
    opacity: 1;
}

#class-pic {
    width: 35px; /*66px;*/
    padding-top: 1px;
    padding-left: 10px;
    opacity: .76;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}

#class-info-section {
    position: relative;
    top: 0px;
    display: inline-block;
}

.professor {
    width: 269px;
    position: relative;
    bottom: 40px; /*57px;*/
    left: 340px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
    opacity:0.78;
}

    .professor:hover {
        opacity:1;
    }

#professor-pic1 {
    width: 27px;
    display: inline;
    opacity: .78;
    position: relative;
    border-radius: 2px;
}

#professor-name1 {
    margin: 0;
    display: inline;
    position: relative;
    left: 6px;
    font-size: 13.5px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(92, 92, 92, 0.87);
    bottom: 7.5px;
}

#professor-link1:hover {
    display: inline-block;
    padding-right: 5.5px;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 7.2px;
    border-radius: 4px;
    padding-right: 12px;
    padding-bottom: 1.5px;
    background-color: #D8DFEA;
}

#professor-link1 {
    display: inline-block;
    padding-right: 5.5px;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 7.2px;
    border-radius: 4px;
    padding-right: 12px;
    padding-bottom: 1.5px;
    background-color: none;
}

    #professor-link1:hover #professor-name1 {
        color: rgba(92, 92, 92, 1);
    }


    #professor-link1:hover #professor-pic1 {
        opacity: 1;
    }


.class-link1 {
    height: 37px; /*70px;*/
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    width: 302px;
    border-radius: 4px;
    text-decoration: none;
}

    .class-link1:hover {
        background-color: #D8DFEA;
    }

#class-cal {
    display: inline-block;
    position: relative;
    width: auto;
    left: 342px;
    bottom: 62px;
}

#calendar-title1 {
    margin: 0;
    display: inline;
    position: relative;
    margin-left: 7px;
    bottom: 6.5px;
    font-family: 'Open Sans';
    font-size: 13.5px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(92, 92, 92, 0.87);
}


.cac2 {
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -o-transform: scale(1.12);
    -ms-transform: scale(1.12);
    opacity: .76;
    transform: scale(1.12);
}


#class-cal-link:hover .cac2 {
    opacity: 1;
}

#class-cal-link:hover #red-alert {
    opacity: 1;
}


#class-cal-link:hover {
    cursor: pointer;
}

.class-buttons {
    display: none;
    position: absolute;
    top: 5px;
    left: 560px;
    width: 22px;
    height: 22px;
}

.x-icon {
    height: 22px;
    width: 22px;
}

#present-clubs {
    width: 636px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    margin-top: 35px;
    padding-bottom: 15px;
    height: auto;
    margin-left: 16px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.43);
}

#clubs-top {
    padding-bottom: 7px;
    border-bottom: 1px solid #C5C5C5;
    padding-top: 7px;
}

#clubs-header {
    margin: 0;
    padding-left: 20px;
    padding-top: 7px;
    font-family: 'Open Sans';
    display: inline;
    font-size: 19px;
    color: #666;
    font-weight: 300;
    border-right: 1px solid #ccc;
    padding-right: 20.5px;
    background-color: #f2f2f2;
    padding-bottom: 7px;
    border-top-left-radius: 4px;
}

#browse-clubs {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 9px;
    position: absolute;
    color: white;
    margin-top: 3px;
}

.edit-clubs {
    display: inline-block;
    float: right;
    position: relative;
    margin-right: 10px;
    top: 8px;
    width: 60px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#fff,#ddd);
    height: 25.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-clubs-active {
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#ECECEC,#C9C9C9);
    border: 1.5px solid #616161;
    border-radius: 5px;
}

.edit-clubs:hover {
    background: -webkit-linear-gradient(#E6E6E6,#ccc);
    background: -o-linear-gradient(#E6E6E6,#ccc);
    background: -moz-linear-gradient(#E6E6E6,#ccc);
    background: linear-gradient(#E6E6E6,#ccc);
    cursor: pointer;
}

.thumb {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: center center;
    background-size: cover;
    border-radius:3px;
}

.thumb:hover {
    opacity:1;
}

.profile-pic {
    display: inline-block;
    width: 140px;
    background-position: center center;
    background-size: cover;
    border-radius:3px;

margin-left: auto;
border: 1px solid #242424;
top: 20px;
box-shadow: 0px 0px 10px 1px rgba(63, 57, 57, 0.43);
margin-right: auto;
position: relative;
height: 140px;
left:55px;
}

#done-edit-clubs {
    display: none;
    width: 107px;
    height: 26px;
    float: right;
    margin-right: 10px;
    top: 4px;
    position: relative;
    top: 8px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    color: #F0544E;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#fff,#ddd);
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 26px;
}

    #done-edit-clubs:hover {
        background: -webkit-linear-gradient(#E6E6E6,#ccc);
        background: -o-linear-gradient(#E6E6E6,#ccc);
        background: -moz-linear-gradient(#E6E6E6,#ccc);
        background: linear-gradient(#E6E6E6,#ccc);
    }

    #done-edit-clubs:active {
        box-shadow: 0 1px 0 rgba(255,255,255,1);
    }

.club-buttons {
    display: none;
    position: absolute;
    top: 5px;
    left: 560px;
    width: 22px;
    height: 22px;
}




.president {
    width: auto;
    position: relative;
    bottom: 57px;
    left: 340px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}

#president-pic1 {
    width: 27px;
    display: inline;
    opacity: .78;
    position: relative;
}

#president-name1 {
    margin: 0;
    display: inline;
    position: relative;
    left: 6px;
    font-size: 13.5px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(92, 92, 92, 0.87);
    bottom: 7.5px;
}

#president-link1:hover {
    display: inline-block;
    padding-right: 5.5px;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 7.2px;
    border-radius: 4px;
    padding-right: 12px;
    padding-bottom: 1.5px;
    background-color: #D8DFEA;
}

#president-link1 {
    display: inline-block;
    padding-right: 5.5px;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 7.2px;
    border-radius: 4px;
    padding-right: 12px;
    padding-bottom: 1.5px;
    background-color: none;
}

    #president-link1:hover #president-name1 {
        color: rgba(92, 92, 92, 1);
    }


    #president-link1:hover #president-pic1 {
        opacity: 1;
    }

#club-pic {
    width: 35px;
    padding-top: 1px;
    padding-left: 10px;
    opacity: .76;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}

.club-link1:hover #club-name {
    text-decoration: none;
}

.club-link1:hover #club-pic {
    opacity: 1;
}

.club-name {
    display: inline;
    position: relative;
    color: rgba(92, 92, 92, 0.87);
    bottom: 10px;
    font-weight: 400;
    left: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 16px;
}

.club-link1 {
    height: 37px;
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    width: 302px;
    border-radius: 4px;
}

    .club-link1:hover {
        background-color: #D8DFEA;
    }


#club-one:hover #club-name {
    color: rgba(92, 92, 92, 1);
}

.club-one {
    position: relative;
    margin-top: 14px;
    margin-left: 25px;
    background-color: #EDEFF4;
    width: 590px;
    height: 50px;
    border-radius: 3px;
    -webkit-transition: box-shadow 0.1s;
    -moz-transition: box-shadow 0.1s;
    -o-transition: box-shadow 0.1s;
    -ms-transition: box-shadow 0.1s;
    transition: box-shadow 0.1s;
}

    .club-one:hover {
        /*  background-color: rgba(237, 239, 244, .8);
        box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.3); */
    }



.club-date {
    display: inline;
    position: relative;
    color: rgba(92, 92, 92, 0.87);
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 16px;
    top: 10px;
}

.club-date1 {
    height: 50px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
    width: 200px;
    border-radius: 4px;
    float: right;
    text-align: center;
}

    .club-date1 h3 {
        width: 150px;
    }



.xdescription {
    position: absolute;
    margin-top: -5px;
    margin-left: 5px;
    width: 80px;
    display: none;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    transition: 1s ease-out;
}

.xwedge {
    margin-left: 32px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #242424;
}

.xtext {
    position: relative;
    background-color: #242424;
    color: white;
    font-size: 0.7em;
    font-family: "Open Sans";
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 100%;
}

.drop-course:hover .x-icon {
    opacity: 1;
}

.drop-course {
    width: 25px;
}

.editcolumn {
    float: left;
    height: 28px;
    width: 250px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    background-color: #EDEFF4;
    margin-left: 10px;
    text-align: center;
    border: 2px dashed #ccc;
}

.pbuttons {
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
    text-decoration: none;
    margin-left: 35px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 80px;
    text-align: center;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    height: 26px;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#fff,#ddd);
}

    .pbuttons:hover {
        background: -webkit-linear-gradient(#E6E6E6,#ccc);
        background: -o-linear-gradient(#E6E6E6,#ccc);
        background: -moz-linear-gradient(#E6E6E6,#ccc);
        background: linear-gradient(#E6E6E6,#ccc);
    }

.biotext {
    position: absolute;
    margin-top: -5px;
    height: 74px;
    width: 95%;
    margin-left: 7px;
    margin-right: 12px;
    display: inline-block;
    resize: none;
    border: none;
    border-radius: 2px;
    display: none;
    background-color: rgba(237, 239, 244, .8);
    font-size: 14px;
    float: left;
}

.bio-edit-class {
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    color: #F0544E;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    background: -webkit-linear-gradient(#fff,#ddd);
    background: -o-linear-gradient(#fff,#ddd);
    background: -moz-linear-gradient(#fff,#ddd);
    background: linear-gradient(#fff,#ddd);
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 26px;
    top: 3px;
    left: 7px;
    float:left;
}


.emailtext {
    display: inline-block;
    margin: 0;
    position: relative;
    width: 60%;
    top: -25.5px;
    left: 11px;
    font-size: 11px;
    font-family: 'Open Sans';
    color: #313030;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    display: none;
    background-color: rgba(237, 239, 244, .8);
}


#classmore {
    float: right;
    margin-right: 15px;
    color: rgba(92, 92, 92, 0.8);
    font-family: "Open Sans";
    font-size: 15px;
    margin-top: 3px;
    cursor: pointer;
}

#clubmore {
    float: right;
    margin-right: 15px;
    color: rgba(92, 92, 92, 0.8);
    font-family: "Open Sans";
    font-size: 15px;
    margin-top: 3px;
    cursor: pointer;
}


@font-face {
    font-family: "Helvetica";
    src: url('../fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}

::-webkit-input-placeholder {
    color: #bbb;
}

::-moz-placeholder {
    color: #bbb;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #bbb;
}
/* ie */
input:-moz-placeholder {
    color: #bbb;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

textarea:focus, input:focus {
    outline: 0;
}

#upload_photo_button {
    /* Note: display:none on the input won't trigger the click event in WebKit.
    Setting visibility: hidden and height/width:0 works great. */
    visibility: hidden;
    width: 0;
    height: 0;
}

#upload_photo {
    /* Note: display:none on the input won't trigger the click event in WebKit.
    Setting visibility: hidden and height/width:0 works great. */
    visibility: hidden;
    width: 0;
    height: 0;
}

#photo_form {
    visibility: hidden;
    width: 0;
    height: 0;
}

.camera-icon {
    display: none;
    width: 35px;
    height: 35px;
}

#blackcanvas-inside {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    top: 0px;
    left: 0px;
    display: none;
}

#blackcanvas-banner {
    position: absolute;
    width: 100%;
    height: 46px;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    top: 0px;
    left: 0px;
    display: none;
}

.real-edit-profile {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 1px;
    height: 28px;
    width: 28px;
    border: 2px dashed #666;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.edit-profile-button {
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-top: 3px;
}

.real-edit-profile:hover {
    opacity: 0.7;
}


.editprofile {
    /*position: relative;
    margin-left: 12px;
    margin-top: 3px;*/
    height: auto;
    width: 279px;
    background-color: white;
    display: none;
    padding-bottom: 10px;
    font-family: "Open Sans";
    border-radius: 4px;
    margin: auto;
    position: absolute;
    left: 12px;
}


.ed-head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
    height: 32px;
    width: 100%;
    background-color: #EDEFF4;
    border-bottom: 3px #d5d7db solid;
    color: #aaacaf;
}

    .ed-head div {
        float: left;
        margin-left: 8px;
        margin-top: 5px;
        width: 200px;
    }

.edtkeyword {
    color: #868789;
}

.sub-ed-head {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 15px;
    border-top: 1px #d5d7db solid;
}

.modinterests {
    float: right;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    margin-top: 3px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #aaacaf;
}

    .modinterests:hover {
        background-color: #aaacaf;
        color: #EDEFF4;
    }

.mod-individual-interests {
    font-size: 28px;
    line-height: 21px;
    margin-top: 15px;
}

.individual-interests {
    width: 220px!important;
}

.aninterest {
    float: left;
    width: 100%;
    height: auto;
}

.interestsfield {
    margin-top: 10px;
    float: left;
    height: auto;
    width: 100%;
}

.present-interestsfield {
    float: left;
    height: auto;
    width: 264.5px;
    margin-left: 7px;
    margin-right: 7px;
}

.tile-top {
    position: absolute;
    width: 60px;
    height: 20px;
}


/* Time line for the classes and clubs*/
/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 636px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 1em 0;
    list-style-type: none;
}

    .timeline:before {
        position: absolute;
        left: 3.3%;
        top: 0;
        content: ' ';
        display: block;
        width: 1px;
        height: 100%;
        margin-left: -3px;
        background: #CCC;
        background: -moz-linear-gradient(top, #F2F2F2 0%, #CCC 8%, #CCC 92%, #F2F2F2 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
        background: -webkit-linear-gradient(top, #F2F2F2 0%, #CCC 8%, #CCC 92%, #F2F2F2 100%);
        background: -o-linear-gradient(top, #F2F2F2 0%, #CCC 8%, #CCC 92%, #F2F2F2 100%);
        background: -ms-linear-gradient(top, #F2F2F2 0%, #CCC 8%, #CCC 92%, #F2F2F2 100%);
        background: linear-gradient(to bottom, #F2F2F2 0%, #CCC 8%, #CCC 92%, #F2F2F2 100%);
        z-index: 0;
    }

    .timeline li {
        padding-bottom: 20px;
    }

        .timeline li:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

.direction-l {
    position: relative;
    width: 100px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 636px;
    float: left;
    /*margin-left: 30px;*/
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 150px;
}

.flag {
    position: relative;
    display: inline;
    background: #fff; /*#F2F2F2;*/
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
    color: #666;
    margin-left: 30px;
    border: 1px solid #CED6E0;
}

.direction-r .flag {
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 0px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    font-size: 12px;
}

    .direction-r .flag:before {
        position: absolute;
        top: 80%;
        right: 0px;
        content: ' ';
        display: block;
        width: 3px;
        height: 3px;
        margin-top: -10px;
        background: #fff;
        border-radius: 10px;
        border: 2px solid #CCC;
    }

    .direction-r .flag:before {
        left: -26px;
    }

.direction-r .flag1 {
    content: "";
    position: absolute;
    left: 14.5px;
    top: 25%;
    width: 20px;
    height: 12px;
    background-size: 19px auto;
    background-image: url(src/wedgeUp.png);
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Opera, Chrome, and Safari */
    z-index: 10;
    /*
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #F2F2F2;
  border-width: 8px;
      */
    pointer-events: none;
}

.desc {
    margin: 1em 0.75em 0 0;
    font-size: 0.77777em;
    line-height: 1.5em;
}

.desc-animate {
  /*  animation: SlideInLeft 600ms ease-out, FadeIn 500ms ease-out; */
}

@keyframes SlideInLeft {
    from {
        transform: translateX(10%);
    }

    to {
        transform: translateX(0);
    }
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

/* End of timeline styles */
