.classes-clubs-menu{	
font-family: 'Open Sans', sans-serif;
width: 636px;
background-color: #ffffff;
background-image: url(src/noise-1.png),-webkit-gradient(linear,left top,left bottom,from(#27292B),to(#121314));
background-image: url(src/noise-1.png),-webkit-linear-gradient(top,#ffffff,#ffffff);
background-image: url(src/noise-1.png),-moz-linear-gradient(top,#ffffff,#ffffff);
background-image: url(src/noise-1.png),-o-linear-gradient(top,#ffffff,#ffffff);
background-image: url(src/noise-1.png),-ms-linear-gradient(top,#ffffff,#ffffff);
background-image: url(src/noise-1.png),linear-gradient(top,#ffffff,#ffffff);


/*for test*/
margin-top:8px;
margin-left:11px;
border-radius: 4px;
box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.43);
}


.classes-clubs-menu-head1{
	width:181.5px;
	height: 38px;
	border-right: 1px solid #bdc7d8;
	display:inline-block;
	
	-webkit-transition: .05px;
	-moz-transition: .05px;
	-o-transition: .05px;
	transition: .05px;
	cursor:default;

}

.classes-clubs-menu-head2{
		width:181.5px;
		height:38px;
		border-right: 1px solid #bdc7d8;
		display:inline-block;
		margin-left: -4.4px;
	-webkit-transition: .05px;
	-moz-transition: .05px;
	-o-transition: .05px;
	transition: .05px;
	cursor:pointer;

}

.classes-clubs-fani:hover{
	background-color:rgba(190, 190, 190, 0.1);
}

.classes-clubs-fani:active{
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
background-color:rgba(190, 190, 190, 0.04);

}

#clubs-state {
    display:none;
}

.classes-clubs-btn{
width: 100%;
margin: auto;
display: block;
height: 26px;
margin-top: 3.5px;
font-size: 14px;
font-weight: 600;
	-webkit-transition: .05px;
	-moz-transition: .05px;
	-o-transition: .05px;
	transition: .05px;
color: #666;
padding-top: 7px;
text-align:center;
font-family: 'Open Sans', sans-serif;
}
.classes-clubs-head
{
	border: 1px solid; 
	border-color: #CED6E0 #BCC6D4 #AAB2C4; 
	border-bottom:none;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.classes-clubs-sec{

	margin:0 auto;
	height:auto;

	border: 1px solid; 
	border-color: #CED6E0 #BCC6D4 #AAB2C4; 
	border-bottom: 2px solid #AAB2C4;
	border-top: 1px solid rgba(189, 199, 216, 0.65);

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.wedge1a{
	position: relative;
margin-top: -2px;
margin-left: 86px;
width: 20px;

	height: 12px;
z-index: 70;
background-size:19px;
background-image:url(src/wedge.png);
background-repeat:no-repeat;
/*display:none;*/
}


.wedge2a{
	position: relative;

	margin-top: -2px;

	margin-left: 267.5px;

	width: 20px;

	height: 12px;

	background-repeat: no-repeat;
	z-index: 70;

	background-size: 19px;
	background-image:url(src/wedge.png);
	display:none;
}


.wedge1b
{
	display:none;
}

.wedge2b
{
	display:none;
}

.wedge3b
{
	display:none;
}


.classes-clubs-txtarea{
height: auto;
width: 100%;
z-index: 65;
}

.classes-clubs-btm-bar{
background-color: #f6f7f8;
height: 45px;
border-top: 1px solid #e9eaed;
border-bottom-left-radius: 4px;
border-bottom-right-radius:4px;
/*display:none;*/
}