<div>
    <div class="members-search-top">
        <div class="searchmemberwrapper">
            <input type="text" class="inputText searchMembers" name="Search Users" placeholder="Search the members of this club..." />
        </div>';


        <div class="invite-users email_invite admin" style="visibility: hidden;"></div>';

    </div>




    <div class='blockwrapper'>
        <div class = 'members-header members-students'>
            Administrators <div id="administrator_count">0</div>
        </div>
        <div style = 'width: 853px' class = 'members-header-line'></div>
    </div>

    <div class="members-list-wrap prof-member-list">



    </div>



    <div class='blockwrapper'>
        <div class = 'members-header members-students'>
            Members
        </div>
        <div style = 'width: 853px' class = 'members-header-line'></div>
    </div>


    <div id="lol" class = 'members-list-wrap student-member-list'>";

    </div>

</div>

