#invite_popup {
display: none;
padding: 5px;
width: 200px;
background-color: white;
background: #FFF;
border: 1px solid #ccc;
-webkit-box-shadow: 0 2px 3px 0px rgba(111, 111, 111, 0.09);
-moz-box-shadow: 0 0 4px 0 rgba(111, 111, 111, 0.13);
border-radius: 1px 1px 3px 3px;
top: auto!important;
margin-top: -1px;
border-top: none;
max-height: 236px;
overflow: scroll;
overflow-x: hidden;
}

.tab_members .invite_people_button{
    

    float: right;

    display: inline-block;

    font-size: 12.5px;

    font-family: 'Open Sans', sans-serif; 

    text-transform: capitalize; 

    font-weight: 700;  border-radius: 3px; 

    margin-top: 4px;

    padding: 5px 12px; cursor: pointer;    

    border: 1px solid rgba(199, 202, 205, 0.27); 

    border: 1px solid #C0C0C0; background-color: #fcfcfc; background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(235,235,235,.3) 60%, rgba(225,225,225,.6)); background-image: linear-gradient(rgba(255,255,255,0), rgba(235,235,235,.3) 60%, rgba(225,225,225,.6)); -moz-box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1); -webkit-box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1); box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1); 
    color: #575757;

}

.tab_members .invite_people_button:hover{
outline: 0;
background-color: #f9f9f9;
color:#029acf;
border-color: #B8B8B8 rgba(150, 150, 150, 0.71) rgba(126, 126, 126, 0.58);
}

.tab_members .invite_people_button:active{
text-shadow: none;
border-color: #B8B8B8 rgba(150, 150, 150, 0.71) rgba(126, 126, 126, 0.58);
background-color: #eee;
-moz-box-shadow: inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, .0), inset 0 2px 2px rgba(0, 0, 0, 0.05), /* top inner border */ inset 0 1px 1px rgba(0, 0, 0, 0.08), /* top inner border n2 */ inset -2px 0 2px rgba(0, 0, 0, 0.03), /* right inner border */ inset 0 -1px 0 rgba(0, 0, 0, .02), /* bottom inner border */ inset 2px 0 2px rgba(0, 0, 0, .03) /* left inner border */;
-webkit-box-shadow: inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, .0), inset 0 2px 2px rgba(0, 0, 0, 0.05), /* top inner border */ inset 0 1px 1px rgba(0, 0, 0, 0.08), /* top inner border n2 */ inset -2px 0 2px rgba(0, 0, 0, 0.03), /* right inner border */ inset 0 -1px 0 rgba(0, 0, 0, .02), /* bottom inner border */ inset 2px 0 2px rgba(0, 0, 0, .03) /* left inner border */;
box-shadow: inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, .0), inset 0 2px 2px rgba(0, 0, 0, 0.05), /* top inner border */ inset 0 1px 1px rgba(0, 0, 0, 0.08), /* top inner border n2 */ inset -2px 0 2px rgba(0, 0, 0, 0.03), /* right inner border */ inset 0 -1px 0 rgba(0, 0, 0, .02), /* bottom inner border */ inset 2px 0 2px rgba(0, 0, 0, .03) /* left inner border */;    
}

.tab_members #invite_holder{
    position:relative;
    width: 310px;
    margin-top: 3px;
    display:none;
}

.tab_members #invite_popup{
    font-family: Avenir;
font-weight: 400;
font-size: 13.5px;
margin-top: 30px;
width: 198px;
}

em.invite_people_icon{
    background-image: url(../../assets/gray_add_icon.png); background-size: auto; width: 10px; height: 10px; background-repeat: no-repeat; 
    left: 9px; 
    top: 16px; display: inline-block; 
    position: absolute;

    opacity: .6;
}

em.successful_invite_icon{
     background-image: url(../../assets/small_icons.png); background-size: auto; 
     width: 18px; 
     height: 18px; background-repeat: no-repeat; 
     left: -26px; 
     top: 11px; 
     border-radius: 2px;
     display: inline-block; 
    position: absolute;
    display: none;
     background-position: -87px -1093px;
     opacity: 1;   
}

.small_search_input.invite_input{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: border linear .2s,box-shadow linear .2s; -moz-transition: border linear .2s,box-shadow linear .2s; -o-transition: border linear .2s,box-shadow linear .2s; transition: border linear .2s,box-shadow linear .2s;

    margin-top: 4px;
    float: left;
}

#invite_holder {
    float: left;
}


#invite_popup.active {
    display: block;
}

div.day_event_holder {

}


div.day_event_holder {
    
}

div.week_event_holder{

}

div.month_event_holder{
    
}

div.day_event_holder div.event_start_time{

}

div.day_event_holder div.event_end_time{
    
}

div.day_event_holder div.event_description{
    
}

div.day_event_holder div.event_location{
    
}

div.day_event_holder div.event_location > span{
    
}

div#inspect_event_delete_button_month{

}


div#inspect_event_delete_button_month:hover{
    
}

div#inspect_event_delete_button_month:active{
    
}

div#inspect_event_delete_button_month:hover > span.delete_text{
    
}


div.invite_user_holder{
    margin: 1px 0px;

    padding: 5px 3px;
}

div.invite_user_holder:hover{
background:#f8f8f8;
}

input#create_month_day_event_button{

}

div.invite_user_holder:hover {

}

div.invite_user_holder .invite_user_name{
    
}

div.invite_user_holder .invite_user_email{
    
}

.invite_user_holder {
    cursor: pointer;

}

.invite_user_holder:hover{
}

.invite_user_holder:active{
}

.invite_input {
    background-color: white;
}

.invite_input.error { 
}


.invite_people_button{
    border: 1px solid #eee;
    border-bottom-color: #E4E4E4;
    background-color: #fcfcfc;
    color:#575757;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    border-radius:4px;
    font-weight:bold;
    background-image: -webkit-linear-gradient(#fafafa, #f8f8f8);
    background-image: linear-gradient(#fafafa, #f8f8f8);
}

    .invite_people_button:hover{
    background: #f0f0f0;
    background-color: #F4F4F4; border: 1px solid #e2e2e2;
    color: #2a80b9;
}
    .invite_people_button:active{
    color: #2a80b9; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.2); box-shadow: inset 0 1px 1px rgba(0,0,0,0.2); border-bottom: 1px solid #c7cacd !important;
}


.invite_user_list_item_remove_button {
    cursor: pointer;
}

.small_search_input{
    border: 1px solid #C7C7C7;

    width: 210px;
    padding-left: 22px;
    padding-right: 15px;
    height: 30px;
    background: #fff;
    box-shadow: none;
    outline: none;
    border-radius: 3px;
    font-size: 13px;
    line-height: 30px;
}