div#fbar_new{
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d9d9d9;    
    margin-bottom: 12px; 
    border-radius: 5px;  
    height: auto;
    word-wrap: break-word;
    min-height: 60px;
    -moz-transition: height 450ms ease;
    -webkit-transition: height 450ms ease;
    transition: height 450ms ease;
}

div.#fbar_holder.fbar_homepage #fbar_new{

}

.post_form_template{
    display:none;
}

div.#fbar_holder div#fbar_new{

}

div#fbar_new section#fbar_buttons{
    -moz-transition: opacity 450ms ease; 
    -webkit-transition: opacity 450ms ease; 
    transition: opacity 450ms ease;
    padding: 0 1px 0 7px;
    text-align: center;
    height: auto;
}

section#fbar_buttons .fbar_buttonwrapper{
    float: left; position: relative; 
    top: 0px; left: 0; 
    cursor: pointer;
    width: 180.5px; 
    height: 37px; 
    padding: 12px 0px 11px 0px; color: #696969; 
    display: inline-block;
    font-size: 15px; opacity: .9; font-weight: normal; text-decoration: none; -webkit-font-smoothing: antialiased; 
    background: transparent url(../../../assets/partial/fbar/Fbar_separator.png) no-repeat right center;

}

section#fbar_buttons .fbar_buttonwrapper:last-of-type{
    background-image:none!important;
}

section#fbar_buttons .fbar_buttonwrapper .fbar_button_icon{
    background-image: url(../../../assets/Fbar_icon_map.png);
    -moz-transform: scale(.87);
    -webkit-transform: scale(.87);
    transform: scale(.87);  
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    margin-left: 27px;
    float: left;
    margin-top: 3px;
}

section#fbar_buttons .fbar_buttonwrapper .fbar_button_text{
    font-weight: 600;

    display: inline-block;
    float: left;
    margin-left: 0px;
    width: 87px;
    text-align: center;
    margin-top: 9px;
}

section#fbar_buttons .fbar_buttonwrapper:hover{
    color:#222;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .06s;
    -moz-transition-duration: .06s;
    -ms-transition-duration: .06s;
    -o-transition-duration: .06s;
    transition-duration: .06s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;    
}

.fbar_buttonwrapper > i{
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .06s;
    -moz-transition-duration: .06s;
    -ms-transition-duration: .06s;
    -o-transition-duration: .06s;
    transition-duration: .06s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

section#fbar_buttons .fbar_buttonwrapper:hover > i.fbar_button_icon{
    -moz-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9);
    
}


.fbar_button_icon#fbar_icon_discuss{
    width: 42px;
    
    height: 44px;
    left: 2px;
    background-position: 0px -60px!important;
}

.fbar_button_icon#fbar_icon_notes{
    width: 42px; 
    height: 46px;
    
    background-position: 0px -14px;
    top: -3px;
    left: 10px;
}

.fbar_button_icon#fbar_icon_question{
    background-position: 0px -152px;
    
    width: 40px;
    height: 46px;
    top: -3px;
}

.fbar_button_icon#fbar_icon_event{
    
}

.fbar_button_icon#fbar_icon_opportunity{
    
}

form#fbar_form{
    height:auto;
    opacity:0;
    pointer-events:none;
    overflow: hidden;
    max-height:0px;
    -moz-transition: opacity .25s cubic-bezier(0.550,0.085,0.680,0.530), max-height 0.45s cubic-bezier(0.550,0.085,0.680,0.530);
    -ms-transition: opacity .25s cubic-bezier(0.550,0.085,0.680,0.530), max-height 0.45s cubic-bezier(0.550,0.085,0.680,0.530);
    -o-transition: opacity .25s cubic-bezier(0.550,0.085,0.680,0.530), max-height 0.45s cubic-bezier(0.550,0.085,0.680,0.530);
    -webkit-transition: opacity .25s cubic-bezier(0.550,0.085,0.680,0.530), max-height 0.45s cubic-bezier(0.550,0.085,0.680,0.530);
    transition: opacity .25s cubic-bezier(0.550,0.085,0.680,0.530), max-height 0.45s cubic-bezier(0.550,0.085,0.680,0.530);
}

div.form_wrapper{
    height:200px;
}

.faded{
    opacity:0!important;
}

.hide{
    display:none!important;
}

.fadeIn{
    opacity:1!important;
}

form#fbar_form.show{
    max-height:330px;
    pointer-events:auto;
}


/* FORM TYPE SELECTORS TO SHOW DIFFERENT POST TYPE TEMPLATES */
#fbar_holder.discuss section#discussion_form {
    display:block;
} 
#fbar_holder.notes section#notes_form {
    display:block;
} 
#fbar_holder.question section#question_form {
    display:block;
} 
