/*This css file will be included when signup is off and announcement board is up, overwritter*/

.text-switcher
{
}

.grabber
{
  margin-left: 0px!important;
  padding-top: 12px;
}

div.feature-description p
{
}


div.feature-description p b
{
	font-size: 30px!important;	
}

.state0
{
	padding-left: 100px!important;
}

.state2
{
	padding-left: 110px!important;
}