div.signin-wrap {
display: inline-block;
float: right;
margin-top: 19px!important;
width: auto!important;
min-width:10px!important;
}

div.fb_signin_wrap {
position: relative;
display: inline-block;
margin-left: 24px;
top: -4px;
}

.top-bar{
	background-color: rgba(39, 41, 43, 1)!important;
	position: fixed;
}

.root{
	height:100%;
	min-width:320px;
}

.page{
	position:relative;
	min-height:100%;
}

.sidebar{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin-top: -51px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper{
	margin: 0 auto;
	padding: 0 16px;
	position: relative;
	max-width: 1064px;   
}



.main{
	padding-bottom: 0px;
	z-index: 10;
}

.sidebar .wrapper{
}

body.sidebar-page .wrapper{
	position:static;
}

.sidebar-nav, .sidebar-content{
	width: 280px;
	padding-right: 0;
	background-color: #E7E7E7;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
	box-shadow: 0 1px 0px rgba(0,0,0,0.05);
}

.sidebar-nav h2 {
font-size: 15px;
line-height: 20px;
text-transform: uppercase;
color: #A6D6C1;
}

.sidebar-nav h2, .sidebar-content h2 {
padding: 20px 0px 14px 15px;
margin: 0;
}

.sidebar-nav .sidebar-content {
padding-top: 50px;
margin: -1px 0 0 -1px;
position: fixed;
position: f;
}

.sidebar-nav {
float: left;
height: auto;
margin: 0 0 32px -17px;
background: #E7E7E7;
}

nav ul, nav ol {
list-style: none;
list-style-image: none;
}

.sidebar-content > ul, .index-nav > ul {
list-style: none;
margin: 0;
padding: 0;
border-top: 1px solid #D1D1D1;
}

.sidebar-nav li {
font-weight: bold;
}

.sidebar-content > ul > li, .index-nav > ul > li {
position: relative;
margin: 0;
background: #F1F1F1;
}

.sidebar-content > ul > li a:hover, .index-nav > ul > li a:hover {
z-index: 15;
cursor:pointer;
-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 0px rgba(0,0,0,0.02), 0px -2px 0px rgba(0,0,0,0.02);
-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 0px rgba(0,0,0,0.02), 0px -2px 0px rgba(0,0,0,0.02);
box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 0px rgba(0,0,0,0.02), 0px -2px 0px rgba(0,0,0,0.02);
}

.sidebar-content > ul > li a:active, .index-nav > ul > li a:active{
background-color: #E4E4E4;
z-index: 20;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.95), 0 -1px 0 rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05) inset;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.95), 0 -1px 0 rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05) inset;
box-shadow: 0 1px 0 rgba(255,255,255,0.95), 0 -1px 0 rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05) inset;
}

i.nav-arrow{
	position: absolute;
	top: 14px;
	right: 14px;
	display: block;
	width: 7px;
	height: 13px;
	background: url(https://urlinq.com/beta/img/ur-arrow.png) no-repeat 0 0;
	opacity: 0.5;
	-webkit-transition: margin-right 0.1s ease-out, opacity 0.1s ease-out;
	-moz-transition: margin-right 0.1s ease-out, opacity 0.1s ease-out;
	-o-transition: margin-right 0.1s ease-out, opacity 0.1s ease-out;
	transition: margin-right 0.1s ease-out, opacity 0.1s ease-out;
}

.sidebar-content > ul > li a:hover i.nav-arrow, .index-nav > ul > li a:hover i.nav-arrow {
margin-right: -3px;
opacity: 1;
}

body.sidebar-page .wrapper {
position: static;
}

.nav-page-content {
position: relative;
margin-left: 265px;
margin-right: -16px;
padding: 16px 26px 87px 40px;
background: #f7f7f7;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0,0,0,0.05); border-color: #DBE0E6 #D4D6DB #B9BCC5;
}

div.bottom-container ul.color-border{
	margin-top: 40px;
	width: 400px;
}

h1, h2, h3, h4, h5, h6, th {
font-weight: 600;
color: #5b5b5b;
text-transform: uppercase;
}
h2 {
font-size: 21px;
line-height: 30px;
}
h3 {
font-size: 19px;
line-height: 30px;
}
.nav-page-content h1 {
padding: 15px 0 15px;
margin: 0 0 0 -1px;
}

h2 {
margin: 20px 0 10px;
}

p {
margin: 0 0 10px;
color: #5b5b5b;
font-size: 15px;
}

.sidebar-content > ul > li a{
	text-decoration: none;
	position: relative; display: block; padding: 9px 5px 10px 15px; 
	border-bottom: 1px solid #D8D8D8; 
	background: url(https://urlinq.com/beta/img/ur-shadow.png) repeat-y 100% 0;
	font-size: 13.5px;
	color: #62C9B0;
}

.sidebar-content ul li:hover > a,.sidebar-content ul li:hover a:hover{
	color: #41BEA1;
	} 

	.sidebar-tab-active{
		background-color: #DFDDDD!important;
border-top: 1px solid rgba(170, 170, 170, 0.26);
	}

.sidebar-content.fixed {
position: fixed;
top: 0px;
padding-top: 0px !important;
}

	.sidebar-content ul .sidebar-tab-active:hover,.sidebar-content ul .sidebar-tab-active:hover > a,.sidebar-content ul .sidebar-tab-active a:hover,.sidebar-content ul .sidebar-tab-active:active,.sidebar-content ul .sidebar-tab-active:active > a,.sidebar-content ul .sidebar-tab-active a:active{
		background-color: #DFDDDD!important;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;		
	}

	.sidebar-tab-active a{
		color: #04CE9C!important;
	}
	.sidebar-tab-active a i{
		background-image:url(https://urlinq.com/beta/img/sidebar_left_chevron.png);
	
		opacity: 1!important;
		margin-right: 0px!important;
		top: 10px; 
		right: -1px; width: 9px; height: 17px; 
		margin: 0 -2px 0 0;
}

@media screen and (max-width: 990px){
.wrapper {
width: 100%;
box-sizing: border-box;
}
.nav-page-content {
padding-right: 20px;
}
}

@media screen and (min-width: 641px){
.sidebar .sidebar-nav .sidebar-content h2, .sidebar .sidebar-nav .sidebar-content ul {
display: block !important;
}
}