body{
	font-family: 'Open Sans', sans-serif;
	margin:0px auto;
	background: #EEE;
	min-width: 720px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: scroll;
}

.root{
	height:100%;
	min-width:320px;
	position:relative;
	min-height:100%;
}


.wrapper{
	margin:0;
	width:auto;
	padding:0;
	min-height:600px;
	margin:0;
}

.content-wrap{
	margin-left: 384.5px;
	min-height:600px;
	display:block;
}

.midsec {
    float: left;
    position: relative;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 500px;
    background: transparent;
    z-index: 2;
    width: 100%;
    margin-left: -3px;
}


.mainContainer{
	display:block;
	width:100%;
	min-height:600px;
	margin-left:0;
	border-right:0;
}
.main{
margin-right: auto;
margin-left: auto;

width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.leftsec{
width: 22.17333%;
float:left;
z-index: 3000;
position: relative;
min-height:1px;

top:48px;


padding-right: 10px;
height: 100%;
}

.rightsec{
	width: 15.93333%;
position: fixed;

	z-index: 1;
min-height: 1px;
padding-top: 10px;
margin-top: 174px;
margin-left: 1014px;
float: right;
height: auto;
padding-left: 10px;

	min-height: 140px;
padding-right: 10px;
border-radius: 4px;
min-width: 191px;
}

div.members-header-line{
    display: inline-block;

    margin-left: 5px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(219, 219, 219, 0.89);
    width: 777px;
    margin-bottom: 4px;
    -webkit-box-shadow: rgba(207, 203, 203, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px; 
    -moz-box-shadow: rgba(207, 203, 203, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px; 
    box-shadow: rgba(207, 203, 203, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px;
}
