.course-info
{
	text-decoration: none;
	float: left;
	font-size: 12px;
	margin-right: 10px;
}

.course-info:link
{
	color: #029ACF;
}

.course-info:visited
{
	color: #029ACF;
}

.course-info:hover
{
	color: #029ACF;
}

.course-info:active
{
	color: #029ACF;
}

div.courses-tab-content div.coursesCards div.item div.courses 
{
	width: 450px;
}