body{
	background: #EEEFF0;
	margin:0;
	color:#222;
	font-family: 'Open Sans', sans-serif;
	overflow-y:scroll;
}

div.mainStructure,div.mainTopBar{
	display:block;
}

.topbar_bag
{
	position: relative;
	z-index: 5000;
	height:48px;
}

.leftbar_bag
{
	position: fixed;
	width: 240px;
	height: 100%;
}


.rightbar_bag
{
position: fixed;
margin-top: 52px;
margin-right: 20px;
right: 300px;
}

.content_bag
{
	height: auto;
	min-width: 1360px;
}

.midsec
{
	position: absolute;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:auto;	
	
	width: 740px;
}



@media (max-width: 1360px) {
.midsec 
{
	margin-left: 308px;
}

.onresz
{
	margin-left: 458px;
}

}

.midsec_indent
{
width: 670px;

float: left;
position: relative;
padding: 10px 9px 20px;
padding-left: 25px;
min-height: 1px;
z-index: 2;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
margin-left: 1px;
padding-top: 70px;  
}

.fbar_bag
{
	float: left;
	height: auto;
	width: auto;
	margin-left: 1px;
}

.feeds_bag
{
	float: left;
	height: auto;
	left: auto;
	margin-left: -17px;
	margin-top: 20px;
}


@media (max-width: 1360px) {
	.rightbar_bag
	{
		display: none;
	}
}


