<html xmlns="http://www.w3.org/1999/xhtml"><head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<link rel="stylesheet" type="text/css" href="email.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#09091a">
	<tbody><tr>
		<td></td>
		<td class="header container">
			
				<div class="content">
					<table>
					<tbody><tr>
						<td class = "logo" style = "background-repeat:no-repeat;background-image:url(http://beta.urlinq.com/assets/logo.png);background-size:contain;"></td>
						<td align="right" class = "urlinq_tri_color">
							<div class = "tricolor_line red"></div>
							<div class = "tricolor_line blue"></div>
							<div class = "tricolor_line green"></div>
						</td>
					</tr>
				</tbody></table>
				</div>
				
		</td>
		<td></td>
	</tr>
</tbody></table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap"  style = "border-spacing:0; margin-top: 4px;">
	<tbody><tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tbody>
					<tr>

					<td>
						
						
						
						
						<!-- A Real Hero (and a real human being) -->
						<p><img src="http://beta.urlinq.com/assets/NYU_Email_hero.jpg"></p><!-- /hero -->
						<a href = "http://www.urlinq.com"><div class = "thought_leader_frame">
							<div background = "https://urlinq.com/team/photo_urlinq/kevin_0.jpg)" style = "background-size:cover; background-repeat:no-repeat;" class = "thought_leader_picture">
							</div>
						</div></a>					
						<!-- Callout Panel -->
						<p class = "thought_leader_name">
							<a href = "http://www.urlinq.com">Kevin Lee</a>
						</p>
						<p class="callout">
							<a href="http://www.urlinq.com">has invited you to join Urlinq</a>
						</p><!-- /Callout Panel -->

						<a class="btn accept_btn">Accept your Invitation</a>
						
						
						<p class = "target_copy">Urlinq provides you with access to all of the people, courses, clubs, and events at your university.</p>
						
												
						<br>
						<br>							
												
						<!-- social & contact -->

					
					
					</td>
				</tr>
			</tbody></table>
			</div>
									
		</td>
		<td></td>
	</tr>
</tbody></table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tbody><tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tbody><tr>
					<td align="center">
						<p class = "footer_Text">
							<a href="http://www.urlinq.com">Urlinq, Inc</a> |
							<a href="http://www.urlinq.com">New York City</a> |
							<a href="http://www.urlinq.com"><unsubscribe>2015</unsubscribe></a>
						</p>
					</td>
				</tr>
			</tbody></table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</tbody></table><!-- /FOOTER -->


</body></html>