<html xmlns="http://www.w3.org/1999/xhtml"><head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width">

<title>Class Link</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<link rel="stylesheet" type="text/css" href="email.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300" rel="stylesheet" type="text/css">

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#1d1f20">
	<tbody>
		<tr>
		<td class="header container">
			
				<div class="content">
					<table>
						<tbody>
							<tr>
								<td class="intro" align="left">
									Hi <span class="user_first_name">Laz,</span>
								</td>
								<td align="right" class="urlinq_tri_color">
									<img class="logo tricolor_float_logo" style="background-repeat:no-repeat;background-size:contain;" src="http://beta.urlinq.com/assets/email_logo.png">										
									<div class="tricolor_line red"></div>
									<div class="tricolor_line blue"></div>
									<div class="tricolor_line green"></div>
								</td>
					
							</tr>
						</tbody>
					</table>
				</div>
				
		</td>
		</tr>
</tbody>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap" style="border-spacing:0; margin-top: 0px;">
	<tbody><tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tbody>
					<tr>

					<td>
						
						
						
						
						<!-- A Real Hero (and a real human being) -->
						<p><img src="http://beta.urlinq.com/assets/Class_Email_hero.jpg"></p>
						<a href="http://www.urlinq.com">
							<div class="thought_leader_frame_group">
							<img class="thought_leader_picture_group" src="https://urlinq.com/team/photo_urlinq/kevin_0.jpg" style="height: 100px; margin-top:0px;border-radius: 3px;">
							</div>
						</a>					
						<!-- Callout Panel -->
						<p class="post_thought_leader_name">
							<a href="http://www.urlinq.com">Professor Hippocratus</a>
						</p>
						<p class="post_callout">
							<span class = "post_details">Announcement in <a href = "CLASSLINK GOES HERE" class = "section_course_name">HIS 123, French Revolution</a></span>
						</p><!-- /Callout Panel -->


						
							<p class = "target_copy_title">Mandatory Lecture, Recitations Canceled</p>
						<p class="post_target_copy">
							Recitations this week will be canceled. Instead, I will be hosting 
							mandatory to attend lectures at Stern. I will be discussing the 
							rise of Borgeoise ideals during the decline of French 
							imperialism and advent of the renessaince throughout the 
							western nations.
						</p>

						
						

				
							
							<a class="btn group_link_btn">Go to Course Page</a>		
							<p class="reply_text">or reply directly below to Professor Hippocratus.</p>
					
					
					</td>			
				</tr>
			</tbody></table>
			</div>
									
		</td>
		<td></td>
	</tr>
</tbody></table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tbody><tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tbody><tr>
					<td align="center">
						<p class="footer_Text">
							<a href="http://www.urlinq.com">Urlinq, Inc</a> |
							<a href="http://www.urlinq.com">New York City</a> |
							<a href="http://www.urlinq.com"><unsubscribe>2015</unsubscribe></a>
						</p>
					</td>
				</tr>
			</tbody></table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</tbody></table><!-- /FOOTER -->


</body></html>