div.help-div div.help-box-black{
width: 180px;
font-size: 11px;
line-height: 14px;
text-align: center;
text-shadow: none;
padding: 7px;
font-weight: 400;
border-radius: 4px;
color: white;
background-color: #3C3C3C;
}


div.help-div div.help-wedge-black {
border-color: transparent;
border-bottom-color: #3C3C3C;
border-style: dashed dashed solid;
border-width: 0 6.5px 6.5px;
display: block;
z-index: 1;
height: 0;
width: 0;
position: relative;
left: 152px;
}



div.help-div {
z-index: -1;
opacity: 0;
position: absolute;
-moz-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
display: block;
pointer-events: none;
top: 44px;
right: 5px;
}