
body {
min-height: 100%;
margin: 0 auto;
position: relative;
z-index: 2;
padding-bottom: 30px;
border-top: none;
border-bottom: none;
font-family: 'Open Sans', sans-serif;
overflow-x: hidden;
overflow-y: auto;
background: url(src/body_noise.png) repeat 50% 50%;
}

div.lp-main{
  
  background: #8CFFC3 url("src/noise-2.png");
  background: linear-gradient(to bottom, #26AB7B, #2EB19C); 
  background-image: url("src/noise-2.png"); /* fallback */ 
  background-image: url("src/noise-2.png"), -webkit-gradient(linear, left top, left bottom, from(#26AB7B), to(#2EB19C)); /* Saf4+, Chrome */ 
  background-image: url("src/noise-2.png"), -webkit-linear-gradient(top, #26AB7B, #2EB19C); /* Chrome 10+, Saf5.1+ */ 
  background-image: url("src/noise-2.png"),    -moz-linear-gradient(top, #26AB7B, #2EB19C); /* FF3.6+ */ 
  background-image: url("src/noise-2.png"),     -ms-linear-gradient(top, #26AB7B, #2EB19C); /* IE10 */ 
  background-image: url("src/noise-2.png"),      -o-linear-gradient(top, #26AB7B, #2EB19C); /* Opera 11.10+ */ 
  background-image: url("src/noise-2.png"),         linear-gradient(to bottom, #09FAA3, #1DA7D3); 
  /* position: fixed; */
}

.top-bar{
  position:fixed;
  left:0;
  right:0;
  height: 60px;
  z-index:10;
  border-bottom: none;
  background-color: #27292B;
background-color: #517fa4;
background-image: url(src/noise-1.png), -webkit-gradient(linear, left top, left bottom, from(#517fa4), to(#306088));

  background-image: url(src/noise-1.png), -webkit-linear-gradient(top, #363636, #292929);
background-image: url(src/noise-1.png), -moz-linear-gradient(top, #517fa4, #306088);
background-image: url(src/noise-1.png), -o-linear-gradient(top, #517fa4, #306088);
background-image: url(src/noise-1.png), -ms-linear-gradient(top, #517fa4, #306088);
background-image: url(src/noise-1.png), linear-gradient(top, #517fa4, #306088);
  background-position: 50% 50%;
  z-index: 6000;
  -webkit-box-shadow: 0 1px 0 rgba(46, 46, 46, 0.5)inset,0 -1px 0 rgba(37, 37, 37, 0.2)inset,0 1px 3px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0 1px 0 rgba(46, 46, 46, 0.5)inset,0 -1px 0 rgba(37, 37, 37, 0.2)inset,0 1px 3px rgba(0, 0, 0, 0.62);
  box-shadow: 0 1px 0 rgba(46, 46, 46, 0.5)inset,0 -1px 0 rgba(37, 37, 37, 0.2)inset,0 1px 3px rgba(0, 0, 0, 0.62);
}

div.footer-sec button.FacebookConnect{

width: 310px;
text-align: left;

position:relative;
display: block;
top: 18px;
float: none;
text-shadow: 0 1px #fff;
border: 3px solid rgba(9, 39, 101, 0.5) !important;
background: -webkit-linear-gradient(#2953ad, #234ca2);
background: linear-gradient(#2953ad, #234ca2);
background-clip: padding-box;
border-radius: 6px;
outline:none;
padding-top: 13px;
padding-bottom: 13px;
overflow: hidden;
height: auto;


left: 14px;
}

div.footer-sec button.FacebookConnect:hover{
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background: -webkit-linear-gradient(#2953ad, #234ca2);
background: linear-gradient(#2953ad, #234ca2);
background-clip: padding-box;

height: auto;
}
div.footer-sec button.FacebookConnect:active{
box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
button.rounded{

}

button.largeBtn{
font-size: 15px;
padding: 10px 18px;
}

button.Button{
cursor:pointer;

}

.registration-sec-texts{
    position: relative;
  
    margin-top: 8px;
    padding: 0px 10px;
}

.registration-sec-texts input{
  border: 1px solid #d7d7d7;
  border-radius:4px;
  height: 36px;
  color: rgb(41, 47, 51);
  font-size: 14px; 
  width: 308px;
  padding: 8px 10px;
}

button.FacebookConnect em{
width: 50px;
height: 42px;
background: url(src/facebook-icon.png) no-repeat;
margin-top: -2px;
left: 11px;
position: absolute;
padding: 0;
top: 9px;
}

button.SignUp em{
  width: 28px;

  height: 28px;
background: url(src/signup-icon.png) no-repeat;
margin-top: -2px;
left: 11px;

  background-size: cover;
  position: absolute;
padding: 0;

  top: 9px;
}

button.largeBtn span.buttonText{
text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
color: #fff;
display: inline-block;
margin-left: 42px;
margin-top: -3px;
font-size:15px;
font-weight: bold;
text-align: left;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

.top-bar-wrapper {
position: relative;
margin: 0;
border:0;
height: 60px;
padding:0;
}

div.header{
  position: relative;
height: 60px;
width: 100%;
}

img.logo{
  height: 30px;
  top:11px;
  vertical-align: middle;
  border:0;
  position:relative;
  top: 17px;
  display: inline-block;
  float: left;
}

div.main-market-area{
  margin: 0 auto;

  position: fixed;


  left: 0px;
  background-position-y: 590px;
  bottom: 0px;
  width: 2000px;
  z-index: 0;
  height: 348px;
  right: 0px;
  top: 0px;
  background-image: url(src/nyu.JPG);
  opacity: .35;
  background-size: cover;
}

.main-content-area{
  position:relative;
  min-height:480px;
  width:100%;
}

.main-content-wrap{
  background: transparent;

  height: 290px;
  overflow: hidden;
  position: relative;
}

.footer-area{
  width:100%;
  position:relative;
  height: 250px;
  background: transparent;
}

.content{
padding: 0 44px;
}





div.signup-container{
    display: block;
    position: fixed;
    width: 340px;
    top: 134px;
    border-radius: 8px;
    left: 57%;
    background: rgba(255, 255, 255, 0); padding: 4px;
    -webkit-box-shadow: 0 0 16px 4px rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 16px 4px rgba(0, 0, 0, .2); z-index: 100;  box-shadow: 0 0 16px 4px rgba(0, 0, 0, .2);
}

div.signup-form-wrap{
    border-radius: 6px; background-color: #fff; 
    height: 430px;
    position: relative;
    padding: 5px;  
    border: 1px solid rgba(105, 105, 105, 0.17);
  
}

div.grabber{  position: fixed;  

  
    
    

  left: 13%;  top: 333px;  z-index: 20;  width: 555px;}

div.signup-header{
  position: absolute;





  padding-top: 10px;

  right: 0px;
  padding-bottom: 10px;
  top: 0px;

  font-size: 18px;
  left: 0px;


border-radius: 4px 4px 0px 0px;

  border-bottom: 1px solid #e1e8ed; text-shadow: 0 1px 0 rgba(255,255,255,0.6); box-shadow: 0 1px 0 #fff;
}


p.p-header{
  position: relative;



  margin: 0;
  font-weight: 600;

  margin-left: 10px;
  font-size: 18px;
  color: #292f33; 
}

div.signup-form-wrap div.footer-sec{
  position:absolute;
  left:0px;
  bottom: 30px;
  width:100%;
}

div.header-sec-left h4.header{
    margin: 0;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14); 
    font-weight: 600;
    font-size: 32px;
    color: rgb(49, 49, 49);
    padding-left: 21px;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; 
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial',sans-serif;
}

div.header-sec-left{
    display: inline-block;

    float: left;
    width: 164px;
    border-right: 2px solid rgb(49, 49, 49);
    height: 42px;
}

div.header-sec{
    margin-top: 7px;

    position: relative;
    height: 40px;
}

div.header-sec div.header-sec-right{
    display: inline-block;

    float: left;
    width: 162px;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

div.header-sec-right div.time-to-signup{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);

    font-size: 32px;
    padding-left: 15px;
    font-weight: 600;
    color: rgb(49, 49, 49);
    display: inline-block;
    float: left;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial',sans-serif;
}

div.signup-slog{rgb(79, 82, 93)
    display: inline-block;
  
    float: left; 
    margin-top: 5px;
    color: rgb(49, 49, 49);
    width: 81px;
    font-size: 12px;
    margin-left: 8px;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
}

div.registration-form{

}

div.registration-form form.register{

}

div.registration-sec{
    position: relative;

    height: 99px;
    margin: 0;
    padding: 0;
}

div.registration-sec ul.account-types{
list-style: none;
margin: 0;
padding: 0;
margin-top: -2px;
margin-left: 9px;
position: absolute;
}

div.fname-lname-sec input.lname{
    margin-left: 6px;

}

ul.account-types li.account-type #account-type-label{
    font-weight: 600; 
    font-size: 14px; 
    top: 38px; position: absolute;  
    pointer-events: none;
    cursor: pointer;

    text-align: center;
    width: 100%;
    color:rgb(161, 163, 165);
}

ul.account-types li.account-type{
box-sizing: border-box;
float: left;
border: 1px solid #d7d7d7; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;    background: #fff;
height: 62px;
border-radius: 4px;
position: relative;
width: 154px;
}

ul.account-types li.account-type:hover{
cursor:pointer;
-webkit-box-shadow: inset 0 8px 10px #ebebeb,inset 4px 35px 65px 5px rgba(242,242,242,0.9);
-moz-box-shadow: inset 0 8px 10px #ebebeb,inset 4px 35px 65px 5px rgba(242,242,242,0.9);
box-shadow: inset 0 8px 10px #ebebeb,inset 4px 35px 65px 5px rgba(242,242,242,0.9);
}

ul.account-types li.account-type:active{
-webkit-box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
-moz-box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
}

ul.account-types li.account-type-chosen:hover{
  cursor: default;
-webkit-box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
-moz-box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
}

ul.account-types li.account-type-chosen #account-type-label{
  color: rgb(41, 47, 51);
}

div.registration-sec-texts input:focus{
outline: 0;
-webkit-box-shadow: 0 0 8px rgba(102,175,233,0.6);
box-shadow: 0 0 8px rgba(102,175,233,0.6);
}

[placeholder]::-webkit-input-placeholder {
  color:rgb(161, 163, 165);
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.05s; 
  opacity: .4;
}

button.SignUp{

  width: 310px;
  text-align: center;
position: relative;
display: block;

  top: 5px;

text-shadow: 0 1px #fff;

  border: 3px solid rgba(226, 226, 226, 1);


background-clip: padding-box;
border-radius: 6px;
outline: none;
padding-top: 13px;

  padding-bottom: 13px;

  overflow: hidden;
height: auto;

  right: -9px;
  background: -webkit-gradient(linear, center top, center bottom, from(#02e2a7), to(#01BE8D)); 
  background: -webkit-linear-gradient(#02e2a7, #01BE8D); 
  background-color: #01BE8D; 
}

button.SignUp span.buttonText{
  margin-left:0px;
  font-size: 16px;
}

ul.account-types li.account-type-chosen{
cursor: default;
-webkit-box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
-moz-box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
}

ul.account-types li.student{
    border-radius: 4px 0px 0px 4px;
    margin-left: 1px;
    border-right: 1px solid #d7d7d7;
}

ul.account-types li.faculty{
border-radius: 0px 4px 4px 0px;
left: 0px;
border-left: none;
}

li.account-type label{
bottom: 1px;
cursor: pointer;
display: block;
font-size: 0;
left: 1px;
position: absolute;

  right: 1px;
pointer-events: none;
text-indent: 100%;
top: 1px;
white-space: nowrap;
}

ul.account-types li.student label{
    background-image: url(src/student-icon.png); background-position: center 2px;

    margin-top: 3px;
    width: 37px;
    height: 33px;
    margin-left: 58px;
    background-size: cover;
}

ul.account-types li.faculty label{
    background-image: url(src/teacher-icon.png); background-position: center 2px;

    margin-left: 58px;
    background-size: cover;
    width: 37px; 
    height: 35px;
    margin-top: 2px;
}

ul.account-types li.account-type input.typecheck{
    display: none;

}



div.registration-sec-header{
  display: inline-block;
position: relative;

  padding-left: 10px;

  padding-top: 14px;
padding-bottom: 4px;
font-size: 13px;

  font-weight: 600;
color: rgba(128, 128, 128, 0.64);
}

div.fname-lname-sec input{
    width: 149px;
  
}

div.fname-lname-sec{
    position: relative;

    height: 35px;
}

input#fname{
  float:left;

}

input#lname{
  float:right;
}

div.signin-wrap{
  display:inline-block;
  float: right;
  margin-top: 15px;
  width: 60%;
  min-width: 410px;
}

form#login{
  width: 100%;
}

input#login_email{
border-radius: 4px;
height: 29px;
outline-width: 1px;
color: rgb(41, 47, 51);
max-width: 250px;
font-size: 12.5px;
width: 32%;
padding: 8px 10px;
border: none;
box-shadow: inset 0 2px 2px #9B9B9B,rgba(105, 105, 105, 0.62) 0 2px 6px;
}

input#login_password{
  border-radius: 4px;
height: 29px;
color: rgb(41, 47, 51);
border: none;

  max-width: 250px;
  outline-width: 1px;
  font-size: 12.5px;

  width: 32%;
margin-left: 10px;
box-shadow: inset 0 2px 2px #9B9B9B,rgba(105, 105, 105, 0.62) 0 2px 6px;
padding: 8px 10px;
}

button.SignIn{
  width: 70px;
position: relative;
background-clip: padding-box;
outline: none;
border: none;
padding-top: 6px;
padding-bottom: 6px;
overflow: hidden;
height: auto;
-moz-transition: all .1s ease;
-webkit-transition: all .1s ease;
transition: all .1s ease;
right: -9px;
text-shadow: 0 -1px rgba(213, 213, 213, 0.25);
color: #FFFFFF;
display: inline-block;

  margin-left: 6px;
-webkit-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46);
margin-top: -3px;
border-radius: 4px;
font-size: 12.5px;
border: 1px solid;
background-color: rgba(71, 71, 71, 0.49);
border-color: #868686 #8F8F8F #797979;
font-weight: bold;
text-align: center;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

button.SignIn:hover{

background-color: rgba(112, 112, 112, 0.41);

}

div.leftLine{
    position: absolute;

    width: 45%;
    left: 0px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.89); -webkit-box-shadow: rgba(207, 203, 203, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px; -moz-box-shadow: rgba(207, 203, 203, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px; box-shadow: rgba(231, 231, 231, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px;
}

div.rightLine{
    position: absolute; 

    width: 45%;
    border-bottom: 1px solid rgba(231, 231, 231, 0.89);   -webkit-box-shadow: rgba(207, 203, 203, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px; -moz-box-shadow: rgba(207, 203, 203, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px; 
    box-shadow: rgba(231, 231, 231, 0.57) 0px 1px 0px 0px, rgba(255, 255, 255, 0) 0px 1px 0px 1px;
    right: 0px;
}

div.or-head{
    position: absolute;  
  
    left: 161px;
    display: inline-block;
    text-transform: uppercase;
    
    top: -9px;
    font-size: 12px;
    font-weight: 700; color: rgba(255, 255, 255, .2); text-shadow: 0 1px 0 rgba(0, 0, 0, 0.28);
}



.page-footer3 {
position: absolute;
vertical-align: bottom;
display: block;
margin-left: auto;
bottom: 20px;
z-index: 1000;
margin-right: auto;
width: 100%;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
height: 30px;
text-transform: uppercase;
font-size: 12px;
font-weight: bold;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.footer-wrapper {
margin: 0 auto;
padding: 0 16px;
z-index: -400;
position: relative;
clear: both;
}

nav.footer-links {
display: inline-block;
margin: 0;
padding: 0;
top: 13px;
position: relative;
margin-left: 50px;
}

.footer-links ul {
list-style-type: none;
list-style-position: outside;
list-style-image: none;
line-height: 16px;
-webkit-font-smoothing: antialiased;
}

.footer-links li {
text-align: center;
text-align: -webkit-match-parent;
display: inline-block;
height: 32px;
padding: 0px 5.5px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
margin: 0;
cursor: pointer;
}

.footer-links span {
vertical-align: -56%;
color: #0DCE87;
}

.footer-links span .footer-linq:visited {
color: #0DCE87;
}

.copyright {
color: rgba(153, 153, 153, 0.9);
display: inline;
top: 30px;
position: relative;
margin-left: 20px;
}

span.signup-header{
  font-weight: 300;
cursor: text;


  font-size: 17px;
  color: rgba(122, 123, 124, 1); 
  text-decoration: none;
}

div.grabber-container div.slider-items-wrapper{
  padding-top: 18px;
  text-align:left;
  min-height: 150px;
  margin:0;
  position:relative;
  width: 1000px;
  margin-left: -200px;
}

div.slider-items-wrapper div.text-switcher div.feature-description{
  color: rgb(51, 51, 51);
}

div.feature-description h1{
  font-size: 40px;
  font-weight:300;
  letter-spacing: -2px;
  margin: 0;
  color: #3F3F3F; font-family: 'Avenir','Helvetica Neue','Helvetica','Arial',sans-serif; 
  font-size: 36px; 
  text-align: left; font-weight: 600; letter-spacing: -.5px; 
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.14);
}

div.feature-description p{
  color: rgb(51, 51, 51);
display: block;

  font-size: 22px;

  margin: 0;
  font-style: normal;
font-weight: 300;
}

div.text-switcher{
  position: absolute;
  opacity:1;
  left:0px;
  display:none;
  padding-left: 20px;
  padding-right: 20px;
  right:0px;
  width: 460px;
}

div.slider-items-wrapper div.text-grabber-active{
  display:block;
}

div.slider-items-wrapper div.text-grabber-inactive{
  opacity:0;
  display: none;
}

div.feature-description-pagination{
  padding-top:12px;
  z-index: 10;
  padding-left: 20px;
}

div.feature-description-pagination span.flag-active{
background: #414141;
border: 1px solid #414141;
}



span.pagination-item{
width: 8px;
height: 8px;
overflow: hidden;
display: inline-block;
border-radius: 100%;
text-indent: 1000px;
line-height: 1000px;
cursor: pointer;
border: 1px transparent solid;
background: rgba(75, 75, 75, 0.3);
margin: 0 7px 0 0;
}

div.grabber div.grabber-container{
    margin-left: 20px;
  
    margin-right: 20px;
    padding: 10px;
    background: white;
    margin-top: 50px;
    height: 350px;
    z-index: 10;
    border-radius: 6px;
    background: url(src/content-background.png) 6px 6px no-repeat;
}

@media(max-width:1250px){
  div.signup-container{
    left:652px;
  }
  div.grabber{
    left:66px;
  }
}

@media(max-width:1080px){
  div.signup-container{
    left:602px;
  }
  div.grabber{
    left:50px;
  }
}

@media(max-width:980px){
 div.signup-container{
    left:572px;
  }
  div.grabber{
    left:20px;
  }
  }

  @media(max-width:930px){
 div.signup-container{
    left:557px;
  }
  div.grabber{
    left:5px;
  }
  }

   @media(max-width:900px){
 div.signup-container{
    left:527px;
  }
  div.grabber{
    left:-25px;
  }
  }




button#fb_signin{
  text-shadow: 0 1px #fff;
border: 1px solid rgba(9, 39, 101, 0.5) !important;
background: -webkit-linear-gradient(#2953ad, #234ca2);
background: linear-gradient(#2953ad, #234ca2);
border-radius: 4px;
position: relative;
padding-top: 13px;
padding-bottom: 13px;
width: 38px;
-webkit-box-shadow: inset 0 1px 1px rgba(144, 188, 236, 0.46),inset 0 -1px 1px rgba(126, 186, 226, 0.46);
height: 30px;

display: inline-block;

}

button#fb_signin em.fb_icon{
  width: 12px;
height: 17px;

  background: url(src/fb_icon_small.png) no-repeat;
margin-top: -2px;

  left: 12px;
position: absolute;
padding: 0;
background-size: cover;

  top: 8px;
}

div.help-div{
  position: absolute;
-moz-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
display: block;
opacity: 0;
z-index: -1;
pointer-events: none;

z-index:-1;

  top: 36px;
  right: -10px;
}

button.fb_signin:hover ~ div.help-div{
  z-index:1;
  opacity:1;

}



div.fb_signin_wrap{
    position: relative;
  
    display: inline-block;
    top: -4px;
    left: 23px;
}

div.help-div .help-wedge{
  border-color: transparent;
border-bottom-color: #fff;
border-style: dashed dashed solid;
border-width: 0 6.5px 6.5px;
display: block;
z-index: 1;
height: 0;
width: 0;
position: relative;

  left: 160px;
}

div.help-div div.help-box{
  width: 180px;
font-size: 11px;
line-height: 14px;
text-align: center;
text-shadow: none;

padding: 7px;
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-weight: 800;
border-radius: 4px;
color: #3C3C3C;
background-color: #fff;
}

.text-grabber-active
{
  margin-left: 200px;
}

@media(max-width: 870px){
div.grabber{
  left:20px;
  top:550px;
  position:absolute;
}

div.signin-wrap{
  position:absolute;
  margin-left: 30px;
}

div.footer-sec button.FacebookConnect {
width: 409px;
}
button.SignUp{
  width:409px;
  top:6px;
}

div.or-head {
  left:211px;
}

div.header-sec-right div.time-to-signup{
  padding-left: 30px;
}

ul.account-types li.student label {
margin-left:84px;
}


div.header-sec-left {
width:212px;
}

div.header-sec-left h4.header{
  padding-left:45px;
}
div.fname-lname-sec input {
width: 199px;
}

ul.account-types li.account-type {
width: 204px;
}

.registration-sec-texts input{
width: 408px;

}

ul.account-types li.faculty label{
  margin-left:84px;
}

div.signup-form-wrap {
border-radius: 6px;
background-color: #fff;
height: 430px;
padding: 5px;
border: 1px solid rgba(105, 105, 105, 0.17);
}

div.signup-container {
display: block;
position: fixed;
  position:absolute;

width: 440px;
top: 120px;
border-radius: 8px;
left: 74px;
background: rgba(255, 255, 255, 0);
padding: 4px;
-webkit-box-shadow: 0 0 16px 4px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 0 16px 4px rgba(0, 0, 0, .2);
z-index: 100;
box-shadow: 0 0 16px 4px rgba(0, 0, 0, .2);
}

button.FacebookConnect span.buttonText{
  margin-left:90px;
}

.main-content-wrap {
background: transparent;
height: 290px;
position: relative;
}
div.main-market-area{
  background-position-y: 610px;
  background-position-x:1450px;
}
.content 
{
padding-left: 22px;
padding-right: 22px;
}

}

@media(max-width:552px){
  div.signup-container{
    left:60px;
  }

  div.grabber{
    left:5px;
  }
}