div.top-bar div.top-bar-wrapper div.signin-wrap {
width: 60%;
min-width: inherit;
margin-top: -26px;
}

div.forgot-password-main div.header div.top-bar {
height: 66px;
}

div.forgot-password-main div.header{
	height:66px;
}

div.top-bar-wrapper img.logo{
	height:38px;
	top:17px;
}

div.btn-wrap a#signup-link{
	margin-top:22.5px;
	padding:4px 0px;
}

div.btn-wrap a#signup-link span{
font-size:11px;
}

.forgot-password-main div.header div.top-bar .top-bar-wrapper div.fb_signin_wrap {
top: -4px;
left: 23px;
}