body{
	font-family: 'Open Sans';
	margin:0px auto;
	background: #d8d8d8 url(src/noise-2.png);
	min-width: 720px;
}

.top-nav{
height: 70px;
width: 100%;
position: fixed;
top: 0;
position: fixed; left: 0; right: 0; height: 60px; z-index: 10; border-bottom: none; background-color: #292929; background-image: url(src/noise-1.png), -webkit-gradient(linear, left top, left bottom, from(#363636), to(#292929)); background-image: url(src/noise-1.png), -webkit-linear-gradient(top, #363636, #292929); background-image: url(src/noise-1.png), -moz-linear-gradient(top, #363636, #292929); background-image: url(src/noise-1.png), -o-linear-gradient(top, #363636, #292929); background-image: url(src/noise-1.png), -ms-linear-gradient(top, #363636, #292929); background-image: url(src/noise-1.png), linear-gradient(top, #363636, #292929); background-position: 50% 50%; z-index: 6000; -webkit-box-shadow: 0 1px 0 rgba(46, 46, 46, 0.5)inset,0 -1px 0 rgba(37, 37, 37, 0.2)inset,0 1px 3px rgba(0, 0, 0, 0.62); -moz-box-shadow: 0 1px 0 rgba(46, 46, 46, 0.5)inset,0 -1px 0 rgba(37, 37, 37, 0.2)inset,0 1px 3px rgba(0, 0, 0, 0.62); box-shadow: 0 1px 0 rgba(46, 46, 46, 0.5)inset,0 -1px 0 rgba(37, 37, 37, 0.2)inset,0 1px 3px rgba(0, 0, 0, 0.62);
}

#logo-pic{
position: Relative;
top: 18px;
height: 30px;
}

.top-nav-container{
	width:1024px;
	position:relative;
	display:block;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
}

.main-container {
background-color: #eaeaea;
display: block;
top: 70px;
height: 976px;
position: relative;
max-width: 820px;
min-width: 640px;
margin-left: auto;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
margin-right: auto;
-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.05), -1px 0 0 rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 1px 0 0 rgba(0,0,0,.05), -1px 0 0 rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.05);
box-shadow: 1px 0 0 rgba(0,0,0,.05), -1px 0 0 rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.05);
}
.intro-main{
max-width: 46em;
margin-left: auto;
margin-right: auto;
height: 38px;
background-color: #48A4F8;
text-shadow: 0 1px 1px rgba(148, 145, 145, 0.5);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
box-shadow: 0px 0px 1.7px 1.7px rgba(109, 108, 111, 0.64);
}

.page-footer{
	position: relative;
	top: 82px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	height: 30px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.copyright{
color: rgba(153, 153, 153, 0.9);
display: inline;
top: 7.8px;
position: relative;
margin-left: 20px;
}



.intro-main p{

	font-family: Open sans;
padding: 11.5px 9px 4px 11.5px;
font-size:12px;
text-shadow:rgba(145, 145, 145, 0.36);
margin: 0px;
text-align: left;
color: #252523;
font-weight: light;
}






.instructions-banner{
position: relative;
display: block;
width: 100%;
height: 44px;
top: 20.5px;
border-bottom: 1px solid #1C8030;
border-bottom-color: rgba(10, 151, 54, 0.8);
-webkit-box-shadow: 0 1px 0 rgba(111, 182, 125, 0.5) inset, 0 -1px 0 rgba(111, 182, 120, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 0 rgba(111, 182, 125, 0.5) inset, 0 -1px 0 rgba(111, 182, 120, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
box-shadow: 0 1px 0 rgba(111, 182, 125, 0.5) inset, 0 -1px 0 rgba(111, 182, 120, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
background-color: #51A45E;
background-image: url(src/noise-1.png), -webkit-gradient(linear, left top, left bottom, from(#51A45E), to(#308837));
background-image: url(src/noise-1.png), -webkit-linear-gradient(top, #48CE5D, #13AA1F);
background-image: url(src/noise-1.png), -moz-linear-gradient(top, #48CE5D, #13AA1F);
background-image: url(src/noise-1.png), -o-linear-gradient(top, #48CE5D, #13AA1F);
background-image: url(src/noise-1.png), -ms-linear-gradient(top, #48CE5D, #13AA1F);
background-image: url(src/noise-1.png), linear-gradient(top, #48CE5D, #13AA1F);
background-position: 50% 50%;
}

.instructions-banner-head{
	margin: 0px;
	font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: white;
	text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
	font-size: 14px;
	font-weight: 500;
	float: right;
	margin-top: 14.5px;
	margin-right: 8.5px;
	display: inline-block;
}

.main-container-footer{
display: block;
height: 60px;
width: 100%;
position: absolute;
top: 915px;
background: #e6e6e6 url(src/white-gradient.png) repeat-x 50% 100%;
-webkit-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 0 1px rgba(0,0,0,.24), 0 1px 5px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 0 1px rgba(0,0,0,.24), 0 1px 5px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 0 1px rgba(0,0,0,.24), 0 1px 5px rgba(0,0,0,.05);
}

.main-container-footer p{
color: rgb(187, 187, 187);
-webkit-font-smoothing: antialiased;
font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
margin-top:19px;
height: auto;
line-height: 20px;
text-align: center;
text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;	
}

.big-pic-label{
	font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	opacity:0;
	-webkit-transition: opacity 0.3s ease-out 0;
	-moz-transition: opacity 0.3s ease-out 0;
	-o-transition: opacity 0.3s ease-out 0;
	transition: opacity 0.3s ease-out 0;
	color: #777;
	margin:0px;
	visibility:hidden;
	position:relative;
	margin-top:2px;
	text-align:center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.name{
	font-weight:bold;
}

.instructions-banner-univ {
display: inline-block;
float: right;
height: 100%;
margin-right: 205px;
position: relative;
padding: 0px 9px 0px 9px;
border-left: 1px solid #06365f;
border-left-color: rgba(0, 0, 0, 0.1);
border-right: 1px solid #06365f;
border-right-color: rgba(0, 0, 0, 0.1);
-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
-moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
cursor:pointer;
}

.instructions-banner-univ:hover{
	background: rgba(255, 255, 255, 0.12);
	border-right-color: rgba(0, 0, 0, 0.15);
	border-left-color: rgba(0, 0, 0, 0.15);
}
.instructions-banner-univ:active{
background-color: #1C8044;
background-color: rgba(6, 95, 31, 0.35);
-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.15), inset 0 0 1px rgba(6, 95, 27, 0.4), inset 1px 0 1px rgba(6, 95, 6, 0.4);
-moz-box-shadow: -1px 0 0 rgba(255,255,255,.15), inset 0 0 1px rgba(6, 95, 27, 0.4), inset 1px 0 1px rgba(6, 95, 6, 0.4);
box-shadow: -1px 0 0 rgba(255,255,255,.15), inset 0 0 1px rgba(6, 95, 27, 0.4), inset 1px 0 1px rgba(6, 95, 6, 0.4);
}

.univ-name{
	color:#fff;
	font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: white;
	text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
	font-size: 14px;
	font-weight: bold;
	margin:0px;
	display:inline-block;
	margin-top:14.5px;
}

#univ-logo{
width: 24px;
height: 24px;
border-radius: 3px;
position: relative;
display: inline-block;
top: 7px;
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
margin-left: 7px;
}

.school-select-main{
	display: block;
	position: relative;
	margin-top: 50px;
}

.school-types {
list-style: none;
margin: 0;
padding: 0;
position: absolute;
left: 6.6%;
}

.school-types:after {
  clear: both;
}

.school-type {
  box-sizing: border-box;
  float: left;
  height: 140px;
  position: relative;
  width: 221.667px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.school-type label {
  background: #fff no-repeat center center;
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
}

.school-type + .school-type {
  margin-left: 25px;
}

.nyu label {
  background-image: url('src/nyu-logo.png');
    background-position:center 2px;

}

.poly label {
background-image: url('src/poly-logo.png');
background-position: 5px 15px;
}

.stern label {
background-image: url('src/stern.png');
background-position: 5px 7px;
}

.tisch label {
background-image: url('src/tisch.png');
background-position: 20px 6px;
}

.gall label {
background-image: url('src/gallatin.png');
background-position: 4.5px 12px;
}

.stein label {
background-image: url('src/steinhardt.png');
background-position: 4.5px 30px;
}

.law label {
background-image: url('src/law.png');
background-position: 9px 6px;
}

.med label {
background-image: url('src/med.png');
background-position: 4.5px 20px;
}

.nursing label {
background-image: url('src/nursing.gif');
background-position: 10.7px 23px;
}

.wag label {
background-image: url('src/wagner.png');
background-position: 3px 36px;
}

.silver label {
background-image: url('src/silver.png');
background-position: 7px 20px;
}

.dent label {
background-image: url('src/dentistry.jpg');
background-position: 10.7px 23px;
}


.abu label {
background-image: url('src/abu.png');
background-position: 57px 22px;
}

.courant label {
background-image: url('src/courant.png');
background-position: 7px 20px;
}

.shang label {
background-image: url('src/shang.png');
background-position: 61px 12px;
}

.abu:hover{
	background-color:#48A4F8;
}

.courant:hover{
	background-color:#48A4F8;
}

.shang:hover{
	background-color:#48A4F8;
}

.poly:hover{
	background-color:#48A4F8;
}

.nyu:hover{
	background-color:#48A4F8;
}

.stern:hover{
	background-color:#48A4F8;
}

.tisch:hover{
	background-color:#48A4F8;
}

.gall:hover{
	background-color:#48A4F8;
}

.stein:hover{
	background-color:#48A4F8;
}

.law:hover{
	background-color:#48A4F8;
}

.med:hover{
	background-color:#48A4F8;
}

.nursing:hover{
	background-color:#48A4F8;
}
.wag:hover{
	background-color:#48A4F8;
}

.silver:hover{
	background-color:#48A4F8;
}

.dent:hover{
	background-color:#48A4F8;
}
.school-types input:focus + label {
  outline: 2px dotted #48A4F8;
}

.school-types input:checked + label {
  outline: 4px solid #48A4F8;
}

.school-types input:checked + label:after {
  background: url('src/checked.png');
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: -10px;
  width: 20px;
}

@-moz-document url-prefix() {
  .school-types input:checked + label:after {
    bottom: 0;
    right: 0;
    background-color: #21b4d0;
  }
}
.next-button{
float: right;
width: 80px;
margin-right: 70px;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
border-radius: 3px;
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
-ms-transform:scale(1.1);
transform:scale(1.1);
-webkit-border-radius: 3px;
margin-top: -36.5px;
color: #fff;
padding: 8px 12px 8px 12px;
}

.unready-next{
border: 1px solid #BBBBBB;
background-color: #DBDBDB;
background: -webkit-gradient(linear, left top, left bottom, from(#DBDBDB), to(#8C9194));
background: -moz-linear-gradient(top, #DBDBDB, #8C9194);
background: -o-linear-gradient(top, #DBDBDB, #8C9194);
background: -ms-linear-gradient(top, #DBDBDB, #8C9194);
background: linear-gradient(top, #DBDBDB, #8C9194);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#DBDBDB', EndColorStr='#8C9194');
text-shadow: 0 1px 1px #3E413E;
outline:none;
opacity:.0;
}

.unready-next:focus{
	outline:none;
}

.unready-next:active{
	outline:none;
}

.ready-next{
background-color: #47bc60;
background: -webkit-gradient(linear, left top, left bottom, from(#47bc60), to(#39a64e));
background: -moz-linear-gradient(top, #47bc60, #39a64e);
background: -o-linear-gradient(top, #47bc60, #39a64e);
background: -ms-linear-gradient(top, #47bc60, #39a64e);
background: linear-gradient(top, #47bc60, #39a64e);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#47bc60', EndColorStr='#39a64e');
text-shadow: 0 1px 1px #2c803c;
border: 1px solid #329345;
cursor:pointer;

}

.footer-wrapper{
	margin: 0 auto;
	padding:0 16px;
	position:relative;
	width:992px;
}

.footer-links{
display: inline-block;
margin: 0;
padding: 0;
margin-left: 50px;
}

.footer-links ul{
	list-style-type:none;
	list-style-position:outside;
	list-style-image:none;
	line-height:16px;
	-webkit-font-smoothing: antialiased;

}

.footer-links span{
	vertical-align:-56%;
	color:rgb(12, 187, 96);
}

.footer-links li{
	text-align:center;
	text-align: -webkit-match-parent;
	display:inline-block;
	height:32px;
	padding: 0px 5.5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	margin:0;
	cursor:pointer;
}

.footer-links li:hover span{
	text-decoration:underline;
	color:rgb(19, 156, 85);
}

.ready-next:hover{
	opacity:.9;
}

.ready-next:focus{
	outline:none;
}

.ready-next:active{
	border-color: #256d33;
	color: rgba(255, 255, 255, 0.8);
	background: #369e4a;
	outline:none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 1px rgba(8, 75, 2, 0.63), inset 0 0 1px rgba(49, 226, 24, 0.64), 0 1px 0 rgba(34, 95, 19, 0.9);
	-moz-box-shadow: inset 0 1px 1px rgba(8, 75, 2, 0.63), inset 0 0 1px rgba(49, 226, 24, 0.64), 0 1px 0 rgba(34, 95, 19, 0.9);
	box-shadow: inset 0 1px 1px rgba(8, 75, 2, 0.63), inset 0 0 1px rgba(49, 226, 24, 0.64), 0 1px 0 rgba(34, 95, 19, 0.9);
}

#poly-label{
font-weight: bold;
font-size: 15px;
top: 70px;
position: absolute;
left: 5.5px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#nyu-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 5px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#stern-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 21px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#tisch-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 24.3px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#gall-label{
font-weight: bold;
font-size: 15px;
top: 70px;
position: absolute;
left: 2.1px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#stein-label{
font-weight: bold;
font-size: 15px;
top: 70px;
position: absolute;
left: 2.1px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#law-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 60px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#med-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 42px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#nursing-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 45.5px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#wag-label{
font-weight: bold;
font-size: 15px;
top: 70px;
position: absolute;
left: 2px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#silver-label{
font-weight: bold;
font-size: 15px;
top: 70px;
position: absolute;
padding: 0px 20px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#dent-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 42px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#abu-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 53px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#courant-label{
font-weight: bold;
font-size: 15px;
top: 70px;
position: absolute;
padding: 0px 20px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.school-type:hover{
	cursor: pointer;
-webkit-box-shadow: inset 0 8px 10px #ebebeb,inset 4px 35px 65px 5px rgba(242,242,242,0.9);
-moz-box-shadow: inset 0 8px 10px #ebebeb,inset 4px 35px 65px 5px rgba(242,242,242,0.9);
box-shadow: inset 0 8px 10px #ebebeb,inset 4px 35px 65px 5px rgba(242,242,242,0.9);
}

.school-type:active{
	-webkit-box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
-moz-box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
box-shadow: inset 0 5px 10px 0 #b0b0b0,inset 2px 35px 65px 5px #d1d1d1;
}

#shang-label{
font-weight: bold;
font-size: 15px;
top: 80px;
position: absolute;
left: 58px;
text-align: center;
color: #565657;
cursor: pointer;
font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.confirm-2ndrow{
margin-left: 14px;
margin-top: 4px;
}