div.UrProgress{
color: rgb(33, 25, 34);
display: block;
height: 160px;
margin:0;
width:100%;
position:relative;
z-index:auto;
padding:12px 0;        
background-color: #d8d8d8;
}

div.UrContent{
-moz-box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
padding-top:10px;
position: relative;
height: 100%;
z-index: 30;
background: #EEEEEE url(src/noise-1.png) repeat 50% 50%;
}

div.onboard{

}

div.module{

}

div.UrProgress div.headerContent{
background-color: #fff;
border-radius: 3px;
box-shadow: 0 1px 3px #999;
color: #606060;
height: 156px;
margin: 0 auto;
position: relative;
max-width: 736px;
z-index: 20;
min-width: 490px;
width: 91%;
}

div.UrProgress div.headerContent div.headerMain{
float: left;
position: relative;
width: 100%;	
}

div.UrProgress div.headerContent div.headerMain h2.headerTitle1{
font-size: 23px;
padding: 20px 6px 0 20px;
line-height: 1.4em;
margin:0;	
}

div.UrProgress div.headerContent div.headerMain h3.headerTitle2{
font-size: 16px;
font-weight: normal;
padding: 4px 6px 0 20px;
line-height: 1.4em;
margin:0;	
}

div.UrProgress div.headerContent div.headerMain div.progressWrap{
border-top: 1px solid #e7e7e4;
left: auto;
right: 0;
margin: 0;
padding-top: 6px;
position: absolute;
top: 110px;
width: 100%;
}

div.progressWrap div.progress{
float: center;
padding-right: 8px;
}

div.progressWrap div.progress ul.ui-progress{
	list-style: none;
	float: right;
	overflow: hidden;
	display:inline-block;
	margin: 5px 3px;
	padding: 0;
	padding-left: 18px;
}

div.progressWrap div.progress ul.ui-progress li{
list-style: none;
color: #fff;
border-radius: 8px;
background: #cfcfcf;
font-size: 0;
margin-right:4px;
height: 8px;
overflow: hidden;
text-indent: -9999em;
padding:0;
width: 8px;
display: inline-block;
}


div.progressWrap div.progress ul.ui-progress li.active{
background: #23E4B2;
}


div.progressWrap div.progress div.floatR-btns{
float:right;
display:inline-block;
position:relative;
}

div.progressWrap div.progress a.skip{
	font-size:14px;
	color: #029acf;
	display:inline-block;
	margin-top: 8px;
	float:left;
	font-weight: 400;
	position: relative;
	float:left;
	margin-left: 18px;
}

div.progressWrap div.progress a.skip:hover{
text-decoration: underline;
color: #016283;
cursor:pointer;
}

div.progressWrap div.progress a.skip:active{
text-decoration: underline;
color: rgba(4, 117, 156, 0.65);
}

div.progressWrap div.progress div.floatR-btns button.mediumBtn{	
text-shadow: 0 -1px rgba(0, 0, 0, 0.11);
text-align: center;
cursor: pointer;
position:relative;
border-radius: 4px;
display:inline-block;
float:left;
font-size: 14px;
-moz-box-shadow: inset 0 2px 0px #7DEBC3;
outline: none;
-webkit-box-shadow: inset 0 2px 0px #7DEBC3;
box-shadow: inset 0 2px 0px #7DEBC3;
padding: 6px 15px;
bottom: 0px;
border: 1px solid;
color: #fff;
background-color: #01BE8D;
background: -webkit-gradient(linear, center top, center bottom, from(#02e2a7), to(#01BE8D));
background: -webkit-linear-gradient(#02e2a7, #01BE8D);
border-color: #2EA680 #189F79 #01974F;
}

div.progressWrap div.progress div.floatR-btns button.disabled{
box-shadow: none !important; 
text-shadow: 0 0 0 !important; 
background: #ebebeb !important; 
border: 1px solid #ddd !important; 
color: #aaa !important; 
cursor: default; 
}	

div.progressWrap div.progress div.floatR-btns button.mediumBtn:hover{	
background-image: -webkit-linear-gradient(#02e2a7, #00CA95);
background-image: linear-gradient(#02e2a7, #00CA95);
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22),inset 0 2px 0px #7DEBC3;
border: 1px solid #189F79;
}

div.progressWrap div.progress div.floatR-btns button.mediumBtn:active{	
background-image: -webkit-linear-gradient(#04D39C, #00AD80);
background-image: linear-gradient(#04D39C, #00AD80);
box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.5) inset;
background-color: #01BE8D;
border-color: #179672;
text-shadow: 0 1px rgba(0, 0, 0, 0.6);
}

div.headerMain div.school-logo{
    width: 33px;

    height: 33px;
    display: inline-block;
    background-size: cover;
    margin-left: 20px;
    margin-top: 18px;
    border-radius: 4px;
    position: absolute;
    background-image: url(src/nyu-logo.png);
}

div.progressWrap div.progress div.floatR-btns button.mediumBtn em{
	
}

div.progressWrap div.progress div.floatR-btns button.mediumBtn span.buttonText{
font-weight: bold;
	
}

div.UrContent div.schoolSelect{

}

div.UrContent div.mainContentSec{

position: relative;
}

div.schoolSelect div.newUserSchool{

}

div.newUserSchool div.searchBar{
    margin-top: 8px;

}

div.newUserSchool div.searchBar div.ui-searchform{
color: #151515;
font-size: 21px;
margin: 0 auto;
position:relative;
width: 736px;
text-align:left;
width: 91%;
max-width: 736px;
min-width:490px;
}

div.newUserSchool div.searchBar div.biginput{
	
}

div.newUserSchool div.searchBar div.biginput form{
	
}

div.newUserSchool div.searchBar div.biginput form div.searchWrapper{
width: 100%;
float: left;
display: inline-block;
position: relative;	
}

div.searchWrapper input.ui-big-input{
box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.07),0 1px 1px #eee;
font-size: 20px;
font-weight: normal;
padding: 15px 30px 15px 15px;
z-index: 600;	
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
border-radius: 3px;
box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.07);
-moz-box-sizing: border-box;
box-sizing: border-box;
background: #fafafa;
border: 1px solid #ccc;
color: #717171;
font-size: 20px;
border-top: 1px solid #dfdfdf;
font-weight: 500;
margin: 0;
outline: none;
line-height:normal;
padding: 14px 30px 14px 10px;
position: relative;
-moz-transition: all .2s ease;
-webkit-transition: all .2s ease;
transition: all .2s ease;
width: 100%;
z-index: 670;
padding-left: 46px;
}

div.searchWrapper input.ui-big-input:focus {
background-color: #ffffff;
border-color: #aaa;
color: #333;
}

div.newUserSchool div.searchBar div.biginput form div.searchWrapper input{
	
}

div.newUserSchool div.searchBar div.biginput form div.searchWrapper div.typeAhead-dd{
	
}

div.UrProgress div.bg-image{
    background-size: cover;

    position: fixed;
    top: 0px;
    width: 100%;
    height: 190px;
    z-index: 10;
    bottom: 0px;
    background-imge: url;
    opacity: 1;
    background-position: 200px 690px;
    background-repeat: repeat;
    background-image: url(src/icon-bg.jpg);
}

div.UrProgress div.bg-image-1{
	
}

button.submitSchoolSearch{
width: 24px;
height: 24px;
background: url(src/search-icon-big.png);
display: inline-block;
text-shadow: none;
color: transparent;
left: 12px;
border: none;
top: 14px;
z-index: 1000;
background-size: cover;
position: absolute;
}

div.schoolImg::after{
	border-radius: 6px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.33) inset;
	content: " ";
	height: 120px;
	left: 0;
	position: absolute;
	top: 0;
	width: 216px;
}

div.ajax{

}

div.Grid{
margin: 0 auto 14px auto;
position: relative;
}

div.schoolGrid{
overflow: auto;
padding-bottom: 2px;
margin-bottom: 14px;
width: 1500px;
margin: 0 auto 14px;
margin-top: 20px;
position: relative;
}
@media(max-width:1525px){
div.schoolGrid{
width: 1250px;
}
}

@media(max-width:1250px){
	div.schoolGrid{
		width:1000px;
	}
}

@media(max-width:1000px){
	div.schoolGrid{
		width:750px;
	}
}
@media(max-width:755px){
div.schoolGrid {
width: 500px;
}

}

div.schoolGrid div.padItems{

}

div.schoolGrid div.centeredWrapper{

}

div.schoolGrid div.GridItems{

}

div.schoolGrid div.centeredWrapper div.item{
margin: 14px 7px 0 7px;
float: left;
cursor:pointer;
}

div.schoolGrid div.centeredWrapper div.item:hover > div.school a div.name{
opacity:1;
}

div.schoolGrid div.centeredWrapper div.item:hover > div.school a .imageWrapper {
background: rgba(255, 255, 255, 0.15);
}



div.schoolGrid div.centeredWrapper div.item:active > div.school a .imageWrapper .hoverMask {
background: rgba(255, 255, 255, 0.3);
}

div.schoolGrid div.centeredWrapper div.item div.school{
border-radius: 6px;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
background: #fff;
width: 216px;
padding: 10px;
position: relative;
float: left;
}

div.schoolGrid div.centeredWrapper div.school{

}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper{

}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.name{
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/* white-space: nowrap; */
/* overflow: hidden; */
-ms-text-overflow: ellipsis;
/* text-overflow: ellipsis; */
color: #666;
display: inline-block;
font-size: 14px;
width: 189px;
font-weight: bold;
height: 38px;
margin: 0 3px 6px;
float: left;
}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper{
position: relative;
}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper span.hoverMask{
-webkit-transition: background 0.04s linear;
transition: background 0.04s linear;
border-radius: 3px;
box-shadow: none;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
z-index: 100;
}



div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper div.schoolImage{
height: 120px;
overflow: hidden;
border-radius:6px;
width:216px;
float: left;
}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper div.schoolImage-uno{

}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper div.schoolImage-uno img.schoolImg{
max-width: 100%;
width: auto\9;
height: auto;
vertical-align: middle;
border: 0;
}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper div.schoolImage-dos{

}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper div.schoolImage-dos img.schoolImg{
    width: 106.5px;

    height: 100%;
}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper div.schoolImage-tres{

}

div.schoolGrid div.centeredWrapper div.school div.school a.schoolSelectWrapper div.imageWrapper div.schoolImage-tres img.schoolImg{

}

div.school-selector:hover > div.school a.schoolSelectWrapper div.imageWrapper{
	opacity:.9;
}

div.school-selector:hover > div.school a.schoolSelectWrapper div.option-checkwrap{
margin-top:0px;
opacity:.7;
height: 23px;
width: 23px;
margin-right:0px;
}

div.school-selector:active > div.school a.schoolSelectWrapper div.option-checkwrap{
margin-top:0px;
height: 23px;
width: 23px;
margin-right:0px;
}

a.schoolSelectWrapper div.option-checkwrap{
	position: absolute;
height: 1px;
width: 1px;
	right: 10px;
	display: inline-block;

	z-index: 1500;
	opacity: 0;
	margin-right:-10px;
	background-image: url(src/checked-invite.png);
	margin-top: -10px;
background-size: cover;
background-repeat: no-repeat;
-moz-transition: all .35s ease;
-webkit-transition: all .35s ease;
transition: all .35s ease;
}

.option-decidewrap{
	position: absolute;
height: 23px;
width: 23px;
	right: 10px;
	display: inline-block;

	z-index: 1500;
	opacity: 0;

	background-image: url(src/checked-invite.png);

background-size: cover;
background-repeat: no-repeat;
-moz-transition: margin .35s ease;
-webkit-transition: margin .35s ease;
transition: margin .35s ease;
}



div.typeAhead-dd {
transition: opacity 0.25s linear;
border-radius: 6px;
box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
top: auto;
position: absolute;
z-index: 2000;
background: #fff;
left: 0;
width: 100%;
right: 0;
opacity:1;
padding: 10px 0px;
height: auto;
}

div.typeAhead-dd ul.results{
max-height: 340px;
overflow-y: auto;
margin: 0;
padding: 0;
}

ul.results li.ul-dd-list{
	list-style:none;
	font-size: 17px;
	padding-top:5px;
	overflow:hidden;
	color: #81878B;
	display:block;
	padding:0;
	padding: 6px 10px;
}

ul.results li.ul-dd-list a{
	white-space: nowrap;
overflow: hidden;
-ms-text-overflow: ellipsis;
text-overflow: ellipsis;
font-family:Helvetica, sans-serif;;


-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

	font-weight: 400;
	cursor:pointer;

}
ul.results li.ul-dd-list:first-of-type{
	margin-top:5px;
}
ul.results li.ul-dd-list:hover{ 
background: rgba(0, 0, 0, 0.08);
color: #333;
}

a.schoolSelectWrapper div.school-checked{
background-image:url(src/checked-invite.png);
opacity:1;
}

div.school-decided{
background-image:url(src/checked-invite.png);
opacity:1;
}

img.floatL{
    float: left;

}

img.floatR{
    float: right;
	
}

button.scrollTop{
	border-radius:3px;
	-webkit-transform: translateY(0px);
-ms-transform: translateY(0px);
transform: translateY(0px);
visibility: visible;
padding: 10px 14px 18px;
background-color: #f7f7f7;
background: -webkit-linear-gradient(#fff, #f0f0f0);
background: linear-gradient(#fff, #f0f0f0);
border: 1px solid #ccc;
color: #5f5f5f;
bottom: -10px;
position: fixed;
right: 14px;
-webkit-transition: opacity 0.3s,-webkit-transform 0.25s;
transition: opacity 0.3s,transform 0.25s;
z-index: 2501;
cursor: pointer;
font-weight: bold;
text-shadow: 0 1px #fff;
white-space: nowrap;
}

button.scrollTop em{
	width: 14px;
height: 20px;

	background: url(src/scroll-top-icon.png);
display: inline-block;
font: 0/0 serif;
text-shadow: none;
color: transparent;

	top: 2px;
	position: relative;
vertical-align: middle;
}

body{
	background: #EEEEEE url(src/noise-1.png) repeat 50% 50%;
	display:block;
	font-family: 'Open Sans', sans-serif;
	height:100%;
	margin: 0;
}