@import "import/common.less";

.body {
    @ad-width: 250px;

    .header.row1.day {
        .absolute(0, @ad-width, auto, 0);
    }

    .day-view {
        .ad-grid {
            .absolute(0,0,0);
            width: @ad-width;
            border-left: 1px solid @border-color;
        }

        .day-grid {
            .absolute(@header-1-height,@ad-width,0,0);
            overflow: auto;
            padding-bottom: 40px;
            @corner: 5px;
            @row-height: 75px; /* 100px original */
            @time-width: 65px;
            @icon-width: 20px; /* 50px original */
            .day-event {
                width: 95%;
                margin: auto;

                &:first-child .line {
                    visibility: hidden;
                }

                .line {
                    height: 30px;
                    border-left: 1px solid #000;
                    margin-left: @time-width + @icon-width / 2;
                }

                .time {
                    float: left;
                    width: @time-width;
                    text-align: center;
                    font-size: @ideal-font-size - 1;
                    padding-top: 10px;
                }

                .event {
                    margin-left: @time-width;

                    &.open {
                        .row1 {
                            border-radius: @corner @corner 0 0;
                            border-bottom: 0;

                            .icon .wedge {
                                display: block;
                            }
                        }

                        .row2 {
                            display: block;
                        }
                    }

                    .row1 {
                        cursor: pointer;
                        background-color: #FFF;
                        overflow: hidden;
                        box-shadow: 0 0 3px @border-color;
                        border: 1px solid lighten(@border-color, 10%);
                        border-radius: @corner;
                        height: @row-height;
                        position: relative;

                        .icon {
                            width: 3px;
                            border-radius: 1px;
                            .absolute(8px, auto, 8px, 8px);
                            overflow: hidden;
                            .color-schemes();

                            img {
                                opacity: 0.5;
                                width: @icon-width;
                                display: inline-block;
                                height: 100%;
                                width: auto;
                                background-position: center center;
                            }

                            .wedge {
                                display: none;
                                .absolute(auto, auto, 0, 13px);
                                width: 24px;
                                border-left: 13px solid transparent;
                                border-right: 13px solid transparent;
                                border-bottom: 13px solid #FFF;
                            }
                        }

                        .title {
                            margin-top: 8px;
                            margin-left: 20px;
                        }

                        .loc {
                            .absolute(auto, 12px, 6px);
                            font-size: @ideal-font-size;
                            color: darken(@border-color, 40%);
                            width: auto;
                            @size: 20px;
                            line-height: @size;

                            .location {
                                float: right;
                                display: block;
                                margin-left: 5px;
                            }

                            img {
                                float: left;
                                height: @size;
                                width: @size;
                            }
                        }
                    }

                    .row2 {
                        @gap: 8px;
                        display: none;
                        background-color: lighten(@border-color, 15%);
                        box-shadow: inset 0 0 30px lighten(@border-color, 12%), 0 0 2px @border-color;
                        border: 1px solid lighten(@border-color, 10%);
                        border-top: 0;
                        border-radius: 0 0 @corner @corner;
                        overflow: hidden;

                        .block() {
                            background-color: #FFF;
                            box-shadow: 0 0 10px -5px @border-color;
                            border-radius: 3px;
                            padding: @gap;
                            border: 1px solid lighten(@border-color, 10%);
                        }

                        .todos {
                            margin-bottom: @gap;

                            .todo {
                                .block();
                                margin: @gap;
                                position: relative;

                                .label {
                                    margin-right: 16px;
                                }

                                .check {
                                    .check-box();
                                    float: right;
                                }
                            }
                        }

                        @att-width: 150px;

                        table {
                            border-collapse: separate;
                            border-spacing: @gap;
                            width: 100%;
                        }

                        .att {
                            .block();
                            float: right;
                            width: @att-width;
                            height: 75px;
                        }

                        .att-c {
                            .block();
                            width: @att-width;

                            img {
                                float: left;
                                margin: 4px 3px 0 0;
                            }
                        }

                        .desc {
                            .block();
                            margin-right: @gap;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
    }
}
