@font-face {
    font-family: 'Avenir';
    src: url('avenir-webfont.eot');
    src: url('avenir-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenir-webfont.woff2') format('woff2'),
         url('avenir-webfont.woff') format('woff'),
         url('avenir-webfont.ttf') format('truetype'),
         url('avenir-webfont.svg#avenir_lt_std55_roman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir';
    src: url('avenir_black-webfont.eot');
    src: url('avenir_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenir_black-webfont.woff2') format('woff2'),
         url('avenir_black-webfont.woff') format('woff'),
         url('avenir_black-webfont.ttf') format('truetype'),
         url('avenir_black-webfont.svg#avenir_lt_std95_black') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Avenir';
    src: url('avenir_light-webfont.eot');
    src: url('avenir_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('avenir_light-webfont.woff2') format('woff2'),
         url('avenir_light-webfont.woff') format('woff'),
         url('avenir_light-webfont.ttf') format('truetype'),
         url('avenir_light-webfont.svg#avenir_lt_std35_light') format('svg');
    font-weight: 100;
    font-style: normal;

}