@import "import/common.less";

.body {
    .grid-column {
        width: @hundred-percent / 7;
        padding-right: 3px;
        text-align: right;
        float: left;

        &:first-child, &:last-child {
            color: #999;
        }
    }

    .header.row1 {
        overflow: hidden;
        @right-width: 125px;
        line-height: @header-1-height;
        height: @header-1-height;
        margin-top: 5px;
        display: none;

        & > .left {
            float: left;
            width: @hundred-percent;
            height: @hundred-percent;
            margin-right: -@right-width;
            padding-right: @right-width;
            padding-left: 4px;
            line-height: @header-1-height;
            font-weight: 100;
            font-size: 25px;

            & > * {
                float: left;
                margin-right: 10px;
                font-size: 22px;
            }

            .month {
                line-height: @header-1-height + 5;
                font-size: 25px;
                color: #575757;
            }

            .year {
                font-size: 26px;
            }

            .arrow {
                .nav-arrow();
            }
        }

        & > .right {
            float: right;
            width: @right-width;
            height: @hundred-percent;
            text-align: center;

            .print {
                padding: 8px;
                float: left;
                margin-top: 20px;
                background-image: url(../../assets/calendar/print.png);
                background-size: 100% 100%;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            .today {
                padding: @ideal-padding;
                font-size: @ideal-font-size;
                font-weight: 600;
                color: #333;
                border: 1px solid #DDD;
                border-color: #e5e5e5 #ccc #ccc;
                .gradient(#EEE,#FFF,#EEE);
                border-radius: 4px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);

                &:hover {
                    color: #000;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, .15), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(248, 248, 248, 1), inset 0 -1px 0 rgba(248, 248, 248, .5), inset 1px 0 0 rgba(248, 248, 248, 1);
                }
            }
        }
    }

    .header.row2 {
        height: @header-2-height;        
        font-size: @ideal-font-size;
        padding-top: @header-2-height - 17;
    }

    .grid-view {
        .absolute(46px, 0, 0, 0);
        font-size: @ideal-grid-font-size;

        .grid {
            border: 1px solid #ddd;
            border-width: 0 1px 0 0;

            .grid-item {
                width: @hundred-percent / 7;
                float: left;
                position: relative;
                border: solid #ddd;
                border-width: 1px 0 0 1px;
                background-color: #FFF;

                &:nth-of-type(7n), &:nth-of-type(7n + 1), &:nth-of-type(1) {
                    color: rgba(153, 153, 153, 0.75);
                    background-color: #FFF;
                }

                .grid-event {
                    color: #000;
                    margin-top: 2px;
                    margin-left: -1px;
                    padding-left: 3px;
                    position: absolute;
                    background-color: #FDFDFD;
                    width: @hundred-percent + 1;
                    font-size: @ideal-font-size - 2;
                    box-shadow: 0 0 3px #DDD;
                    cursor: default;
                    .transition(all .3s);

                    &:hover {
                        background-color: #EEE;
                    }

                    &.fade {
                        opacity: 0.15;
                    }

                    .line {
                        .absolute(3px, auto, 3px);
                        width: 2px;
                        border-radius: 2px;
                        margin-right: 3px;
                        .color-schemes();
                    }

                    .time {
                        margin-left: 5px;
                        margin-right: 3px;
                        font-weight: 600;

                        &:not(.short) {
                            font-size: @ideal-grid-font-size;
                        }

                        &.short {
                            float: left;
                            padding: 2px 0;
                        }
                    }

                    .title {
                        margin-left: 5px;
                        padding: 2px 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #444;
                    }
                }
            }
        }
    }

    &.day, &.semester {
        .header .row1 .right .print {
            display: none;
        }
    }
}
