@import "import/common.less";

.ul-calendar {
    .leftbar {
        width: @leftbar-width;
        .absolute(@toolbar-height, auto, 0, 0);
        border-right: 1px solid @border-color;
        @mini-calendar-height: @leftbar-width + 25;
        font-size: @ideal-font-size;

        .providers {
            .absolute(0, 0, @mini-calendar-height, 0);
            overflow: auto;
            padding: 8px;

            .provider {
                margin-bottom: 4px;

                .icon {
                    float: left;
                    margin-right: 5px;
                }

                .check {
                    .check-box();
                    .color-schemes();
                    float: right;
                    border: none;
                    opacity: 1;
                    margin-top: 5px;
                    margin-left: 5px;
                    box-shadow: none;

                    i {
                        background-color: #FFF;
                    }
                }

                .title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 25px;
                    white-space: nowrap;
                }
            }
        }

        .mini-calendar {
            .absolute(auto, 0, 0, 0);
            height: @mini-calendar-height;
            font-size: @ideal-font-size;
            @m-header-1: 30px;
            @m-header-2: 20px;
            @g-width: 31px;
            @g-height: 31px;

            .header {
                margin: 0 9px;

                &.row1 {
                    height: @m-header-1 + 8;
                    line-height: @m-header-1;
                    overflow: auto;

                    .title {
                        margin-right: -30px;
                        padding-right: 30px;
                        width: 100%;
                        text-align: center;
                        .font-avenir();
                    }

                    .arrow {
                        .nav-arrow();
                        margin-top: 3px;
                        height: @m-header-1 - 6;

                        &.right {
                            float: right;
                        }

                        &.left {
                            float: left;
                        }

                        i {
                            height: 13px;
                        }
                    }
                }

                &.row2 {
                    height: @m-header-2 + 2;
                    border-bottom: 1px solid @border-color;
                    color: darken(@border-color, 20%);

                    .grid-column {
                        float: left;
                        width: @g-width;
                        margin: 0 1px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }

            .mini-cal-grid {
                .absolute(@m-header-1 + @m-header-2 + 15, 9px, 0, 9px);

                .grid-item {
                    float: left;
                    width: @g-width;
                    margin: 1px;
                    height: @g-height;
                    line-height: @g-height - 2;
                    text-align: center;
                    box-shadow: inset 0 0 50px -10px lighten(@border-color, 10%);
                    border: 1px solid @border-color;
                    border-radius: 2px;

                    .date {
                        display: block;
                    }

                    &.td {
                        background-color: @time-line-color;
                        color: #FFF;
                        box-shadow: inset 0 0 50px -10px lighten(@time-line-color, 10%);
                    }

                    &.out-of-range {
                        opacity: 0.2;
                    }
                }
            }
        }
    }
}
