@import "import/common.less";
@leftbar-width: 170px;

.ul-calendar {
    .leftbar {
        width: @leftbar-width;
        .absolute(@toolbar-height, auto, 0, 0);
        border-right: 1px solid @border-color;
        @mini-calendar-height: @leftbar-width;
        font-size: @ideal-font-size;
        background-color: #fafafa;
        padding-top: 70px;

        .providers {
            .absolute(60px, 0, @mini-calendar-height, 0);
            overflow: auto;
            padding: 8px;

            .provider {
                margin-bottom: 4px;

                .icon {
                    float: left;
                    margin-right: 5px;
                    border-radius: 2px;
                    display: none;
                }

                .check {
                    .check-box();
                    .color-schemes();
                    float: right;
                    border: none;
                    opacity: 1;
                    margin-top: 5px;
                    margin-left: 5px;
                    box-shadow: none;

                    i {
                        background-color: #FFF;
                    }
                }

                .title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 25px;
                    white-space: nowrap;
                    .font-open-sans();
                    color: #333;
                    font-size: @ideal-font-size;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }

        .mini-calendar {
            .absolute(auto, 0, 0, 0);
            height: @mini-calendar-height;
            font-size: @ideal-font-size;
            background-color: #f5f5f5;
            border-top: 1px solid @border-color;
            @m-header-1: 34px;
            @m-header-2: 20px;
            @g-width: 19px;
            @g-height: 19px;

            .header {
                margin: 0;

                &.row1 {
                    height: @m-header-1 + 8;
                    line-height: @m-header-1 + 8;
                    overflow: hidden;

                    .title {
                        margin: 0 auto;
                        width: 100%;
                        text-align: center;
                        .font-avenir();
                        color: #575757;
                    }

                    .arrow {
                        .nav-arrow();
                        margin-top: 3px;
                        height: @m-header-1 - 6;

                        &.right {
                            float: right;
                        }

                        &.left {
                            float: left;
                        }

                        i {
                            height: 7px;
                        }
                    }
                }

                &.row2 {
                    height: @m-header-2 - 2;
                    color: darken(@border-color, 20%);

                    .grid-column {
                        float: left;
                        width: @g-width;
                        margin: 0 1px;
                        text-align: center;
                        color: #999;
                        .font-open-sans();
                        font-size: @ideal-font-size - 1;
                        text-transform: uppercase;
                    }
                }
            }

            .mini-cal-grid {
                .absolute(@m-header-1 + @m-header-2 + 2, 9px, 0, 9px);

                .grid-item {
                    float: left;
                    width: @g-width;
                    margin: 1px;
                    height: @g-height;
                    line-height: @g-height;
                    text-align: center;
                    font-size: @ideal-grid-font-size;
                    border-radius: 1px;
                    color: #565a5c;

                    .date {
                        display: block;
                    }

                    &.td {
                        border: 1px solid #3ea0c7;
                        color: #333;
                        background: rgba(62, 160, 199, 0.35);
                        font-weight: bold;
                    }

                    &.out-of-range {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
