@import "import/common.less";

/* Start Removables */
.topbar {
    background-color: #333;
    .fixed(0,0,auto,0);
    height: 48px;
    border-bottom: 1px solid #000;
}

html, body {
    margin: 0;
    padding: 0;
    height: @hundred-percent;
    background-color: #fafafa;
}
/* End Removables */

/* Styles */
.ul-calendar {
    overflow: hidden;
    min-width: 900px;

    &, * {
        .reset();
        .font-open-sans();
    }

    .absolute(@srchbar-height, 0, 0, 0);

    &.print {
        position: static;
    }

    .toolbar {
        .absolute(0, 30px, auto, @leftbar-width + 30, 10);
        border: solid @border-color;
        border-width: 0 1px;
        background-color: #FFF;
        height: @toolbar-height;
        @corner-rd: 4px;

        .wrap {
            margin: 0 15px;
            border-bottom: 1px solid @border-color;

            .column {
                font-size: 12px;
                height: @hundred-percent;
                padding: 10px 0 6px;                
                @right-width: 230px;
                @left-width: 250px;

                &.left {
                    float: left;
                    width: @left-width;

                    button {
                        padding: @ideal-padding;
                        text-transform: uppercase;
                        border-radius: @corner-rd;
                        color: #FFF;
                        float: left;
                        margin-left: 8px;
                        position: relative;

                        &.full {
                            background: #1d9bd9;
                            .gradient(#3BB9E7, #3BB9E7, #008ECC);
                            border: 1px solid #137ec6;
                            border-top-color: #1992da;
                            border-bottom-color: #0d6ab2;
                            box-shadow: 0px 1px #17C1FF inset,0px -1px #1B8DB6 inset;
                        }

                        &.quick {
                            background-color: transparent;
                            padding: @padding-z;
                            background-size: 12px 12px;
                            background-repeat: no-repeat;
                            background-position: center center;

                            i {
                                .absolute(6px, auto, auto, 11px);
                                width: 2px;
                                height: 23px;
                                background-color: #FFF;

                                &.xx {
                                    .rotate(90deg);
                                }
                            }

                            &:hover .quick-dialog {
                                display: block;
                            }

                            .quick-dialog {
                                .absolute(0, auto, auto, -2px, 10);
                                padding-top: 25px;
                                display: none;
                                width: 400px;


                                .wedge {
                                    @width: 8px;
                                    border-width: 0px @width 7px;
                                    border-color: #333 transparent;
                                    border-style: solid;
                                    width: @width * 2;
                                    margin-left: 6px;
                                }

                                form {
                                    background-color: #333;
                                    border-radius: 4px;
                                    padding: 8px 12px 10px;
                                    text-align: left;
                                    text-transform: none;

                                    div {
                                        padding: 0;
                                        line-height: normal;
                                        margin-bottom: 8px;
                                    }

                                    input[type=submit] {
                                        float: right;
                                        width: 50px;
                                        padding: 2px 10px 3px;
                                        border-radius: 3px;
                                        background-color: #00B5E7;
                                        border: 1px solid #319ac3;
                                        box-shadow: inset 0 0 3px lighten(#00B5E7, 25%);
                                    }

                                    input[type=text] {
                                        display: block;
                                        background-color: #FFF;
                                        padding: 3px 10px 4px;
                                        border-radius: 3px;
                                        color: #000;
                                        width: 85%;
                                    }
                                }
                            }
                        }

                        &:hover {
                            background: #2fa2dc;
                            .gradient(#42c4f4, #42c4f4, #139cd8);
                        }
                    }
                }

                &.right {
                    float: right;
                    width: @right-width;

                    .print {
                        .absolute(15px);
                        width: 16px;
                        background-image: url(../../assets/calendar_page_assets.png);
                        background-position: 0 48px;

                        &:hover {
                            background-position: 0 64px;
                        }
                    }

                    form {
                        float: right;                        
                        border-radius: @corner-rd;
                        background-color: #FFF;
                        height: @hundred-percent;
                        border: 1px solid rgb(185,185,185);
                        border-top-color: rgb(160,160,160);
                        @ideal-width: 21px;

                        * {
                            float: left;
                            height: 25px;
                        }

                        input[type=text] {
                            width: 200px;
                            margin-left: -@ideal-width;
                            padding: @ideal-padding 25px;
                            border-radius: @corner-rd;
                            box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
                        }

                        input[type=submit] {
                            width: @ideal-width;
                            background-image: url(../../assets/calendar/search.png);
                            background-repeat: no-repeat;
                            background-position: right center;
                            background-size: 70% 54%;
                            opacity: .8;
                            background-color: #FFF;
                            box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
                            border-radius: @corner-rd 0 0 @corner-rd;
                        }
                    }
                }

                &.center {
                    margin: 0 @right-width 0 @left-width;
                    font-size: 11px;

                    ul {
                        overflow: auto;
                        margin: auto;
                        text-align: center;
                        font-size: 0;
                        height: @hundred-percent;

                        li {
                            height: @hundred-percent;
                            font-size: @ideal-font-size - 1;
                            display: inline-block;
                            background-color: #f0f0f0;
                            overflow: hidden;
                            font-weight: 500;
                            text-align: center;
                            .transition(all .1s ease);
                            .font-avenir();

                            @border-radius: @corner-rd;


                            &:first-child {
                                &, a {
                                    border-radius: @border-radius 0 0 @border-radius;
                                }
                            }

                            &:last-child {
                                border-right-width: 1px;

                                &, a {
                                    border-radius: 0 @border-radius @border-radius 0;
                                }
                            }

                            a {
                                display: block;
                                padding: @padding-y + 1 @padding-x @padding-y;
                                text-transform: capitalize;
                                height: @hundred-percent;

                                &:hover {
                                    background-color: #eaeaea;
                                }

                                &.active {
                                    color: #FFF;
                                    background-color: #555555;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .body {
        .absolute(@toolbar-height, 30px, 0, @leftbar-width + 30px);
        border: 1px solid @border-color;
        border-width: 0 1px;
        background-color: #fff;

        .month {
            .font-avenir();
        }

        .year {
            font-weight: 100;
            color: lighten(#000, 50%);
        }

        &.semester {
            left: 0;
        }

        &.print {
            position: static;

            .header.row1 {
                .arrow, .right {
                    display: none;
                }
            }

            .header.row2 {
                margin-right: 0px;
            }

            .week-view {
                position: static;
            }

            .month-grid {
                right: 0;
            }
        }

        .ad-grid {
            .ads {
                overflow: auto;

                .ad {
                    overflow: auto;
                    width: 230px;
                    float: left;
                    margin: 10px;

                    .icon {
                        float: left;
                        margin-right: 8px;
                        margin-bottom: 8px;
                    }

                    .title {
                    }

                    .follow {
                        float: right;
                        clear: left;
                        padding: 3px 19px 4px;
                        color: #333;
                        font-size: @ideal-grid-font-size + 1;
                        font-weight: 600;
                        border: 1px solid #DDD;
                        border-color: #e5e5e5 #ccc #ccc;
                        .gradient(#EEE,#FFF,#EEE);
                        border-radius: 4px;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);

                        &:hover {
                            color: #000;
                            box-shadow: 0 1px 3px rgba(0, 0, 0, .15), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(248, 248, 248, 1), inset 0 -1px 0 rgba(248, 248, 248, .5), inset 1px 0 0 rgba(248, 248, 248, 1);
                        }
                    }
                }
            }
        }
    }
}
