@import "import/common.less";

.body.semester {
    overflow: auto;
    @sem-header1: 32px;
    @sem-header2: 15px;

    .ad-grid {
        .ads {
            .ad {
                border-right: 1px solid #CCC;
                padding-right: 20px;

                &:last-child {
                    border: none;
                    padding-right: 0;
                }
            }
        }
    }

    .header.row1 {
        margin-top: 15px;
    }

    .green {
        color: #2EA;
    }

    .blue {
        color: #69F;
    }

    .red {
        color: #F66;
    }

    .all-wrapper {
        position: relative;
        @duration: .5s;

        .sem-wrapper {
            overflow: hidden;
            white-space: nowrap;
            padding: 0 40px;
            @factor: 60px;

            .sem {
                border: 1px solid @border-color;
                box-shadow: 0 0 0 @border-color;
                padding: @sem-padding;
                display: inline-block;
                height: @factor * 6;
                width: @factor * 7;
                position: relative;
                margin: 20px 10px;
                top: 0px;
                @trans: top @duration ease-in-out, box-shadow @duration ease-in-out;
                .transition(@trans);

                &:hover {
                    top: -10px;
                    box-shadow: 0 0 10px -2px @border-color;

                    .sem-summary {
                        opacity: 1;
                    }
                }

                .sem-header.row1 {
                    height: @sem-header1;
                    .absolute(@sem-padding, 0, auto, @sem-padding, 10);

                    .month {
                        .font-avenir();
                    }
                }

                .sem-header.row2 {
                    height: @sem-header2;
                    font-size: @ideal-grid-font-size + 1;
                    .absolute(@sem-header1 + @sem-padding, @sem-padding, auto, @sem-padding);
                }

                .grid-view {
                    .absolute(@sem-header1 + @sem-header2 + @sem-padding, @sem-padding, @sem-padding, @sem-padding);
                }

                .sem-summary {
                    background-color: fade(#FFF, 85%);
                    .transition(opacity @duration);
                    height: @hundred-percent;
                    width: @hundred-percent;
                    .absolute(0, 0, 0, 0);
                    display: table;
                    opacity: 0;

                    .summary {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: @ideal-font-size * 1.25;

                        div {
                            width: 185px;
                            margin: 2px auto;

                            .title {
                                font-size: 25px;
                                border-bottom: 1px solid #999;
                                font-weight: 100;
                                margin-bottom: 10px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        > .arrow {
            @size: 60px;
            @gutter: 10px;
            display: table;
            height: 405px;
            width: @size + (@gutter * 2);
            .absolute(0);
            z-index: 20;

            &.left-arrow {
                left: 0;
            }

            &.right-arrow {
                right: 0;
                .transform(rotateY(180deg));
            }

            .arrow {
                display: table-cell;
                vertical-align: middle;
                opacity: 0;
                .transition(opacity @duration);

                img {
                    height: @size;
                    width: @size;
                    margin: @gutter;
                }
            }
        }

        &:hover {
            > .arrow .arrow {
                opacity: 0.3;

                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }

    hr {
        border-top: 1px solid @border-color;

        &.sep {
            border-top-style: dashed;
            border-top-width: 2px;
        }
    }
}
