.clearfix{
    zoom: 1;

}

.float_Left{
    float: left;

}

.float_Right{
    float: right;

}

.textBtn{
    color: #1da7d2;

    font-size: 12px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

#LeftPanel_Holder{
    width: 230px;

    padding-left: 18px;
    padding-top: 32px;
    padding-right: 14px;
}

.LeftPanel_icons{
    background-image: url(../../../assets/LeftMenuAssets.png);

    background-repeat: no-repeat;
    display: inline-block;
    background-size: auto;
    vertical-align: middle;
}

.LeftPanel_icons.LeftPanel_menuicon{
    margin-left: -16px;
    
    position: relative;
    background-position: 0px -108px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity:.77;
}



.LeftPanel_Content{
    width: 220px;

    margin-left: 10px;
}

.LeftPanel_Section{
    height: auto;

    width: 100%;
}

.LeftPanel_Profile{
    
}

.LeftPanel_Classes{
    
}

.LeftPanel_Clubs{
    
}

.LeftPanel_SectionHeader{

}

.SectionHeader_holder{
    border-bottom: 1px solid #dbdcdc;

    height: 24px;
}

.SectionHeader_holder div h4{
    font-family: Avenir;

    font-weight: 200;
    font-size: 18px;
    color: #777777;
    margin: 0;
    display: inline-block;
    margin-left: 2px;
}

.SectionHeader_holder div.float_Right a{
    opacity: .48;
    
    top: 6px;
    position: relative;
}

em.SectionHeader_ribbon{
    height: 20px;

    width: 10px;
    position: relative;
    margin-left: -17px;
    margin-top: -3px;
}

.LeftPanel_Classes .LeftPanel_SectionHeader .SectionHeader_holder div em.SectionHeader_ribbon{
    background-position: 0px -38px;

}

.LeftPanel_Clubs .LeftPanel_SectionHeader .SectionHeader_holder div em.SectionHeader_ribbon{
    background-position: 0px -70px;
    
}

.LeftPanel_Profile .LeftPanel_SectionHeader .SectionHeader_holder div em.SectionHeader_ribbon{
    background-position: 0px -6px;
    
}




.LeftPanel_SectionContent{

}

.LeftPanel_MyBox{
    margin-top: 10px;
    
}

.LeftPanel_MyBox .MyBox{
    
}

.MyBox a.MyBox_PictureLink{
    float: left;
    
    cursor: pointer;
}

a.MyBox_PictureLink img.MyBox_Picture{
    height: 44px!important;
    
    width: 44px!important;
    border-radius: 2px;
}

div.MyBox_text{
    overflow: hidden;

}

div.MyBox_text div.MyBox_textcontent{
    display: inline-block; padding-right: 5px;
    
}

div.MyBox_textcontent div.MyBox_NameSO{
    padding-left: 7px;

    padding-top: 2px;
}

a.MyBox_ProfileLink{
    color: #27292b;

    font-size: 14.3px;
    font-weight: 600;
    cursor: pointer;
    width: auto; word-wrap: break-word;
    display: block;
    top: 1px;
    text-decoration: none;
    position: relative;
}

a.MyBox_ProfileLink:hover{
    text-decoration: underline;
}

a.MyBox_SO{
    color: #777;
    cursor:pointer;
    font-size: 12px;
    font-weight: 500;
}

a.MyBox_SO:hover{
    color:#686868;
    text-decoration: underline;
}

div.LeftPanel_DeptSchoolHolder{
    margin-bottom: 12px;

    margin-top: 20px;
    position: relative;
    margin-left: -6px;
}

.LeftPanel_DSContentBox{
    height: 44px;

}

.LeftPanel_DSContentBoxHeader{

}

.LeftPanel_DSContentBoxHeader b{
    font-size: 11px;
    
    color: #999;
    margin-left: 6px;
}

a.LeftPanel_DSContentBoxName{
    width: 230px;

    display: block;
    cursor: pointer;
    height: 30px;
    border-radius: 3px;
}



a.LeftPanel_DSContentBoxName h5{
    color: #333; font-size: 13.5px; 
    font-weight: 500;
    margin: 0;
    margin-left: 6px;
    line-height: 30px;
}

.LeftPanelSection:hover .LeftPanel_SectionHeader div.float_Right a{
    opacity:.65;
    outline:none;
}

.SectionHeader_holder div.float_Right a:hover{
    opacity:.77!important;
}

.SectionHeader_holder div.float_Right a:active{
    opacity:1!important;
}


ul.LeftPanel_GroupsList{
    list-style: none;

    margin: 8px 0px 14px;
    padding: 0;
    position: relative;
    margin-left: -6px;
}

ul.LeftPanel_GroupsList li{
    margin: 1px 0px;
    
}

ul.LeftPanel_GroupsList li a{
    color: #27292b;
    cursor:pointer;
    outline:none;
    font-size: 13.5px;
    padding: 6px;
    width: 230px;
    font-weight: 500;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    padding-right: 0px;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

ul.LeftPanel_GroupsList li a:hover,a.LeftPanel_DSContentBoxName:hover{
background: #f5f5f5;
}
ul.LeftPanel_GroupsList li a:active,a.LeftPanel_DSContentBoxName:active
{
background: #f2f2f2;
}