.clearfix{
    zoom: 1;

}

body.left_panel_hidden #LeftPanel_Holder{
    left:-350px;
    opacity:0;
}

body.left_panel_hidden_p2 #LeftPanel_Holder, body.left_panel_hidden_p2 #left_panel{
    display:none;
    overflow: hidden;
}
#left_panel_change_picture_button{
    position: absolute;
    /* bottom: 10px; */
    /* left: 10px; */
    width: 32px;
    top: 97px;
    border: none;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url('../../../assets/camera_icon.png');
}

#LeftPanel_Holder{
    width: 230px;
    -webkit-transition: .3s cubic-bezier(0.23,1,0.32,1) left, .3s ease opacity;
    -moz-transition: .3s cubic-bezier(0.23,1,0.32,1) left, .3s ease opacity;
    -o-transition: .3s cubic-bezier(0.23,1,0.32,1) left, .3s ease opacity;
    transition: .3s cubic-bezier(0.23,1,0.32,1) left, .3s ease opacity;
    left:0px;
    padding-top: 15px;
    padding-right: 14px;
    position: relative;
}

.LeftPanel_icons{
    background-image: url(../../../assets/LeftMenuAssets.png);

    background-repeat: no-repeat;
    display: inline-block;
    background-size: auto;
    vertical-align: middle;
}

.LeftPanel_icons.LeftPanel_menuicon{
    margin-left: -16px;
    
    position: relative;
    background-position: 0px -108px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity:.77;
    display: none;
}

p.middot_leftpanel{
    margin: 0;
    display: inline;
    position: relative;
    top: 2px;
    color: #777;
}

a.MyBox_SO.edit_profile{
    color:#777;
}

a.MyBox_SO.edit_profile:hover{
    color:#029acf;
}


.LeftPanel_Content{
    width: 220px;

    margin-left: 0px;
    padding: 10px;  
    border-radius: 5px;
    padding-left: 24px;
}

.LeftPanel_Section{
    height: auto;

    width: 100%;
}

.LeftPanel_Profile{
    
}

.LeftPanel_Classes{
    
}

.LeftPanel_Clubs{
    
}

.LeftPanel_SectionHeader{

}

.SectionHeader_holder{
    border-bottom: 1px solid #dbdcdc;

    height: 26px;
    -moz-box-shadow: 0px -1px 0px rgba(255, 255, 255, 1) inset; 
}

.SectionHeader_holder div h4{
    font-family: Avenir;

    font-weight: 500;
    font-size: 14.1px;
    color: #444;
    -webkit-font-smoothing: antialiased;          -moz-osx-font-smoothing: grayscale;
    margin: 0;
    display: inline-block;
    margin-left: 3px;
    text-transform: uppercase;
}

.SectionHeader_holder div.float_Right a{
    
    top: 6px;
    position: relative;
    font-family: Avenir;
    font-weight: 500;
}

em.SectionHeader_ribbon{
    height: 9.56px;
    width: 7px;
    border-radius: 1px;
    position: relative;
    margin-left: 1px;
    margin-top: -2px;
}

.LeftPanel_Classes .LeftPanel_SectionHeader .SectionHeader_holder div em.SectionHeader_ribbon{

    background: #E8514F; 

    background-image: -webkit-linear-gradient(#E8514F,#f16b6a); 

    background-image: -moz-linear-gradient(#E8514F,#f16b6a); 

    background-image: -o-linear-gradient(#E8514F,#f16b6a); 

    background-image: linear-gradient(#E8514F,#f16b6a);
}

.LeftPanel_Clubs .LeftPanel_SectionHeader .SectionHeader_holder div em.SectionHeader_ribbon{
    
    background: #2489B2; 
    background-image: -webkit-linear-gradient(#2489B2,#45a8cf); 
    background-image: -moz-linear-gradient(#2489B2,#45a8cf); 
    background-image: -o-linear-gradient(#2489B2,#45a8cf); 
    background-image: linear-gradient(#2489B2,#45a8cf);
}

.LeftPanel_Profile .LeftPanel_SectionHeader .SectionHeader_holder div em.SectionHeader_ribbon{
    
    background: #11B372; 
    background-image: -webkit-linear-gradient(#11B372,#30DD97); 
    background-image: -moz-linear-gradient(#11B372,#30DD97); 
    background-image: -o-linear-gradient(#11B372,#30DD97); 
    background-image: linear-gradient(#11B372,#30DD97);
}

em.SectionHeader_ribbon.LeftPanel_icons {}




.LeftPanel_SectionContent{

}

.LeftPanel_MyBox{
    margin-top: 14px;
    
}

.LeftPanel_MyBox .MyBox{
    
}

.MyBox a.MyBox_PictureLink{
    float: left;
    
    cursor: pointer;
}

a.MyBox_PictureLink img.MyBox_Picture{
    height: 48px!important;
    
    width: 48px!important;
    border-radius: 500px;
}

div.MyBox_text{
    overflow: hidden;

}

div.MyBox_text div.MyBox_textcontent{
    display: inline-block; padding-right: 5px;
    
    float: left;
}

div.MyBox_textcontent div.MyBox_NameSO{
    padding-left: 7px;

    padding-top: 2px;
}

a.MyBox_ProfileLink{
    color: #27292b;

    font-size: 14.3px;
    font-weight: 600;
    cursor: pointer;
    width: auto; word-wrap: break-word;
    display: block;
    top: 1px;
    text-decoration: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 4px;
}

a.MyBox_ProfileLink:hover{
    text-decoration: underline;
}

a.MyBox_SO{
    color: rgba(153, 153, 153, 0.72);
    cursor:pointer;
    font-size: 11.5px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

a.MyBox_SO:hover{
    color:#686868;
    text-decoration: underline;
}

div.LeftPanel_DeptSchoolHolder{
    margin-bottom: 8px;

    margin-top: 16px;
    position: relative;
    margin-left: -6px;
}

.LeftPanel_DSContentBox{
    height: 44px;

}

.LeftPanel_DSContentBoxHeader{

}

.LeftPanel_DSContentBoxHeader b{
    font-size: 11px;
    
    color: #999;
    margin-left: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

a.LeftPanel_DSContentBoxName{
    width: 230px;

    display: block;
    cursor: pointer;
    height: 20px;
    border-radius: 3px;

    /*Added by Alex*/

}


a.LeftPanel_DSContentBoxName h5{
    color: #333; font-size: 13.5px; 
    font-weight: 500;
    margin: 0;
    margin-left: 6px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.LeftPanelSection:hover .LeftPanel_SectionHeader div.float_Right a{
    opacity: 1;
    outline:none;
}

.SectionHeader_holder div.float_Right a:hover{
    text-decoration: underline;
}

.SectionHeader_holder div.float_Right a:active{
    color: #016283!important;
    text-decoration: underline;
}


ul.LeftPanel_GroupsList{
    list-style: none;

    margin: 8px 0px 14px;
    padding: 0;
    position: relative;
    margin-left: -6px;
}

ul.LeftPanel_GroupsList li{
    margin: 0px 0px;
    
}

ul.LeftPanel_GroupsList li a{
    color: #27292b;
    cursor:pointer;
    outline:none;
    font-size: 13px;
    padding: 4px 6px;
    width: 220px;
    font-weight: 500;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    padding-right: 0px;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
}

ul.LeftPanel_GroupsList li a:hover{
color: #029acf;
}

ul.LeftPanel_GroupsList li a:active
{
background: #E8E8E8;
}

ul.LeftPanel_GroupsList li a.current_group, ul.LeftPanel_GroupsList li a.current_group:hover, ul.LeftPanel_GroupsList li a.current_group:active{
    background: #ECECEC!important;
    cursor:default;
}

a.LeftPanel_DSContentBoxName:hover > h5{
    color: #029acf;
}

a.LeftPanel_DSContentBoxName:active > h5{
    color: #016283!important;
}

