div.tab_group_info{
    font-family: 'Open Sans', sans-serif;
}

div.tab_group_info .tab_content_holder{
    position: relative;
    top: -10px;
}

.tab_group_info .tab_content_holder .tab_header div.float_Right #small_search{
    display: inline-block;
}

.tab_group_info .tab_content_holder .tab_header div.float_Right #small_search em{
    width: 16px; 
    height: 16px; 
    background-position: 0px 0px; position: relative; left: 28px;
    top: 3px;
}

.group_join_button.nonmember > em.white_add_icon{
background-image: url(../../../assets/gray_add_icon.png);
background-size: auto;
width: 10px;
background-position: 0px 0px;
height: 10px;
}

#courses_tab_content{
    padding: 25px 0 0 0;
    position: relative;
    width: 100%;
}

div.group_info_tab_content{
    padding: 25px 9px;
}


div.group_box {
    height: 200px;
}

div.group_info_tab_content div.group_box{
    background: #fff;   
    margin-bottom: 18px;   
    border-radius: 4px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0, 0, 0, 0.07); 
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0, 0, 0, 0.07); 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0, 0, 0, 0.07);
    max-height: 158px;
    border: 1px solid transparent;
}

div#content_panel.course_content_panel div.group_info_tab_content div.group_box
{
    max-width: 505px;
    max-height:170px;
}

body.left_panel_hidden.left_panel_hidden_p2 div#content_panel.course_content_panel div.group_info_tab_content div.group_box, body.left_panel_hidden_p2 div#content_panel.course_content_panel div.group_info_tab_content div.group_box{
max-width: 655px;
}

div#content_panel.course_content_panel div.info_about{
    display:none;
}

div.group_info_tab_content div.group_box.club_box{
    width:48.25%;
    display:inline-block;
    min-height: 248px;
}

.group_box.group_course_box.club_box {}

div.group_info_tab_content div.group_box.club_box:nth-of-type(odd){
    margin-right:18px;
}

div.group_info_tab_content div.group_box div.float_Left.group_image{
    background-image: url(../../assets/neuroscience.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    border-radius: 2px;
    cursor: pointer;
    opacity:.87;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    transition: opacity 0.15s;
    background-position: center center;
}

div.group_info_tab_content div.group_box.club_box div.float_Left.group_image{
height: 109px;
width: 95.7%;
float: none;
right: 8px;
left: 8px;
top: 8px;
position: relative;
}




div.group_info_tab_content div.group_box div.float_Left.group_image{
    opacity:.8;
}

div.group_info_tab_content div.group_box:hover div.float_Left.group_image{
    opacity:.9;
}


div.group_info_tab_content div.group_box div.float_Left.group_image:active{
    opacity: 1;
}

div.group_info_tab_content div.group_box a.group_image_link:hover ~ div.group_box_main_info .group_link{
    text-decoration: underline;
}

div.group_info_tab_content div.group_box a.group_image_link:hover > div.float_left.group_image{
    opacity:.95;
}

div.group_info_tab_content div.group_box a.group_image_link:active ~ div.group_box_main_info .group_link{
    color: #016283;
    text-decoration: underline;
}

div.group_info_tab_content div.group_box.club_box div.float_Left.group_image:active ~ div.group_box_main_info .group_link{
    color: rgba(255,255,255,.87);
}


div.group_box div.group_box_main_info{
    margin-left: 30%;
    padding-left: 24px;
    padding-top: 12px;
    padding-right: 12px;
}

div.group_box.club_box div.group_box_main_info{
cursor: pointer;
position: relative;
margin: 0 auto;
z-index: 1000;
text-align: center;
margin-top: 0px;
}

div.group_box.club_box div.group_box_main_info:hover .group_link{
    text-decoration: underline;
}

div.group_box_main_info .group_link{
    color: #1da7d2;    
    font-size: 16px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    display: block;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

div.group_box.club_box .group_link{
color: #fff!important;
font-size: 19px;
text-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
top: 54px;
position: relative;
margin: 0 auto;
display: block;
text-transform: uppercase;
text-align: center;
font-weight: 600;
}

div.group_box.club_box .group_link:active{
color:rgba(255,255,255,.85);
}

div.group_box_main_info .group_link:hover, a.department_link:hover{
    text-decoration: underline;
}

div.group_box_main_info .group_link:active, div.group_box_secondary_info_section div.info_line a.department_link:active{
    color: #016283;
}

div.group_box_main_info div.float_Right span.group_type{
    font-size: 12.5px;  
    position: relative;
    top: 9px;
    font-family: Avenir;
    color: #999;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.group_type.group_with_button{
    top:40px;
    color: #fff;
    top: 7px;
    font-size: 11.5px;
    right: 7px;
    position: absolute;
    font-family: Avenir;
}

div.group_box.club_box div.group_box_main_info div.float_Right span.group_type.group_with_button{
color: #fff;
top: -65px;
float:right;
}

div.group_box div.group_box_secondary_info_section{
    margin-left: 30%; padding-left: 14px; 
    padding-top: 3px; padding-right: 12px;
    font-size: 12px;
    padding-bottom: 10px;
}

div.group_box.club_box div.group_box_secondary_info_section{
margin-top: 0px;
margin-left: 1%;
padding-left: 4px;
margin-right: 1%;
padding-right: 4px;
}

div.group_box_secondary_info_section div.info_line{
    padding: 4px 0px;
    width: auto;
}

div.group_box_secondary_info_section div.info_line a.department_link{
    color: #1da7d2;
    font-weight: bold;
    cursor: pointer;
}

body#body_searchpage div.group_box_secondary_info_section div.info_line a.department_link{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 4px;
    position: relative;
    width: 402px;
    display: inline-block;
}

div.group_box_secondary_info_section div.info_line.indent{
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.group_box div.group_box_secondary_info_section div.info_line{
    font-size: 13.5px;
    color: #222;
    font-weight: 500;
}

div.group_box div.group_box_secondary_info_section div.info_line.info_about{
    font-size: 12.5px;
    font-weight: 500;
    color: #333;
    padding: 6px 10px;
    border-top: 1px solid #e2e2e2;
    margin-top: 6px;
    overflow-y: hidden;
    position: absolute;
    z-index:100;
    height: 44px;
    -webkit-transition: height 0.125s ease;
    -moz-transition: height 0.125s ease;
    transition: height 0.125s ease;      
}

div.group_box.group_course_box div.group_box_secondary_info_section div.info_line.info_about
{
margin-right: 0px;
}



/*FOR USE IN SCROLL INDICATOR HANDLING FOR OVERFLOWING DIVS */

div.group_box div.group_box_secondary_info_section div.about_scroll_container span.scroll_gif{
    opacity:0;
    background-image: url(../../assets/small_icons.png);
    background-repeat: no-repeat;
    background-position: 0px -134px;
    position:absolute;
    width: 16px;
    height: 17px;
    -webkit-transition: all 0.125s ease;
    -moz-transition: all 0.125s ease;
    transition: all 0.125s ease;   
    z-index: 2000;
    top: -2px;
    display: none;
    right:0px;
}

div.group_box div.group_box_secondary_info_section div.about_scroll_container.scroller span.scroll_gif{
opacity:1;
top: 8px;
}

*/
div.group_box div.group_box_secondary_info_section div.info_about.group_with_button{
    width: 70%;
}

div.group_box div.group_box_secondary_info_section div.info_about div{
    display:block;
}

div.department_alias, div.club_count{
    font-family: Avenir;
    color: #fff;
    position: absolute;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
    bottom: 4%;
    right: 5%;
    font-size: 14px;
    font-weight: 600;
    width: 80px;
    text-align: right;
}

div.group_bar_button_holder{
    top: 11px;

    position: relative;
    right: -3px;
}

div.join_button_wrapper{
    width: auto;
    cursor: pointer;
    /* position: absolute; */
    right: 0px;
    height: 26px;
    color: #575757;
    padding-left: 3px;
    border-radius: 3px;   
    width: 95px;
    padding-right: 3px;
    border: 1px solid #eee;
    border-bottom-color: #E4E4E4;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(#fafafa, #f8f8f8);
    background-image: linear-gradient(#fafafa, #f8f8f8);
}

div.join_button_wrapper:hover{
  
border-color: #E4E4E4;
-moz-box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);
-webkit-box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);
box-shadow: inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 border-bottom-color:#DDD;
}

div.join_button_wrapper:active{
-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(12, 232, 152, 0.5);
-moz-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(12, 232, 152, 0.5);
background: #EEE;
box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(12, 232, 152, 0.5);
 
}

div.join_button_wrapper div.group_join_button{
    cursor: pointer;
    color: #575757; 
    font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; 
    font-size: 12.2px; display: inline-block;  
    line-height: 26px;
    height: 12px;
    text-transform: uppercase;
    vertical-align: top;   
    left: 0px;
    font-family: avenir;
    background-size: auto;
    position: relative;
}

div.info_line.info_line_events{
    
}

div.info_line.info_line_events span{
    background-image:url(../../assets/small_icons.png);
    background-size:auto;
    background-repeat:no-repeat;
    margin-right:4px;
    width: 16px;
    height: 14px;
    position: relative;
    top: 1px;
    display: inline-block;
    background-position: 0px -118px;
}

div.join_button_wrapper div.group_more_button{
    cursor: pointer; display: inline-block; 
    padding: 7px 10px; 
    position: relative; right: 0px; padding-left: 0px;
    
}

em.white_add_icon{
    display:none;
    background-image: url("../../assets/small_icons.png"); position: relative; 
    background-position: -2px -643px;
    background-size: auto;
    width: 8px;
    height: 8px;
    top: 0px;
    left: -4px;
}

em.dark_add_icon{
    background-image: url("../../assets/gray_add_icon.png");
    background-size: auto;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    margin-right: 4px;
    top: 2px;
    display: inline-block;
    position: relative;
}

div.nonmember em.white_add_icon, div.nonmember em.dark_add_icon{
    display:inline-block;
}


div.join_button_wrapper div.group_more_button em{
    cursor: pointer; 
    background-image: url('../../assets/small_icons.png'); background-size: auto; 
    height: 21px; 
    width: 27px; display: inline-block; background-repeat: no-repeat; position: relative; 
    border-left: 1px solid rgba(255, 255, 255, 0.73); 
    background-position: 13px -95px;
    
}

div.about_scroll_container{
    position:relative;
    height: 56px;
}


