* {
    /*box-sizing: border-box;*/
    font-weight: 500;

}

html{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color:transparent;
    background: #FAFAFA;
}

body{
    margin: 0;
    padding: 0;
    min-width:745px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background: #FAFAFA;
}

body.body_group{

}

body#body_home{
    overflow:auto!important;
    background: #fff;
}


.post_like {}



#wrapper{
    width: 100%;
    height: 100%;
    display:block;
    padding-top: 47px;
    margin: 0 auto;
    position: relative;
}


#page{

    overflow-x: hidden;

    overflow: auto;

    width: 100%;
    height: 100%;

    margin-right:auto;
    margin-left:auto;
    background-image: url(../../assets/noise_bg.gif);
    top: 90px;

    /*position: absolute;*/


}

#left_panel{
    width: 240px;
    display: block;
    float:left;
}

#right_panel {
    position: fixed;
    top: 48px;
    right: 0px;
    width: 196px;
    bottom: 0;

    background: #FFFFFF;
    z-index: 300;
    -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.07); 
    -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.07); 
    box-shadow: 0 0px 2px rgba(0,0,0,0.07);
}

#main_panel{
    max-width: 1145px;
    margin: 0px auto;
    padding-right: 220px;

}


#content_panel{
    display:block;
    margin-left: 277px;

    margin-right: 0px;

    display: block;
    /* overflow: hidden; */
    height: 5000px;
    width: 830px;
    z-index: 50;


    background-image: url(../../assets/noise_bg.gif);
    background-color: #FAFAF9;
}


#content_holder{
    margin: 0px;
    outline: none;
    padding: 0;
    width: auto;
    zoom: 1;
}

.fbar_holder {

}

/* HOME + GROUP PAGE STRUCTURE */

#content_panel.content_panel_home{
    margin-left: 270px;

}

div#planner_column{
    padding: 0 7px 0 0; 
    float: right;
    margin-top: 0;
    word-wrap: break-word;
    width: 235px;

    height: 100%;
}

div#planner_column.planner_column_home{

}

#fbar_holder.fbar_homepage{

}

.panel_feed{
margin-top: 32px;
padding: 0px 5px;
top: -20px;
}

.panel_feed div#feed_column.feed_column_group{
float: none;
position: relative;
margin-top: 10px;
margin-left: -5px;
padding-left: 5px;
}
}

#planner_column.planner_column_home #right_column_specs {

}

div#planner_column.planner_column_group{
    padding-right:2px!important;
}

#planner_column.planner_column_home #right_column_specs #fixed_element{
    top: 62px;
    height: 364px;
}

#planner_column.planner_column_group #right_column_specs #fixed_element{
    height: 364px;
    position: relative;
}

#right_column_specs{
    position: relative;

}

#feed_column{
    width: 552px;

    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
    float: left;
}

div#stream_holder{

}

div#stream_holder .stream_holder_home{
    
}

div#stream_holder .stream_holder_group{
    
}

#feed_wrapper{
    min-height: 150px;

    margin-left: 0px;
}

#feed_wrapper_home{
    
}

#feed_wrapper_group{
    
}

#feed_column.feed_column_home{
    margin-top: 67px;

}

div#fbar_wrapper{

}

div#fbar_wrapper.fbar_home{
    
}

div#fbar_wrapper.fbar_group{
    
}


#right_column_specs #fixed_element{
    position: fixed;

    padding-top: 0px;
    z-index: 1;
    -webkit-transform: translateZ(0);
    margin: auto;
}


/* GROUP PAGE STRUCTURE */

#cover_photo {

    /*display: block;*/
    /*transition-property: opacity;*/

    position:relative;

    /*background-size: cover;*/
    /*background-position: bottom;*/
    /*background: no-repeat fixed;*/

    /*position: relative;*/
    /*min-height: 315px;*/
    /*width: 100%;*/


    /*left: 240px;*/

    /*right: 0px;*/

    /*max-height: 315px;*/
    /*min-width: 80%;*/
    /*max-width: 80%;*/

    /*background: transparent;*/



    background: no-repeat fixed;
    background-position: center top!important;
    -webkit-background-size: 100% auto!important;
    -moz-background-size: 100% auto!important;
    -o-background-size: 100% auto!important;
    

    background-size: contain!important;
    /* 250 */
    

    height: 360px;

}



/* tab_bar */

#tab_bar{
    position: relative;
    height: 50px;
    -moz-transition: background-color .15s ease-;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease;   
    background-color: rgba(18, 19, 20, 0.90);
    z-index: 100000;
    display: block;
    top: -50px;
    width: 830px!important;
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0 3px rgba(0,0,0,0.5);
    border-radius: 0px 0px 1px 1px;
    margin-left: 0px;
}

.tab {
    display: inline-block;
    width: auto;
    height: 100%;
    color: rgba(255, 255, 255, 0.65);

    /*display: table-cell;*/
    vertical-align: middle;
    cursor:pointer;
    padding-left: 23px;
    padding-right: 23px;
}

div.tab div.tab_content{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px auto;
    display: block;
    cursor:pointer;
    transform: translateY(-38%);
    top: 38%;
}


.small_icon_map{
    background-image: url('../../assets/small_icons.png');
    background-size:auto;
    background-repeat:no-repeat;
    display:inline-block;
}


div.tab.feed div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab.syllabus div.tab_img{
    background-image: url('../../assets/main/tab_bar/TabIcon_syllabus.png');
    background-position: 0px 17px;
}

div.tab.analytics div.tab_img{
    background-image: url('../../assets/main/tab_bar/TabIcon_analytics.png');
    background-position: 0px 17px;
    width:24px;
}

div.tab.courses div.tab_img{
    background-image: url('../../assets/main/tab_bar/TabIcon_courses.png');
    background-position: 0px 17px;
    width:23px;
}

div.tab.materials div.tab_img{
    background-image: url('../../assets/main/tab_bar/TabIcon_files.png');
    background-position: 0px 17px;
}

div.tab.departments div.tab_img{
    background-image: url('../../assets/main/tab_bar/TabIcon_departments.png');
    background-position: 0px 17px;
}

div.tab.clubs div.tab_img{
    background-image: url('../../assets/main/tab_bar/TabIcon_clubs.png');
    background-position: 0px 17px;
}

div.tab.school_info div.tab_img{
    background-image: url('../../assets/main/tab_bar/TabIcon_schoolinfo.png');
    background-position: 0px 17px;
}

div.tab.members div.tab_img{
    background-image: none;
    display:none;
}

div.tab div.tab_img{

    background-repeat: no-repeat;
    display: inline-block;
    float:left;
    opacity: .65;
    cursor:pointer;
    width: 25px;  
    height: 100%;
    background-position: 0px 18px;

}

.tab_text{
    font-weight: 600;
    font-size: 14.5px;
    display: inline-block;
    width: auto;
    margin-right: auto;
    cursor:pointer;
    padding-top: 16px;
    padding-left: 2px;
    padding-bottom: 18px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 0px 1px #121314; 
    
    text-shadow: rgba(0, 0, 0, 0.490196) 0px 0px 1px;
}

.tab_amount{
    font-size: 11.5px;
    font-family: Avenir;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-weight: bold;
    padding-left: 2px;
}

/* Default the wedge to hidden */
div.tab div.tab_wedge{
    height: 10px;
    width: 22px;
    display: none;
}




/* Show the wedge when the tab is active */
div.tab.active div.tab_wedge {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../../assets/main/tab_bar/tab_wedge.png');
    margin: 0px auto;
    margin-top: -6px;
    opacity:1;
    -moz-transition: opacity .200s cubic-bezier(0.550,0.085,0.680,0.530), margin-top .200s cubic-bezier(0.550,0.085,0.680,0.530), height .200s cubic-bezier(0.550,0.085,0.680,0.530);
    -ms-transition: opacity .200s cubic-bezier(0.550,0.085,0.680,0.530), margin-top .200s cubic-bezier(0.550,0.085,0.680,0.530), height .200s cubic-bezier(0.550,0.085,0.680,0.530);
    -o-transition: opacity .200s cubic-bezier(0.550,0.085,0.680,0.530), margin-top .200s cubic-bezier(0.550,0.085,0.680,0.530), height .200s cubic-bezier(0.550,0.085,0.680,0.530);
    -webkit-transition: opacity .200s cubic-bezier(0.550,0.085,0.680,0.530), margin-top .200s cubic-bezier(0.550,0.085,0.680,0.530), height .200s cubic-bezier(0.550,0.085,0.680,0.530);
    transition: opacity .200s cubic-bezier(0.550,0.085,0.680,0.530), margin-top .200s cubic-bezier(0.550,0.085,0.680,0.530), height .200s cubic-bezier(0.550,0.085,0.680,0.530);
    z-index: 1000;
}


div.tab.active{
    color: #fff;
    cursor:default!important;
}

div.tab:hover{
    color:#fff;
    cursor: pointer;
}

div.tab.active:hover{
    color: #fff;
    cursor:default!important;
}



div.tab:hover div.tab_img, div.tab:hover div.tab_text, div.tab:hover div.tab_amount{
    cursor: pointer!important;
    opacity:1.0;
}

div.tab.active div.tab_amount, div.tab.active div.tab_img,div.tab.active div.tab_text, div.tab.active:hover div.tab_img, div.tab.active:hover div.tab_text, div.tab.active:hover div.tab_amount{
    opacity: 1.0;
    cursor:default!important;
}


#tab_more_button{
    width: 45px;
    height: 25px;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-48%);

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0px 0px 1px #fff;
    -moz-transition: all .1s ease; -webkit-transition: all .1s ease; transition: all .1s ease; background-color: rgba(71, 71, 71, 0.49); 
    border-color: #000; -moz-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46); box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46); -webkit-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46);
    padding: 4px 2px;
}


#tab_more_button_image {
    width: 31px;
    height: 9px;
    background-repeat: no-repeat;
    background-image: url('../../assets/main/tab_bar/tab_more_icon.png');
    background-size: 88%;
    top: 10px;
    position: relative;
    left: 10px;
    cursor: pointer;
}


#group_user_action_button {
    height: 25px;
    background-color: #04CF6B;
    display: inline-block;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-48%);
    color: white;
    border-top-color: #000000; 
    border-left-color: #000000; 
    border-right-color: #000000; 
    border-bottom-color: #000000; 
    -webkit-box-shadow: inset 0 1px 1px #3CFF90,inset 0 -1px 1px #4DC890; 
    -moz-box-shadow: inset 0 1px 1px #3CFF90,inset 0 -1px 1px #4DC890; 
    box-shadow: inset 0 1px 1px #3CFF90,inset 0 -1px 1px #4DC890; background: #039103; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c307",endColorstr="#039103"); 
    /* background: -webkit-gradient(linear,left top,left bottom,from(#04CF6B),to(#17A866)); */ 
    background: -moz-linear-gradient(top,#04CF6B,#17A866); 
    background-image: -o-linear-gradient(top,#04CF6B 0,#17A866 100%); 
    font-size: 15px;
    padding: 4px 2px;
    font-family: "Open Sans", sans-serif;
    min-width: 98px;
    margin-right: 20px;
    background-color: rgba(71, 71, 71, 0.49); border-color: #000; -moz-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46); box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46); -webkit-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46);
}

#group_user_action_button_text{
    height: 16px;
    position: relative;
    margin: 0px auto;
    display: block;
    font-weight: 500; 
    font-size: 15px; 
    font-family: Avenir;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 28px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#group_user_action_button:hover{
    background: #e84a5a!important;
    border-color: #bd2f33;
    box-shadow: none!important;
    cursor:default!important;
}

#group_user_action_button:hover #group_user_action_button_text{
    cursor:default!important;
}


/* Panel content */
.panel {
    display: none;
    color: #333;
    position: relative;
    padding: 0px 12px;
    margin-top:-20px;
}

.panel.active{
    display: block;
    z-index: 20;
}


/* Common Partial Classes */

.float_Left{
    float: left;

}

.float_Right{
    float: right;

}

.group_name{
    position: absolute;
    bottom: 74px;
    width:100%;
}

.group_name .center_text{
    margin: 0 auto;
    position:relative;
    color:#fff;
    font-family: Avenir;
    font-size: 28px;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;   
    width: auto;
    text-transform: uppercase;
    display: block;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
}

.group_name > .center_text > p{
    color:#fff;
    display:inline-block;
    margin: 0;
    font-family: Avenir;
    font-size: 24.5px;
    font-weight:bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.professor_image,div.admin_image{
    display: inline-block;

    width: 36px;
    background-image: url(../../assets/memon.jpg);
    height: 36px;
    background-size: cover;
    border-radius: 1000px;
}

div.admin_image{
    margin-right:12px;
    width:28px;
    margin-bottom:2px;
    height:28px;
}

div.professor_name{
    display: inline-block;
    
    position: relative;
    top: -10px;
    left: 8px;
    font-size: 19px;
}

div.center_admin{
    display: inline-block;  
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
    color: #FFF;
    font-family: Avenir;
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    bottom: 43px;
}

span.sort_label{
    font-weight: 600;
    
    font-size: 11px;
    position: relative;
    top: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #999;
    font-family: Avenir;
    padding-right: 2px;
    text-transform: uppercase;
}

.order_sort_dropdown {
border-radius: 3px;
background: #EFEFEF;
border: 1px solid #ddd;
position: relative;
box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.78) inset, -1px 0px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px -1px 0px rgba(216, 216, 216, 0.06) inset;
cursor: pointer;
display: inline-block;
width: 180px;
top: 0px;
padding-bottom: 1px;
}

.order_sort_dropdown:hover{
    background: #F4F4F4;
    border: 1px solid #D8D8D8;
}

.order_sort_dropdown:active{
    border: 1px solid #CFCFCF;
    background: #E5E5E5;
    box-shadow: 1px 0px 0px rgba(231, 231, 231, 0.78) inset, -1px 0px 0px rgba(234, 234, 234, 0.4) inset, 0px 1px 0px rgba(226, 226, 226, 0.4) inset, 0px -1px 0px rgba(216, 216, 216, 0.4) inset;
}

.order_sort_dropdown span {
font-size: 12.5px;
padding: 4px 0px 4px 6px;
display: inline-block;
font-family: 'Open Sans', sans-serif;
color: #777;
font-weight: 00;
}

.order_sort_dropdown em {
background-image: url(../../assets/search_page_assets.png);
background-size: auto;
background-repeat: no-repeat;
background-position: 0px -233px;
position: relative;
display: inline-block;
float: right;
width: 20px;
height: 15px;
top: 3px;
}

.help_div{
position: absolute;
-moz-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
display: block;
opacity: 0;
z-index: -1;
pointer-events: none;
z-index: -1;
top: 39px;
margin-left: -16px;
}

.help_div.dark{

}

.help_div .box{
width: 120px;
font-size: 11.5px;
line-height: 14px;
text-align: left;
text-shadow: none;
padding: 7px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
border-radius: 4px;  
padding-left: 10px;
}

.help_div.dark .box{
color: #fff;
background-color: rgba(34, 34, 34, 0.87);     
}

.help_div .wedge{
border-color: transparent;
border-style: dashed dashed solid;
border-width: 0 6.5px 6.5px;
display: block;
z-index: 1;
height: 0;
width: 0;
position: relative;
left: 20px;   
}

.help_div.dark .wedge{
    border-bottom-color: rgba(34, 34, 34, 0.87);
}

.textBtn{
    color: #029acf;

    font-size: 12px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.small_search{
    margin-top: 4px;
    display:inline-block;
}

.fade_input_small{

}

.small_search label{
    position: absolute;

    color: #aaa;
    padding-left: 28px;
    line-height: normal;
    left: 22px;
    top: 7px;
    cursor: text;
    pointer-events: none;
    transition: color 0.2s linear 0s; -webkit-transition: color 0.2s linear 0s; -moz-transition: color 0.2s linear 0s;
    font-size: 13.5px;
}

.small_search input.small_search_input{
    border: 1px solid #C7C7C7;
    
    width: 210px;
    padding-left: 29px;
    padding-right: 22px;
    height: 30px;
    background: #fff;
    box-shadow: none;
    outline: none;
    border-radius: 3px;
    font-size: 13.5px;
}

.small_search em{
    width: 16px;
    height: 16px;
    background-position: 0px 0px;
    position: relative;
    left: 28px;
    top: 3px;
}

ul.tabnav_tabs{
    display: inline-block;

    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tabnav_tabs li{
    display: inline-block;

    margin-bottom: -1px;
    color: #777;
}

.tab_content_holder{
    top:-28px;
}
.tab_members .tab_content_holder .tab_header, .tab_group_info .tab_content_holder .tab_header{
    border-bottom: 1px solid #d4d4d4;
    padding: 15px 2px 5px;
    height: 35px;
}
.tab_members .tab_content_holder .tab_header{
    padding-top:17px!important;
}

.tab_group_info .tab_content_holder .tab_header{
padding-top:5px;
}

#tabnav{
    position: relative;

    border-bottom: 1px solid #ddd;
    margin: 0px 0px 15px;
}

.tabnav_right {
    position: absolute;

    right: 0px;
}

ul.tabnav_tabs li div.tabnav_tab{
    background-color: transparent;

    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    display: inline-block; 
    padding: 10px 27px 9px; 
}

ul.tabnav_tabs li.active div.tabnav_tab{
    border: 1px solid #ddd;
    font-weight: 600;
    border-bottom: 1px solid #F4F4F4;
    box-shadow: 2px 0px 0px #FFF inset, -2px 0px 0px #FFF inset, 0px 2px 0px #FFF inset;
}

ul.tabnav_tabs li div.tabnav_tab span{
    font-weight: 500;
    font-family:Avenir;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.tabnav_tabs li.active{
    color: #333;

}

#tab_global_actions_bar{

}

.tab_floater_bar_half{
    display: inline-block;

    width: 270px;
    margin-left: 20px;
}

.tab_floater_bar_half div.action{

    padding-left: 2px;
}

.upload_text_button{
    
}

#left_search_icon{
    background-image: url(../../assets/left_search_icon.png);

    display: inline-block;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 1000;
}

.tab_members .tab_content_holder .tab_header div.header_sentence, .tab_group_info .tab_content_holder .tab_header div.header_sentence{
    font-family: Avenir;
    font-size: 16px;
    color: #333;
    padding-top: 16px;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}


/* Common Button styles */

.fresh_green_button{
background-color: #27D579;
background: linear-gradient(to bottom, #24EA88 0%,#08CF6C 100%);
background: -o-linear-gradient(top, #24EA88 0%,#08CF6C 100%);
background: -ms-linear-gradient(top, #24EA88 0%,#08CF6C 100%);
background: -moz-linear-gradient(top, #24EA88 0%,#08CF6C 100%);
background-image: -webkit-linear-gradient(top,#24EA88,#08CF6C);
border: 1px solid #1ECD77!important;
-moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.23) inset, 0px -1px rgba(0, 0, 0, 0.07) inset;
box-shadow: 0px 1px rgba(255, 255, 255, 0.23) inset, 0px -1px rgba(0, 0, 0, 0.04) inset, inset -1px 0 0 rgba(255, 255, 255, 0.19), inset 1px 0 0 rgba(255, 255, 255, 0.27);
border-bottom: 1px solid rgba(9, 166, 89, 0.74)!important;
}

.fresh_green_button:hover {
background: linear-gradient(to bottom, #1BEF86 0%,#08CF6C 100%);
background: -o-linear-gradient(top, #1BEF86 0%,#0FDB76 100%);
background: -ms-linear-gradient(top, #1BEF86 0%,#0FDB76 100%);
background: -moz-linear-gradient(top, #1BEF86 0%,#0FDB76 100%);
background-image: -webkit-linear-gradient(top,#09E78A,#1CE883);
border: 1px solid rgba(3, 144, 74, 0.24);
border-bottom: 1px solid rgba(3, 144, 74, 0.39);
}

.fresh_green_button:active {
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
background: #02DB6F;
border: 1px solid #2FB750;
border-top: 1px solid #1BAD3E;
}

.fresh_green_button:focus{
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    border: 1px solid #fff;
    border: rgba(0,0,0,0) solid 1px;
    outline: rgba(0,0,0,0) 0;
}

.add_people_button{

}

/* Follow button style */


.follow_button_wrapper:hover{
    cursor:pointer;
}

.follow_button_wrapper:active{
    cursor:pointer;
}


.follow_button_wrapper.following_wrapper.unfollow{
    background: #e84a5a!important; 
    border-color: #bd2f33; 
    box-shadow: none!important; 
    cursor: default!important;
   
}

.follow_button_wrapper.following_wrapper:active{
    cursor:default;
}


.follow_button_wrapper{
    width: 130px;
    
    border-radius: 4px;
    height: 36px;
    margin: 0 auto;
    position: relative;
    background-color: #45a8cf; 
    border: 1px solid rgb(29, 153, 207); 
    -moz-box-shadow: inset 0 1px 1px rgba(59, 192, 216, 1),inset 0 -1px 1px rgba(73, 186, 236, 1), 0 0 1px rgba(250, 250, 250, 1), 0 0 1px rgba(255, 255, 255, 1); 
    box-shadow: inset 0 1px 1px rgba(59, 192, 216, 1),inset 0 -1px 1px rgba(73, 186, 236, 1), 0 0 1px rgba(250, 250, 250, 1), 0 0 1px rgba(255, 255, 255, 1); 
    -webkit-box-shadow: inset 0 1px 1px rgba(59, 192, 216, 1),inset 0 -1px 1px rgba(73, 186, 236, 1), 0 0 1px rgba(250, 250, 250, 1), 0 0 1px rgba(255, 255, 255, 1);
}

.follow_button_wrapper .user_follow_button{
    color: #fff;

    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    display: inline-block;
    padding: 9px 13px;
    vertical-align: top;
    padding-right: 12px;
    position: absolute;
    left: 0px;
}

.follow_button_wrapper .user_follow_button.following{

}

.follow_button_wrapper .user_message_button{
    cursor:pointer;
    display: inline-block;
    padding: 6px 10px;
    position: absolute;
    right: 0px;
    padding-left: 0px;
}

.follow_button_wrapper .user_message_button:hover em.white_message_icon{
    cursor:pointer;
    opacity: .87;
}

.follow_button_wrapper .user_message_button:active em.white_message_icon{
    cursor:pointer;
    opacity: .69;
}


.follow_button_wrapper .user_message_button em.white_message_icon{
    cursor:pointer;
    background-image:url('../../assets/message_icon_white.png');
    background-size:auto;
    height: 24px;
    width: 31px;
    display:inline-block;
    background-repeat:no-repeat;
    position:relative;
    border-left: 1px solid rgba(255,255,255,0.30);
    background-position: 13px 4px;
}


/* FILTER WRAPPER STYLE */

.filter_bar{
    width: 100%;
    display:none!important;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 12px;
}

.filter_bar div.filter_wrapper_left{

    display: inline-block;
}

.filter_bar div.filter_wrapper_left > span{
    padding-bottom: 5px;
    
    display: inline-block;
}

.filter_bar div.filter_wrapper_left > span h5.feed_header{
    font-family: Avenir; font-weight: 200; font-size: 18px;
    
    text-transform: uppercase;
    margin: 0;
    line-height: 21px;
    color: #575757;
    position: relative;
    top: 3px;
}


.filter_bar div.filter_wrapper_right{
    float: right;

    display: inline-block;
}

.filter_bar div.filter_wrapper_right span.filters_header{
    font-size: 12px;

    color: #999;
    font-family: Avenir;
    margin-right: 4px;
    position: relative; 
    top: 1px; };
}

.filter_bar div.filter_wrapper_right span.filter_type{
    font-size: 10.5px;

    color: #fff;
    background: rgba(18, 19, 20, 0.77);
    border-radius: 3px;
    margin-right: 4px;
    padding: 2px 5px;
    border: 1px solid #222;
}

.filter_bar div.filter_wrapper_right span.filter_type.active{

}

.filter_bar div.filter_wrapper_right span.filter_type{

}

.filter_bar.filter_bar_home{

}


/* Members Card style */

.members_tab_content div.members_card_wrapper{
    width: 24.6%;

    display: inline-block;
    margin-bottom: 22px;
}

.members_tab_content div.members_card_wrapper .members_card.admin{
    
}

.members_card{
    background: #fff;
    position: relative;
    border-radius: 5px;
    display: block;
    border: 1px solid transparent;   
    margin-bottom: 25px;
    margin: 0px auto;  
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07); box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.members_card.normal_size{

    height: 246px;
    

    margin-left: 9px;

    margin-right: 9px;

}

.members_card.active{

}

div.members_card_img{
    background-image: url('../../assets/ross.jpg');
    margin: 7px 7px; 
    position:relative;
    background-size: cover;
    height: 48%;
    background-repeat: no-repeat;
    cursor:pointer;
    border-radius: 2px;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, .1) inset, -1px 0px 0px rgba(0, 0, 0, .1) inset, 0px 1px 0px rgba(0, 0, 0, .1) inset;
}

div.user_main_info{
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;

    padding: 4px 7px 4px;
    font-size: 14px;
    font-weight: 500;
}


div.members_card_img span.class_year, div.members_card_img span.title{
    color:#fff;
    font-weight:bold;
    font-family:Avenir;
    -webkit-font-smoothing: antialiased;
    position:absolute;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    bottom: 2px;
    right: 5px;
}

div.admin div.members_card_img span.class_year{
    display:none;
}

div.non_admin div.members_card_img span.title{
    display:none;
}

div.user_more_info{
    padding: 2px 7px;

    font-size: 13.5px;
    color: #777;
}

div.user_more_info a.department_link{
    color: #777;
    text-decoration: none;
}

div.user_more_info a.department_link:hover{
    color:#999;
    text-decoration: underline;
    cursor:pointer;
}

div.user_more_info a.department_link:active{
    color:#acacac;
}

div.user_card_button_holder{
    margin: 0 auto;

    width: auto;
    padding: 10px 0px;
}

div.user_main_info a.name.profile_link{
    font-weight: 600;
    color: #1da7d2;
    cursor:pointer;
    text-decoration: none;
}

div.user_main_info a.name.profile_link:hover{
    text-decoration: underline;
}

div.user_main_info a.name.profile_link:active{
    color:#016283;
}

*, *:active, *:focus {
outline: 0;
outline-style: none;
outline-width: 0;
-moz-outline-width: 0;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Fading input placeholder */
input::-webkit-input-placeholder {
    color: #999;
    font-weight: 500;
}

input::-moz-placeholder {
    color: #999;
    font-weight: 500;
}
/* firefox 19+ */
input:-ms-input-placeholder {
    color: #999;
    font-weight: 500;
}
/* ie */
input:-moz-placeholder {
    color: #999;
    font-weight: 500;
}

input:focus::-webkit-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

input:focus::-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* firefox 19+ */
input:focus:-ms-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* ie */
input:focus:-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

textarea:focus::-webkit-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}

textarea:focus::-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* firefox 19+ */
textarea:focus:-ms-input-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}
/* ie */
textarea:focus:-moz-placeholder {
    transition: opacity 0.15s;
    opacity: .4;
}


/* Media Queries */


@media screen and (max-width: 1313px) {
    #main_panel{
        padding-right:0px;
    }
    #right_panel{
        display:none;
    }
    #content_panel{
        margin-left: 280px;
    }
    #LeftPanel_Holder{

    }
    .topbar #topbar_responsive_holder{
        padding-right:0px!important;
    }
    /*.topbar > #topbar_responsive_holder > .left{
        margin-left:0px!important;
    }*/

}

@media screen and (max-width: 1110px) {
    #left_panel{
        display:none!important;
    }
    #content_panel{
        width:100%!important;
        overflow-x:hidden!important;
        margin-left:0px!important;
    }


    #nav_bar{
    width: 100%!important;
    right: 0px!important;
    border-radius: 0px!important;
    }
    #tab_bar{
    left: 0px!important;
    width: 100%!important;
    }
    #topbar_responsive_holder{
    
    }

    #body_home #planner_column.planner_column_home #right_column_specs #fixed_element{
        top:114px;
    }

    .panel_feed div#feed_column.feed_column_group{
    margin-left: auto!important;
    margin-right: auto!important;
    padding-right: 269px!important;
    }
    #content_panel.content_panel_home {
    width: 830px!important;
    overflow-x: hidden!important;
    margin-right: auto!important;
    margin-left: auto!important;
    }  
    body{
        overflow-x:scroll!important;
        min-width:840px;
    }     
}




/* Other views box */
#other_views_box {
    width: 188px;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 44px;
    margin-left:0px;
    border-radius: 5px;
    border: 1px solid #d6d6d6; 
    -webkit-box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.13); 
    -moz-box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.13); 
    box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.13);
    z-index: 99999;
    margin-left: -15px!important;
}

div#other_views_box.top_row_hover:before{
    background-position: -183px -141px;
}

#other_views_box > a:hover > div.title_body{
    background-color:#f2f2f2;
    text-decoration: none;
}

#other_views_box > a > div.title_body{ border: 0; border-bottom: 1px solid #dcdcdc; background-color: white; 
    font-size: 12px; padding: 9px 8px 8px 12px; display: block; min-height: 56px;
    
}

#other_views_box > a > div.title_body > span{
    display: block;
    
    font-style: normal;
}

#other_views_box > a > div.title_body > span.title{
    color: #029acf;
    
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

#other_views_box > a > div.title_body > span.title > em{
    
}

#other_views_box > a#settings_link > div.title_body > span.title > em{
    
}

#other_views_box > a#about_link > div.title_body > span.title > em{
    
}

#other_views_box > a#calendar_link > div.title_body > span.title > em{
    
}

#other_views_box > a > div.title_body > span.title_description{
    color: #666;
    
    font-size: 10.5px;
}

#other_views_box a#settings_link{

}

#other_views_box a#about_link{
    
}

#other_views_box a#calendar_link{
    
}

#other_views_box:before {
    content: "";
background-image: none,url(../../assets/sitechrome.svg);
background-repeat: no-repeat;
background-size: 305px auto;
background-position: 4px -142px;
height: 20px;
width: 30px;
position: absolute;
top: -10px;
display: block;

    left: 15px;
    background-position: 8px -141px;
content: " ";
}


.popup {
    display: none;
}

.popup.active {
    display: block;
}

/* GROUP INFO BOXES FOUND IN COVER PHOTO */

div.group_right_info{
    float: right;

}

div.group_info_boxes{
    position: relative;
    top: 22%;
    width: 237px;
}

div.group_info_block{
    padding: 7px 12px 7px 12px; 
    background: rgba(18, 19, 20, 0.9); border-radius: 5px 0 0 5px;
    color: #fff;
    font-size: 12.5px;
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0 3px rgba(0,0,0,0.5);
    margin-bottom:16px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

div.group_info_block span{
    color: #fff;
    font-weight:600;
}



div.group_info_block#location em{
    background-position: 0px -660px; 
    width: 12px; 
    height: 15px;
 
    
    top: 2px;
    position: relative;
}

div.group_info_block#class_schedule em{
    background-position: 0px -682px; width: 12px; height: 15px; top: 2px; position: relative;
 
    
    margin-right: 2px;
}

/*#left_menu_panel{*/
/*position: fixed;*/
/*background: black;*/
/*top: 48px;*/
/*height: 100%;*/
/*bottom: 0;*/
/*width: 18%;*/
/*}*/


