* {
    /*box-sizing: border-box;*/
    font-weight: 500;

}

html{
    padding: 0;
    margin: 0;
    background: #FAFAFA;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FAFAFA;
}


div{
    cursor:default;
}



#wrapper{
    width: 100%;
    height: 100%;
    display:block;
    padding-top: 47px;
    margin: 0 auto;
    position: relative;
}


#page{

    /*overflow-x: hidden;*/

    overflow: auto;

    width: 100%;
    height: 100%;

    margin-right:auto;
    margin-left:auto;

    background-color: #FAFAFA;

    top: 90px;

    /*position: absolute;*/


}

#left_panel{
    width: 240px;
    display: block;
    float:left;
}

#right_panel {
    position: fixed;
    top: 48px;
    right: 0px;
    width: 196px;
    bottom: 0;

    border-left: 1px solid #dadada;
    background: #f5f5f5;
    z-index: 300;
    box-shadow: 1px 0px #fff inset;
}

#main_panel{
    max-width: 1145px;
    margin: 0px auto;

    height: 2000px;
    padding-right: 220px;

}


#content_panel{
    display:block;
    margin-left: 272px;

    margin-right: 0px;

    display: block;


    /*overflow-x: hidden;*/
    height: 2000px;

    max-height:100%;
    width: 830px;
    z-index: 50;


    background: #FAFAFA;
}


#content_holder{
    margin: 0px;
    outline: none;
    padding: 0;
    min-height: 600px;
    width: auto;
    zoom: 1;
}

#cover_photo {

    /*display: block;*/
    /*transition-property: opacity;*/



    /*background-size: cover;*/
    /*background-position: bottom;*/
    /*background: no-repeat fixed;*/

    /*position: relative;*/
    /*min-height: 315px;*/
    /*width: 100%;*/


    /*left: 240px;*/

    /*right: 0px;*/

    /*max-height: 315px;*/
    /*min-width: 80%;*/
    /*max-width: 80%;*/

    /*background: transparent;*/



    background: no-repeat fixed;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* 250 */
    

    height: 360px;

}



/* tab_bar */

#tab_bar{
    position: relative;
    height: 52px;

    background-color: rgba(18, 19, 20, 0.90);
    z-index: 10;
    display: block;
    top: -48px;
    width: 842px!important;

    border-radius: 3px;
    margin-left: -7px;
    box-shadow: 0px 0 3px rgba(0,0,0,0.5);
}

.tab {
    display: inline-block;
    width: auto;
    height: 100%;
    color: rgba(255, 255, 255, 0.65);

    /*display: table-cell;*/
    vertical-align: middle;
    cursor:pointer;
    padding-left: 23px;
    padding-right: 23px;
}

div.tab div.tab_content{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px auto;
    display: block;
    cursor:pointer;
    transform: translateY(-38%);
    top: 38%;
}





div.tab.feed div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab.syllabus div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab.materials div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab.members div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab div.tab_img{

    background-repeat: no-repeat;
    display: inline-block;
    float:left;
    opacity: .65;
    cursor:pointer;
    width: 25px;  
    height: 100%;
    background-position: 0px 18px;

}

.tab_text{
    font-weight: 600;
    font-size: 14.5px;
    display: inline-block;
    float: right;
    width: auto;
    margin-right: auto;
    cursor:pointer;
    padding-top: 16px;
    padding-left: 7px;
    padding-bottom: 18px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 0px 1px #121314; -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0, 0, 0, 0.490196) 0px 0px 1px;
}

/* Default the wedge to hidden */
div.tab div.tab_wedge{
    height: 10px;
    width: 22px;
    display: none;
}




/* Show the wedge when the tab is active */
div.tab.active div.tab_wedge {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../../assets/main/tab_bar/tab_wedge.png');
    margin: 0px auto;
    margin-top: 25px;
    z-index: 1000;
}


div.tab:hover,div.tab.active{
    color: #fff;
    cursor:default;
}

div.tab:hover{
    cursor: pointer!important;
}

div.tab:hover div.tab_img,div.tab.active div.tab_img,div.tab.active div.tab_text {
    opacity: 1.0;
    cursor:default!important;
}

div.tab:hover div.tab_img, div.tab:hover div.tab_text{
    cursor: pointer!important;
}



#tab_more_button{
    width: 45px;
    height: 25px;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-48%);

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0px 0px 1px #fff;
    -moz-transition: all .1s ease; -webkit-transition: all .1s ease; transition: all .1s ease; background-color: rgba(71, 71, 71, 0.49); 
    border-color: #000; -moz-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46); box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46); -webkit-box-shadow: inset 0 1px 1px rgba(146, 146, 146, 0.46),inset 0 -1px 1px rgba(146, 146, 146, 0.46);
    padding: 4px 2px;
}

#tab_more_button:hover{
    background-color: rgba(112, 112, 112, 0.41);
}

#tab_more_button:active{
    background-color: rgba(112, 112, 112, 0.2);
}

#tab_more_button_image {
    width: 31px;
    height: 9px;
    background-repeat: no-repeat;
    background-image: url('../../assets/main/tab_bar/tab_more_icon.png');
    background-size: 88%;
    top: 10px;
    position: relative;
    left: 10px;
    cursor: pointer;
}


#group_user_action_button {
    height: 25px;
    background-color: #04CF6B;
    display: inline-block;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-48%);
    color: white;
    border-top-color: #000000; 
    border-left-color: #000000; 
    border-right-color: #000000; 
    border-bottom-color: #000000; 
    -webkit-box-shadow: inset 0 1px 1px #3CFF90,inset 0 -1px 1px #4DC890; 
    -moz-box-shadow: inset 0 1px 1px #3CFF90,inset 0 -1px 1px #4DC890; 
    box-shadow: inset 0 1px 1px #3CFF90,inset 0 -1px 1px #4DC890; background: #039103; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c307",endColorstr="#039103"); 
    background: -webkit-gradient(linear,left top,left bottom,from(#04CF6B),to(#17A866)); 
    background: -moz-linear-gradient(top,#04CF6B,#17A866); 
    background-image: -o-linear-gradient(top,#04CF6B 0,#17A866 100%); 
    background-image: linear-gradient(to bottom,#04CF6B 0,#17A866 100%);
    font-size: 15px;
    padding: 4px 2px;
    font-family: "Open Sans", sans-serif;
    min-width: 98px;
    margin-right: 20px;
}

#group_user_action_button_text{
    height: 16px;
    position: relative;
    margin: 0px auto;
    display: block;
    font-weight: 500; 
    font-size: 15px; 
    font-family: Avenir;
    -webkit-font-smoothing: antialiased;
    line-height: 28px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#group_user_action_button:hover{
    background: #e84a5a!important;
    border-color: #bd2f33;
    box-shadow: none!important;
    cursor:default!important;
}

#group_user_action_button:hover #group_user_action_button_text{
    cursor:default!important;
}


/* Panel content */
.panel {
    display: none;
    color: white;

}

.panel.active{
    display: block;
    z-index: 20;
}



@media screen and (max-width: 1313px) {
    #main_panel{
        padding-right:0px;
    }
    #right_panel{
        display:none;
    }
    #content_panel{
        margin-left: 273px;
    }
    #LeftPanel_Holder{

    }
}

@media screen and (max-width: 1110px) {
    #left_panel{
        display:none!important;
    }
    #content_panel{
        width:100%!important;
        overflow-x:hidden!important;
        margin-left:0px!important;
    }
    #nav_bar{
    width: 100%!important;
    right: 0px!important;
    border-radius: 0px!important;
}
    #tab_bar{
    left: 0px!important;
    width: 98%!important;
    margin-left: 10px;
}
}





/*#left_menu_panel{*/
/*position: fixed;*/
/*background: black;*/
/*top: 48px;*/
/*height: 100%;*/
/*bottom: 0;*/
/*width: 18%;*/
/*}*/