* {
    /*box-sizing: border-box;*/
    font-family: Avenir;
    font-weight: 500;

}

html{
    padding: 0;
    margin: 0;
    background: #FAFAFA;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FAFAFA;
}


div{
    cursor:default;
}



#wrapper{
    width: 100%;
    height: 100%;
    display:block;
    padding-top: 47px;
    margin: 0 auto;
    position: relative;
}


#page{

    /*overflow-x: hidden;*/

    overflow: auto;

    width: 100%;
    height: 100%;

    margin-right:auto;
    margin-left:auto;

    background-color: #FAFAFA;

    top: 90px;

    /*position: absolute;*/


}

#left_panel{
    width: 240px;
    display: block;
    float:left;
}

#right_panel {
    position: fixed;
    top: 48px;
    right: 0px;
    width: 196px;
    bottom: 0;

    border-left: 1px solid #dadada;
    background: #f5f5f5;
    z-index: 300;
    box-shadow: 1px 0px #fff inset;
}

#main_panel{
    max-width: 1145px;
    margin: 0px auto;

    height: 2000px;
    padding-right: 220px;

}


#content_panel{
    display:block;
    margin-left: 272px;

    margin-right: 0px;

    display: block;


    /*overflow-x: hidden;*/
    height: 2000px;

    max-height:100%;
    width: 830px;
    z-index: 50;


    background: #FAFAFA;
}


#content_holder{
    margin: 0px;
    outline: none;
    padding: 0;
    min-height: 600px;
    width: auto;
    zoom: 1;
}

#cover_photo {

    /*display: block;*/
    /*transition-property: opacity;*/



    /*background-size: cover;*/
    /*background-position: bottom;*/
    /*background: no-repeat fixed;*/

    /*position: relative;*/
    /*min-height: 315px;*/
    /*width: 100%;*/


    /*left: 240px;*/

    /*right: 0px;*/

    /*max-height: 315px;*/
    /*min-width: 80%;*/
    /*max-width: 80%;*/

    /*background: transparent;*/



    background: no-repeat fixed;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* 250 */
    

    height: 360px;

}



/* tab_bar */

#tab_bar{
    position: relative;
    height: 52px;

    background-color: rgba(18, 19, 20, 0.90);
    z-index: 10;
    display: block;
    top: -48px;
    width: 842px!important;

    border-radius: 3px;
    margin-left: -7px;
    box-shadow: 0px 0 3px rgba(0,0,0,0.5);
}

.tab {
    display: inline-block;
    width: 20%;
    height: 100%;
    color: rgba(255, 255, 255, 0.76);

    /*display: table-cell;*/
    vertical-align: middle;
}

div.tab div.tab_content{
    width: 60%;
    height: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-38%);
    margin: 0px auto;
    display: block;
}



div.tab.feed div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab.syllabus div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab.materials div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab.members div.tab_img{
    background-image: url('../../assets/main/tab_bar/feed_icon.png');
}

div.tab div.tab_img{

    background-repeat: no-repeat;
    display: inline-block;
    float:left;
    opacity: .77;
    width: 20%;
    height: 40px;
}

.tab_text{
    font-family: Avenir;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    float: right;

    width: 80%;
    margin-right: auto;


}

/* Default the wedge to hidden */
div.tab div.tab_wedge{
    height: 10px;
    width: 22px;
    display: none;
}




/* Show the wedge when the tab is active */
div.tab.active div.tab_wedge {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../../assets/main/tab_bar/tab_wedge.png');
    margin: 0px auto;
    margin-top: 25px;
    z-index: 1000;
}


div.tab:hover{
    color: #fff;

}

div.tab:hover div.tab_img {
    opacity: 1.0;
}


#tab_more_button{
    width: 45px;
    height: 15px;
    float: right;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;

    margin-right: 5px;
}

#tab_more_button_image {
    width: 31px;
    height: 9px;
    background-repeat: no-repeat;
    background-image: url('../../assets/main/tab_bar/tab_more_icon.png');
}


#group_user_action_button {
    height: 25px;
    width: 80px;
    padding-top: 0px;

    background-color: green;
    display: inline-block;
    float: right;

    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: darkgreen;

    margin-right: 5px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    color: white;
}

#group_user_action_button_text{
    width: 55px;
    height: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
    margin: 0px auto;
    display: block;
}

#group_user_action_button:hover{
    background-color: red;
    border-color: darkred;
}

/* Panel content */
.panel {
    display: none;
    color: white;

}

.panel.active{
    display: block;
    z-index: 20;
}



@media screen and (max-width: 1313px) {
    #main_panel{
        padding-right:0px;
    }
    #right_panel{
        display:none;
    }
    #content_panel{
        margin-left: 273px;
    }
    #LeftPanel_Holder{

    }
}

@media screen and (max-width: 1110px) {
    #left_panel{
        display:none!important;
    }
    #content_panel{
        width:100%!important;
        overflow-x:hidden!important;
        margin-left:0px!important;
    }
    #nav_bar{
    width: 100%!important;
    right: 0px!important;
    border-radius: 0px!important;
}
    #tab_bar{
    left: 0px!important;
    width: 98%!important;
    margin-left: 10px;
}
}





/*#left_menu_panel{*/
/*position: fixed;*/
/*background: black;*/
/*top: 48px;*/
/*height: 100%;*/
/*bottom: 0;*/
/*width: 18%;*/
/*}*/