#class_upload_dropzone {

}




.dz-filename span{
    font-size: 12.5px;
    
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    width: 123px;
    display: block;
}


.dz-error-mark{
    display: none;
}

.dz-success-mark{
    display: none;
}


.dz-size {
    display: none;
}

.dz-preview {
    width: 19%;
    display: inline-block;
    float: left;
    margin-top: 50px;
    height: 66px;
    position: relative;
    margin-left: 5px;
    margin-bottom: 6px;
}


.dz-preview img{
    height: 30px;
    background-repeat: no-repeat;
    outline: none;

    margin-right: -25px;
    position: absolute;
    border-image: none;
    width: 34px;
    margin: 0 auto;
    margin-top: 5px;
    left: 18%;
    background-size: cover;
    border: 1px solid #C5C5C5;
    outline: none;
}

.dz-default {
    height: auto;
}


em.files_tab_sprites.search_icon{
    width: 16px;

    height: 16px;
    background-position: 0px -63px;
    position: relative;
    left: 28px;
}

li.files_subtab{

}

li.class_files{

}

li.class_files.active{

}

.tab_files{
    font-family: 'Open Sans', sans-serif;
    position:relative;

}

#upload_text_button em.files_tab_sprites{

}

#upload_text_button em.files_tab_sprites.upload_icon{
    background-position: 0px -25px;
    
    height: 20px;
    width: 19px;
}

#upload_text_button span{
    color: #029acf;

    font-weight: 600;
    padding-left: 1px;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

span.drag_hint{
    color: #777;

    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

span.drag_hint i{
    color: #999;
    padding-right: 4px;
}

div.action a#new_folder_button{
    display:none;
}

div.files_sort{
    border-bottom: 1px solid #CFCFCF;

    line-height: 29px;
    padding: 4px 4px;
    padding-right: 5px;
    height: 25px;
    padding-top: 10px;
}

div.files_sort > div.sortable_column_header{
    text-align: left;

    font-size: 12.8px;
    margin-bottom: 0px;
    float: left;
}

div.files_sort > div.sortable_column_header span{

    font-family: Avenir;
    

    color: #989898;
    

    font-weight: 100;

    font-size: 13px;

}

div.files_sort > div.sortable_column_header em{
    display:none;
}

div.sortable_column_header.active em.sort_gray_arrow{
    background-position: 0px -47px;
    width: 14px;
    height: 14px;
    display:inline-block;
}

em.sort_gray_arrow.up{
    
}

em.sort_gray_arrow.down{
    
}

div.files_sort > div.sortable_column_header.active{
    color: #959595;

    font-weight: 600;
}

div.files_sort > div.sortable_column_header.active span{

}

div.files_sort > div.sortable_column_header.active span{
    display:inline-block!important;
    font-weight: 900;
    color: #777;
    -webkit-font-smoothing: antialiased;   -moz-osx-font-smoothing: grayscale;
}

div#name_sorter{
    width: 45%;

}

div#kind_sorter{
    width: 22%;

}

div#date_sorter{
    width: 17%;

}

a#upload_text_button{
    padding: 3px 4px;
    border-radius: 3px;
    margin-left: -7px;
    cursor:pointer;
    margin-right:2px;
    padding-right: 0px;
}

a#upload_text_button:hover{
    background: #eee;
}

a#upload_text_button:active{
    background:#ddd;
}

div#views_sorter{
    width: 16%;
}

div#files_header_bottom_line{
}

div.files_sub_panel{
    width:100%;
    min-height: 40px;
    display:none;
}

div.files_sub_panel.student_files{
}

div.files_sub_panel.active{
    display:block!important;
}

ol.files_list{
    margin: 0;

    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    -webkit-padding-start: 0;
}

ol.files_list li.file{
    text-align: left;
    
    padding: 16px 1px 14px;
    margin: 0 0px -1px 0px;
    line-height: 32px;
    list-style: none;
    position: relative;
    border: 1px solid #CFCFCF;
    border-width: 1px 0;
    font-size: 13.5px;
    border-top: none;
    zoom: 1;
}

ol.files_list li.file div{
    cursor: default;

    display: block;
}

ol.files_list li.file div.filename_col{
    
    height: 32px;
    width: 45%;
    float: left;
}

ol.files_list li.file div.filename_col div.upload_sprite{
    width: 32px;
    height: 50px;
    background-size: auto;
    background-repeat: no-repeat;
    height: 36px;
    margin-top: -3px;
    margin-right: 14px;
    display: block;
    margin-left: 1px;
    background-color: transparent;
    overflow: hidden;
    vertical-align: bottom;
    cursor: pointer;
}


ol.files_list li.file div.filename_col div.upload_sprite{
    background-image: url('../../assets/file_icons/file_type_na.png');
    background-size: auto;
    margin-left: 5px;
}

ol.files_list li.file div.filename_col div.upload_sprite.doc{

    background-image: url('../../assets/file_icons/file_type_doc.png');
    background-size: auto;
    margin-left: 5px;
}

ol.files_list li.file div.filename_col div.upload_sprite.docx{
    background-image: url('../../assets/file_icons/file_type_doc.png');
    background-size: auto;
    margin-left: 5px;
}



ol.files_list li.file div.filename_col div.upload_sprite.xlsx{
    background-image: url('../../assets/file_icons/file_type_xls.png');
    background-size: auto;
    margin-left: 5px;
}
ol.files_list li.file div.filename_col div.upload_sprite.xls{
    background-image: url('../../assets/file_icons/file_type_xls.png');
    background-size: auto;
    margin-left: 5px;
}



ol.files_list li.file div.filename_col div.upload_sprite.ppt{
    background-image: url('../../assets/file_icons/file_type_ppt.png');
    background-size: auto;
    margin-left: 5px;
}


ol.files_list li.file div.filename_col div.upload_sprite.pptx{
    background-image: url('../../assets/file_icons/file_type_ppt.png');
    background-size: auto;
    margin-left: 5px;
}


ol.files_list li.file div.filename_col div.upload_sprite.pdf{
    background-image: url('../../assets/file_icons/file_type_pdf.png');
    background-size: auto;
    margin-left: 5px;
}



ol.files_list li.file div.filename_col div.upload_sprite.png{
    background-image: url('../../assets/file_icons/file_type_png.png');
    background-size: auto;
    margin-left: 5px;
}

ol.files_list li.file div.filename_col div.upload_sprite.jpg{
    background-image: url('../../assets/file_icons/file_type_jpg.png');
    background-size: auto;
    margin-left: 5px;
}




ol.files_list li.file div.filename_col div.upload_sprite.folder{
    background-image: url('../../assets/file_icons/file_type_folder.png');
    background-size: auto;
    margin-left: 5px;
}


ol.files_list li.file div.filename_col div.upload_sprite.code{
    background-image: url('../../assets/file_icons/file_type_code.png');
    background-size: auto;
    margin-left: 5px;

}









ol.files_list li.file div.filename_col div.upload_sprite.zip{
    background-image: url('../../assets/file_icons/file_type_zip.png');
    background-size: auto;
    margin-left: 5px;
}

ol.files_list li.file div.filename_col div.upload_sprite.img{
    background-image: url(../../assets/NYU_CAS_Cover.jpg)!important;
    
    width: 33px;
    height: 33px;
    background-size: cover!important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}


ol.files_list li.file div.filename_col a.filename{
    color: #333;
    font-size: 13.5px;
    white-space: pre;
    cursor:pointer;
    text-decoration: none;

    width: 80%;
    float: left;
}

ol.files_list li.file div.filename_col a.filename:hover{
    text-decoration: underline;
}

ol.files_list li.file div.filename_col a.file_uploader_user{
    
}

ol.files_list li.file div.kind{
    width: 22%;
    
    display: inline-block;
    float: left;
}

ol.files_list li.file div.kind span.category{
    
}

ol.files_list li.file div.date{
    width: 17%;
    
    float: left;
}

ol.files_list li.file div.date span.relevant_date{
    
}




ol.files_list li.file div.views{
    
    display: inline-block;
    width: 16%;
}

ol.files_list li.file div.views span.viewcount{
    white-space: nowrap;
    
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: -2px;
}

ol.files_list li.file div.views a.download_button{
    display: none; 
    
    position: absolute;
    border: 1px solid #C0C0C0; 
    line-height: 28px;
    border-radius: 4px; 
    right: 8px;
    background-color: #fcfcfc; 
    cursor:pointer;
    top: 8px;
    background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(235,235,235,.3) 60%, rgba(225,225,225,.6)); 
    height: 28px;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(235,235,235,.3) 60%, rgba(225,225,225,.6)); 
    -moz-box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1);
    box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 2px rgba(0, 0, 0, .02), inset 0 1px 0 rgba(255, 255, 255, 1), inset -1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 rgba(255, 255, 255, .5), inset 1px 0 0 rgba(255, 255, 255, 1); color: #333; 
}

ol.files_list li.file div.views a.download_button:hover{
color: #333;
outline: 0;
background-color: #f9f9f9;
border-color: #B8B8B8 #969696 #7E7E7E;
-moz-box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, 0), inset 0 1px 0 rgba(255, 255, 255, 1), /* top inner border */ inset -1px 0 0 rgba(248, 248, 248, 1), /* right inner border */ inset 0 -1px 0 rgba(248, 248, 248, .5), /* bottom inner border */ inset 1px 0 0 rgba(248, 248, 248, 1) /* left inner border */;
-webkit-box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, 0), inset 0 1px 0 rgba(255, 255, 255, 1), /* top inner border */ inset -1px 0 0 rgba(248, 248, 248, 1), /* right inner border */ inset 0 -1px 0 rgba(248, 248, 248, .5), /* bottom inner border */ inset 1px 0 0 rgba(248, 248, 248, 1) /* left inner border */;
box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, 0), inset 0 1px 0 rgba(255, 255, 255, 1), /* top inner border */ inset -1px 0 0 rgba(248, 248, 248, 1), /* right inner border */ inset 0 -1px 0 rgba(248, 248, 248, .5), /* bottom inner border */ inset 1px 0 0 rgba(248, 248, 248, 1) /* left inner border */;
}
ol.files_list li.file div.views a.download_button:active{
text-shadow: none;
border-color: #B8B8B8 #969696 #7E7E7E;
background-color: #eee;
-moz-box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, .0), inset 0 2px 2px rgba(0, 0, 0, 0.05), /* top inner border */ inset 0 1px 1px rgba(0, 0, 0, 0.08), /* top inner border n2 */ inset -2px 0 2px rgba(0, 0, 0, 0.03), /* right inner border */ inset 0 -1px 0 rgba(0, 0, 0, .02), /* bottom inner border */ inset 2px 0 2px rgba(0, 0, 0, .03) /* left inner border */;
-webkit-box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, .0), inset 0 2px 2px rgba(0, 0, 0, 0.05), /* top inner border */ inset 0 1px 1px rgba(0, 0, 0, 0.08), /* top inner border n2 */ inset -2px 0 2px rgba(0, 0, 0, 0.03), /* right inner border */ inset 0 -1px 0 rgba(0, 0, 0, .02), /* bottom inner border */ inset 2px 0 2px rgba(0, 0, 0, .03) /* left inner border */;
box-shadow: -10px 0px 8px #fff,inset 0 0 0 #000, 0 1px 3px rgba(0, 0, 0, .0), inset 0 2px 2px rgba(0, 0, 0, 0.05), /* top inner border */ inset 0 1px 1px rgba(0, 0, 0, 0.08), /* top inner border n2 */ inset -2px 0 2px rgba(0, 0, 0, 0.03), /* right inner border */ inset 0 -1px 0 rgba(0, 0, 0, .02), /* bottom inner border */ inset 2px 0 2px rgba(0, 0, 0, .03) /* left inner border */;
}

ol.files_list li.file:hover div.views a.download_button{
    display:block;
}

ol.files_list li.file div.views a.extra_padding{
    padding: 0 15px;
    
    margin: 0;            
}


.upload_files_submit {
    margin-top: -32px;
    -webkit-font-smoothing: antialiased; background: #08D09C; 
    border-radius: 3px;  
    font-weight: 600;
    font-size: 12px;
    display: none;
    cursor: pointer;
    right: 0px;
    color: #fff;
    position: absolute;  
    background-color: #27D579; background: linear-gradient(to bottom, #24EA88 0%,#08CF6C 100%); background: -o-linear-gradient(top, #24EA88 0%,#08CF6C 100%); background: -ms-linear-gradient(top, #24EA88 0%,#08CF6C 100%); background: -moz-linear-gradient(top, #24EA88 0%,#08CF6C 100%); background-image: -webkit-linear-gradient(top,#24EA88,#08CF6C); border: 1px solid #1ECD77; -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.23) inset, 0px -1px rgba(0, 0, 0, 0.07) inset; box-shadow: 0px 1px rgba(255, 255, 255, 0.23) inset, 0px -1px rgba(0, 0, 0, 0.04) inset; border-bottom: 1px solid rgba(9, 166, 89, 0.74);
    padding: 4px 10px;
}

.files_upload_bigbox{
    margin: 0 auto;

    width: 50%;
    height: auto;
    min-height: 240px;
    background: #f9f9f9;
    position: relative;
    margin-top: 0px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 1px 0 0px rgba(255, 255, 255, 0.75) inset, -1px 0 0px rgba(255, 255, 255, 0.75) inset, 0 1px 0px rgba(255, 255, 255, 0.75) inset, 0 -1px 0px rgba(255, 255, 255, 0.75) inset;

    display: inline-block;
    margin-left: 0px;
    cursor: pointer;
}

.tab_files img{
    width: 40px;
    height: 40px;
}

.files_upload_bigbox div.bigbox_bigmessage{
    background-image: url(../../assets/drop_files_normal.png);  
    width: 75%;
    height: 77px;
    background-size: contain;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    margin-top: 82px;
    cursor: pointer;
}

.files_upload_bigbox:hover{
    background:#eee;
}

.files_upload_bigbox:active{
    background:#e5e5e5;
}

.files_upload_bigbox:hover div.bigbox_bigmessage{
    background-image: url(../../assets/drop_files_hover.png);
}

.files_upload_bigbox:active div.bigbox_bigmessage{
    background-image: url(../../assets/drop_files_active.png);
}

.dz-default{
    position: absolute;

    top: -7px;


    height: auto;
}

.dz-default span{
    display:none;
}





@media screen and (max-width: 808px) {
    span.drag_hint{
        display:none;
    }
}


.dropzone {
    margin-bottom: 100px;
}



.files_tab_sprites{
    background-image: url(../../assets/FilesTab_iconmap.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: auto;
    vertical-align: middle;
    float: left;
}

.remove_file_div{
position: absolute;
opacity:0;
pointer-events:none;
top: 10px;
right: 0px;
text-transform: capitalize;
color: #029acf;
font-weight: 600;
padding-left: 1px;
-webkit-font-smoothing: antialiased;
font-size: 14px;
cursor: pointer; 
-webkit-transition:opacity .15s ease;   
-moz-transition:opacity .15s ease;   
transition:opacity .15s ease;   
}

div.no_files_div{
    display: inline-block;
    float: left;
    width: 48%;
}

.no_files_container{
 text-align: center;
font-size: 24px;
font-family: Avenir;
font-weight: 100;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: #777;
margin-top: 20px;   
}

.ol.files_list li.file:hover .remove_file_div{
    opacity: 1;
    pointer-events:auto;
}


.filename {
    width: 50px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
