
#verify_email_banner {
    width: 200px;
    height: 25px;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    padding-top: 3px;
    padding-left: 5px;
}


