.video_box{
    width:435px;
    height: 148px;
    position:relative;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
.video_box_wrapper{
    overflow: hidden;
    position:relative;
    white-space: nowrap;
    padding: 15px;
}

.video_description{
    font-size:12px;
    white-space: normal;
    /*overflow: hidden;*/
    color: #232323;
    line-height: 18px;
    margin-top: 10px;
    /*-webkit-line-clamp:3;
    text-overflow: ellipsis;*/
}

.expand_video_description{
    text-decoration: underline;
    cursor:pointer;
}

.info_icon{
    height:20px;
    width:20px;
    background-color: black;
}
.video_description.desc_truncated{
    height: 45px;
}
.video_description.desc_full .close_video_description{
    font-size:16px;
    cursor:pointer;
}

.video_thumbnail{
    height: 124px;
    width: 220px;
    background-size: cover;
    display:inline-block;
    cursor: pointer;
}

.video_left_column{
    display:inline-block;
    width: 180px;
    position: relative;
    top: -25px;
    padding: 5px;
}
.embedly_video_wrapper{
    display: inline-block;
}

.video_title{
    font-size: 17px;
    overflow: hidden;
    color: #232323;
    text-overflow: ellipsis;
    font-weight: 300;
    margin-top: 8px;
}

.video_box_functions{
    margin-top: 10px;
    font-size: 12px;
}

.video_header{
    margin-left: 12px;
    font-size: 17px;
    color: #777777;
    padding-top: 12px;
    font-weight: 100;
}

.watch_video{
    display:inline-block;
    cursor: pointer;
}
.skip_video{
    display:inline-block;
    cursor: pointer;
}
.skip_video.video_open{
    display:block;
    cursor: pointer;
}

.video_categories *{
    font-size: 12px;
    display: inline-block;
}

.video_box.next{
    opacity: .50;
    cursor: pointer;
}

.post.video_box_post{
    float: none!important;

}

.video_boxes{
    transition: all 0.5s ease-in-out;
}

em.topic_connector{

}

.video_box_functions > em{

}

div.video_post_main.post_main{
    padding:0;
}


.video_box_feed_separator{

}

.video_box_feed_separator div{

}

.video_box_feed_separator hr{

}


span.info_icon:hover ~ div.help_div {
    opacity: 1;
    z-index: 1;
}

.video_header .help_div{
    background: rgba(34, 34, 34, 0.87);
    color: #FFF;
    font-weight: 900;
    margin-left: 344px;
    margin-top: -28px;
}

.video_header .video_header_text{
    display: inline-block;
}

.video_header .help_div .box {
    width: 369px;
}

