
body
{
font-family: 'Open Sans';
overflow-x: hidden;
max-width:100%;
width: 100%; 
}


.prom_main
{
height: 100%;

width: 100%;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
margin: auto;
position: fixed;
background-color: #38AD93;
overflow-x: hidden; 
}

.prom_prompt
{
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.f_name_input
{
	border-top: none;
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px; 
}

.email_input
{
	border-top: none;
	border-bottom-left-radius: 8px; 
	border-bottom-right-radius: 8px; 
}

.pr_signup_btn:hover
{
	background-color: #4f4f4f;
	border: 1px solid #4f4f4f; 
}

.pr_signup_btn:active
{
	background-color: #353535;
	border: 1px solid #353535; 
}





.prom_mid
{
	width: 100%;
	margin-top: 150px;
	overflow-x: hidden;
}

.prom_cover
{
width: 300px;
position: absolute;
  left: 50%;
  margin-left: -150px;
  margin-top: 40px;
}

.input_wrap
{
	margin-top: 40px;
	left:50%;
	position: absolute;
	margin-left: -144px;
}

.pr_signup_btn
{
border: 1px solid #424242;
color: white;
height: 35px;
width: 288px;

background-color: #424242;
border-radius: 4px;
margin-left: 20px;
cursor: pointer;
font-size: 18px;


	left:50%;
	position: absolute;
	margin-left: -144px;
	margin-top: 180px;
}

.pr_input
{
	border: 1px solid #424242;
height: 45px;
line-height: 45px;
font-size: 16px;

padding-left: 15px;
	float: left;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;

		width: 265px;
}


@media (min-width: 900px) {
.prom_mid
{
	width: 100%;
	margin-top: 150px;
	overflow-x: hidden;
}

.prom_cover
{
width: 800px;
position: absolute;
  left: 50%;
  margin-left: -400px;
  margin-top: 70px;
}

.input_wrap
{
	margin-top: 200px;
	left:50%;
	position: absolute;
	margin-left: -380px;
}

.pr_signup_btn
{
border: 1px solid #424242;
color: white;
height: 120px;
width: 758px;

background-color: #424242;
border-radius: 4px;
margin-left: 20px;
cursor: pointer;
font-size: 26px;


	left:50%;
	position: absolute;
	margin-left: -380px;
	margin-top: 500px;
}

.pr_input
{
	border: 1px solid #424242;
height: 90px;
line-height: 90px;
font-size: 30px!important;

padding-left: 15px;
	float: left;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;

		width: 735px;
}
}

@media (min-height: 500px) {
.prom_mid
{
	margin-top: 350px;
}

.prom_cover
{
	margin-top: 160px;
}
}


input::-webkit-input-placeholder { text-align: center!important;}
::-moz-placeholder { text-align: center!important;} /* firefox 19+ */
:-ms-input-placeholder { text-align: center!important;} /* ie */
input:-moz-placeholder { text-align: center!important;}
