.autogrow {
    /*overflow: hidden;*/
}

.chat_box {
    width: 240px;
    height: 290px;
    background-color:#ffffff;
    bottom:-10px !important;
    border-radius:6px;
    border:1px solid #e5e5e5;
    -moz-box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
    box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
}

.chat_box_text {
    overflow-y: scroll;
    width: 100%;
    padding:8px;
    padding-top:12px;
    font-size:12px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.chat_box_top {
    width:-moz-calc(100% - 10px);
    width:-webkit-calc(100% - 10px);
    width:-o-calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 0 5px;
    padding: 5px;
    font-size:14px;
    border-bottom:1px solid #d7d7d7;
    padding-bottom:8px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.chat_box_date_separator {
    width:-moz-calc(100% - 10px);
    width:-webkit-calc(100% - 10px);
    width:-o-calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 20px 5px;
    border-bottom:1px solid #d7d7d7;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
}

.chat_box_date {
    border:1px solid #d7d7d7;
    border-radius:2px;
    background-color:#ffffff;
    color:#d7d7d7;
    font-size:10px;
    position:absolute;
    top:-10px;
    margin-right:auto;
    margin-left:auto;
    right:0;
    left:0;
    color:#777777;
    padding:2px;
    width:100px;
    text-align:center;
    z-index:9999;
}

.chat_box_buttons {
    position:absolute;
    top:8px;
    right:8px;
}

.chat_box_close_button {
    cursor:pointer;
    width:15px;
    height:15px;
    display:inline-block;
    background:url(../../assets/messageicons.png);
    background-position:-62px -81px;
    margin:2px;
}

.chat_box_expand_button {
    cursor:pointer;
    width:15px;
    height:15px;
    display:inline-block;
    background:url(../../assets/messageicons.png);
    background-position:-10px -83px;
    margin:2px;
}

.chat_box_add_button {
    cursor:pointer;
    width:15px;
    height:15px;
    display:inline-block;
    background:url(../../assets/messageicons.png);
    background-position:-34px -81px;
    margin:2px;
}

.this_user_message {
    padding:5px 0px;
    text-align:right;
    padding-right:30px;
    position:relative;
}

span.this_user_name {
    display:inline-block;
    font-weight:bold;
    font-size:12px;
    margin-left:8px;
}
span.other_user_name {
    display:inline-block;
    font-weight:bold;
    font-size:12px;
    margin-right:8px;
}
span.message_sent_time {
    display:inline-block;
    font-weight:100;
    color:#d7d7d7;
    font-size:12px;
}

.user_image {

}
.message_content {

}

.other_user_message {
    text-align:left;
    padding-left:30px;
    position:relative;
}

.user_message_picture {
    border-radius:50%;
    height:25px;
    width:25px;
    position:absolute;
}

.other_user_message .user_message_picture {
    margin-top:5px;
    left:0px;
    background-color:#000000;
}
.this_user_message .user_message_picture {
    margin-top:5px;
    right:0px;
    background-color:#000000;
}

.textarea_wrap {
    border-radius:6px;
    border:1px solid #e5e5e5;
    -moz-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
    width: 100%;
    height:30px;
    overflow:hidden;
    margin:5px;
    width:-moz-calc(100% - 10px);
    width:-webkit-calc(100% - 10px);
    width:-o-calc(100% - 10px);
    width: calc(100% - 10px);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

textarea.chat_input {
    resize:none; 
    width:-moz-calc(85% - 5px);
    width:-webkit-calc(85% - 5px);
    width:-o-calc(85% - 5px);
    width: calc(85% - 5px);
    float:left;
    border:none;
}

.textarea_menubutton {
    width:15%;
    float:left;
    height:100%;
    margin-top:0px;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(#fafafa, #f8f8f8);
    background-image: linear-gradient(#fafafa, #f8f8f8);
    border-right:1px solid #e5e5e5;
    -moz-transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor:pointer;
}

.textarea_menubutton .menuicon {
    height:100%;
    width:100%;
    background:url(../../assets/messageicons.png);
    background-position: 1px -97px;
}
.chatbox_menu {
    position:absolute;
    left:5px;
    bottom:50px;
    width:115px;
    border:1px solid #e5e5e5;
    background-color:#ffffff;
    border-radius:6px;
    font-size:12px;
    padding:5px;
    display:none;
}
.chatbox_menu .chatbox_fileupload, .chatbox_math, .chatbox_code, .chatbox_event {
    cursor:pointer;
}
.chatbox_menu .chatbox_fileupload:hover, .chatbox_math:hover, .chatbox_code:hover, .chatbox_event:hover {
    text-decoration: underline; 
}

.chatbox_menu_icon {
    width:12px;
    height:10px;
    background:url(../../assets/messageicons.png);
    background-size:96px;
    display:inline-block;
}

.chatbox_fileupload .chatbox_menu_icon {
    background-position:-7px -46px;
}
.chatbox_math .chatbox_menu_icon {
    background-position:-67px -46px;
}

.chatbox_code .chatbox_menu_icon {
    background-position:-46px -46px;
}

.chatbox_event .chatbox_menu_icon {
    background-position:-24px -46px;
}


.textarea_menubutton:hover {
    background-image: -webkit-linear-gradient(#ededed, #fafafa);
    background-image: linear-gradient(#ededed, #fafafa);
}

#messaging_panel {
    width: 235px;
    height: 55%;
    overflow: scroll;
    position:fixed;
    bottom:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-top:3px solid #c0c0c0;
    -moz-box-shadow:0 -2px 0 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:0 -2px 0 0 rgba(0,0,0,0.1);
    box-shadow:0 -2px 0 0 rgba(0,0,0,0.1);
    background:url(../../assets/noise_bg.gif);
}

#messaging_pic {
    float: left;
    margin-top:15px;
    margin-left:10px;
    width: 35px;
    height: 35px;
    border-radius:50%;
    background-size: cover;
}


#messaging_button {
    margin-top:18px;
    float:  right;
    width: 125px;
    height: 40px;
    cursor: pointer;
}

#messaging_button #messages_arrow_icon {
    width:15px;
    height:18px;
    background:url(../../assets/messageicons.png);
    float:left;
    background-position:-32px -98px;
}

#messaging_panel #header {
    width:100%;
    height: 60px;
    border-bottom:1px solid #d7d7d7;
    padding-bottom:10px;
    margin-bottom:20px;
}

button#compose {
    float:left;
    margin-top:15px;
    margin-left:10px;
    width:30px;
    height:30px;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(#fafafa, #ededed);
    background-image: linear-gradient(#fafafa, #ededed);
    border:1px solid #e5e5e5;
    -moz-transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
}
button#compose:hover {
    background-image: -webkit-linear-gradient(#ededed, #fafafa);
    background-image: linear-gradient(#ededed, #fafafa);
}
button#compose .composeicon {
    background:url(../../assets/messageicons.png);
    height:100%;
    width:100%;
    background-position:-30px -2px;
}

#onlinecounter {
    position:absolute;
    top:58px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    background:url(../../assets/noise_bg.gif);
    border-radius:2px;
    border:1px solid #e5e5e5;
    width:102px;
    font-size:10px;
    color:#777777;
    padding:4px;
    text-align:center;
}

span#newmessages {
    color:#ffffff;
    background-color:#ff0000;
    width:20px;
    margin-top:4px;
    font-size:11px;
    border-radius:8px;
    float:left;
    text-align:center;
}

#messaging_panel #messaging_pic {
    background-repeat: no-repeat;
}

#messaging_panel #header #messaging_button_text {
    color:#575757;
    float:left;
    margin-left:5px;
}


#messaging_panel #messaging_list {
    height:auto;
}

#messaging_list .slimScrollBar {
    background-color:#222!important;
}

#messaging_list .slimScrollRail {
    background-color:rgba(139, 139, 139, 0.6)!important;
}

#messaging_panel #footer {
    height:50px;
    padding-top:5px;
    border-top:1px solid #d7d7d7;
    position:absolute;
    bottom:0;
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

input#searchinputfooter, #composebuttonfooter {
    float:left;
    font-size:13px;
    height:100%;
    padding-top:10px;
    cursor:pointer;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

input#searchinputfooter {
    border:none;
    background:none;
    width:80%;
    color:#777777;
    padding:0;
    font-size:13px;
}
input#searchinputfooter::-webkit-input-placeholder {
   color:#777777;
}
input#searchinputfooter:-moz-placeholder { /* Firefox 18- */
   color:#777777;  
}
input#searchinputfooter::-moz-placeholder {  /* Firefox 19+ */
   color:#777777; 
}
input#searchinputfooter:-ms-input-placeholder {  
   color:#777777;  
}


#searchbuttonfooter {
    padding-top:10px;
    width:55%;
    float:left;
}
#composebuttonfooter {
    width:-moz-calc(45% - 1px);
    width:-webkit-calc(45% - 1px);
    width:-o-calc(45% - 1px);
    width: calc(45% - 1px);
    border-left:1px solid #d7d7d7;
    color: #4fb7dd;
    font-weight:100;
}

#searchicon {
    background:url(../../assets/messageicons.png);
    height:17px;
    width:17px;
    float:left;
    background-position:-9px -26px;
    margin-right:8px;
}

#composeicon {
    background:url(../../assets/messageicons.png);
    height:15px;
    width:15px;
    display:inline-block;
    background-position:-9px -6px;
    margin-left:6px;
    margin-right:6px;
}

#messaging_panel .messaging_list_item_pic {
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#messaging_panel .messaging_list_item {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 5px 0px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
}

#messaging_panel .messaging_list_item_left_holder {
    float: left;
    width: 20%;
}

#messaging_panel .message_list_item_right_holder {
    float: right;
    width: 70%;
}


#messaging_panel .messaging_list_item_name {
    margin-top:6px;
    font-weight:bold;
}


#messaging_panel .online_indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #0f9d28;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
    margin-top: 25px;
    cursor:pointer;
}

.online_indicator .online_menu {
    position:absolute;
    top:15px;
    display:none;
    left:-10px;
    width:150px;
    border:1px solid #e5e5e5;
    background-color:#ffffff;
    border-radius:6px;
    font-size:12px;
    padding:5px;
    z-index:999999;
    -moz-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
}

.online_menu .online_option {
    width:100%;
    padding:5px;
    font-weight:100;
    color:#999999;
    cursor:pointer;
}

.online_menu .online_option:hover {
    text-decoration: underline;
}


#extra_chat_boxes {
    width: 80px;
    height: 40px;
    background-color: white;
    cursor: pointer;
}


#extra_chat_boxes #extra_chat_boxes_list {
      height: auto;
      position: fixed;
      bottom: 50px;
      width: 100px;
}

.extra_chat_box {
  height: 20px;
  width: 100px;
  padding: 0px;
  margin: 0;
}

#extra_chat_boxes_count {
  position: relative;
  bottom: 30px;
  left: 50px;
}


#messaging_content {
    margin: 0px auto;
    width: 1100px;
    height: 100%;
}

#messaging_list_recent_header, #messaging_list_class_header, #messaging_list_group_header, #messaging_list_custom_header {
    text-transform:uppercase;
    color:#838383;
    font-size:14px;
    padding:5px 0px;
    font-family:Avenir;
    font-weight:500;
    font-size:13px;
    -webkit-font-smoothing:antialiased;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#messaging_left_panel {
    width: 240px;
    float: left;
}


#messaging_back_button {
    height: 100px;
    cursor: pointer;
    padding-top: 25px;
    text-align:center;
    font-weight:100;
}

#messaging_back_button .back_icon {
    background:url(../../assets/messageicons.png);
    width:20px;
    height:21px;
    background-position:-58px -95px;
    position:absolute;
    top:69px;
    left:126px;
}



.chat_box#chat_panel {
    width: 860px;
    height: 560px;
    background-color: #ffffff;
    position:absolute;
    top:55px;
    left:340px;
    overflow:hidden;
}


#chat_panel_text {
    width: 100%;
    height: 465px;
}

#chat_panel textarea.chat_input {
    width:-moz-calc(100% - 35px);
    width:-webkit-calc(100% - 35px);
    width:-o-calc(100% - 35px);
    width: calc(100% - 35px);
}

#chat_panel .textarea_menubutton {
    width:30px;
}

#chat_panel .textarea_wrap {
    border-radius:0;
}

#chat_panel .chat_box_text {
    padding:15px;
}

#chat_panel .this_user_message, #chat_panel .other_user_message {
    text-align:left;
    padding-left:40px;
    position:relative;
    margin:10px 0px;
}

#chat_panel .user_message_picture {
    margin-top:0px;
    left:0px;
    width:35px;
    height:35px;
    background-color:#000000;
}

#chat_panel span.message_sent_time {
    position:absolute;
    right:0px;
}

#chat_panel span.this_user_name {
    margin-left:0px;
}

#chat_panel .chat_header {
    width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
    width:-o-calc(100% - 20px);
    width: calc(100% - 20px);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:10px;
    border-bottom:3px solid #c0c0c0;
    overflow:auto;
    padding-bottom:5px;
}

.chat_header span.chat_user_name {
    font-weight:bold;
    float:left;
    font-size:20px;
}

.chat_header .online_indicator {
    margin-top:10px;
    margin-left:10px;
    float:left;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #0f9d28;
    cursor:pointer;
}

.chat_header .add_button {
    float:left;
    margin-top:5px;
    height:20px;
    width:20px;
    background:url(../../assets/messageicons.png);
    margin-left:20px;
    background-position: -74px -4px;
}

.chat_header .dotdotdot_button {
    float:right;
    height:20px;
    width:45px;
    margin-top:5px;
    background:url(../../assets/messageicons.png);
    background-position:-84px -100px;
}

#chat_panel #chat_search_wrap {
    border:1px solid #e5e5e5;
    border-radius:3px;
    width:25%;
    height:25px;
    float:right;
    margin-right:15px;
    overflow:hidden;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#chat_search_wrap .chat_search_icon {
    height:25px;
    width:25px;
    float:left;
    background:url(../../assets/messageicons.png);
    background-position: -80px -76px;
}

#chat_search_wrap input.chat_search {
    border:none;
    float:left;
    width:-moz-calc(100% - 25px);
    width:-webkit-calc(100% - 25px);
    width:-o-calc(100% - 25px);
    width: calc(100% - 25px);
    height:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:#999999;
    font-weight:100;
    font-size:13px;
}

#messaging_left_panel.messaging_view #messaging_panel {
    height:82%;
}

#messaging_left_panel.messaging_view #messaging_button {
    display:none;
}