.autogrow {
    /*overflow: hidden;*/
}

.chat_box {
    width: 210px;
    height: 270px;
    background-color:#ffffff;
    bottom:-10px !important;
    border-radius:6px;
    border:1px solid #e5e5e5;
    -moz-box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
    box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
}

.chat_box_text {
    overflow-y: scroll;
    width: 100%;
    height: 180px;
    padding:8px;
    padding-top:12px;
    font-size:12px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.chat_box_top {
    width:-moz-calc(100% - 10px);
    width:-webkit-calc(100% - 10px);
    width:-o-calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 0 5px;
    padding: 5px;
    font-size:14px;
    border-bottom:1px solid #d7d7d7;
    padding-bottom:15px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.chat_box_date {
    border:1px solid #d7d7d7;
    border-radius:2px;
    background-color:#ffffff;
    color:#d7d7d7;
    font-size:10px;
    position:absolute;
    margin-top:-10px;
    margin-right:auto;
    margin-left:auto;
    right:0;
    left:0;
    color:#777777;
    padding:2px;
    width:100px;
    text-align:center;
}

.chat_box_buttons {
    position:absolute;
    top:8px;
    right:8px;
}

.chat_box_close_button {
    cursor:pointer;
    background:url(../../assets/alert.png);
    background-size:100%;
    width:15px;
    height:15px;
    display:inline-block;
}

.chat_box_expand_button {
    cursor:pointer;
    background:url(../../assets/alert.png);
    background-size:100%;
    width:15px;
    height:15px;
    display:inline-block;
}

.chat_box_add_button {
    cursor:pointer;
    background:url(../../assets/alert.png);
    background-size:100%;
    width:15px;
    height:15px;
    display:inline-block;
}

.this_user_message {
    padding:5px 0px;
    text-align:right;
}

span.user_name {
    display:inline-block;
    font-weight:bold;
    font-size:12px;
}
span.message_sent_time {
    display:inline-block;
    font-weight:100;
    color:#d7d7d7;
    font-size:12px;
}

.user_image {

}
.message_content {

}

.other_user_message {
    text-align:left;
}

.textarea_wrap {
    border-radius:6px;
    border:1px solid #e5e5e5;
    -moz-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);
    width: 100%;
    height:30px;
    overflow:hidden;
    margin:5px;
    width:-moz-calc(100% - 10px);
    width:-webkit-calc(100% - 10px);
    width:-o-calc(100% - 10px);
    width: calc(100% - 10px);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

textarea.chat_input {
    resize:none; 
    width:-moz-calc(85% - 5px);
    width:-webkit-calc(85% - 5px);
    width:-o-calc(85% - 5px);
    width: calc(85% - 5px);
    float:left;
    border:none;
}

.textarea_menubutton {
    width:15%;
    float:left;
    height:100%;
    margin-top:0px;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(#fafafa, #f8f8f8);
    background-image: linear-gradient(#fafafa, #f8f8f8);
    border-right:1px solid #e5e5e5;
    -moz-transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor:pointer;
}
.chatbox_menu {
    position:absolute;
    left:5px;
    bottom:55px;
    width:100px;
    height:68px;
    border:1px solid #e5e5e5;
    background-color:#ffffff;
    border-radius:6px;
    font-size:12px;
    padding:5px;
    display:none;
}
.chatbox_menu .chatbox_fileupload, .chatbox_math, .chatbox_code, .chatbox_event {
    cursor:pointer;
}
.chatbox_menu .chatbox_fileupload:hover, .chatbox_math:hover, .chatbox_code:hover, .chatbox_event:hover {
    margin-left:5px;
    -webkit-transition: ease-out .1s;
    -moz-transition: ease-out .1s;
    -o-transition: ease-out .1s;
    transition: ease-out .1s;
}

.textarea_menubutton:hover {
    background-image: -webkit-linear-gradient(#ededed, #fafafa);
    background-image: linear-gradient(#ededed, #fafafa);
}

#messaging_panel {
    width: 235px;
    height: 55%;
    overflow: scroll;
    position:fixed;
    bottom:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-top:3px solid #c0c0c0;
    -moz-box-shadow:0 -2px 0 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:0 -2px 0 0 rgba(0,0,0,0.1);
    box-shadow:0 -2px 0 0 rgba(0,0,0,0.1);
    background:url(../../assets/noise_bg.gif);
}

#messaging_pic {
    float: left;
    margin-top:10px;
    margin-left:10px;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-size: cover;
}


#messaging_button {
    margin-top:18px;
    float:  right;
    width: 115px;
    height: 40px;
    cursor: pointer;
}

#messaging_panel #header {
    width:100%;
    height: 60px;
    border-bottom:1px solid #d7d7d7;
    padding-bottom:10px;
    margin-bottom:20px;
}

button#compose {
    float:left;
    margin-top:15px;
    margin-left:10px;
    width:30px;
    height:30px;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(#fafafa, #ededed);
    background-image: linear-gradient(#fafafa, #ededed);
    border:1px solid #e5e5e5;
    -moz-transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 50ms cubic-bezier(0.4, 0, 0.2, 1), border-color 50ms cubic-bezier(0.4, 0, 0.2, 1);
}
button#compose:hover {
    background-image: -webkit-linear-gradient(#ededed, #fafafa);
    background-image: linear-gradient(#ededed, #fafafa);
}
button#compose .composeicon {
    background:url(../../assets/messageicons.png);
    height:100%;
    width:100%;
    background-position:-30px -2px;
}

#onlinecounter {
    position:absolute;
    top:58px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    background:url(../../assets/noise_bg.gif);
    border-radius:2px;
    border:1px solid #e5e5e5;
    width:102px;
    font-size:10px;
    color:#777777;
    padding:4px;
    text-align:center;
}

span#newmessages {
    color:#ffffff;
    background-color:#ff0000;
    width:20px;
    margin-top:-8px;
    font-size:11px;
    border-radius:8px;
    display:inline-block;
    text-align:center;
}

#messaging_panel #messaging_pic {
    background-repeat: no-repeat;
}

#messaging_panel #header #messaging_button_text {
    color:#303030;
    display:inline-block;
    margin-left:5px;
}


#messaging_panel #messaging_list {
    overflow-y: scroll;
    height:-moz-calc(100% - 145px);
    height:-webkit-calc(100% - 145px);
    height:-o-calc(100% - 145px);
    height: calc(100% - 145px);
}

#messaging_panel #footer {
    height:50px;
    padding-top:5px;
    border-top:1px solid #d7d7d7;
    position:absolute;
    bottom:0;
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#searchbuttonfooter, #composebuttonfooter {
    float:left;
    font-size:13px;
    height:100%;
    padding-top:15px;
    cursor:pointer;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
#searchbuttonfooter {
    width:55%;
    color:#777777;
}
#composebuttonfooter {
    width:-moz-calc(45% - 1px);
    width:-webkit-calc(45% - 1px);
    width:-o-calc(45% - 1px);
    width: calc(45% - 1px);
    border-left:1px solid #d7d7d7;
    color: #4fb7dd;
    font-weight:100;
}

#searchicon {
    background:url(../../assets/messageicons.png);
    height:15px;
    width:15px;
    display:inline-block;
    background-position:-9px -25px;
    margin-right:8px;
}

#composeicon {
    background:url(../../assets/messageicons.png);
    height:15px;
    width:15px;
    display:inline-block;
    background-position:-9px -6px;
    margin-left:6px;
    margin-right:6px;
}

#messaging_panel .messaging_list_item_pic {
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#messaging_panel .messaging_list_item {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
}

#messaging_panel .messaging_list_item_left_holder {
    float: left;
    width: 20%;
}

#messaging_panel .message_list_item_right_holder {
    float: right;
    width: 70%;
}


#messaging_panel .messaging_list_item_name {
    margin-top:6px;
    font-weight:bold;
}


#messaging_panel .online_indicator {
    float: left;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: green;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    margin-top: 15px;
}



#extra_chat_boxes {
    width: 80px;
    height: 40px;
    background-color: white;
    cursor: pointer;
}


#extra_chat_boxes #extra_chat_boxes_list {
      height: auto;
      position: fixed;
      bottom: 50px;
      width: 100px;
}

.extra_chat_box {
  height: 20px;
  width: 100px;
  padding: 0px;
  margin: 0;
}

#extra_chat_boxes_count {
  position: relative;
  bottom: 30px;
  left: 50px;
}


#messaging_content {
    margin: 0px auto;
    width: 1100px;
    height: 100%;
}

#messaging_list_recent_header, #messaging_list_class_header, #messaging_list_group_header, #messaging_list_custom_header {
    text-transform:uppercase;
    color:#999999;
    font-size:14px;
    padding:5px 10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#messaging_left_panel {
    width: 240px;
    float: left;
}


#messaging_back_button {
    height: 100px;
    cursor: pointer;
    padding-top: 50px;
    background-color: green;
}



.chat_box#chat_panel {
    width: 860px;
    height: 600px;
    background-color: wheat;
    float: left;
}


#chat_panel_text {
    width: 100%;
    height: 570px;
}

#chat_panel_input {
    width: 100%;
    height: 30px;

    position: relative;
    bottom: 0px;
    left: 0px;
}