.autogrow {
    /*overflow: hidden;*/
}


#messaging_pic {
    float: left;
    width: 50px;
    height: 50px;
    background-size: cover;
}


#messaging_button {
    float:  right;
    width: 100px;
    height: 40px;
    background-color: yellow;
    cursor: pointer;
}

.chat_box {


    width: 210px;
    height: 255px;
}

.chat_box_text {
    overflow-y: scroll;
    width: 100%;
    height: 190px;
    background-color:#e0e1e2;
}

.chat_input {
    width: 100%;
}

#messaging_panel {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#messaging_panel #header {
    width: 100%;
    height: 60px;
    background-color: black;
}

#messaging_panel #messaging_pic {
    background-repeat: no-repeat;
}

#messaging_panel #header #messaging_button_text {
    color:red;
}


#messaging_panel #messaging_list {
    overflow-y: scroll;
    height: 2500px;
    background-color: #BA2121;
}


#messaging_panel .messaging_list_item_pic {
    width: 25px;
    height: 25px;
    background-size: cover;
    margin: 0px;
    padding: 0px;




    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#messaging_panel .messaging_list_item {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

#messaging_panel .messaging_list_item_left_holder {
    float: left;
    width: 20%;
}

#messaging_panel .message_list_item_right_holder {
    float: right;
    width: 70%;
}


#messaging_panel .messaging_list_item_name {

}


#messaging_panel .online_indicator {
    float: left;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: green;

    float: left;
    margin: 0px;
    padding: 0px;


    margin-left: 15px;
    margin-top: 15px;
}



#extra_chat_boxes {
    width: 80px;
    height: 40px;
    background-color: white;
    cursor: pointer;
}


#extra_chat_boxes #extra_chat_boxes_list {
      height: auto;
      position: fixed;
      bottom: 50px;
      width: 100px;
}

.extra_chat_box {
      height: 20px;
  width: 100px;
  padding: 0px;
  margin: 0;
}

#extra_chat_boxes_count {
  position: relative;
  bottom: 30px;
  left: 50px;
}




.chat_box_top {
    width: 100%;
    height: 30px;
}

.chat_box_close_button {
    width: 20px;
    height: 20px;

}


#messaging_content {
    margin: 0px auto;
    width: 1100px;
    height: 100%;
}


#messaging_left_panel {
    width: 240px;
    float: left;
}


#messaging_back_button {
    height: 100px;
    cursor: pointer;
    padding-top: 50px;
    background-color: green;
}



#chat_panel {
    width: 860px;
    height: 600px;
    background-color: wheat;
    float: left;
}


#chat_panel_text {
    width: 100%;
    height: 570px;
}

.chat_input {
    height: 30px;
}

#chat_panel_input {
    width: 100%;
    height: 30px;

    position: relative;
    bottom: 0px;
    left: 0px;
}