body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    background-color: #d8d8d8;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    background: #d8d8d8 url(src/noise-2.png);
}


#banner {
    position: fixed;
    height: 50px;
    width: auto;
    min-width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 2000;
    background: -webkit-linear-gradient(#323232 65.8%, #252525 100%); /* For Safari */
    background: -o-linear-gradient(#323232 65.8%, #252525 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#323232 65.8%, #252525 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#323232 65.8%, #252525 100%); /* Standard syntax (must be last) */
}


    #banner #logo {
        height: 40px;
        width: 250px;
        position: absolute;
        left: 7%;
        top: 4px;
        color: white;
        font-family: "Open Sans";
        font-size: 1em;
    }

        #banner #logo img {
            width: 145px;
            height: 100%;
            float: left;
        }

        #banner #logo span {
            position: absolute;
            top: 10px;
            left: 90px;
            width: 100%;
        }

    #banner #cicon {
        width: 145px;
        height: 45px;
        position: absolute;
        left: 33%;
        margin: auto;
        top: 0px;
        bottom: 0px;
        line-height: 45px;
        font-size: 18px;
        font-family: "Open Sans";
    }

        #banner #cicon img {
            width: 45px;
            height: 45px;
            float: left;
        }

    #banner #uicon {
        width: 30px;
        position: absolute;
        left: -40px;
        margin: auto;
        top: 0px;
        bottom: 0px;
    }

    #banner #searchwrap {
        position: absolute;
        left: 60%;
        top: 0px;
        width: 330px;
        height: 100%;
        top: 0px;
        bottom: 0px;
        margin: auto;
    }

        #banner #searchwrap #ticon {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0px;
            margin: auto;
            top: 0px;
            bottom: 0px;
        }

        #banner #searchwrap #search {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
            height: 25px;
            width: 250px;
            line-height: 25px;
            z-index: 65;
            padding-left: 10px;
            padding-right: 25px;
            font-size: 14px;
            -webkit-border-radius: 3.5px;
            -moz-border-radius: 3.5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            resize: none;
            outline: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        #banner #searchwrap #sicon {
            width: 22px;
            height: 22px;
            position: absolute;
            left: 260px;
            z-index: 70;
            margin: auto;
            top: 0px;
            bottom: 0px;
        }

#banner-bottom {
    position: fixed;
    z-index: 180;
    height: 60px;
    width: auto;
    min-width: 100%;
    left: 0px;
    top: 47.4px;
    right: 0px;
}

#calendar {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    margin-top: 15px;
    position: absolute;
    width: 1040px;
    top: -67px;
    //right:0px;
    //margin: auto;
}

.cal_wrapper {
    width: 1040px;
    border-radius: 6px;
    height: 562px;
    background-color: #FFFFFF;
    border: 1px solid;
    position: relative;
    border: none;
}

.cal_border {
    border-radius: 9px; /* Safari 5.1 to 6.0 */ /* For Opera 11.6 to 12.0 */ /* For Firefox 3.6 to 15 */
    padding: 2px;
    padding-bottom: 0px;
}



#goback {
    position: absolute;
    top: 11px;
    left: 117px;
    height: 35px;
    width: 40px;
    background-color: rgb(104, 104, 104);
    border-radius: 12px;
    opacity: .7;
}

    #goback:hover {
        position: absolute;
        top: 11px;
        left: 60px;
        height: 40px;
        width: 50px;
        background-color: rgb(104, 104, 104);
        border-radius: 12px;
        opacity: .92;
    }

    #goback img {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        height: 30px;
        width: 30px;
    }

#dropdown {
    position: absolute;
    left: 55.6%;
    top: 10px;
    z-index: 120;
    border: 1px solid #545454;
    border-radius: 5px;
}

#d-head {
    height: 40px;
    width: 160px;
    background-color: #4a4949;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
    font-family: "Open Sans";
}

.dropdown {
    display: none;
    white-space: nowrap;
    overflow: hidden;
}

    .dropdown div {
        height: 30px;
        width: 160px;
        background-color: #4a4949;
        line-height: 30px;
        text-align: center;
        font-size: 1em;
        font-family: "Open Sans";
        border-top: 1px solid white;
    }

#dropdown #rightarrow {
    position: absolute;
    right: -35px;
    top: 6px;
    opacity: 0.75;
}

#dropdown #currentselection {
    height: 40px;
    white-space: nowrap;
    color: white;
    position: absolute;
    left: 210px;
    top: 0px;
    background-color: #545454;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
    font-family: "Open Sans";
    display: none;
    padding-left: 10px;
    padding-right: 10px;
}

.d-last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.fc-day-header {
    height: 20px!important;
    line-height: 20px!important;
    background-color: rgba(125, 133, 138, 0.0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.fc-content {
    z-index: 0;
    margin-top: 51px;
}

.fc-header-left {
    color: #686868;
    font-size: 1.1em;
}
/*
.fc-button
{
background-color: #686868;
background-image:none;
border-radius: 4px;
border: none;
cursor: pointer;
color: white;
-webkit-box-shadow: none;
}
*/


#calendar-end {
    position: absolute;
    height: 50px;
    width: 600px;
    display: none;
}

#event-new {
    position: relative;
    height: 65px;
    width: 190px;
    border-radius: 5px;
    background-color: #f6f7f8;
    border: 1px solid #e9eaed;
    margin-top: 10px;
    margin-left: 30px;
}

#button-border {
    height: 70px;
    width: 250px;
}

#event-new #newevent-button {
    width: 150px;
    height: 40px;
    margin-left: 50px;
    margin-top: 15px;
    font-family: "Open Sans";
    background-color: #68a74c;
    border-radius: 4px;
    border: 2px solid #23916a;
    cursor: pointer;
    display: block;
    color: white;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    text-align: center;
    font-size: 1.1em;
}

    #event-new #newevent-button:hover {
        background-color: #4FC31B;
    }

    #event-new #newevent-button:active {
        box-shadow: inset 0px 0px 15px 0px #34AA00;
    }

#create-form {
    height: 315px;
    width: 290px;
    background-color: #c1c0c3;
    font-family: "Open Sans";
    border: 2pt solid #adabab;
    display: none;
    margin-left: -28px;
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
}

    #create-form .cf-head {
        height: 32px;
        width: 280px;
        margin-right: auto;
        font-weight: 300;
        margin-left: auto;
        padding-left: 10px;
        line-height: 32px;
        font-size: 19px;
        background-color: #1fbcee;
    }

        #create-form .cf-head img {
            float: right;
            height: 26px;
            width: 26px;
            margin-right: 3px;
            margin-top: 3px;
            opacity: .7;
        }

            #create-form .cf-head img:hover {
                float: right;
                height: 26px;
                width: 26px;
                margin-right: 3px;
                margin-top: 3px;
                opacity: 1;
            }

    #create-form #nevt-title {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #create-form #nevt-desc {
        resize: none;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        height: 50px!important;
        line-height: 25px!important;
    }


    #create-form #nevt-st {
        margin-top: 12px;
        width: 200px;
        float: right;
        margin-right: 5px;
    }

#sttext {
    float: left;
    font-size: 1.4em;
    margin-top: 16px;
    margin-left: 8px;
}

#edtext {
    float: left;
    font-size: 1.4em;
    margin-top: 32px;
    margin-left: 8px;
}

#create-form #nevt-ed {
    margin-top: 12px;
    width: 200px;
    float: right;
    margin-right: 5px;
}

#create-form #nevt-grouptag {
    float: left;
    margin-top: 13px;
    width: 120px;
    margin-left: 12px;
    margin-right: 10px;
}

#gt-head {
    height: 31px;
    width: 120px;
    background-color: #4a4949;
    border-radius: 4px;
    line-height: 31px;
    text-align: center;
    font-size: 1.1em;
    font-family: "Open Sans";
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
}

.gtdropdown {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    height: 22px;
    width: 130px;
    background-color: #4a4949;
    line-height: 22px;
    text-align: center;
    font-size: 0.95em;
    font-family: "Open Sans";
    border-top: 1px solid white;
}

    .gtdropdown div {
        height: 22px;
        width: 130px;
        background-color: #4a4949;
        line-height: 22px;
        text-align: center;
        font-size: 0.95em;
        font-family: "Open Sans";
        border-top: 1px solid white;
    }

.gt-last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


#create-form #nevent-button {
    margin-top: 12px;
    margin-right: 5px;
    float: right;
    height: 42px;
    width: 115px;
    font-family: "Open Sans";
    text-shadow: 0 -1px 1px rgba(253, 253, 253, 0.35);
    background-color: #68a74c;
    border-radius: 2px;
    border: 2px solid #23916a;
    font-weight: 600;
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    font-size: 12.88px;
}

    #create-form #nevent-button:hover {
        background-color: #4FC31B;
    }

    #create-form #nevent-button:active {
        box-shadow: inset 0px 0px 15px 0px #34AA00;
    }

#tip {
    position: relative;
    z-index: -10;
    margin-top: 200px;
    margin-left: 22px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.45);
    border-radius: 2px;
    border: 2px solid black;
    width: 240px;
    background-color: rgb(245, 166, 113);
    height: 67px;
    font-size: 11px;
    color: #1d1d1d;
    font-weight: 400;
    padding-left: 6px;
    line-height: 13px;
    padding-top: 12px;
}


    #tip img {
        position: absolute;
        top: 2px;
        left: 60px;
    }

    #tip #tipcontent {
        position: absolute;
        top: 35px;
    }

.nevt-input {
    height: 39px;
    width: 277px;
    line-height: 39px;
    font-size: 14px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border-radius: 3px;
    border: 1pt solid #585858;
}


.eventinfo {
    position: relative;
    z-index: 75;
    margin-bottom: 15px;
    height: auto;
    width: 290px;
    background-color: #c1c0c3;
    font-family: "Open Sans";
    border: 2pt solid #adabab;
    margin-left: -28px;
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    padding-bottom: 23px;
}

.ei-head {
    height: 32px;
    width: 280px;
    margin-right: auto;
    font-weight: 300;
    margin-left: auto;
    padding-left: 10px;
    line-height: 32px;
    font-size: 19px;
    background-color: #1fbcee;
}

    .ei-head img {
        float: right;
        height: 26px;
        width: 26px;
        margin-right: 3px;
        margin-top: 3px;
        opacity: .7;
    }

        .ei-head img:hover {
            opacity: 1;
        }

.e-timeinfo {
    height: 30px;
    width: 280px;
    line-height: 30px;
    margin: 0 auto;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

    .e-timeinfo .stoe {
        width: auto;
        white-space: nowrap;
        background-color: #f3f3f3;
        display: inline-block;
    }

.state {
    float: right;
    margin-right: 5px;
    display: inline-block;
}

.groupcontent {
    height: auto;
    width: 280px;
    margin: 15px auto;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

.gc-head {
    height: 25px;
    width: 270px;
    line-height: 25px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.etag {
    float: left;
    margin-left: 5px;
    margin-top: -20px;
    height: 30px;
    line-height: 30px;
    background-color: #545454;
    border-radius: 4px;
    font-size: 0.85em;
    color: white;
    padding-right: 5px;
    white-space: nowrap;
    margin-bottom: 5px;
}

    .etag img {
        float: left;
        margin: 5px 3px;
        height: 17px;
        width: 17px;
    }

    .etag div {
        line-height: 30px;
    }

.ot {
    font-size: 0.85em;
    margin-top: 25px;
    margin-left: 3px;
    height: 20px;
    width: 20px;
}

.contenttail {
    margin-top: 11px;
    border-top: 1px solid #ccc;
    padding: 3px 3px 3px 3px;
}

    .contenttail img {
        height: 30px;
        width: 30px;
        margin-top: 3px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .contenttail .ct-viewmore {
        margin-top: 3px;
        margin-right: 5px;
        margin-bottom: 5px;
        height: 30px;
        width: 90px;
    }


.editevt {
    height: 25px;
    font-family: "Open Sans";
    text-shadow: 0 -1px 1px rgba(253, 253, 253, 0.35);
    background-color: #68a74c;
    border-radius: 2px;
    border: 2px solid #23916a;
    font-weight: 600;
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    font-size: 12.88px;
    margin-top: -8.5px;
    margin-left: 55px;
    float: left;
    width: 60px;
    line-height: 18px;
    font-family: "Open Sans";
}

    .editevt:hover {
        background-color: #4FC31B;
    }

    .editevt:active {
        box-shadow: inset 0px 0px 15px 0px #34AA00;
    }

.doneedit {
    height: 25px;
    font-family: "Open Sans";
    text-shadow: 0 -1px 1px rgba(253, 253, 253, 0.35);
    background-color: #68a74c;
    border-radius: 2px;
    border: 2px solid #23916a;
    font-weight: 600;
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    font-size: 12.88px;
    margin-top: -8.5px;
    margin-left: 25px;
    float: left;
    width: 90px;
    line-height: 18px;
    font-family: "Open Sans";
}

    .doneedit:hover {
        background-color: #4FC31B;
    }

    .doneedit:active {
        box-shadow: inset 0px 0px 15px 0px #34AA00;
    }

.rmvevt {
    height: 25px;
    font-family: "Open Sans";
    text-shadow: 0 -1px 1px rgba(253, 253, 253, 0.35);
    background-color: #68a74c;
    border-radius: 2px;
    border: 2px solid #23916a;
    font-weight: 600;
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    font-size: 12.88px;
    margin-top: -8.5px;
    margin-left: 55px;
    float: left;
    width: 80px;
    line-height: 18px;
    font-family: "Open Sans";
}

    .rmvevt:hover {
        background-color: #4FC31B;
    }

    .rmvevt:active {
        box-shadow: inset 0px 0px 15px 0px #34AA00;
    }

.originalid {
    display: none;
}

.evt-ready-edit {
    color: #F0544E;
    cursor: pointer;
    text-decoration: underline;
}

.editor {
    position: absolute;
    z-index: -1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 50px;
    width: 220px;
    top: 5px;
    left: -222px;
    background-color: rgb(193, 192, 195);
    border: 2pt solid rgb(173, 171, 171);
    border-right: none;
    display: none;
}

    .editor .editorinput {
        float: left;
        width: 170px;
        height: 20px;
        line-height: 20px;
        margin-top: 2px;
        margin-left: 4px;
        padding-left: 2px;
        white-space: nowrap;
    }

    .editor .editor-name {
        float: left;
        width: 170px;
        height: 20px;
        line-height: 20px;
        margin-top: 2px;
        margin-left: 4px;
        padding-left: 2px;
    }

    .editor .editorcancel {
        height: 20px;
        width: 20px;
        float: right;
        margin-right: 3px;
        margin-top: 2px;
    }

    .editor .editorok {
        height: 24px;
        font-family: "Open Sans";
        text-shadow: 0 -1px 1px rgba(253, 253, 253, 0.35);
        background-color: #68a74c;
        border-radius: 2px;
        border: 2px solid #23916a;
        font-weight: normal;
        cursor: pointer;
        display: block;
        color: white;
        text-align: center;
        font-size: 12.88px;
        float: right;
        margin-top: 2px;
        margin-right: 3px;
        width: 32px;
        line-height: 14px;
        font-family: "Open Sans";
    }

        .editor .editorok:hover {
            background-color: #4FC31B;
        }

        .editor .editorok:active {
            box-shadow: inset 0px 0px 15px 0px #34AA00;
        }



.edittag {
    position: absolute;
    top: 112px;
    left: -115px;
    width: 130px;
    height: auto;
    background-color: rgb(84, 84, 84);
}

.edtdropdown {
    white-space: nowrap;
    overflow: hidden;
    height: 22px;
    width: 130px;
    background-color: #4a4949;
    line-height: 22px;
    text-align: center;
    font-size: 0.95em;
    font-family: "Open Sans";
    border-top: 1px solid white;
}

    .edtdropdown div {
        height: 22px;
        width: 130px;
        background-color: #4a4949;
        line-height: 22px;
        text-align: center;
        font-size: 0.95em;
        font-family: "Open Sans";
        border-top: 1px solid white;
    }

.edtg-last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.wrapper {
    float: right;
    margin-top: 3px;
}

input[type="text"] {
}

*:focus {
    outline: 0;
}

.whitehref:link {
    text-decoration: none;
    color: white;
}

.whitehref:visited {
    text-decoration: none;
    color: white;
}

.whitehref:hover {
    text-decoration: underline;
    color: #1fbcee;
}

.whitehref:active {
    text-decoration: underline;
    color: #1fbcee;
}

.bluehref:link {
    text-decoration: none;
    color: #1fbcee;
}

.bluehref:visited {
    text-decoration: none;
    color: #1fbcee;
}

.bluehref:hover {
    text-decoration: none;
    color: #1fbcee;
}

.bluehref:active {
    text-decoration: none;
    color: #1fbcee;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #757575;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: normal;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #757575;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: normal;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #757575;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #757575;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}



.button-block {
    width: 13px;
    height: 13px;
    border-radius: 1px;
    /* TODO: prefix; */
    margin: 0 auto;
    position: relative;
    display: block;
    position: relative;
    border: 10px solid transparent;
    border-width: 1.8px;
    border-style: solid;
    cursor: pointer;
    background-color: white;
    border-color: #FF3610;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    box-sizing: border-box;
    -webkit-transition: border 600ms ease-in-out;
    -moz-transition: border 600ms ease-in-out;
    -ms-transition: border 600ms ease-in-out;
    -o-transition: border 600ms ease-in-out;
    transition: border 600ms ease-in-out;
}

    .button-block button {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30px;
        height: 30px;
        background: transparent;
        border: 0;
        margin: -15px 0 0 -15px;
        cursor: pointer;
    }

.mark {
    background-color: #F0544E;
    position: absolute;
    height: 15px;
    width: 2px;
    display: block;
    top: 7px;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

    .mark.x {
        right: 14px;
        transform: rotate(45deg); /* TODO: prefix */
        -webkit-transform: rotate(45deg); /* TODO: prefix */
    }

    .mark.xx {
        left: 14px;
        transform: rotate(-45deg); /* TODO: prefix */
        -webkit-transform: rotate(-45deg); /* TODO: prefix */
    }

.button-block.canceled {
    height: 20px;
    width: 20px;
    border-width: 3px;
    border-color: #37ef74;
}

    .button-block.canceled .mark {
        background-color: #000000;
    }

        .button-block.canceled .mark.x {
            right: 11px;
            top: 9px;
            height: 12px;
        }

        .button-block.canceled .mark.xx {
            height: 6px;
            top: 13.5px;
            left: 10.5px;
        }

.blackcanvasNew a {
    text-decoration: none;
}

#event1 {
    position: absolute;
    top: 11.3px;
    right: 161px;
    background-color: green;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#event2 {
    position: absolute;
    top: 39.3px;
    right: 161px;
    background-color: red;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#event3 {
    position: absolute;
    top: 66.3px;
    right: 161px;
    background-color: gray;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#event4 {
    position: absolute;
    top: 92.3px;
    right: 161px;
    background-color: blue;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#event5 {
    position: absolute;
    top: 118.3px;
    right: 161px;
    background-color: yellow;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#button1 {
    display: inline-block;
    display: inline;
    padding: 5px;
    margin-bottom: 0;
    argin-left: .3em;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
}

#dropdown1 {
    margin-left: 6px;
    margin-top: 0;
}

#eventIn1 {
    position: relative;
    margin-left: 2px;
    margin-right: 5px;
    top: 1px;
    background-color: green;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#eventIn2 {
    position: relative;
    margin-left: 2px;
    margin-right: 5px;
    top: 1px;
    background-color: red;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#eventIn3 {
    position: relative;
    margin-left: 2px;
    margin-right: 5px;
    top: 1px;
    background-color: gray;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#eventIn4 {
    position: relative;
    margin-left: 2px;
    margin-right: 5px;
    top: 1px;
    background-color: blue;
    display: inline-block;
    width: 13px;
    height: 13px;
}

#eventIn5 {
    position: relative;
    margin-left: 2px;
    margin-right: 5px;
    top: 1px;
    background-color: yellow;
    display: inline-block;
    width: 13px;
    height: 13px;
}

.cal-top-border {
    border: 0px solid transparent;
    border-top: 1px solid rgba(226, 226, 226, 0);
    margin-top: 56px;
}

.float-right {
    float: right;
}

.fa {
    font-size: .8em;
    line-height: 22px !important;
}


.fixed-cal-fbar {
    height: 94px;
    background-color: rgba(255, 255, 255, 1);
    width: 1044px;
    position: absolute;
    border-top: 1px solid white;
    z-index: 10;
    border-bottom: 1px solid #e2e2e2;
    margin-top: -40px;
    box-shadow: none;
}

.fixed-events-tabs {
    height: 0px;
    background-color: rgba(255, 255, 255, 1);
    width: 1044px;
    position: absolute;
    border-top: 1px solid white;
    z-index: 200;
    border-bottom: 1px solid #e2e2e2;
    margin-top: -40px;
    opacity: 0;
    box-shadow: none;
}

.group-cal-checker {
    min-width: 110px;
    min-height: 28px;
    max-width: 36.423841059%;
    max-height: 25.688073394%;
    width: 110px;
    height: 28px;
    font-size: 0.75em;
    color: white;
    position: absolute;
    top: 44px;
    left: 10px;
}



.month-events {
    position: absolute;
    border-radius: 4px;
    color: #444444;
    padding: 5px 2px;
    width: 170px;
    font-weight: 200;    
    margin-top: 51px;
    margin-left: 332px;
    font-size: 14px;
    z-index: 50;
}

.evnts-incomplete {
    display: inline-block;
    padding: 2px;
    border-radius: 600px;
    background-color: #dc0d17;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
    background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
    color: #fff;
    height: 13px;
    padding: 3px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);    
    font-size: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.66);
    float: left;
}

.incomplete-wrap {
    position: absolute;
    z-index: 12;
    height: 41px;
    width: 20px;
    margin-left: 492px;
    margin-top: 14px;
}

.btn-addevent {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline;
    color: #fff;
    text-transform: uppercase;
    min-width: 140px;
    margin-right: 9.5px;
    -webkit-border-radius: 2px;
    border-radius: 3px;
    cursor: default;
    font-size: 15px;
    font-weight: bold;
    height: 38px;
    outline: 0;
    padding: 0px 8px;
    /*width: 30px;*/
    text-align: center;
    background-color: #02e2a7;
    border-color: transparent;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    transition: .15s;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: .15s;
    background-image: none;
    margin-top: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);    
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background: #22C791 url(src/glass.png) repeat-x 0 50%;
}

    .btn-addevent:hover {
        background-color: #1ABD88;
        border-color: #389677 #14A072 #06724F;
        box-shadow: 0 1px 1px rgba(0,0,0,0.39);
        transition: all 0s;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.39);
        -moz-transition: all 0s;
        -o-transition: all 0s;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.39);
    }

    .btn-addevent:active {
        background-color: #1ABD88;
        border-color: #257A5E #0F865F #07835A;
        -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .2);
        background: #1ABD88 url(src/glass.png) repeat-x 0 50%;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    }

.evnts-incomplete {
    color: white;
    font-weight: 100;
    font-size: 11px;
    text-indent: -1px;
    text-align: center;
    margin-top: 1px;
    margin-right: 1px;
}

.month-fbtns {
    display: inline-block;
    position: absolute;
    margin-top: 6px;
    right: 190px;
    z-index: 12;
}

.ui-icon-btn {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    padding: 2px 15px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 12;
}

    .ui-icon-btn:hover {
        background-color: #eee;
        border: 1px solid #999;
        border-bottom-color: #888;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    }

    .ui-icon-btn:active {
        background: #ddd;
        border-bottom-color: #999;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    }

    .ui-icon-btn .icon {
        left: 12px;
        position: absolute;
        top: 6.5px;
        vertical-align: middle;
        border: 0;
    }

    .ui-icon-btn .icon_2 {
        left: 10px;
        position: absolute;
        top: 1px;
        vertical-align: middle;
        border: 0;
    }

    .ui-icon-btn .ui-icon-lab {       
        font-weight: 400;
        color: #444444;
        margin-bottom: 5px;
        margin-top: 8px;
        margin-left: 28px;
    }

.explain-2 {
    position: absolute;
    display: inline;
    visibility: hidden;
    z-index: 1000;
    margin-left: -100px;
    margin-top: 10px;
}

.explain-2-box {
    max-width: 182px;
    height: 92px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    border: 1px solid rgba(189, 199, 216, 1);
    background-color: #fff;
    border-radius: 1px;
    top: 35px;
    font-size: 12px;
    left: -9px;
    position: relative;
    padding-right: 4px;
}

.explain-wedge {
    background-image: url(src/wedgeUp.png);
    background-repeat: no-repeat;
    background-size: 17px;
    height: 12px;
    width: 20px;
    margin: 0 auto;
    position: relative;
    padding-right: 2px;
    margin-top: -10px;
}

.explain-2-box b {
    padding-left: 5px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.explain-2-box p {
    color: #999;
    padding-left: 5px;
    margin-top: 2px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.my-cals {
    position: relative;
    height: 65px;
    margin-left: 30px;
    width: 190px;
    margin-top: 15px;
}

.my-cals-wrap {
    padding-left: 5px;
}

.cals-header {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: rgba(84, 84, 85, 0.74);
    border-bottom: 1px solid #e2e2e2;
}

.my-club-cals {
    margin-top: 15px;
}


.radio-btn input[type="radio"], .check-box input[type="checkbox"] {
    visibility: hidden;
}
/*Custom checkbox*/
.check-box {
    width: 12px;
    height: 12px;
    cursor: pointer;
    display: inline-block;
    margin: 2px 7px 0 0;
    left: 1px;
    position: relative;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(204, 204, 204, 0.36);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(187, 228, 255, 1)), color-stop(47%, rgba(128, 199, 255, 1)), color-stop(100%, rgba(95, 204, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(187, 228, 255, 1) 0%, rgba(128, 199, 255, 1) 47%, rgba(95, 204, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(187, 228, 255, 1) 0%, rgba(128, 199, 255, 1) 47%, rgba(95, 204, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(187, 228, 255, 1) 0%, rgba(128, 199, 255, 1) 47%, rgba(95, 204, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(187, 228, 255, 1) 0%, rgba(128, 199, 255, 1) 47%, rgba(95, 204, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    border: 1px solid #50A6F7;
}

    .check-box i {
        background: url('http://cdn1.iconfinder.com/data/icons/mimiGlyphs/16/check_mark.png') no-repeat center center;
        position: absolute;
        left: 1.2px;
        bottom: -15px;
        background-size: 9px;
        width: 9px;
        height: 9px;
        opacity: .7;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        -webkit-transform: rotateZ(-180deg);
        -moz-transform: rotateZ(-180deg);
        -o-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);
    }

.checkedBox {
    -moz-box-shadow: inset 0 0 5px 1px #ccc;
    -webkit-box-shadow: inset 0 0 5px 1px #ccc;
    box-shadow: inset 0 0 5px 1px rgba(204, 204, 204, 0.25);
}

    .checkedBox i {
        bottom: 1.5px;
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

.cal-groups {
    margin-top: 6px;
    overflow: hidden;
    height: auto;
}

#check-group-cal {
    display: block;
    height: 22px;
    margin-top: 1px;
}

span.cal-group-title {
    position: relative;
    left: -5.5px;
    bottom: 2.5px;
    font-size: .96em;
    font-weight: lighter;
    color: #333333;
}

.cal-group-hider {
    position: relative;
    right: 0px;
    display: none;
    font-size: .84em;
    top: 2px;
    color: rgba(83, 87, 95, 0.29);
    font-weight: 700;
    float: right;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    cursor: pointer;
}

.cal-club-hider {
    position: relative;
    right: 0px;
    display: none;
    font-size: .84em;
    top: 2px;
    color: rgba(83, 87, 95, 0.29);
    font-weight: 700;
    float: right;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    cursor: pointer;
}

.cals-header:hover > .cal-group-hider {
    display: block;
}

.cal-group-hider:hover {
    color: rgba(83, 87, 95, 0.49);
    ;
}

.cal-group-hider:active {
    color: #5890ff;
}

.cal-group-showr {
    position: relative;
    right: 0px;
    display: none;
    font-size: .84em;
    top: 2px;
    color: rgba(83, 87, 95, 0.29);
    font-weight: 700;
    float: right;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    cursor: pointer;
}



.cals-header:hover > .cal-group-showr {
    display: block;
}

.cal-group-showr:hover {
    color: rgba(83, 87, 95, 0.49);
    ;
}

.cal-group-showr:active {
    color: #5890ff;
}





.cals-header:hover > .cal-club-hider {
    display: block;
}

.cal-club-hider:hover {
    color: rgba(83, 87, 95, 0.49);
    ;
}

.cal-club-hider:active {
    color: #5890ff;
}

.sunken_toggle {
    width: 165px;
    height: 78px;
    position: relative;
    margin-left: 87px;
    margin-top: 20px;
}

.cal_view_monthly {
    background-color: white;
    padding: 7px 10px;
    box-shadow: -1px 1px 3px rgba(0,0,0,0.05);
    border: 1px solid #eee;
    border-right: 1px solid transparent;
    text-shadow: 0 1px 0 #fff;
    text-indent: 8px;
    font-weight: bold;
    color: #333333;
    border-radius: 4px 0px 0px 4px;
}

.active_view {
    width: 8px;
    position: absolute;
    left: 1px;
    display: inline-block;
    z-index: 20;
    height: 34px;
    background-color: #2E80D6;
    background-image: url(src/stripe_ptrn.png);
    background-repeat: repeat;
    border-radius: 4px 0px 0px 4px;
}

.cal_view_events {
    padding: 7px 10px;
    text-shadow: 0 1px 0 #fff;
    font-weight: lighter;
    color: #333333;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 3px;
    text-indent: -25.5px;
}

    .cal_view_events:hover {
        box-shadow: inset -4px 0 0 #ccc;
        text-decoration: underline;
    }

.event_view {
    display: none;
    border: 1px solid rgba(226, 226, 226, 0.43);
    height: 0px;
    opacity: 0;
    border-bottom-color: rgba(162, 162, 162, 0.38);
    margin: 0 auto;
    width: 95.7%;
    position: relative;
    border-left-color: rgba(229, 231, 235, 0.86);
    top: 23px;
    border-right-color: rgba(229, 231, 235, 0.86);
    border-radius: 3px;
    background-color: rgba(247, 248, 250, 0.25);
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.1);
    box-shadow: 0 0 12px rgba(0,0,0,.1);
}

.event-tabs-border {
    position: relative;
    width: 95.4%;
    display: none;
    border: 1px solid rgba(233, 234, 237, 0);
    margin: 0 auto;
    height: 42px;
    border-radius: 2px;
    margin-top: 52.5px;
    border-width: 0px 1px;
}

.event-tabs-wrapper {
    margin: 0 auto;
    height: 100%;
    max-width: 890px;
}

.event_tab {
    display: inline-block;
    margin: 0;
    color: rgba(127, 127, 127, 0.4);
    -webkit-transition: color linear .2s;
    -moz-transition: color linear .2s;
    -o-transition: color linear .2s;
    transition: color linear .2s;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    margin: 0 0px;
    padding: 8px 18px 6px;
    text-align: center;
    padding-top: 20px;
}

    .event_tab:hover {
        color: #000;
        text-decoration: none;
    }

.event_tab_active {
    color: #000;
}


span.cal-group-title:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.event_qa {
    display: inline;
    float: right;
    margin-left: -1px;
    width: 38%;
    border-left: 1px solid rgba(0,0,0,.12);
    height: 100%;
    border-radius: 0px 3px 3px 0px;
    background-color: #FDFDFD;
}

.event_main {
    display: inline;
    height: 100%;
    float: left;
    width: 62%;
}

.qa_header {
    display: block;
    margin: 0;
    padding: 11px 12px 12px 36px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.06);
    line-height: 16px;
    background-color: #e6e6e6;
    height: 32px;
    color: #aaa;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    font-size: 1.4rem;
    border-top-right-radius: 3px;
    background: #e6e6e6 url(src/white-gradient-100px.png) repeat-x 50% 50%;
}

    .qa_header .icon_text {
        display: block;
        position: relative;
        padding-left: 10px;
        right: 20px;
        margin-top: 1px;
    }

.icon_text {
    display: block;
    position: relative;
    padding-left: 10px;
    right: 20px;
    margin-top: 1px;
}

.event_status_icotxt {
    display: block;
    position: absolute;
    padding-left: 10px;
    right: 20px;
    opacity: .88;
    padding: 3px 8px;
    padding-top: 4.5px;
    padding-left: 8px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 1px;
    -webkit-transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
    -o-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
    cursor: pointer;
    bottom: 3px;
    width: auto;
    padding-left: 15px;
}

    .event_status_icotxt:hover {
        opacity: 1;
        background-color: #eee;
        border: 1px solid #999;
        border-bottom-color: #888;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    }

    .event_status_icotxt:active {
        background: #ddd;
        border-bottom-color: #999;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    }

    .event_status_icotxt img {
        left: 10px;
        position: absolute;
        vertical-align: middle;
        top: 7.5px;
        border: 0px none;
    }

    .event_status_icotxt div {
        position: relative;
        bottom: 1px;
        text-indent: 15px;
    }

.icon_text img {
    left: 4px;
    position: absolute;
    vertical-align: middle;
    top: 6.4px;
    border: 0px none;
}

.tab-indicator {
    display: block;
    height: 1px;
    background: none;
    width: auto;
    position: absolute;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.icon_text div {
    font-size: 15px;
    font-weight: 300;
    color: #222222;
    position: relative;
    text-align: left;
    padding-left: 25px;
    padding-top: 8px;
}

    .icon_text div.icon_text_subtitle {
        font-size: 12px;
        font-weight: bold;
        color: #D3D3D3;
        text-align: left;
        left: 30px;
        width: 80px;
        float: right;
        bottom: 32.5px;
    }

em.caret-transform {
    display: block;
    width: 100%;
    z-index: 5000;
    position: relative;
    height: 1px;
    border-bottom: 3px solid #333;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    -moz-transition: -moz-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    text-align: center;
    bottom: 3px;
}

.qa_scrollcontainer {
    position: relative;
    left: 0px;
    padding-right: 1px;
    right: 0px;
    overflow-y: scroll;
    font-size: 1.4rem;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 342px;
}


    .qa_scrollcontainer::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .qa_scrollcontainer::-webkit-scrollbar-track {
        -webkit-border-radius: 1px;
        border-radius: 1px;
        cursor: pointer;
        border-left: 1px solid #ddd;
        background-color: rgba(25,25,25,.07);
    }

        .qa_scrollcontainer::-webkit-scrollbar-track:hover {
            -webkit-border-radius: 1px;
            border-radius: 1px;
            cursor: pointer;
            border-left: 1px solid #ccc;
            background-color: rgba(25,25,25,.1);
        }

    /* Handle */
    .qa_scrollcontainer::-webkit-scrollbar-thumb {
        cursor: pointer;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        background: rgba(0,0,0,0.35);
        border: 1px solid rgba(0,0,0,.3);
        box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    }

        .qa_scrollcontainer::-webkit-scrollbar-thumb:hover {
            opacity: 0.1;
            cursor: pointer;
            -webkit-border-radius: 1px;
            border-radius: 1px;
            background: rgba(0,0,0,0.45);
            box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
        }

        .qa_scrollcontainer::-webkit-scrollbar-thumb:active {
            opacity: 0.1;
            cursor: pointer;
            -webkit-border-radius: 1px;
            border-radius: 1px;
            background: rgba(0,0,0,0.6);
            box-shadow: inset 1px 1px 0 rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.1);
        }

.qa_postcontainer {
    position: relative;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    font-size: 1.4rem;
    border-bottom-right-radius: 3px;
    width: 100%;
    height: 51px;
    background-color: #e6e6e6;
    box-shadow: 0 -1px 1px rgba(0,0,0,.06);
    background: #e6e6e6 url(src/white-gradient-100px.png) repeat-x 50% 50%;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.15),0 0 3px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.15),0 0 3px rgba(0,0,0,.1);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.15),0 0 3px rgba(0,0,0,.1);
    padding-right: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.qa_inputcontainer {
    top: 5.5px;
    left: 17px;
    position: absolute;
    width: 86%;
    right: 0;
    color: #222;
}

.event_main_header {
    margin-top: 2px;
    position: relative;
}

.qa_input {
    line-height: 1;
    width: 100%;
    padding: 7px 8.5px 8.5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    vertical-align: baseline;
    line-height: 18px;
}

.iComments {
    padding: 8px 0;
}

    .iComments .imageBlock {
        position: relative;
        padding: 0;
    }

.event_tab span {
    display: block;
    margin-top: -17px;
    font-weight: bold;
    text-align: center;
}

    .event_tab span i {
        background-repeat: no-repeat;
        background-size: 10px;
        width: 10px;
        height: 10px;
        display: inline-block;
        position: relative;
        left: 5px;
        top: .8px;
        opacity: .1;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }

.event_tab_active span i {
    opacity: 1;
}

.event_tab:hover > span i {
    opacity: .9;
}

i.complete {
    background-image: url(src/complete.png);
}

i.incomplete {
    background-image: url(src/incomplete.png);
    top: 1.4px;
}

i.notjoin {
    background-image: url(src/notjoin.png);
}


.iComments .comment {
    min-height: 32px;
    margin: 0 0 9px;
    opacity: .97;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

    .iComments .comment:hover {
        opacity: 1;
    }

.imageBlock .Image {
    width: 32px;
    height: 32px;
    top: 4px;
    position: absolute;
    left: 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
    background-size: 100% 100%;
    opacity: 1;
    background-image: url(src/user_pic.jpg);
}

.imageBlock .ibContent {
    margin-left: 32px;
    padding: 0 8px 0 20px;
    color: #222;
}

.ibContent .ibNameLink {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(51, 51, 51, 0.95);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    height: 20px;
    display: block;
    line-height: 20px;
    text-align: left;
    position: relative;
    top: 1px;
}

    .ibContent .ibNameLink:hover {
        text-decoration: underline;
        color: black;
    }

.ibMessage span {
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #121314;
}

.ibMessage {
    text-align: left;
    display: block;
    line-height: 13px;
    margin-top: 0px;
    position: relative;
    bottom: 1px;
}


.event_date {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.3);
    text-shadow: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 28px;
    font-weight: 500px;
    padding: 9px;
    padding-top: 7px;
    position: absolute;
    padding-bottom: 7px;
    top: 9px;
    width: 38px;
    left: 18px;
    float: left;
    border: 1px solid #eee;
    background: #999 url(src/white-gradient-300px.png) repeat-x 50% 50%;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    text-align: center;
}

.left_data {
    border: 1px solid #eee;
    background: #999 url(src/white-gradient-300px.png) repeat-x 50% 50%;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    width: 40%;
    margin: 0 auto;
    border-radius: 4px;
    height: 42px;
    float: left;
    display: inline-block;
}

.right_data {
    display: inline-block;
    border: 1px solid #eee;
    background: #999 url(src/white-gradient-300px.png) repeat-x 50% 50%;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
    width: 52%;
    margin: 0 auto;
    border-radius: 4px;
    height: 42px;
    margin-left: 7.5px;
    float: left;
}

.event_month {
    color: #666;    
    font-size: 10px;
    font-weight: 500;
    margin: -2px auto 0 auto;
}

.event_day {
    color: #5d6676;
    padding-left: 5px;    
    font-size: 22px;
    font-weight: 500;
    margin: -2px auto -6px auto;
}

.event_title {
    font-size: 23px;
    font-weight: 100;
    text-align: left;
    padding-left: 90px;
    padding-top: 6.5px;
    color: #353434;
}

.header_wrapper {
    height: 60px;
    width: 90%;
}

.info_wrapper {
    width: 100%;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 6px;
    margin-bottom: 54.5px;
    height: auto;
}

.attendees_wrapper {
    width: 92.35%;
    height: 95px;
    padding-left: 18px;
    border-top: 1px solid #e9eaed;
    margin: 0 auto;
    border-bottom: 1px solid #e9eaed;
}

.event_icons {
    float: left;
    padding: 13px 10px;
}

.event-data {
    padding-top: 4px;
    text-align: left;
    font-size: 16px;
    color: #4e5665;
    font-weight: 400;
    line-height: 18px;
}

.event-data2 {
    padding-top: 1px;
    text-align: left;
    font-size: 12.5px;
    color: #898f9c;
    font-weight: 400;
    line-height: 15px;
}


input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.event_group {
    font-size: 13px;
    display: inherit;
    padding-top: 0px;
    position: relative;
    bottom: 2px;
    text-align: left;
    padding-left: 91px;
}

    .event_group div {
        display: inline-block;
        color: #898f9c;
        font-weight: 300;
    }

        .event_group div a {
            color: rgba(0,0,0,.7);
            text-decoration: none;
            font-weight: 600;
            padding-left: 2px;
            cursor: pointer;
        }

            .event_group div a:after {
                font-style: normal;
                font-family: FontA;
                color: rgba(0,0,0,.9);
                font-size: 14px;
                position: relative;
                left: 4px;
                opacity: 1;
                top: 2px;
                float: right;
                content: '\f105';
            }

            .event_group div a:hover .event_group div a:after {
                color: rgba(0,0,0,1);
                text-decoration: underline;
            }

            .event_group div a:hover {
                color: rgba(0,0,0,.9);
                text-decoration: underline;
            }

.event_group {
    font-size: 13px;
    display: inherit;
    padding-top: 0px;
    position: relative;
    bottom: 2px;
    text-align: left;
    padding-left: 91px;
    width: auto;
}

.event_host div {
    display: inline-block;
    color: #898f9c;
    font-weight: 300;
}

    .event_host div a {
        color: rgba(0,0,0,.7);
        text-decoration: none;
        font-weight: 600;
        padding-left: 2px;
        cursor: pointer;
    }


        .event_host div a:hover {
            color: rgba(0,0,0,.9);
            text-decoration: underline;
        }

.event_creator .creator_Image {
    width: 56px;
    display: inline-block;
    height: 56px;
    top: 4px;
    float: left;
    position: relative;
    left: -15px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
    background-size: 100% 100%;
    opacity: .8;
    background-image: url(src/person2.jpg);
}

.creator_name {
    text-align: left;
    display: inline-block;
    float: left;
    font-size: 16px;
    color: #4e5665;
    padding-top: 7.5px;
    text-indent: -2px;
}

.creator_wrapper {
    height: 95px;
    width: 224px;
    float: left;
    top: -12px;
    display: inline-block;
    border-right: 1px solid #e9eaed;
}

.event_creator {
    display: block;
    width: 210px;
    height: 60px;
    position: relative;
    cursor: pointer;
    top: 14.7px;
}

    .event_creator:hover > .creator_name {
        text-decoration: underline;
        color: black;
    }

    .event_creator:hover > .creator_Image {
        opacity: 1;
    }

.creator_info {
    color: #898f9c;
    font-weight: 300;
    font-size: 11.5px;
    width: 230px;
    position: relative;
    left: -9px;
    top: 10px;
}




a.innerPic {
    padding-right: 2px;
    float: left;
    display: block;
    text-decoration: none;
    cursor: pointer;
    opacity: .58;
    -webkit-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -o-transition: opacity .1s;
    transition: opacity .1s;
    padding-top: 2px;
}

    a.innerPic:hover {
        opacity: 1;
    }

    a.innerPic:active {
        opacity: .7;
    }



    a.innerPic .smallPic {
        height: 29px;
        width: 29px;
    }

        a.innerPic .smallPic .img {
            border: 0;
        }

.attendee_list {
    display: inline-block;
    float: left;
    width: 342px;
    text-align: left;
    padding-left: 2px;
}

.toDowrapper {
    z-index: 300;
    position: absolute;
    top: 6px;
    display: inline;
    opacity: .8;
    right: 32px;
    padding-top: 9.5px;
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Chrome, Safari, Opera */
    transform: scale(2.5);
}

.upc-1:hover > .toDowrapper {
    opacity: 1;
}


.mark {
    background-color: transparent;
    position: absolute;
    height: 15px;
    width: 2px;
    display: block;
    top: 10px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

    .mark.x {
        right: 14px;
        transform: rotate(40deg); /* TODO: prefix */
        -webkit-transform: rotate(40deg); /* TODO: prefix */
    }

    .mark.xx {
        left: 14px;
        transform: rotate(-45deg); /* TODO: prefix */
        -webkit-transform: rotate(-45deg); /* TODO: prefix */
    }

.button-block.canceled {
    height: 13px;
    width: 13px;
    border-width: 1.8px;
    border-color: #00c692;
    border-radius: 2px;
    background-color: white;
    transform: -webkit-scale(5);
}

    .button-block.canceled .mark {
        background-color: #000000;
    }

        .button-block.canceled .mark.x {
            right: 13px;
            top: 9px;
            height: 13px;
        }

        .button-block.canceled .mark.xx {
            height: 6px;
            top: 15.3px;
            left: 10px;
        }

.centerText {
    position: absolute;
    opacity: 1;
    z-index: 1;
    text-align: center;
    text-shadow: .7px .7px 2px rgba(255, 255, 255, 0.91);
    margin-left: -3px;
    color: rgb(94, 94, 94);
    -webkit-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -o-transition: opacity .1s;
    transition: opacity .1s;
    font-size: 22px;
    width: 55.9%;
    line-height: 95px;
    opacity: 1;
    background-color: rgba(237, 238, 241, 0.72);
}

.attendee_list:hover .centerText {
    opacity: 0;
    z-index: -1;
}

.bottom_data {
    float: left;
    width: 60%;
    border-right: 1px solid #e9eaed;
    height: 190px;
    margin-top: 7.5px;
}

.rosterLink {
    padding-right: 2px;
    float: left;
    display: block;
    margin-top: 2px;
    width: 58px;
    height: 29px;
    background-color: rgba(95, 204, 255, 0.45);
    text-align: center;
    cursor: pointer;
}

.button-block {
    opacity: .65;
}

    .button-block:hover {
        opacity: 1;
    }

.rosterLink:hover {
    background-color: rgba(95, 204, 255, 0.65);
}

.rosterLink:active {
    background-color: rgba(95, 204, 255, 0.45);
}

.rosterLink:hover > .doubleBox {
    color: rgb(78, 168, 250);
}

.doubleBox {
    padding-top: 4px;    
    color: rgb(108, 185, 255);
    font-size: 20px;
}

.section_icon {
    width: 27px;
    height: 27px;
    float: left;
    z-index: 1;
    padding-left: 1px;
}

.bottom_right_data {
    position: relative;
    margin: 5px;
    left: 10px;
    top: 2px;
}

.event_info {
    text-align: left;
    font-size: 11.5px;
    text-overflow: ellipsis;
    overflow: scroll;
    text-indent: 32px;
    height: 180px;
    width: 200px;
    line-height: 20px;
    top: 6px;
    color: #333;
    z-index: 200;
    left: -25px;
    position: relative;
}

@font-face {
    font-family: "FontA";
    src: url(http://s.cdpn.io/999/fontawesome-webfont.ttf) format('truetype'), url(http://s.cdpn.io/999/FontAwesome.otf) format('opentype');
}

@font-face {
    font-family: "FontA";
    src: url(http://s.cdpn.io/999/fontawesome-webfont.ttf) format('truetype'), url(http://s.cdpn.io/999/FontAwesome.otf) format('opentype');
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
